[2019-04-30 07:18] warrenbailey commented on #2806
Fixed by https://github.com/jenkins-x/bdd-jx/pull/8

[2019-04-30 07:18] #2806 closed

[2019-04-30 08:21] paolocarta commented on #3789
Having the same problem with JX 2.0.67 and the default nip.io domain.

[2019-04-30 08:57] fluxens opened #3807 "jx create cluster fails on iks"
### Summary

`jx create cluster iks --sso --kube-version=1.13.5` fails.

### Steps to reproduce the behavior

Run the above command, select us_south and any machine type and number.

### Expected behavior

Cluster is created and jx installation continues

### Actual behavior
The cluster is created but `jx`stops with the following output

[code]
### Jx version

The output of `jx version` is:

[code

[2019-04-30 09:12] fangchao117 opened #3808 "tekton-pipelines-webhook error"
### Summary

tekton-pipelines-webhook  CrashLoopBackOff
tide CrashLoopBackOff

### Steps to reproduce the behavior

jx install --provider=kubernetes --external-ip k8s.today36524.srv --no-default-environments --git-provider-kind='gitlab' --ingress-namespace=ingress-nginx --ingress-deployment='ingress-nginx-controller' --ingress-service='default-backend' --verbose --prow=true --tekton

### Jx versio

[2019-04-30 10:07] shneha opened #3809 "Issue with Minishift start - Waiting for the kube-apiserver to be ready; connection refused"
### Summary
Unable to access minishift URL

### Steps to reproduce the behavior
minishift start
(using hyper-v, windows 10)
### Expected behavior
should give the complete message along with URL
### Actual behavior
C:\minishift-1.33.0-windows-amd64>minishift start
-- Starting profile 'minishift'
-- Check if deprecated options are used ... OK
-- Checking if https://github.com is reachable ... OK
--

[2019-04-30 10:17] joostvdg opened #3810 "Update Webhooks looks at wrong username field"
### Summary

`jx upgrade ingress` is another entry into the Update Webhooks code. So it would be best if the `jx update webhooks` flow uses the `Username` field from `CommonOptions` rather than `User` from `UpdateWebhookOptions` as other flows might not be able to set this field.

### Steps to reproduce the behavior

1. Install Jenkins X with your repositories (for applications, environments) in a

[2019-04-30 10:25] EamonKeane commented on #3789
I had this problem after a partial install - `rm -rf ~/.jx` and reinstalling fixed it.

[2019-04-30 11:21] EamonKeane commented on #3788
This looks partially resolved in `2.0.70` - the pipeline waits for you to manually merge it.

Is it possible to set up auto-merge for staging? This might be a sensible default for the demos as that's the way it used to be in jx 1.

[2019-04-30 13:03] vfarcic commented on #3788
It is indeed partially resolved in `2.0.70`. Now builds to not fail, but wait indefinitelly for env. PR to merge. The issue is that PR to the env. repo does not initiate a build, so the merge of the env. PR (that one that was supposed to be automatic) never happens. Not only that the pipeline of the env. PR is not initiated but no other pipeline will run after the first build. In other words, only

[2019-04-30 14:41] EamonKeane commented on #3725
@vfarcic the reason is that `jenkins-x-platform` in `jx-2 `is a subchart, and so when `myvalues.yaml` is merged by `jx` into the global `values.yaml` it is namespaced (`jenkins-x-platform.docker-registry.enabled`).

In helm conditions on chart requirements need to be set at the global level. In the short term, the solution is to not run `jx step env apply` until after you have added `docker-regist

[2019-04-30 14:49] pmuir opened #3815 "Enable gcs buckets as default storage for Jenkins X when using GCP"
### Summary

When you install Jenkins X with GKE, you should get long term long term storage of logs, using GCS, out of the box.

Things we need to do:

0) Make a question to ask if you want this
1) During the install create the bucket, and set any permissions needed (probably none)
2) During the install, enable storage of logs in gcs using team settings (right now it's

[code]

3) Write a bdd tes

[2019-04-30 15:26] romainverduci commented on #3789
Having the same issue with jx `2.0.70`.
I tried with both `jx create terraform --ng` and `jx create cluster gke --ng`.
Having cleaned `~/.jx` and a well configured DNS, can't figure out how to workaround or fix that so it prevents me to have a running cluster.

[2019-04-30 15:39] daveconde opened #3816 "Run bdd tests against EKS"
### Summary

Get the BDD tests passing against an EKS cluster

[2019-04-30 17:40] dcgregorya opened #3817 "Bitbucket Jenkins-X Fails To Promote"
### Summary

Receive this every time we try to auto-promote to our dev environment after a build.  Note, below I've edited out information regarding our internal naming of projects.

[code]

### Steps to reproduce the behavior

This happens with every project using Bitbucket.

### Expected behavior

Expected that it will do the merge.  This used to work, we've updated Jenkins-X several times not s

[2019-04-30 21:08] porterja31 opened #3818 "Invalid User.jenkins.io "" when username is all numbers"
### Summary
When attempting to install the environment controller with cli I was met with an error.

### Steps to reproduce the behavior
jx create addon envctl -s https://github.com/my-org/my-env-repo.git --docker-registry ecrdomain.ecr.us-east-1.amazonaws.com

### Expected behavior
Environment Controller Installs

### Actual behavior
[code]

### Jx version

The output of `jx version` is:

[code]

[2019-04-30 23:06] dyusupov commented on #3788
updated jx to 2.0.71 - did not help, same issue

[2019-05-01 00:00] dyusupov commented on #3788
manual pod edit and revert to gcr.io/jenkinsxio/builder-maven:0.1.409 from 0.1.423 helped.

[2019-05-01 00:08] vfarcic commented on #3788
Can we fix it to that specific tag as a workaround @rawlingsj ?

[2019-05-01 08:51] jstrachan opened #3820 "broken Version Stream blameless post mortem - can we avoid it happening again?"
we introduced the [Version Stream](https://jenkins-x.io/architecture/version-stream/) as a way to lock down versions of charts + images (and soon binary packages) which pass all of our BDD tests which helps us ensure that Jenkins X keeps working well while letting us iterate quickly and use Continuous Delivery.

The Version Stream has been working well for a few months now & protected us from all

[2019-05-01 10:01] jstrachan commented on #3747
fixed now

[2019-05-01 10:01] #3747 closed

[2019-05-01 10:01] jstrachan commented on #1978
could you try re-importing - we've a working PHP quickstart now

[2019-05-01 10:02] jstrachan commented on #3747
this quickstart works great now btw https://github.com/jenkins-x-quickstarts/php-helloworld

[2019-05-01 10:03] jstrachan commented on #1978
this quickstart works great now btw https://github.com/jenkins-x-quickstarts/php-helloworld

let us know if there's anything particularly different about your Symfony4 dockerfile etc

[2019-05-01 10:42] jstrachan commented on #3789
incidentally our BDD tests are green for `jx create cluster gke --ng` - still not figured out whats going wrong yet

[2019-05-01 11:14] EamonKeane opened #3821 "Add external DNS TTL annotation to ingresses, defaults to 300s on GCP"
### Summary
When installing `next-gen` for the first time with vault, the vault ingress takes 300s+ to be registered via external DNS. The installer currently fails waiting for vault to be reachable over http (e.g. `http://my-vault.my-domain.com`). This also applies to any preview environments on initial PR.

For a better user experience a default annotation could be added to all ingresses e.g.:

[2019-05-01 11:31] EamonKeane opened #3822 "Tekton helm chart linting fails due to missing tekton.auth.git.password in values.yaml"
### Summary
Attempting to install a dev environment via `jx step env apply --namespace jx` fails due to a missing tekton password in values.yaml. Adding a password git token at `tekton.auth.git.password` string in global `values.yaml` fixes this.

[code]

### Steps to reproduce the behavior
Run `jx step env apply --namespace jx` after running through the install but without applying it to the clus

[2019-05-01 11:59] EamonKeane commented on #3789
@jstrachan

This might not help, but I got that message again. Applying the exact same command again (without even clearing ~/.jx) worked though.... so there may be a strange race condition. The same config has worked many times with this only appearing once or twice.

jx                 2.0.71
Kubernetes cluster v1.12.7-gke.7
kubectl            v1.12.2
helm client        v2.13.0+g79d0794
helm ser

[2019-05-01 12:02] pmuir commented on #3157
This is done

[2019-05-01 12:02] #3157 closed

[2019-05-01 12:02] pmuir commented on #3156
Done.

[2019-05-01 12:02] #3156 closed

[2019-05-01 12:59] sdoxsee opened #3823 "no activity after creating cluster and quickstart node app with default jx options"
### Summary
I'm trying to follow default instructions for jx but after creating the cluster and project, I follow the activity and it just sits there without creating any jobs.
### Steps to reproduce the behavior
`jx create cluster gke` (with default options)
`jx create quickstart` -> node-http (with default options)
`jx get activity -f tekton-fun -w`
### Expected behavior
activity happening
### A

[2019-05-01 13:11] ankititdude commented on #3719
NAME               VERSION
jx                 2.0.71
jenkins x platform 2.0.177
Kubernetes cluster v1.14.0
kubectl            v1.10.11
helm client        Client: v2.13.1+g618447c
git                git version 2.20.1 (Apple Git-117)
Operating System   Mac OS X 10.14.3 build 18D42

I am facing same issue.

[2019-05-01 14:24] tdcox commented on #3789
I can confirm that this is happening here too on a GKE cluster. The ingress-config CM exists in the JX namespace.

[2019-05-01 14:29] tdcox commented on #3789
Maybe unrelated but I got asked for an API token twice but was only asked for one git identity.

[2019-05-01 14:38] EamonKeane commented on #3788
@vfarcic everything working for me now after fresh install on `2.0.71`. The default buildpack uses (`gcr.io/jenkinsxio/builder-maven:0.1.433`).

[2019-05-01 15:54] ankititdude commented on #3269
facing same issue
NAME               VERSION
jx                          2.0.71
jenkins x platform 2.0.177
Kubernetes cluster v1.14.0
kubectl                   v1.10.11
helm client             Client: v2.13.1+g618447c
git                          git version 2.20.1 (Apple Git-117)

[2019-05-01 16:07] ankititdude commented on #3719
@npolagani  Can you please share the steps, how you upgraded kubectl version for jx

[2019-05-01 17:43] porterja31 commented on #3719
https://kubernetes.io/docs/tasks/tools/install-kubectl/

[2019-05-01 17:46] porterja31 commented on #3719
I think this issue can be closed.

[2019-05-01 18:37] ankititdude commented on #3719
I have upated the kubectl version as well to kubectl 1.14.1
But issue is still coming.

ERROR: error creating cluster installing the Jenkins X platform: failed to install/upgrade the jenkins-x platform chart: failed to run 'kubectl apply --recursive -f /var/folders/yh/fmcbry1j6hn00yd7sn2m3qddt1tjjg/T/helm-template-workdir-789993911/jenkins-x/output -l jenkins.io/chart-release=jenkins-x --namespace

[2019-05-01 18:51] arun-gupta opened #3826 "jx install is looking for older binary for EKS cluster"
### Summary

Tried to run `jx install` on a freshly created EKS cluster and got the error:

[code]

The updated binary name is `aws-iam-authenticator` instead. Kube config is:

[code]

### Steps to reproduce the behavior

Create an EKS cluster:

[code]

Install JX:

[code]

### Expected behavior

To start with JX install

### Actual behavior

Tried looking for an older binary

### Jx version

The

[2019-05-01 19:25] arun-gupta opened #3827 "--batch-mode failing with 404 Not Found"
### Summary

`--batch-mode` is failing with the following error:

[code]

### Steps to reproduce the behavior

Create an EKS cluster:

[code]

Run `jx install`:

[code]

Check for `jx install` issue on EKS: https://github.com/jenkins-x/jx/issues/3826

### Expected behavior

Install jx on EKS cluster

### Actual behavior

Failed with error:

[code]

### Jx version

The output of `jx version` is:

[

[2019-05-01 20:24] #2838 closed

[2019-05-01 20:24] #3096 closed

[2019-05-01 20:28] vfarcic commented on #3788
Works like a charm.

/close

[2019-05-01 20:28] #3788 closed

[2019-05-01 20:53] rainmanh opened #3828 "https instead of http for chartmuseum.jenkins-x.io"
### Summary

### Steps to reproduce the behaviour
jx install
### Expected behaviour

to install the dependencies

### Actual behavior

Jenkins fails to install the dependencies

### Jx version
jx                 2.0.71

The output of `jx version` is:

NAME               VERSION
jx                 2.0.71
Kubernetes cluster v1.12.6-eks-d69f1b
kubectl            v1.14.1
helm client        Client: v2.

[2019-05-01 23:10] svallepu opened #3829 "How to install Jenkin X on existing GKE cluster"
Hi  I have only access to gcloud command and i have logged in using gloud auth and
downloaded JX binary and Tried below to install from why ./jx install

error: setting up current namespace: creating kube client: unable to load in-cluster configuration, KUBERNETES_SERVICE_HOST and KUBERNETES_SERVICE_PORT must be defined

Pls help me on this.

Thanks

[2019-05-02 05:33] michaelneale opened #3831 "serverless pipeline setups still show "jx console" as suggested action"
### Summary
After creating an application (quickstart) with a team in serverless, it still shows the option to open a console, but there won't be one, and it doesn't really make sense does it?

`Open the Jenkins console via    jx console`

### Steps to reproduce the behavior
create a quickstart with a serverless team

### Expected behavior
should not show `jx console`
### Actual behavior
does show

[2019-05-02 06:08] romil-punetha commented on #1318
@ccojocar An internal load balancer will restrict inbound access to within VPC. It should still be able to access internet for downloading packages.

[2019-05-02 07:35] ascheman opened #3832 "jx create spring with --name does not use given name"
### Summary

When creating a new JX application with `jx create spring --name xxx ...` an application/repository name is still requested. Running the create in batch mode takes over the name parameter.

### Steps to reproduce the behavior

[code]

### Expected behavior

The name (jx-demo-...) is proposed for completion and can either be changed or acknowledged.

### Actual behavior

An empty name

[2019-05-02 12:15] ascheman opened #3834 "jx create cluster gke creates Docker registry but does not use it + gcr.io fails"
### Summary

When I set up a new GKE cluster it contains a Docker registry afterwards.
This registry is not used to store my images then, `gcr.io` is used instead.
Pushing images to `gcr.io` is not possible.

### Steps to reproduce the behavior

[code]

Check out used Docker registry:

[code]

This seems to OK according to the documentation (except that it is not possible to upload images afterwar

[2019-05-02 12:21] ascheman commented on #3834
If I wanted to explicitely use the _internal_ Docker registry, I wouldn't even know how to address that in the create params or the starting dialogue. It only allows me to give the address of a well known registry. There seems to be no way to specify the _just to be created_ registry. I would suggest to use something like `--use-internal-docker-registry`.

[2019-05-02 12:41] ascheman opened #3835 "jx create spring does not take --docker-registry-org into account"
### Summary

Found this problem in the course of investigating #3834.

Creating a new Spring application and setting `--docker-registry-org=jxtest-199909` does not use the provided org.

### Steps to reproduce the behavior

[code]

### Expected behavior

The Docker project/org is `jxtest-199909`, e.g, in `skaffold.yml`:

[code]

### Actual behavior

Several files contain the github org (which shou

[2019-05-02 12:46] heroic opened #3836 "PVC are not getting deleted"
### Summary
PVC are not getting deleted after the pipeline run is complete

### Steps to reproduce the behavior
Using next gen jx, setup a pipeline. Create a PR. merge the PR. The PVC still exists.

### Expected behavior
The PVC should be deleted after the PipelineRun is complete.

### Actual behavior
The PVC is not deleted after the PipelineRun is complete.

### Jx version

The output of `jx vers

[2019-05-02 12:48] heroic commented on #3836
Here's an example claim that's lying around since 9 days

[code]

[2019-05-02 13:07] pmuir opened #3838 "Make it possible to override the root directory in jenkins-x.yml"
### Summary

I'm reusing a build pack to get my steps, but I want to build a subdirectory of the git repo, not the root directory (as the root directory is generating code to place in the subdirectory). Make it possible to override the directory being used for the whole pipeline.

[2019-05-02 13:09] deanesmith opened #3839 "Builds don't work with interactive install - Missing option: --docker-registry"
### Summary
After creating a new cluster and adding some projects/quickstarts, no builds commence.
### Steps to reproduce the behavior
Create a cluster using defaults
`jx create cluster gke --skip-login  --default-admin-password=blahblah -n blahblah`
Add some quickstarts.
Watch and wait.  Nothing happens.
### Expected behavior
Adding quickstarts should immediately generate master builds.
### Actua

[2019-05-02 13:11] rawlingsj commented on #3839
Sounds like the same error that @michaelneale mentioned this morning.  We think there might be a UX issue.  Will dig out the thread and paste relevant help here.

[2019-05-02 13:14] deanesmith commented on #3839
@rawlingsj let me know if you need anything else.  I think I used every default option.  I'll keep the cluster around for a few days.

[2019-05-02 13:16] abayer commented on #3836
Ok, so the PVCs are apparently only cleaned up when the `PipelineRun` gets deleted, which doesn't happen automatically and shouldn't be happening very often anyway. I think this probably merits an issue in Tekton to clean up the PVCs after completion - I'll handle that.

[2019-05-02 13:21] EamonKeane commented on #3463
seeing same issue with `--ng=true`.

jx                 2.0.71
Kubernetes cluster v1.12.7-gke.7
kubectl            v1.12.2
helm client        Client: v2.13.0+g79d0794
git                git version 2.17.2 (Apple Git-113)
Operating System   Mac OS X 10.14.4 build 18E215a

[2019-05-02 13:22] abayer commented on #3838
Seems reasonable - basically this would mean, I think, something that could be set on either the pipeline as a whole or individual stages to change the default working directory for steps. So, in other words, automatically setting the `dir` for steps.

[2019-05-02 13:41] deanesmith commented on #3839
@rawlingsj workaround to use the --tekton option.  So, this works - `jx create cluster gke --tekton --skip-login --default-admin-password=blahblah -n blahblah`.  Since the happy path is interactive install and tekton is the default, this is probably very important to fix?

[2019-05-02 14:20] langleyd commented on #3789
As @EamonKeane mentioned I was able to work around this after the `jx create cluster` failed by running a subsequent 'jx install'.

[2019-05-02 14:20] ascheman opened #3840 "jx create cluster gke --ng fails with missing ingress-config"
### Summary

Cannot setup a JX cluster on GKE with `Next Generation` CLI option.

### Steps to reproduce the behavior

[code]

### Expected behavior

New cluster with JX up and running!

### Actual behavior

JX installation failed with `"ingress-config" not found`

[code]

### Jx version

The output of `jx version` is:

[code]

[2019-05-02 14:22] shahnewazrifat commented on #3747
Thanks @jstrachan !! You're just amazing!

[2019-05-02 15:20] highlyunavailable commented on #3839
I ran into that issue yesterday, I fixed it by doing `jx install --kaniko --docker-registry gcr.io` as the options and that set it up right. The --kaniko part was the important bit otherwise the registry credentials couldn't make it into the container.

[2019-05-02 23:23] michaelneale commented on #3839
Yes - this is exactly what I saw.

The questions that the interactive installer asks if you do NOT use --tekton are non sensical and can't work:

[code]

I believe you have to say yes to the last 2 - if you want to pick Serverless/tekton later.

This means the default interactive install will NOT work (as serverless later is the first choice) - so I think the defaults need to change and possibly h

[2019-05-02 23:25] rawlingsj commented on #3839
ok lets sort this ASAP
/kind bug
/priority critical-urgent
/area install

[2019-05-02 23:26] npolagani commented on #3719
Here are my Jx version:

NAME               VERSION
jx                 2.0.33
jenkins x platform 2.0.120
Kubernetes cluster v1.12.6-eks-d69f1b
kubectl            v1.14.1
helm client        Client: v2.13.1+g618447c
git                git version 2.21.0
Operating System   Mac OS X 10.14.4 build 18E226

Check yours and upgrade them accordingly to make it work

[2019-05-02 23:28] #3719 closed

[2019-05-02 23:47] retr0h commented on #2954
Isn't the problem with the Readiness URL?

[code]

Isn't it failing to pass readiness b/c it's `http://:http/` vs a port that properly resolves?

[2019-05-03 00:15] sharepointoscar commented on #3829
@svallepu can you please ensure you follow the following documentation?  https://jenkins-x.io/getting-started/jenkins-x-gke-install-with-bot

Also, if you've tried multiple installs, please delete your ~/.jx folder.

[2019-05-03 03:27] michaelneale opened #3843 "Multiple preview app links posted when using gloo/knative apps"
### Summary

when using `jx create addon gloo` and making an app, you end up with both multiple instances of the pod running, but also multiple links pasted in to PRs

![image](https://user-images.githubusercontent.com/14976/57118472-dc53f800-6da6-11e9-9bde-f5f68268d23b.png)

see also:

[code]
And any time the app runs in any any environment there are multiple instances:

```quickynode  0.0.2   1/

[2019-05-03 03:27] michaelneale commented on #3843
cc @jstrachan it works - but tiny quirk with multiple things running which may not be expected (and shows up in PR oddly)

[2019-05-03 10:10] tdcox opened #3845 "Deployment of LetsEncrypt TLS certificates broken"
### Summary
Creating a cluster with TLS enabled on the ingress was failing so to debug I created a cluster without TLS then ran `jx upgrade ingress --cluster` using letsencrypt staging certs.

Testing shows access to jx services over https is failing because the proxy is still using the kubernetes default fake certificate.

`kubectl get certificates` returns a single result 'tls-deck'.

The nginx

[2019-05-03 10:15] hferentschik opened #3846 "Add --create option to namespace command which will create non existent"
### Summary

Allow for creating namespace when using `jx ns <name>`.

### Steps to reproduce the behavior

There is no such option yet.

### Expected behavior

[code]

Selects the namespace, potentially creating it if it does not exist.

[2019-05-03 10:26] tdcox commented on #3845
Tried deleting the tls-deck cert and restarting the cert-manager pod but the cert is just recreated.

It appears to be a valid staging cert setup for the deck service.

[2019-05-03 10:31] #3810 closed

[2019-05-03 10:37] tdcox commented on #3845
Just tried `jx upgrade ingress --cluster` with the letsencrypt prod server whilst monitoring the cert-manager logs. I can see that the default is to use HTTP01 verification and this is failing repeatedly as HTTP requests are made to verification paths that are 404 or 503.

[2019-05-03 12:11] romil-punetha opened #3849 "jx promote fails to checkout branch"
### Summary
I performed a `jx promote`. It tried to do a git clone on the release repo and a checkout on the respective branch. However, the git checkout failed.
[code]

This promotion has worked before and now it abruptly fails. What could be the reason? Where is it trying to clone the release repo and perform the checkout?

According to the error message, its cloning in one directory and perform

[2019-05-03 12:31] luckielordie commented on #864
I too am having this issue, can we re-open this or post some resolution steps?

[2019-05-03 13:08] hferentschik commented on #3846
Merged via pull request #3847

[2019-05-03 13:08] #3846 closed

[2019-05-03 13:30] plucury commented on #342
@jstrachan So can we delete an app in a specific environment now?

[2019-05-03 13:31] jtnord opened #3851 "`jx create cluster gke --ng` fails at end when its all done."
### Summary

at the end when everything is created and installed jx calls `gcloud` to setup your credentials.

however.

* the command it `gcloud.cmd` on windows
* we have just created a cluster and installed everything - that would not work correctly if the credentials where not there - so unsure why this is required?

### Steps to reproduce the behavior

create an ng cluster on gke from windows.

[2019-05-03 14:43] langleyd opened #3854 "When adding a chart to an environment `build-step-build-helm-build` fails"
### Summary
When adding a chart to an environment `build-step-build-helm-build` fails with:
[code]
### Steps to reproduce the behavior
1. Create a cluster and jx install on gke with `cos` node image.
E.g.
[code]
2. Create a PR adding a chart to requiremes.yaml in your dev environment repo.
E.g.
[code]
### Expected behavior
PR checks succeed.
### Actual behavior
PR checks fail on `build-step-build-

[2019-05-03 15:07] romainverduci commented on #3789
After some investigation I have a bit more information about what's happening on my environment:
Root cause: for some reason `jx create cluster gke --ng` does not set a namespace for the current context of the installing cluster in `~/.kube/config`.

Behaviour:
- `jx create cluster gke --ng` not set the namespace in the `~/.kube/config` file.
- If you run `jx install --ng` right after the failure,

[2019-05-03 15:54] ascheman commented on #3840
Retried this today with eh current JX CLI

[code]

but without

[code]

and still see the same error.

If I check for the configmaps, the CM `ingress-config` is available in namespace `jx`.

[2019-05-03 15:56] tdcox commented on #3845
In that last execution a single secret 'tls-monocular' was created this time. Closer inspection shows that whilst it is called 'tls-monocular', it contains annotations for nexus and presumably the certificate for nexus as well.

That would imply that something is overwriting this single secret instead of creating multiple copies.

[2019-05-03 16:43] ascheman commented on #3840
If I use `--tekton=true` instead of `--ng=true` a new cluster is set up and seems to be working.

[2019-05-03 17:08] dcanadillas opened #3857 "Docker registry not configured in GKE when installing with `jx install..`"
### Summary
I am installing Jenkins X on a previously created cluster in GKE with terraform (generated with `jx create terraform`, and  docker-registry is not configured, so a quickstart execution gets stuck without running the pipeline.

If you create the same cluster from scratch using `jx create cluster gke ...` it works.

### Steps to reproduce the behavior
- Create terraform scripts and plan

[2019-05-03 17:14] wenzlaff commented on #3845
might be related to https://github.com/jenkins-x/exposecontroller/issues/182

[2019-05-03 19:58] doc-olliday opened #3858 ""Promote to Environments" pipeline step throws error"
### Summary

Hi,
I'm doing my first steps with Jenkins X these days. After installing the platform on Minikube and trying out a Quickstart project, I end up in the below error message when running the pipeline.

Need some help, please.
Oliver

### Steps to reproduce the behavior

Create quickstart:
[code]
Create an environment:
[code]
Run the pipeline:
[code]

### Expected behavior

The pipeline t

[2019-05-03 20:19] Wizofgoz commented on #3799
I'm having this issue as well and got the same error after trying your suggestion. Here's the command I tried:
[code]

[2019-05-03 22:57] EliasNeypes commented on #3697
I want to add here because I am having a very similar issue and very similar symptoms.

**Expected behavior**

Application is available for preview after a PR .

**Actual behavior**

Staging application page shows 502 Bad Gateway.

**Jx version**

The output of jx version is:
_jx                 2.0.86
jenkins x platform 2.0.191
Kubernetes cluster v1.12.7
kubectl            v1.14.1
helm client

[2019-05-04 04:26] heroic commented on #3463
@ccojocar do we need more evidence on this still?

[2019-05-04 07:44] #3794 closed

[2019-05-04 08:13] alancphilpott commented on #3697
Thanks very much for your help James, I accidentally removed the actuator dependency from the POM file so that was causing the issue.

[2019-05-04 08:18] jstrachan commented on #3829
does the command `kubectl get node` work? Basically you need to connect properly to the cluster via `gcloud` first (eg hit the `Connect` button in the web console view of the Kubernetes clusters and copy paste the connect command into a shell

[2019-05-04 08:38] jstrachan commented on #3697
@EliasNeypes try `jx ns jx-staging` to switch to the staging namespace, then `kubectl get pod` to find the pod name and `kubectl describe pod xxxx` to see why it’s not running.

You could try looking at its logs (`jx logs`). It could be the liveness probe doesn’t work or the expose port is wrong

[2019-05-04 10:47] ascheman opened #3860 "jx on gke @ us-east1-b fails to install with default k8s version"
### Summary

If I try to install JX on GKE at zone us-east1-b with default k8s it cannot set proper RBAC permissions and fails.

### Steps to reproduce the behavior

[code]

### Expected behavior

Cluster installed, static Jenkins deployed etc.

### Actual behavior

Failing with errors:

[code]

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [ ] Next Generation (Tekton

[2019-05-04 10:51] ascheman commented on #3834
Seems the problem is caused by `--kaniko=true` - if I drop it, the platform is happily using the internal Docker registry.

[2019-05-04 21:26] jpdesigndev commented on #2656
@jstrachan This is still an issue. I just reproduced it as well. The workaround does, indeed, work as expected.

[2019-05-05 00:16] amoussawi opened #3861 "jx import --dry-run should not neither commit nor push the changes"
### Summary
I think `jx import --dry-run` should not commit, or at least not push the changes, or maybe we can have `--no-commit` option.

[2019-05-05 01:03] dcanadillas commented on #3857
I can make it work by specifying the docker registry, docker org and kaniko by:
<pre>
david@penguin:~$ jx install --provider gke \
--default-admin-password $MYPWD \
--default-environment-prefix $JX_CLUSTER \
--environment-git-owner $GH_ORG \
<b>--docker-registry gcr.io --docker-registry-org $GCP_PROJECT \</b>
--tekton \
<b>--kaniko \</b>
--no-tiller
</pre>

If I don't specify the docker registry a

[2019-05-05 13:32] sajid2045 commented on #3524
Workaround:

[code]

Then on the skaffold.yaml

[code]

[code]

[2019-05-06 08:00] amoussawi commented on #3430
@romainverduci I thing this https://github.com/jenkins-x/jenkins-x-platform/pull/5012 broke it. I changed the service account of the gcpreviews cronjob back to jenkins and it's working fine now.

[2019-05-06 08:55] romainverduci commented on #3430
@amoussawi using jenkins as a service account is only working if your jx cluster is configured with a static jenkins master and won't work for serverless installs. https://github.com/jenkins-x/jenkins-x-platform/pull/5115 should have fix this issue.

[2019-05-06 09:13] amoussawi commented on #3430
@romainverduci no I was still having this issue with the jenkins-x-platform version 2.0.191 until I changed the service account back to jenkins, and other users https://github.com/jenkins-x/jx/issues/3463 are still having the same issue too.

[2019-05-06 11:03] vitalis commented on #3845
I have the same issue, tried different versions of cert-manager always the same result.
[code]

[2019-05-06 13:02] ankititdude commented on #3719
My Jx versions:

NAME               VERSION
jx                 2.0.91
jenkins x platform 2.0.191
Kubernetes cluster v1.14.0
kubectl            v1.10.11
helm client        Client: v2.13.1+g618447c
git                git version 2.20.1 (Apple Git-117)

Can you please help me out how I can upgrade kubectl version?

Kubectl version:
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10

[2019-05-06 13:51] tdcox commented on #3845
Snapshot of cert-manager log: https://gist.github.com/tdcox/3ba0f41fea303fe13d5e79b394cf20d3

[2019-05-06 13:55] arbe commented on #3211
Same issue here. I can't import any project using bitbucketserver

[2019-05-06 17:32] sdaschner commented on #3630
Any updates on this?

I think a fix would be rather simple, I wanted to contribute to this (changing how `helm_cli.go` method `IsRepoMissing` compares the URLs (L: 192) would do the trick), but TBH I'm not certain enough how to properly compare URLs (incl. all special corner cases / different schemes, authorities, etc.) for this case in Golang.

[2019-05-06 19:08] Wizofgoz commented on #3799
Also tried specifying a DynamoDB as well. Below is my most recently tried command:
[code]

[2019-05-06 20:10] EliasNeypes commented on #3697
@jstrachan I looked at it, and there seems to be a problem with pulling image from the container registry. I performed the commands to add CR credentials in both contexts of the jx and jx-staging namespaces, but the problem persists.

[2019-05-06 20:31] Wizofgoz commented on #3799
It looks like a vault resource is being created with an invalid name. Here's an excerpt from the vault pod logs:

[code]

[2019-05-06 22:14] paolocarta commented on #3854
Having the same issue with:

``
jx                 2.0.90
jenkins x platform 2.0.191
Kubernetes cluster v1.11.8-gke.6
``

[2019-05-06 22:51] Wizofgoz commented on #3799
@jstrachan I was able to work around the issue by renaming the kube context and the user and cluster it uses to not have periods (`.`) in them but ran into another issue. It looks like it tried to use Kaniko when it was not specified in the command I used. Below is an excerpt from the output of jx install:
[code]

[2019-05-06 23:30] Wizofgoz commented on #3799
@jstrachan I found the offending line: https://github.com/jenkins-x/jx/blob/f6b077a56e403fb431ed9b317fa8c850379c925b/pkg/jx/cmd/install.go#L408

I'm not sure if that's intended behavior but it's not documented in the install command. I'll try another install with Kaniko disabled and report back.

[2019-05-07 02:20] abayer commented on #3854
Well, huh! I spent a while today trying to reproduce an intermittent thing similar to this. Are you seeing this consistently?

[2019-05-07 02:52] beebird opened #3866 "Latest and previous tag for changelog generation not correct"
### Summary
The issue with ``jx step changelog`` has been existing for a long time.

#### In short, the command doesn't pick up ``latestTag`` and ``previousTag`` correctly.

I dig into the source code and find the git command that ``jx`` calls is not reliable.
[code]
Take my project as an example. If I issue the command:
[code]

[code]

**So I get ``previousTag`` = ``6.8.1``, while it's a very old

[2019-05-07 09:49] hferentschik opened #3869 "Move `jx ns` and `jx context` into binary App"
### Summary

The number of commands in `jx` is overwhelming and it is not always clear what their intent is.

`jx ns` and `jx conext` for example seems to be purely convenient methods for various `kubectl config` commands.

Also, there is a  potential for confusion between `jx ns` and `jx team`.

I am wondering whether it would make sense to move the Kube helper commands, eg `ns` and `context` int

[2019-05-07 11:34] joostvdg commented on #2711
It seems [GoogleContainerTools/skaffold#1458](https://github.com/GoogleContainerTools/skaffold/pull/1458) was cancelled. Is this still the plan?

[2019-05-07 12:40] TarekAS opened #3870 "Question: jx User vs kubernetes user"
Hello, I do not understand how JenkinsX Users (object) and kubernetes users are related. The [documentation](https://jenkins-x.io/architecture/access-control/) on this is not clear. Do I have to create two types of User for the same real-life user?

Right now this is what I know:

1. Create external IAM user (e.g. AWS IAM)
2. Map IAM user to k8s (e.g. aws-auth ConfigMap)
3. Create user via Jenkins

[2019-05-07 12:53] hferentschik opened #3871 "make generate-docs looks at the wrong location for static resources"
### Summary

`make generate-docs` or more specifically `codegen doc` uses the wrong location for copying static resources. It assumes the static resources can be found under `$GOPATH/src/github.com/kubernetes-incubator`, but since we are installing `gen-apidocs` now via go get with modules enabled, the location is `$GOPATH/pkg/mod/github.com/kubernetes-incubator/reference-docs\@<version>/gen-apido

[2019-05-07 14:12] hangchan opened #3873 "post-install hooks are not triggered for preview environments"
### Summary
When I open a pr, the preview app is created, the helm post-upgrade hook is triggered, but not the post-install hook.  On subsequent commits, the post-upgrade hook gets triggered as it should.  The post-install doesn't seem to ever get triggered.

### Steps to reproduce the behavior
1.  Add app
2. Open a PR

### Expected behavior
post-install hook gets triggered

### Actual behavior
po

[2019-05-07 14:36] #3728 closed

[2019-05-07 17:29] EliasNeypes commented on #3697
UPDATE: I just decided to go ahead with a new cluster and fresh install of jx and everything I've seen works as expected.

[2019-05-07 17:54] jstrachan commented on #3697
great thanks! So I think this issue is fixed for now.

I’m hoping to add a better diagnostic UX soon to help folks figure out why stuff isn’t working...

[2019-05-07 17:54] #3697 closed

[2019-05-08 01:49] earthgouer opened #3880 "pod jenkins-x-monocular-api unable to connect to MongoDB" host="jenkins-x-mongodb:27017"
### Summary

jx install fails - deployment jenkins-x-mongodb failed to become ready

### Steps to reproduce the behavior
install jx on prime

### Expected behavior
access   http://jenkins.jx.10.2.111.65.nip.io

### Actual behavior
deployment jenkins-x-monocular-api faild

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [ ] Next Generation (Tekton + Prow)
- [x] Classic J

[2019-05-08 07:53] bgrabows1 commented on #3809
The same issue with minishift 1.33 and openshift 3.11.0.

[2019-05-08 08:30] jstrachan commented on #3854
we found all kinds of issues when changing the node image type in our BDD tests. When using containerd we found docker pulls often failed; when using ubuntu the error came back anyway.

We think it might be this issue in tekton: https://github.com/tektoncd/pipeline/issues/725

[2019-05-08 09:09] vitalis opened #3884 "Error: failed to apply Tekton CRDs"
### Summary
serverles-jenkins fails after import of new go project with the following error:
[code]
### Steps to reproduce the behavior
install new jenkins cluster with following:
[code]

then import go project with `jx import`

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [x] Next Generation (Tekton + Prow)
- [ ] Classic Jenkins
- [ ] Serverless Jenkins (JenkinsFile

[2019-05-08 09:48] fangchao117 opened #3885 "pipelinerunner error log help"
### Summary
jx import pipelines error
### Steps to reproduce the behavior

jx install --provider=kubernetes --external-ip='k8s.today36524.srv' --no-default-environments --default-admin-password='admin' --default-admin-username='admin' --docker-registry='10.100.184.90' --domain='today36524.srv' --git-provider-kind='github' --ingress-namespace='ingress-nginx' --ingress-deployment='ingress-nginx-cont

[2019-05-08 10:07] pmuir opened #3887 "Ask questions in PR for `jx upgrade apps`"
### Summary
When running in GitOps mode, it would be nice to offer a mode where questions which cannot be answered in batch mode (i.e. those that have no default value and no existing value) still generate a PR, but have that PR fail.

For example, we could write a `TODO` into the fields in the `values.yaml` and then make `jx step helm template` fail if it encounters any TODOs... Or introduce a li

[2019-05-08 10:08] pmuir commented on #3887
/area apps
/priority backlog
/kind enhancement

[2019-05-08 13:08] pmuir opened #3889 "Add stage wide directory overrides for `jenkins-x.yml`"
### Summary

Add a `dir` override for the stage

[2019-05-08 20:10] phillycheeze commented on #1472
This happens even if the VPC has a public subnet for our setup, when trying to install to an already existing EKS cluster. If other people know of a resolution, it would be great if you could share it!

[2019-05-08 20:18] jwtodd opened #3894 "create cluster with 2 users (dev, service) fails to promote"
### Summary

Creating a GKE Tekton clusters fails to promote the initial quickstart build when configuring 2 github accounts,  one a service-account and the other a developer-account.

### Steps to reproduce the behavior

use case: reproducing https://jenkins-x.io/architecture/jenkins-x-pipelines/#differences-to-jenkins-pipelines
github organization: https://github.com/jwtodd-jx-testing

[code]

#

[2019-05-08 20:36] udbscience opened #3896 "error: pulling environment repo failed to fork GitHub"
### Summary
jx promote fails

### Steps to reproduce the behavior
jx promote -b --app ${APP} --env ${JX_ENV} --version ${VER}

### Expected behavior
app get promoted

### Actual behavior
pipeline xxx/xxxx/master
WARNING: Waiting for the fork of xxxx/environment-xx-xxxx to appear...
error: pulling environment repo https://xxxxxxxx into /home/ec2-user/.jx/environments: failed to fork GitHub repo xxx

[2019-05-08 21:45] #3755 closed

[2019-05-08 23:54] jwtodd commented on #3894
resolved

upgraded jx to latest:
created cluster with different arguments: % jx create cluster gke --skip-login --default-admin-password=[GOOGLE-PASSWORD] -n [CLUSTER-NAME] --ng=true

[2019-05-08 23:54] #3894 closed

[2019-05-09 06:49] jinjie2088 opened #3897 "git output: fatal: ambiguous argument 'origin/master': unknown revision or path not in the working tree."
[code]

[code]

[2019-05-09 10:47] Tom-Hobson opened #3898 "jx gc previews fails to work when a preview build never succeeds"
### Summary

jx gc previews fails when a preview build has failed but the PR has been closed.

and because one has failed all future previews never get garbage collected.

### Steps to reproduce the behavior

Make a pull request to create a preview and break it. (maybe put some invalid characters in the requirements yaml or whatever)

see the build break and the environment not be created.

in kub

[2019-05-09 11:04] hferentschik commented on #3897
Are there any files under the path `/root/.jx/draft/packs/github.com/jenkins-x-buildpacks/jenkins-x-kubernetes`? Are you running this command as root? I am wondering whether there are file permission issue.

[2019-05-09 11:19] hferentschik opened #3901 "Error for adding non existing app too verbose"
### Summary

Trying to install an app which does not exist, results into an error/message like:

[code]

### Steps to reproduce the behavior

Run:
[code]

### Expected behavior

A more user-friendly error message:

[code]

### Actual behavior

See above

### Jx version

The output of `jx version` is:

[code]

[2019-05-09 11:50] #3214 closed

[2019-05-09 18:16] carlossg commented on #3854
I've seen this issue on GKE version 1.11.8-gke.6 (master and nodes) but the second time I triggered the build it succeeded

[2019-05-10 01:41] jinjie2088 commented on #3897
no any files.
yes,i used root.

[root@host-10-0-228-47 ~]# cd /root/.jx/draft/packs/github.com/jenkins-x-buildpacks/jenkins-x-kubernetes
[root@host-10-0-228-47 jenkins-x-kubernetes]# ls
[root@host-10-0-228-47 jenkins-x-kubernetes]#

[2019-05-10 03:20] sajid2045 commented on #2099
Looks like its broken again ??

[code]

[2019-05-10 06:10] bwalding commented on #2099
Have you tried http://chartmuseum.jenkins-x.io/ - as per James' comment above
- https://github.com/jenkins-x/jx/issues/2099#issuecomment-433532244

[2019-05-10 06:14] duemir commented on #2099
Please see https://jenkins-x.io/faq/issues/#error-creating-jenkins-credential-jenkins-x-chartmuseum-500-server-error

[2019-05-10 09:11] doc-olliday commented on #3840
Same problem here when installing jx on minikube.

[2019-05-10 09:26] aucfan-makise opened #3906 "pipelinerunner is not installed when using tekton"
### Summary
Pipelinerunner is not installed when using tekton.

### Steps to reproduce the behavior

[code]

### Expected behavior
pipeline runner is installed
### Actual behavior
These are created in `jx` namespace.
[code]

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [x] Next Generation (Tekton + Prow)
- [ ] Classic Jenkins
- [ ] Serverless Jenkins (JenkinsFileRunn

[2019-05-10 11:55] abayer opened #3911 "jx get build logs doesn't scrub (all) secrets"
### Summary

When running `jx get build logs` for a BDD test run in `jenkins-x-versions.git`, the line starting with `+ jx step bdd --use-revision` has unscrubbed `--git-api-token ...`.

### Steps to reproduce the behavior

Run a build of something with BDD tests.

### Expected behavior

`--git-api-token SOMETHING` should show up as `--git-api-token *********`

### Actual behavior

It shows up as

[2019-05-10 12:37] romainverduci commented on #3789
@langleyd This issue should be fixed by https://github.com/jenkins-x/jx/pull/3864

[2019-05-10 12:42] jstrachan opened #3914 "automate removal of the version stream BDD clusters"
right now GC'ing the clusters created by the BDD tests on the https://github.com/jenkins-x/jenkins-x-versions repo is manual.

Would be good to automate that.

e.g. create a `jx` step to remove bdd clusters in the project `jenkins-x-bdd` which are created over 3 hours ago and do not have a 'keep' label on them.

We could run that step at the start of the bdd tests + run it as a `CronJob` every 3 h

[2019-05-10 12:55] jstrachan opened #3915 "simplify the UX of `jx create cluster / jx install`"
right now the CLI asks way too many questions when not in batch mode.

How about we move most of the questions into an `--advanced` mode so if folks really want they can tweak thing - but just use smart defaults for most questions.

I guess we need to decide what are the minimal questions; I guess its

* tekton v jenkins
* domain
* where to put the environment git repos

thats probably about it?

[2019-05-10 13:05] warrenbailey commented on #3915
/assign warrenbailey

[2019-05-10 14:29] dgozalo opened #3917 "The generated apps aren't getting the necessary metadata from their Chart.yml file"
### Summary
The apps that we are adding when installing JX aren't getting their Chart.yml located correctly so they are trying to read the main GitOps git repo Chart.yml file instead which leads to empty metadata information in the Apps CRDs.

Also added a way to override the default app.yml file for actual apps with enriched data.

### Steps to reproduce the behavior

Install JX, notice the Apps

[2019-05-10 15:20] daveconde opened #3919 "Prow config migration tool"
### Summary

Create a jx step that will migrate existing prow config to the new Scheduler model that was added in #3341.

The tool should create a new DefaultScheduler for an environment and also set up Schedulers for SourceRepositories and SourcRepositoryGroups.

It is important to ask the user if they would like to upgrade to the new style prow config.

[2019-05-10 15:30] carlossg commented on #3854
in my latest cluster, some environment builds have succeeded some failed, in a 20 minute window and for the same node I get failed and completed pods

[code]

the error may happen in different containers

[code]

[2019-05-10 15:39] abayer commented on #3854
The hope is that https://github.com/tektoncd/pipeline/pull/843 fixes this - it'll get pulled in by https://github.com/jenkins-x/jenkins-x-versions/pull/256. Eventually. Hopefully.

[2019-05-10 17:48] carlossg opened #3920 "Promoting with no tiller breaks Flagger canarying"
### Summary

Flagger creates a parallel deployment `jx-app-primary` when canary is enabled.

[code]

But on promotion it gets deleted when the helm chart is installed because its labels

[code]

### Steps to reproduce the behavior

[code]

### Expected behavior

### Actual behavior

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [x] Next Generation (Tekton + Prow)
- [

[2019-05-10 18:42] dyusupov opened #3921 "jx get pipelines not reflecting progress"
### Summary

Noticed that while I do have pipelines, jx isn't reflecting it

### Steps to reproduce the behavior

jx get pipelines

### Expected behavior

Should see some info rather than N/A in the output

### Actual behavior

[code]

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [ ] Next Generation (Tekton + Prow)
- [ ] Classic Jenkins
- [x] Serverless Jenkins (Jenk

[2019-05-10 20:28] usvgmani commented on #3885
I get the same for jx installed on AWS EKS.
jx install --provider=eks --skip-ingress --no-default-environments --tekton --no-tiller
jx               2.0.101
git              git version 2.17.2

am i missing something?

Logs below:
--------

{"level":"info","msg":"Generated Git credentials file /home/jenkins/git/credentials\n","time":"2019-05-10T19:22:22Z"}
{"level":"info","msg":"triggering pipelin

[2019-05-10 20:34] retr0h commented on #882
How would I install the ldap plugin @ccojocar ?

I have found I can install plugins, but once the pod is deleted and re-created the plugins are gone.

[2019-05-10 22:48] dyusupov commented on #3921
can this error be related?

[code]

[2019-05-11 09:31] amoussawi commented on #1563
Any update here?
@igdianov has pointed out some real issues with mounting the host docker daemon, that I think some users won't notice, me included until I ran `docker run -d`.
Is there any specific reason why a DooD approach is used instead of a DinD sidecar approach, if it was already possible?

[2019-05-11 12:41] carlossg commented on #3920
fixed in flagger 0.13.2 https://github.com/weaveworks/flagger/pull/178

[2019-05-11 15:38] takara9 commented on #3807
I also faced the same issue.

by my investigation,
the following file has issue.
github.com/jenkins-x/jx/pkg/jx/cmd/create_cluster_iks.go

in this file,  function "cluster.Find()" returns error code 503
it means that IBM Cloud API is not available at current situation.

--- create_cluster_iks.go
...
cluster, err := clusters.Find(createResponse.ID, target)
if err != nil {
      return err
}
...
---

[2019-05-11 17:37] larrybolt commented on #1472
Facing the same issue on GCP

[2019-05-11 22:51] vfarcic opened #3925 "jx create step is broken"
### Summary

@abayer  The commit 98a094d98c282fe4d42e533b0abda3b078538632 broke the functionality of `jx create step`. Now it adds an empty `agent` (unnecessary clutter) and `loop` with `null` as values for `steps` and `values` inside. Such a loop fails to run and it does not pass the validations.

On top of that, `command` (it was `sh` before) does not execute at all so even if the `loop` section

[2019-05-12 00:37] abayer commented on #3925
I'll look into this tomorrow.

[2019-05-12 08:54] hferentschik commented on #3897
So for some reason something went wrong and hence the error.

Could be the reason for the problem. I'd try as non root. Or you could try setting _JX_HOME_ into a directory which is read/writable to non root.

[2019-05-12 09:58] doc-olliday commented on #2933
A similar problem here.
Installed jx on minikube with '--no-tiller', created a golang quickstart and generated a devpod based on the quickstart project.
Starting the watch.sh script from within the devpod, it ends up with following output:
[code]
The '_DEPRECATED_DIGEST_HEX_' thing seems to be some other problem with skaffold.

[2019-05-12 15:04] abayer commented on #3925
PR up - if there are test cases you'd like me to add, let me know and I will do so!

[2019-05-12 20:16] heroic commented on #3906
I am stuck with the same issue. This leads to no builds being run!

[2019-05-12 23:06] vfarcic opened #3928 "Tekton pipelines not starting"
### Summary

On a fresh install of `jx` in an existing GKE cluster, tekton pipelines are not starting. Judging from logs in the `jx` namespace, everything seems to be fine and I can see from the GitHub repository that webhooks trigger successfully.

Please let me know which info (e.g., logs, events) can help to debug the issue.

### Steps to reproduce the behavior

* Create a GKE cluster.
* Instal

[2019-05-13 02:17] aucfan-makise commented on #3906
This problem seems to be fixed by this commit. 5095ca6b6019962137698445532293e068ac6deb
I can install Pipelinerunner correctly using latest jx.

[code]

[2019-05-13 07:46] #3920 closed

[2019-05-13 09:25] #3786 closed

[2019-05-13 09:59] wenzlaff commented on #3845
Should finally been fixed with https://github.com/jenkins-x/exposecontroller/pull/184

[2019-05-13 13:50] #3537 closed

[2019-05-13 14:43] heroic opened #3931 "Adding new team fails to find vault"
### Summary

Adding a team causes team controller to fail with error about not being able to find the system vault name.

### Steps to reproduce the behavior
1. jx install -ng
2. jx create team A

### Expected behavior
Team A should be created

### Actual behavior
Team A does not get created. TeamController shows the following log:
`Unable to install jx for team A: configuring the git auth: creati

[2019-05-13 15:21] #3925 closed

[2019-05-13 17:39] jeremy-seiu commented on #3524
this works great for me in a nodejs environment as well, thanks !

[2019-05-13 18:49] pdodds commented on #2245
Not really a great solution but I believe you can do

[code]
In your build to get around it.

[2019-05-13 19:01] heroic commented on #3928
@vfarcic do you have pipelinerunner working? I had this issue yesterday. my install was missing pipelinerunner. re-install fixed it.

[2019-05-13 19:06] abayer commented on #3836
Ok, Tekton issue: https://github.com/tektoncd/pipeline/pull/823, and PR: https://github.com/tektoncd/pipeline/pull/832

[2019-05-13 20:34] #3917 closed

[2019-05-13 20:43] porterja31 commented on #3818
Just wanted to bump this to see if anything was happening in this space.

[2019-05-13 20:58] #3815 closed

[2019-05-13 21:07] GingerBuffalo commented on #2410
I think I'm hitting something similar to this issue. I used jx import on an existing project, and using static jenkins. I'm using gitlab enterprise edition, hosted within the jenkins x cluster. Everything appears to set up correctly, including webhooks. The webhooks are not showing any error. But jx promote is hanging on the pr sent to staging. The pr in staging is created just fine, but it's not

[2019-05-14 00:19] GingerBuffalo opened #3936 "jx promote hangs in loop waiting on staging pr"
### Summary
jx promote hangs waiting to get status of pr on staging repository. Webhooks don't appear the culprit.

### Steps to reproduce the behavior
1. Source repo hosted on gitlab EE running in jenkinsx cluster.
2. jx import a project.
3. Verify webhooks created as expected on code repo, and staging and prod gitops repos.
4. Trigger a change on master branch in code repo.
5. Verify code repo w

[2019-05-14 00:53] jinjie2088 commented on #3897
I'd try as non root, but the test result are same.

[2019-05-14 09:16] djholly123 opened #3939 "cant login password wrong"
### Summary

Cant login to set token password is wrong whatever I try

### Steps to reproduce the behavior
jx install --docker-registry ldsdevacr.azurecr.io --default-admin-password #password#

### Expected behavior
Login OK with specified password and complete the install and configure JenkinsX manually

### Actual behavior
Jenkins X deployments ready in namespace jx
Configuring the TeamSettings

[2019-05-14 10:16] carlosrodlop opened #3941 "Pipeline tekton quickstarts not working"
### Summary

Tekton pipelines quickstarts do not work

It might be related to:

- https://github.com/jenkins-x/jx/issues/3928
- https://github.com/jenkins-x/jx/issues/3921

### Steps to reproduce the behavior

1.- Installing tekton in an existing cluster  `jx install --tekton`
2.- `jx create quickstart`

### Expected behavior

* Next Generation Pipelines being triggered
* A complete `jenkins-x.yml

[2019-05-14 11:43] jstrachan commented on #808
the configuration of Jenkins comes from Helm which populates ConfigMaps which are used to initialise the pod: https://jenkins-x.io/getting-started/config/

[2019-05-14 11:43] jstrachan commented on #808
I'm assuming when you say configuration is lost thats due to modifying things in the Jenkins web UI right?

[2019-05-14 12:39] jstrachan opened #3943 "use the Version Stream to manage versions of client side packages l"
we should lock down client side binaries like `helm, git, kubectl` so that if folks have ancient or mismatched versions we warn/recommend upgrading/downgrading / fail
https://jenkins-x.io/architecture/version-stream/

[2019-05-14 13:46] hferentschik commented on #3501
`make generate` runs now as part of the lint status check.

[2019-05-14 13:46] #3501 closed

[2019-05-14 14:05] abayer opened #3944 "jx step syntax validate pipeline not reporting non-schema validation errors"
### Summary

`jx step syntax validate pipeline` isn't reporting non-schema validation errors, but it should.

### Steps to reproduce the behavior

Create a `jenkins-x.yml` with, say, a stage with both `stages` and `steps` in it.
Run `jx step syntax validate pipeline`

### Expected behavior

It should fail.

### Actual behavior

It doesn't fail.

### Jx version

The output of `jx version` is:

[cod

[2019-05-14 14:13] lgg42 commented on #2622
Have you checked your ~/.jx/jenkinsAuth.yaml file?

[2019-05-14 14:26] heroic commented on #2622
@lgg42 not even sure what the issue was anymore! I've moved to jx ng, and mostly things are working fine. I'll close this issue as it doesn't seem anyone else is facing it anymore!

[2019-05-14 14:26] #2622 closed

[2019-05-14 15:06] Modelizer opened #3947 "unknown flag: --wait while add app"
### Summary
![Screenshot 2019-05-14 at 16 57 04](https://user-images.githubusercontent.com/7669734/57708280-5a4ab580-7669-11e9-8c74-87e2c874cc32.png)

### Jx version

The output of `jx version` is:
[code]

### Jenkins type

- [ ] Next Generation (Tekton + Prow)
- [ ] Classic Jenkins
- [ ] Serverless Jenkins (JenkinsFileRunner + Prow)

As I remember I selected this
- [x] Serverless Jenkins (Tekton)

[2019-05-14 15:39] garethjevans commented on #3947
Hi @Modelizer, I think this is down to your version of kubectl, that flag was introduced in a later version (although I'm not sure which one - for reference, I'm on v1.14.1 and that flag exists), Gareth

[2019-05-14 15:40] garethjevans commented on #3943
An example of an issue caused by this is #3947

[2019-05-14 15:50] LD-Oteemo opened #3948 "jx install failing when creating new system vault on aws?"
### Summary
I'm trying to install next gen jenkins x on a kubernetes cluster in aws.

### Steps to reproduce the behavior
Create the cluster : ```jx create cluster aws --ng```
Run jx install : ```jx install --provider=aws --ng```

### Expected behavior
To have a runing jenkinsx installation.

### Actual behavior
Fails when attempting to create the new system vault for jenkinsx - with this error :

[2019-05-14 18:00] #3839 closed

[2019-05-14 18:12] s1apped opened #3950 "jx step helm build Error: chart metadata (Chart.yaml) missing"
### Summary

jx step helm build throws error when promoting to Staging Environment

### Steps to reproduce the behavior
1. jx create cluster aks  --cluster-name jxCluster --no-default-environments --git-provider-kind bitbucketcloud --git-provider-url https://bitbucket.org
2. create staging and production environments
3. jx create spring --type gradle-project --git-provider-url=https://bitbucket.or

[2019-05-14 19:30] #3700 closed

[2019-05-14 19:30] #3734 closed

[2019-05-14 19:42] hferentschik commented on #3897
Hmm, you could try to upgrade the CLI:

[code]
and see whether it makes a difference.

You could also try running with some more trace enabled. Something like:

[code]

Make sure to delete JX_HOME aka ~/.jx before you try to avoid any side effects with an existing directory.

[2019-05-14 19:58] sharepointoscar commented on #3928
@heroic I have the same issue, and reinstall does not fix it unfortunately.  In addition, in this version of `jx` another issue surfaced that actually prevents install. https://github.com/jenkins-x/jx/issues/3345
[code]

[2019-05-14 20:06] jstrachan commented on #3928
@vfarcic does missing the LB IP + domain help?

[2019-05-14 20:15] heroic commented on #3928
@sharepointoscar try using 2.0.118 to install. That worked for me yesterday. platform version 2.0.276

[2019-05-14 20:53] #3838 closed

[2019-05-14 22:32] retr0h commented on #3472
@LeoQuote  did you ever figure this out?

[2019-05-14 22:56] retr0h commented on #849
@jstrachan if that is the case then that assumes the docker daemon must always be setup for insecure registries, since skaffold cannot push to the https resource which is running http[1].

[1] https://github.com/GoogleContainerTools/skaffold/issues/1732

[2019-05-15 00:40] sharepointoscar commented on #3941
What cloud are you deploying your cluster to?  Are you deploying Jenkins X into an existing cluster, or are you able to create it as well?  It might be easier to run the following command.  But also, do upgrade to the latest `jx` build.

If you are using GKE, you can use the following which works:

`jx create cluster gke -m n1-standard-2 --min-num-nodes=3 --max-num-nodes=5 -z us-west1-a --skip-log

[2019-05-15 03:55] LeoQuote commented on #3472
@retr0h please follow the issue I provided above to find solutions

[2019-05-15 05:44] #3944 closed

[2019-05-15 07:35] Modelizer commented on #3947
Thanks @garethjevans problem fixed by update kubectl. 👍

[2019-05-15 07:35] #3947 closed

[2019-05-15 08:49] langleyd commented on #3789
Yup looks good

[2019-05-15 08:49] #3789 closed

[2019-05-15 11:28] abayer commented on #3767
So as @vfarcic pointed out, you can actually do this with `command` already! Wish I'd thought of that. Ah well. =)

[2019-05-15 11:28] #3767 closed

[2019-05-15 12:01] beebird commented on #3866
I did more investigation and found out that the root cause might be here:
[code]
jx only pushes the new tag to remote,  leaving alone the regular (empty) commit in local repo folder. So the commit is lost.

Then in next build, the command
[code]
always picks up the previous tag that associated with a regular commit:
[code]

I did some testing in my own repo that is worked as expected.
So my sugges

[2019-05-15 12:17] langleyd commented on #3854
Yup all g. Thanks guys!

[2019-05-15 12:17] #3854 closed

[2019-05-15 12:23] hferentschik commented on #3866
As a reference, this pull request is related to this issue - https://github.com/jenkins-x/jx/pull/3790.

[2019-05-15 12:27] EamonKeane commented on #3928
Having an issue with tekton pipelines too, this may be unrelated but will mention it here. Happens on 2.0.118 and 2.0.119.

jx                 2.0.118
Kubernetes cluster v1.12.7-gke.10
kubectl            v1.12.2
git                git version 2.17.2 (Apple Git-113)
Operating System   Mac OS X 10.14.4 build 18E215a

```{"level":"error","msg":"failed to apply Tekton CRDs: failed to create/update Pip

[2019-05-15 12:40] Modelizer opened #3960 "Webhook issue while importing from Bitbucket Cloud"
### Summary
When I try to import bitbucket cloud repository I see status 401 error.

### Steps to reproduce the behavior
- Create App Password from bitbucket setting.
- Configure bitbucket cloud server https://jenkins-x.io/developing/git/#bitbucket-cloud
- Import repository `jx import --url https://md-fortel@bitbucket.org/your-team/your-repo.git`

### Expected behavior
It should import successfull

[2019-05-15 12:57] hferentschik commented on #3866
Yes, that's correct. Are you using `jx step tag` for tagging? How is the repository checked out? Just trying to get more context about your concrete setup.

That said, the issue you describe is known. Tags created in this form are "invalid" since they refer to commits which never make it into the repository. The problem with pushing the commit is that this would trigger another release build. We a

[2019-05-15 13:04] beebird commented on #3866
Thanks for you reply. Yes I noticed the PR and saw your comment. In my situation, jx can always fetch a previousTag, but not the expected one. So I think the solution might be a little different.

I believe the jx project itself is using the similar logic to tag a new release and pick up changelogs.
However, compared with jx repo, I can see the type of the tag object is different:
[code]
While in

[2019-05-15 13:52] vfarcic opened #3961 "Add the ability to remove a whole pipeline or lifecycle"
### Summary

In some cases we need to remove a whole pipeline or a lifecycle inherited from a buildpack. Right now, the only way to do that is either by creating a new pipeline from scratch or by creating a bogus replacement (e.g., `echo nothing`).

### Jx version

Any

### Jenkins type

- [ ] Next Generation (Tekton + Prow)
- [ ] Classic Jenkins
- [X] Serverless Jenkins (JenkinsFileRunner + Prow)

[2019-05-15 15:04] vfarcic opened #3962 "Uninstall does not remove CRDs"
### Summary

Uninstall does not remove CRDs

### Steps to reproduce the behavior

[code]

### Expected behavior

All CRDs deleted

### Actual behavior

[code]

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [ ] Next Generation (Tekton + Prow)
- [ ] Classic Jenkins
- [X] Serverless Jenkins (JenkinsFileRunner + Prow)

### Kubernetes cluster

GKE

### Operating system / E

[2019-05-15 15:12] dgozalo opened #3963 "Bucket configuration is sometimes lost from the team storage configuration"
### Summary

There has been a few times already that the configured team storage bucket has been removed.

This causes new builds to lose all logs as there is no long term storage configuration and they are discarded.

### Steps to reproduce the behavior

Execute `jx get storage` and notice t

### Expected behavior

### Actual behavior
After modifying the current storage config or creating a clust

[2019-05-15 15:21] dgozalo opened #3964 "Send logs to long term storage or a configured hot storage while the build is still executing"
### Summary

At the moment, when the CLI executes `jx get build logs`. these are obtained directly from the pods output for running builds and a configured bucket for finished builds.

There is a problem when a build doesn't end correctly as the logs are never sent to long term storage. If some time has passed, the pods will have been garbage collected and logs won't be accessible.

### Steps to r

[2019-05-15 15:37] vfarcic commented on #3928
@heroic `pipelinerunner` is running.

That there was an `jx` installation from a few months ago. I uninstalled it and tried installing it again. My best guess is that there is a left-over from the initial installation that was not removed with `jx uninstall`. Indeed, left-over CRDs were not removed so I opened #3962. I removed them manually and installed `jx` again but there is still no sign of te

[2019-05-15 15:48] pmuir opened #3966 "Implement gate of JX PRs to prevent them being merged if coverage of new code is < 80%"
### Summary

Problems:

1) Currently we only report coverage for the integration and unit tests, we ignore the bdd tests. We need to get a combined coverage figure.

2) We don't currently check if the coverage goes up or down over time

Proposal: Implement a context check (using tide) that will prevent the PR from being merged unless the coverage on the new code is less than 80% (unit, integration

[2019-05-15 15:48] vfarcic commented on #3928
@jstrachan I installed `jx` with LB IP and domain and there's still no difference. Is there a way to get a clue what's wrong? Any pointer where to look would be useful.

P.S. I can create a new cluster and avoid those problems but I guess that we'd lose the opportunity to find out what the issue is.

[2019-05-15 15:49] pmuir opened #3967 "Provide more contexts on PRs"
### Summary

Often you are are working on a feature for a particular type cluster e.g. tekton, ng, static etc.

Currently the bdd tests only run against tekton. We should allow them to run against more types of cluster (can be decided by PR author which ones), and allow any of them to contribute to the tide status.

[2019-05-15 18:48] #3884 closed

[2019-05-15 18:53] ascheman opened #3971 "iks cluster needs kaniko"
### Summary

IBM Kubernetes Services (aka. `iks`) does not have dockerd running on its nodes as of k8s version 1.11. Instead they run containerd. So the default installation of JX cannot build Docker images any longer. It would need `kaniko` to enable this.

But `kaniko` is not yet available for `iks` clusters.

### Steps to reproduce the behavior

[code]

### Expected behavior

Usable JX cluster

[2019-05-15 19:08] phillycheeze opened #3972 "Upgrade skaffold dependency to satisfy Jenkins and EKS"
### Summary

The current version of skaffold shipped with jx is outdated. Particularly, EKS in it's latest AMI node release disables the bridge network (see: https://github.com/awslabs/amazon-eks-ami/issues/183)

Skaffold has added a new configuration option in skaffold/v1beta10 (release 0.29.0) for specifying the docker.network parameter passed along to the docker run command (see https://github.

[2019-05-15 19:35] sboardwell commented on #3122
Similar to #2563

[2019-05-16 08:14] hferentschik commented on #3866
The difference is between annotated tags and non annotated tags. The former includes a commit which the tag refers to, the latter is only an entry in the refs.

Per default `git describe` does only list annotated tags, and one has to use `--tag` or  `--all` to get annoated and non annotated tags.

What's happening at the moment in the `jx` repo is that there is a commit to change the version which

[2019-05-16 08:15] hferentschik commented on #3866
It would be awesome if you would like to work on this. I am happy to help as well. I think it is essential though that we back the implementation up with unit tests. This code has been "fixed" multiple times, but in the end it is still not working as expected. The unit test would prove that it works.

[2019-05-16 08:22] vfarcic opened #3975 "Loop is not working"
### Summary

The pipeline:

[code]

### Steps to reproduce the behavior

Run the pipeline.

### Expected behavior

Output one message for each value in the `loop`.

### Actual behavior

[code]

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [x] Next Generation (Tekton + Prow)
- [ ] Classic Jenkins
- [ ] Serverless Jenkins (JenkinsFileRunner + Prow)

### Kubernetes clus

[2019-05-16 08:27] kolima opened #3976 "jx upgrade platform --versions-repo [another_url] doesn't change repo url"
### Summary
When running `jx upgrade platform  --versions-repo [another_url]` system still use the default url (https://github.com/jenkins-x/jenkins-x-versions.git)

### Steps to reproduce the behavior

Run jx upgrade platform  --versions-repo https://github.com/kolima/jenkins-x-versions.git

### Expected behavior

Should use the passed url to  --versions-repo

### Actual behavior

Used default re

[2019-05-16 13:01] pmuir commented on #2306
tide has a concept of queries, queries are are what it uses to check if a PR can be merged by the bot or not. Queries specify a set of github labels that must be present, and a set of labels that must not be present on the PR for the merge to happen. If none of the queries are met, it doesn't merge the PR (obviously) and it also displays a helpful status message to explain how to satisfy the query

[2019-05-16 14:58] ccojocar opened #3983 "Support Bitbucket git provider in environment controller"
### Summary
I seems that at the moment the webhook events parsing is only implemented for GitHub.

https://github.com/jenkins-x/jx/blob/a66284356f8cab094bdf096a4821e6c81eefbb53/pkg/jx/cmd/controller_enviornmentcontroller.go#L553

Extend the event parsing also for Bitbucket to enable Bitbucket Cloud provider for environment controller.

Bitbucket event format documentation:
https://confluence.atlas

[2019-05-16 14:58] beebird commented on #3866
Excellent explanation! I totally agree with your analysis.  Will try to provide a candidate fix this weekend if no fix before then.

Although I've submitted pull requests to jx project before, I'm not good at golang so unit tests might be a difficult part... Anyway, I'll take a try. Thanks!

[2019-05-16 15:22] abayer commented on #3975
Any chance you could get the `image` in your `pipelinerunner` controller? `loop` should be working in jx `2.0.119` and later, but I can never tell when that gets in the controller images etc...

[2019-05-16 15:41] BenCoffeed commented on #3345
I'm still receiving a 503 error when running:
[code]
install command
[code]

I attempted to delete the bucket, the vault, and the DynamoDB table, recreated the table, and the bucket, and still receiving a 503. I even did:

`jx logs vault-operator`
[code]
`jx logs jx-vault-devqa-configurer`
[code]

`kubectl get pods`
[code]

`kubectl logs jx-vault-devqa-0 -c vault`
[code]

I used https://jenkins-x.

[2019-05-16 15:58] msvticket opened #3984 "Superfluous deploy to Nexus in Maven builds"
### Summary

Pipelines for building applications using maven (https://github.com/jenkins-x-buildpacks/jenkins-x-kubernetes/tree/master/packs/maven) deploys the application jar-file to nexus. This is unnecessary; it's enough it's put in the image. This means that the persistent volume of Nexus fills up for no reason.

### Steps to reproduce the behavior

Import a repo into Jenkins-X for an applicat

[2019-05-16 16:16] pmuir commented on #3966
https://blog.cloudflare.com/go-coverage-with-external-tests/ <-- good blog on how to use coverage with go outside of `go test`

[2019-05-16 16:23] abayer commented on #3975
Yup, verified in a test that it is doing the right thing - I think you're on `jenkinsxio/builder-maven:0.1.451`, but the fix for `loop` in build packs is in a later version (`0.1.453`, I believe).

[2019-05-16 16:55] #3341 closed

[2019-05-16 17:00] xihaLong opened #3987 "Chrome on the host system should not be a dependency of JenkinsX"
### Summary
ChromeDP is included in a branch of code related to Git instantiation using the v1 variant of the ChromeDP API.
This means JX command line requires my machine to have Chrome installed. JX is generally for setting up lab environments on K8S clusters. This type of machine is more typically a server rather than consumer machine, where perhaps it makes less sense to install a consumer desk

[2019-05-16 17:05] msvticket opened #3988 "jx step env apply uses default values for secrets"
### Summary

Versions after 2.0.118 of jx silently fails to get any values files with secrets from vault and thus the default values are used. This means for example that the jenkins password is reset to the default and number of other problems.

The culprit is PR #3902 that changes jx to use new paths in the requests to vault. I am running vault 0.11.6 (the default in Jenkins-X when I installed t

[2019-05-16 17:06] hferentschik commented on #3866
That would be awesome.

As said, I am happy to help on this front. We can iterate on this. The good thing is that we can just test on the git level. Things gets much harder if one needs to test against an installed Jenkins-X install.

I imagine for example that one could create a tmp directory, call `git init` on it and create a set of commits and tags. Then one runs for example `GetPreviousGitTag

[2019-05-16 17:07] hferentschik commented on #3866
Either way I am tempted to close  pull request  #3790 since I feel it falls short of solving the underlying issues.

[2019-05-16 20:02] hferentschik opened #3991 "Log level specified via --log-level does not get applied"
### Summary

The log level is currently fixed to info. The value for global `--log-level` option is not getting passed down to the logrus logger.

### Steps to reproduce the behavior

Run a command which contains, for example, some debug trace:

[code]

but it should be

[code]

### Expected behavior

Specified logging level gets applied to logger

### Jx version

The output of `jx version` is:

[

[2019-05-16 20:44] joostvdg commented on #3524
It is described here in the Skaffold releases notes. https://github.com/GoogleContainerTools/skaffold/blob/master/CHANGELOG.md#v0230-release---2142019

Which makes me think more and more people will run into this.
Let's see if we can find a proper fix for this that works for everyone.

[2019-05-16 22:05] tdcox opened #3994 "jx create pullrequest ignores repo fork status"
### Summary

jx create pullrequest now calls the helper method `PushRepoAndCreatePullRequest` with the `fork` flag always set to true. This will fail if the repo being used for the pull request is NOT actually a fork with the message `422 Validation Failed [{Resource:PullRequest Field:head Code:invalid Message:}]`

[2019-05-17 02:36] jinjie2088 commented on #3897
[root@host-10-0-228-16 .jx]#  jx --verbose --log-level='debug' install --provider=kubernetes --on-premise --external-ip 10.0.228.16
? Select Jenkins installation type: Serverless Jenkins X Pipelines with Tekton
Setting the dev namespace to: jx
Using helmBinary helm with feature flag: template-mode
Context "kubernetes-admin@kubernetes" modified.
Enabling helm template mode in the TeamSettings
Git c

[2019-05-17 05:32] heroic opened #3996 "Promote is failing"
### Summary
When an app builds and get promoted to staging(created manually, not during install), the build dies with an error. Apparently the error seems to be coming during replacing vault values in yaml.

### Steps to reproduce the behavior
1. jx install --no-default-environments=true
2. jx create env `staging, jx-staging`
3. jx import

### Expected behavior
App should be released in staging

#

[2019-05-17 07:59] hferentschik commented on #3991
Fixed by PR #3992

[2019-05-17 07:59] #3991 closed

[2019-05-17 10:20] malingxin opened #4001 "FATAL: initialise build packs failed: git output: There is no tracking information for the current branch."
### Summary
jx install error
### Steps to reproduce the behavior
run jx install error
### Expected behavior
install jx
### Actual behavior
FATAL: initialise build packs failed: git output: There is no tracking information for the current branch.
### Jx version

[code]

### Kubernetes cluster

### Operating system / Environment

[code]

[2019-05-17 13:45] garethjevans opened #4006 "Install jx using helm3 alpha1"
### Summary

Helm have released a v3 alpha 1, it would be nice to be able to install jx using this approach.

e.g.

`jx create cluster gke --helm3 --tekton`

[2019-05-17 13:45] garethjevans commented on #4006
/priority important-soon
/area install

[2019-05-17 13:46] garethjevans commented on #4006
/area helm

[2019-05-17 13:46] garethjevans commented on #4006
/kind enhancement

[2019-05-17 14:49] langleyd commented on #3463
Seeing this also with `--ng=true`:

[code]

[2019-05-17 14:49] lgg42 commented on #3564
Hey! try to update your file app-name/charts/preview/values.yaml
I found that if I set expose options like the following:
[code]
Just putting the pathMode in there, the preview environments switch to path based ingress.

[2019-05-17 17:11] hferentschik opened #4007 "Test epic 2"

[2019-05-17 17:12] #4007 closed

[2019-05-17 17:37] polothy commented on #703
Will this change bring improved vault support for AWS?  Feel like AWS with gitops for the JX dev environment isn't supported yet due to vault.

[2019-05-18 07:13] #3994 closed

[2019-05-18 11:10] pnambicsystems opened #4013 "default backend - 404 when trying to access jenkins url in browser"
### Summary
Following: https://aws.amazon.com/blogs/opensource/continuous-delivery-eks-jenkins-x/
jx create cluster eks --cluster-name=m-calc-cloud --skip-installation=true

jx get eks
NAME		REGION
m-calc-cloud	ap-southeast-1

jx install --provider=eks --domain=pnambicsystems.com --default-environment-prefix=m-calc-cloud

when trying view Jenkins X login at: http://jenkins.jx.pnambicsystems.com
re

[2019-05-18 15:44] garethjevans commented on #4006
Issues so far:
* `--timeout` require a unit
* `--namespace` does not work yet, need to manually switch before applying

[2019-05-18 19:01] vfarcic opened #4016 "Steps are not ordered in activities"
### Summary

Steps in `jx get activities` seem to be ordered alphabetically, not by the order of execution.

### Steps to reproduce the behavior

Create a `jenkins-x.yml` file with the following content.

[code]

Push the change and execute `jx get activities`.

### Expected behavior

The output, limited to the `Promote` lifecycle, should be:

[code]

### Actual behavior

The output, limited to th

[2019-05-19 01:17] magicians2019 commented on #1679
@ccojocar : delete and create token didn't help in fixing same issue.

[2019-05-19 20:21] heroic commented on #3463
Here's the error with `--ng=true`

@ccojocar are we any close to fixing this? Looks like `jenkins-x-gcpreviews` serviceaccount doesn't have the correct permissions. Can we give `jenkins-x-gcpreviews` all access in dev namespace to fix this? should be trivial, no?

[code]

[2019-05-19 20:42] heroic commented on #3463
[code]

This is very overarching, as it gives all permissions for all ApiKinds. but seems to work

[2019-05-20 05:44] abayer commented on #4016
Yeah, I need to fix this, and the names that show up in general.

[2019-05-20 07:33] vfarcic opened #4018 "CLI upgrade fails"
### Summary

Every once in a while, new releases are not available through `jx version` and `jx upgade cli`. Right now, for example, we cannot upgrade to `2.0.139`.

### Steps to reproduce the behavior

[code]

[code]

### Expected behavior

New version is installed.

### Actual behavior

[code]

### Jx version

[code]

### Jenkins type

Any

### Kubernetes cluster

Any

### Operating system / Env

[2019-05-20 08:25] heroic opened #4019 "Release pipeline fails"
### Summary

On a newly installed cluster, builds fail on the release pipeline.

### Steps to reproduce the behavior
1. jx import
2. git push
3. merge PR

### Expected behavior
The build should pass

### Actual behavior
The build fails with the error:

[code]
### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [x] Next Generation (Tekton + Prow)
- [ ] Classic Jenkins
- [ ]

[2019-05-20 08:53] langleyd commented on #4019
Also seeing this:
[code]

[2019-05-20 08:58] #3961 closed

[2019-05-20 09:24] langleyd commented on #4019
Was also able to work around it by creating a promote pre-step(`git fetch --tags --all --prune -f`)  as outlined by @heroic in slack.

[2019-05-20 10:47] langleyd commented on #2933
Still seems to be an issue. version:

[code]

[2019-05-20 12:36] macox opened #4022 "Numerous clones of jenkins-x-versions during create cluster"
### Summary

During the process of running `jx create cluster gke` the jenkins-x-versions repo is cloned numerous times (at least 6).

### Steps to reproduce the behavior
`jx create cluster gke` and follow interactive guide.

### Expected behavior
jenkins-x-versions should only need to be cloned once

### Jx version

The output of `jx version` is:

[code]

[2019-05-20 17:26] jwtodd commented on #4019
fails for me as well on jx v2.0.119, osx, gke --tekton

[2019-05-20 17:31] beebird commented on #3866
Hi @hferentschik ,

I just opened a pull request #4027.  I didn't get time to write the unit tests although I've done quite some tests under different circumstances.  And please feel free to close it if you have any concern, also I'm happy if you can help with the tests :)

I did some research based on our discuss and chose an slightly different way to pick up the "real" commit hash, the main step

[2019-05-20 17:56] jwtodd commented on #4019
after applying the suggested work-around the promote-jx-promote step succeeds but now the promote-helm-promote step fails

error: Failed to post chart to http://jenkins-x-chartmuseum:8080/api/charts due to response 409: {"error":"file already exists"}

thoughts?

[2019-05-20 18:38] hferentschik commented on #3866
@beebird awesome, thanks. I'll take a look asap.

[2019-05-20 19:40] hferentschik commented on #3866
Fair enough, let me look into this.

[2019-05-20 20:06] hferentschik commented on #3866
I think the use of `for-each-ref` looks good. I am not sure yet regarding `rev-parse`. Can you describe where `merge-base` did not return the right sha, but `rev-parse` did?
I think we won't get around some sort of test harness here. I have some ideas. I try to come up with something asap.

[2019-05-20 22:04] athilaelhuno commented on #3896
I have the same issue, any news about how we can fix

[2019-05-21 03:06] gm12367 commented on #3897
Same issue:
[code]

[2019-05-21 06:23] garethjevans opened #4031 "Run bbd tests against PRs on buildpacks"
### Summary

Currently changes to the jenkins-x-buildpacks are manually merged, it would be great if we could run a bdd test suite against PR to these repos.

[2019-05-21 06:24] garethjevans commented on #4031
/kind enhancement
/priority important-soon
/area bdd

[2019-05-21 06:27] garethjevans opened #4032 "discussion: should we disable issues on all jenkins-x repos apart from jx?"
### Summary

Dealing with issues in multiple repos/orgs can cumbersome.  Should we disable issues on all other repositories so they get created here?

[2019-05-21 06:28] garethjevans commented on #4032
/kind question

[2019-05-21 06:33] vfarcic opened #4033 "Prometheus Addon Works Only With jx Namespace"
### Summary

It seems that the Prometheus addon works only if Jenkins X is installed in the `jx` Namespace.

### Steps to reproduce the behavior

[code]

[code]

[code]

### Expected behavior

Prometheus is installed

### Actual behavior

[code]

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [ ] Next Generation (Tekton + Prow)
- [ ] Classic Jenkins
- [X] Serverless Je

[2019-05-21 06:37] garethjevans commented on #3962
/kind enhancement
/area install
/priority backlog

[2019-05-21 06:42] vfarcic commented on #4033
@carlossg is this one of yours?

[2019-05-21 06:42] #4033 closed

[2019-05-21 06:43] vfarcic commented on #4033
I just noticed that there is the argument `--namespace`. Still, it might be misleading to assume that Prometheus is installed in jx while other addons (e.g., Istio) run in their own namespace and hence do not need to know where `jx` is running.

[2019-05-21 06:44] garethjevans commented on #3976
/kind bug
/priority important-soon

[2019-05-21 06:45] garethjevans commented on #3976
/area upgrade

[2019-05-21 06:53] garethjevans commented on #4001
Hi @malingxin, can you take a look at ``~/.jx/draft/packs/github.com/jenkins-x-buildpacks/jenkins-x-kubernetes/` and possible run a `git remote -v` & `git pull` in that directory?

As a workaround, you may be able to remove that folder and allow the install to reclone it.

[2019-05-21 06:55] garethjevans commented on #4001
possible duplicate of #3897

[2019-05-21 07:23] gm12367 commented on #3897
HI @garethjevans , as you preferred, I tried to use git re-pull the repo or directly delete ~/.jx but it didn't work either.

[code]

[code]

[2019-05-21 07:33] garethjevans commented on #3897
/kind bug
/priority critical-urgent

[2019-05-21 07:34] garethjevans commented on #3897
/area git

[2019-05-21 07:37] garethjevans commented on #3897
Thanks for the feedback, I can see you are on the latest jx.  It appears there is a bug in some of our clone logic, this doesn't appear to happen for everyone but we are looking at it now,

As a possible workaround, can you try:
[code]

[2019-05-21 07:39] garethjevans commented on #4001
/kind bug
/priority critical-urgent
/area git

[2019-05-21 07:40] garethjevans commented on #4001
As a possible workaround, can you try:

[code]

[2019-05-21 09:35] carlossg commented on #4033
All addons have the `--namespace` option, only special ones like istio are installed on their own.

[2019-05-21 09:46] garethjevans commented on #942
This can be closed as the stackdriver integration is automatically enabled on gke (with & without terraform).

[2019-05-21 09:46] #942 closed

[2019-05-21 09:50] garethjevans commented on #26
Closing this as the functionality already exists as part of `jx upgrade binaries`

[2019-05-21 09:50] #26 closed

[2019-05-21 10:17] garethjevans commented on #4013
Hi @pnambicsystems, can you confirm you are using `Serverless Jenkins (JenkinsFileRunner + Prow)` installation? it looks like it from the pod listing.  In this case there is no jenkins server installed in the cluster.

With the serverless setup, Jenkins masters are spun up on demand and destroyed after each build - there is no Jenkins UI available.

[2019-05-21 10:18] garethjevans commented on #4013
/kind question

[2019-05-21 13:31] beebird commented on #3866
Thanks for you help and I have competed the lint test in the pull request.

About the different behavior between ``merge-base`` and ``rev-parse``, I can reproduce it in my public [repo](https://github.com/beebird/testrepo.git).

Below is a piece of my commit logs generated by ``tig log``, there're 3 commits (2 empty commits and one file change)
[code]

Then with ``git log $(git rev-parse v1.3.3^{}

[2019-05-21 15:08] hferentschik commented on #4032
What do you understand w/ all? All under the jenkins-x org or even repos under say jenkins-x-apps?
I agree it can be cumbersome to track issues, but I fear using the jx issue tracker for everything makes things worse.

So how do I reference an issue from another repo then? How would change log creation work? Would you have to mirror issues in jx in the affected repo?

[2019-05-21 15:16] Surya4DevOps commented on #3897
Hi,

I am also getting same error when I try to install my on premises kubernetes. Below is the more detailed info.

`[Surya@localhost jenkins-x-kubernetes]$ jx version
NAME               VERSION
jx                 2.0.150
Kubernetes cluster v1.14.1
kubectl            v1.14.1
helm client        Client: v2.14.0+g05811b8
git                git version 1.8.3.1
Operating System   CentOS Linux release

[2019-05-21 15:31] hferentschik commented on #4032
I think something like ZenHub or CodeTree might give us a bit more transparency since it allows to filter and search issues across all configured repos.

[2019-05-21 17:49] retr0h commented on #1153
@rawlingsj Could  you provide more details about this?  We have an internal domain that is not exposed on the public internet so we cannot use letsencrypt at all.  However, we would like to secure our endpoints with a self signed certmanger cert or a cert procured through our companies existing cert issuer.

I haven't had much luck figuring this out.

[2019-05-21 22:02] GingerBuffalo opened #4038 "jx step helm apply does not show any log output"
### Summary
My promote to staging job is succeeding, yet failing to deploy the release correctly/as expected. The deployment comes up incomplete, many pods are in failed state, many pods not loaded, and none of the configmaps for my release are there.

Attempts to manually generate the package by running helm package locally on the environment repo chart for the release don't reveal any issues. Th

[2019-05-21 22:38] vishalraina opened #4039 "jx install fails to install on EKS"
### Summary
jx install unable to complete install on existing EKS cluster
### Steps to reproduce the behavior
Run the following the command to install Jenkins x with both serverless or static
jx install --verbose --provider=eks --exposer=LoadBalancer
### Expected behavior
FInish install successfully and return URL for jenkins x
### Actual behavior
Removing Kubernetes resources from older releases

[2019-05-22 04:27] leosunmo commented on #2489
This is something that will probably stop me from properly using Jenkins X. Is there a nice way to use existing Chartmuseums and Docker registries right now even if it's not a "nice" out-of-the-box experience?

[2019-05-22 07:49] #4006 closed

[2019-05-22 08:24] hferentschik commented on #3866
Hmm, I am wondering how you constructed this repo. `git merge-base v1.3.3 master` and `git merge-base v1.3.4 master` both return `04f52fe8cd8b08cd0106a790d0c6eaa9cc68d610`. `71601b4` is not returned on the latter, since it is not on master. Have a look at the output of `git log --graph --all`. I'd argue the repo is not properly constructed since not all commits are on the main (master) branch.

Fo

[2019-05-22 08:40] dodwyer commented on #3936
I believe we are seeing a similar issue

`+ jx promote -b --all-auto --timeout 10m --pull-request-poll-time=60s --no-wait=true --version 0.0.7
Promoting app service-1 version 0.0.7 to namespace jenkins-x-staging
Created Pull Request: https://gitlab.example.com/jenkinsx/environment-faceheather-staging/merge_requests/6`

`WARNING: Failed to query the Pull Request last commit status for https://gitla

[2019-05-22 08:43] dodwyer commented on #3339
I'm tracking https://github.com/jenkins-x/jx/pull/4030 which aims to solve this.

[2019-05-22 09:04] kshitijcode opened #4040 "Jenkins X stuck waiting for next available executor"
### Summary

Jenkins X stuck waiting for next available executor.

### Steps to reproduce the behavior

Installed jenkins x using
`jx install --provider=aws`
Imported project using
 `jx import --no-draft from git`

Tried to execute the project

### Expected behavior
 Jenkins X stuck waiting for next available executor
### Actual behavior
Jenkins X should create a pod and execute the job.

### Jx v

[2019-05-22 09:14] #3996 closed

[2019-05-22 09:22] garethjevans commented on #4032
That's a great point @hferentschik, maybe apps would need to be managed separately.  This suggestion came from a conversation with @deanesmith about the use of ZenHub/CodeTree and how they weren't quite suited to multiple orgs/repos.  Let me do some analysis of where the open issues are and I'll post it on here.

[2019-05-22 09:42] hferentschik commented on #4032
I don't have full insight into the various repos under jenkins-x. Maybe there it might make sense to close some issue trackers and use jx. I would decide on a case by case basis depending on how the repo relates to jx. I have a feeling there also quite a few unused repos there.

Regarding jenkinx-x-apps, I feel quite strongly that they should be managed separately.

+1

[2019-05-22 10:26] garethjevans commented on #4032
Ok, the number of open issues by org are:

jenkins-x - 922
jenkins-x-charts - 13
jenkins-x-apps - 20
jenkins-x-buildpacks - 15
jenkins-x-images - 0
jenkins-x-quickstarts - 3

[2019-05-22 10:27] pmuir opened #4045 "Clone error in pipeline runner"
```{"level":"fatal","msg":"failed to clone three times it's likely things wont recover so lets kill the process after 3 attempts, last error: failed to fetch [pull/4042/head:PR-4042 3e1a943c00186c8aa364498201974c9ab734b353] from https://github.com/jenkins-x/jx.git in directory /tmp/git599291101: git output: error: Server does not allow request for unadvertised object 3e1a943c00186c8aa364498201974c

[2019-05-22 10:33] venkatagajara opened #4046 "jx console ui view is not opening"
I also tried running through the Spring demo and got the following errors:
[code]

_Originally posted by @jicowan in https://github.com/jenkins-x/jx/issues/888#issuecomment-398114021_

[2019-05-22 12:06] #4013 closed

[2019-05-22 12:13] tdcox opened #4049 "jenkins-x-controllerbuild goes into crash loop if parsing fails"
### Summary
During testing, I managed to create an app repository called '-service'. Parsing within controller_build.go correctly identified this as an invalid label but the end result was that the controllerbuild pod went into CrashLoopBackOff, bringing down the platform.

This should probably fail more gracefully when it detects a problem.

The log shows:

[code]
Deleting the faulty sourcereposi

[2019-05-22 12:18] beebird commented on #3866
I cannot recall exactly what I did with the repo, perhaps I pushed some tags on "release" without pushing "release" branch itself ...

Agree that we need more tests before merge to master. I can continue woking on this but may need your help. For example, if we run unit tests, how to confirm the commit hashes returned are correct? Or can we run some other tests to check if it works as expected?

[2019-05-22 13:30] garethjevans commented on #4032
In a bit more detail

[code]

[2019-05-22 13:30] garethjevans commented on #4032
actually, this number includes open pull requests too, will see if I can filter them out

[2019-05-22 14:17] hferentschik opened #4052 "Typo in test setup of step_create_task_test"
There is a typo in specifying the _testVersionsDir_:

[code]

Should be 'common_versions'. If changed, tests will fail, since now the dir will be picked up and some versions in the checked in YAML files won't match.

Need to update all test files.

[2019-05-22 14:20] yevgenytrcloudzone opened #4053 "jx create terraform -c dev=eks will return "error: invalid cluster provider""
### Summary
Upon trying to generate a Terraform code for EKS, `jx` return and error that only `gke` and `jx-infra` providers are support.
The [command docs](https://jenkins-x.io/commands/jx_create_terraform/) says that EKS and AKS are supported too, but that's not what I see in the related [source code](https://github.com/jenkins-x/jx/blob/master/pkg/jx/cmd/create_terraform.go#L259).

### Steps to

[2019-05-22 14:23] garethjevans commented on #4032
an updated list

[code]

[2019-05-22 14:31] abayer commented on #4052
Ha, that's sad. I'll work on it as soon as I can. =)

[2019-05-22 15:04] polothy commented on #2917
This actually turned into a problem for us.  With static Jenkins, it does a branch scan every 5 minutes.  For reach branch, it does API calls to our Bitbucket Server to check on the pull request status.  Kinda did a DDoS on our server.

[2019-05-22 15:16] jgarcows opened #4055 "jx create cluster iks tries to force kube version 1.10"
### Summary
If you run `jx create cluster iks` with no additional options, the wizard forces you to use kube version 1.10, which fails as it is deprecated within IKS.  IKS versions after 1.10 do not include docker, so issue #3971 also needs to be addressed for proper support.

### Steps to reproduce the behavior
run `jx create cluster iks`

### Expected behavior
All available versions should be sh

[2019-05-22 19:56] jhonissouza-ignite commented on #3741
Same error here, the only difference is that I'm trying to just follow the tutorial (https://jenkins-x.io/getting-started/tutorials/) and not installing on a preexisting cluster.
@wadadli have you found a solution to this?

[2019-05-22 22:53] clee-top opened #4058 "Error when installing Jenkins-X "error: configuring Jenkins: creating Jenkins API token: after 3 attempts, last error: creating Jenkins Auth configuration: unable to find external URL annotation on service jenkins in namespace jx""
### Summary
Trying to install JenkinsX on my own Kops cluster in an AWS environment.  I go through the install steps and at the end I get the error:

"error: configuring Jenkins: creating Jenkins API token: after 3 attempts, last error: creating Jenkins Auth configuration: unable to find external URL annotation on service jenkins in namespace jx"

### Steps to reproduce the behavior
I ran the comm

[2019-05-23 04:40] jwtodd commented on #582
@carlossg regarding the following:

i get a "too many files open" error when executing 'jx create addon istio'

[code]

i am running jx v2.0.160 on osx

[2019-05-23 05:14] ccojocar commented on #3906
This issue seems to be fixed.

[2019-05-23 05:14] #3906 closed

[2019-05-23 05:30] ccojocar commented on #3823
The build should start automatically after creating a quickstart. If not, you can start a pipeline with `jx start pipeline` and then pick the pipeline you want to start.

Are you still facing this issue with a current jx version? Can this be closed? Thanks

[2019-05-23 05:33] ccojocar commented on #3808
This should be fixed. Please could you try with a recent version? Can we close this issue? Thanks

[2019-05-23 05:43] ccojocar commented on #3628
The `upgrade platfrom` command does not setup a vault, only the install command. You can create a vault with `jx create addon vault-operator` and then `jx create vault <vault-name>`

[2019-05-23 07:07] #3831 closed

[2019-05-23 07:08] carlossg commented on #582
Yes, I got that too. A workaround is to do  `ulimit -S -n 512` iirc

[2019-05-23 09:20] #3628 closed

[2019-05-23 09:34] yrj2011 commented on #2954
大佬们。其他的GIT Server什么时候可以用呢？

[2019-05-23 09:51] #3143 closed

[2019-05-23 11:46] ruzin commented on #3896
same issue as well

[2019-05-23 13:34] hferentschik commented on #3866
No worries. I just started to create a generic test harness around git_cli. I will try to create all the basics and maybe even a couple of test cases just for the different scenarios around determining the commits for the changelog. I'll keep you posted.

[2019-05-23 13:42] hferentschik commented on #3866
I think there are three valid ways to go about doing releases:

- Everything is on master. When doing a release you create your release commit on master and tag on master. I guess this is still quite widely used. I am thinking maven here or Rake's Gem release tasks. In the case of Jenkins-X this is not working atm, since pushing the release commit to master would trigger an endless release loop. H

[2019-05-23 13:51] ruzin commented on #3896
@jstrachan

[2019-05-23 15:04] tdcox opened #4070 "jx env regression"
### Summary
The behaviour of `jx env` is inconsistent, dependent upon which environment you are currently in.

From within the jx context, `jx env` produces a list of environments to switch to, as expected.

Select 'staging' and the context is switched correctly to the staging environment.

Run `jx env` again and instead of a survey, you get the output you would expect from `jx ns -b`, listing the

[2019-05-23 16:57] jwtodd commented on #582
@carlossg i am on osx where ulimit is reportedly unlimited. regardless i will try again with the above ulimit applied. i also have a linux box available to me.

[2019-05-23 19:02] dgozalo opened #4071 "Error when attempting a shallow clone on a job running in `step_create_task`"
### Summary
There is currently an error when trying to execute a new build for an application.
When attempting to do a shallow clone of the repository, it fails with:

[code]

### Steps to reproduce the behavior

It's currently a dev only issue as I'm overriding the builder images with the current master code.

### Expected behavior
It should do the shallow clone without problems.

- [X] Next Gene

[2019-05-23 19:19] jigar-komodo commented on #3243
The pod's drive runs out of storage while building the docker image. @damian87x and @gerrito333 , were you able to find a solution?

[2019-05-23 19:24] aharya commented on #3823
I'll give it a try again tomorrow. Thanks!

[2019-05-23 19:52] #4071 closed

[2019-05-24 01:37] #3808 closed

[2019-05-24 05:55] amulobaev-aurea opened #4074 "jx delete application failure"
### Summary

I have an issue with command 'jx delete application'. It throws an error 'error: deleting application: 500 Server Error' without any details

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [ ] Next Generation (Tekton + Prow)
- [x] Classic Jenkins
- [ ] Serverless Jenkins (JenkinsFileRunner + Prow)

[2019-05-24 06:50] malingxin commented on #3897
FATAL: initialise build packs failed: git output: There is no tracking information for the current branch.
Please specify which branch you want to merge with.
See git-pull(1) for details

    git pull <remote> <branch>

If you wish to set tracking information for this branch you can do so with:

    git branch --set-upstream-to=origin/<branch> master: failed to run 'git pull' command in directory

[2019-05-24 08:08] #4045 closed

[2019-05-24 08:14] hferentschik commented on #4018
I've seen this myself a couple of times. Needs some investigation.

[2019-05-24 08:23] garethjevans commented on #4018
Are you using brew?

[2019-05-24 08:24] hferentschik commented on #4032
Right, so there are quite a few repos, but what are the pain points we would try to address by closing the issue tracker for all these repos except one?

If the main concern is that issues gets overlooked, I think CodeTree might be able to help. It lets you aggregate over multiple repositories and you can slice and dice the view with various sort and search filters. On top of that, we could then u

[2019-05-24 08:28] kshitijcode opened #4076 "JX not picking up new myvalues.yaml"
### Summary

JX not picking up new myvalues.yaml while doing  `jx upgrade platform`

### Steps to reproduce the behavior
While in ~/.jx folder, I have created a myvalues.yaml file.
I tried to update cluster using jx upgrade platform. It doesnt pick up the changes.

myvalues.yaml

`jenkins:
  Servers:
    Global:
      EnvVars:
        DOCKER_REGISTRY: "gcr.io"`

### Expected behavior
The environme

[2019-05-24 08:39] hferentschik commented on #3342
The current idea is to create a meta pipeline prior to the actual build pipeline. This meta pipeline gets also the source code injected and is then able to contribute to the pipeline by modifying the pipeline config (`jenkins-x.yml`) or any other file of the project (eg a `pom.xml`).

Once the meta pipeline is built and executed, the actual build pipeline is created and executed.

Apps can "regist

[2019-05-24 08:41] hferentschik commented on #3342
Related pull requests:

- #4004
- #4051

[2019-05-24 09:51] vfarcic commented on #4018
In my case if fails every once in a while with brew

[2019-05-24 09:54] hferentschik opened #4077 "step_create_task unable to retrieve git info"
When pipelinerunner triggers a Tekton build the following error occurs:

[code]

The problem is that `cloneGitRepositoryToTempDir` does not longer update `o.Dir`.

[2019-05-24 10:06] #4053 closed

[2019-05-24 11:53] abayer commented on #4052
Fixed this in #4064 but forgot to link.

[2019-05-24 11:53] #4052 closed

[2019-05-24 12:25] hferentschik commented on #3866
I closed PR #4027. I think more work is needed. Using `for-each-ref` seems to be ok, but I think we still need the discussed `merge-base` part. I added a bit of a test harness I think we can use to test all this. For now, I added some tests for `GetCurrentGitTagRev` and `GetPreviousGitTagRev`. You can find the tests on my dev branch https://github.com/hferentschik/jx/tree/issue-3866. Have a look w

[2019-05-24 12:39] hferentschik commented on #4018
Same here, also with brew.

[2019-05-24 12:42] hferentschik commented on #4077
Merged by pull request #4078

[2019-05-24 12:42] #4077 closed

[2019-05-24 16:51] sdoxsee commented on #3823
Thanks @ccojocar. I tried again today and I'm not able to get that far anymore. I'm unable to setup the cluster with jx using default options for `jx create cluster gke`. I've deleted my ~/.jx directory and made sure my `gcloud config get-value project` is pointing to a new project.
[code]
I don't mean to post a new issue within this one but I'm really struggling to get traction. I used to create

[2019-05-25 01:02] sdoxsee commented on #3823
I think I'm able to reproduce my original issue occasionally. I think my second issue is related and seems to get fixed when I clear my kubectl config which has multiple cluster entries. I don't understand all the details as would think that shouldn't matter. In any case this is no longer an issue for me. Thanks!

[2019-05-25 11:02] lgg42 commented on #3818
Could you post the contents of pipeline-git-secret.yaml changing some/most sensitive values characters?

[2019-05-25 11:33] lgg42 opened #4081 "Environment controller's ELB can't pass health checks"
### Summary

Helm install of environment controller can't register webhook because the ELB exposing the service never marks the EKS nodes as healthy.

### Steps to reproduce the behavior

`helm install jenkins-x/environment-controller -n environment-controller -f environment-controller-values.yml --debug --wait`

 environment-controller-values.yml:
[code]
Helm Charts tried:
- environment-controlle

[2019-05-25 18:44] afirth commented on #3915
would it be possible to move towards a yaml spec rather than command line flags? I know SIG cluster-api is doing a lot around there and will be allowing cluster creation. To me it would make sense to have the jx configuration in yaml, maybe even CRD - then checks can be done early and testing can be simplified. I think everything is already in the config object right?

[2019-05-26 13:49] sanigo commented on #479
@jstrachan Do I need to install a full jenkins x instance in the remote cluster, or the environment controller and ingress controller is enough?  And, does this feature work for static instance？

[2019-05-26 15:33] afirth opened #4082 "--no-tiller=true not respected or defaulted by init (watches ENV instead)"
### Summary
jx create/init/install fails in batch mode (and others sometimes) because the no-tiller flag is not respected. I think at https://github.com/jenkins-x/jx/blob/75a3e8bd1150077d832cbc0fc66bc6ea66db0c8c/pkg/jx/cmd/opts/common.go#L420

### Steps to reproduce the behavior

[code]

### Expected behavior

[code]

### Actual behavior

[code]

### Jx version

The output of `jx version` is:

[co

[2019-05-26 15:34] afirth commented on #2933
try `export JX_NO_TILLER=true`
see #4082

[2019-05-26 15:42] afirth commented on #3696
I get this on init when I don't set --domain and the cluster doesn't yet have an ingress controller

[2019-05-26 17:54] afirth commented on #3705
It also prompts for the project-id, and this option is also not supported.

[2019-05-27 02:34] beebird commented on #3866
Awesome! Your thought is more comprehensive and I agree that the merge-base can meet our requirement (and we can start from "master" branch and add support to "release" branch later)

I'll run some tests on your dev branch and provide feedback :)

[2019-05-27 05:15] jinjie2088 commented on #3897
[code]

[2019-05-27 09:35] enkicoma commented on #4081
Same issue here...
`jx version`
[code]

`jx create addon envctl -s https://*******@bitbucket.org/***/*****-service.git --project-id first-deploy --docker-registry ecr.io --cluster-rbac true`

got this issue:

`kubectl logs environment-controller-2r2
using require GitHub headers: true
waiting for the external IP on the service environment-controller in namespace client-test ...`

[2019-05-27 12:29] lgg42 commented on #4081
Is your ELB also marking nodes as unhealthy?

[2019-05-27 12:44] lgg42 commented on #4081
Well I just was informed of this other issue:
https://github.com/jenkins-x/jx/issues/3983 IDK if it could be the culprit, but I also tried Github with the same results...

[2019-05-27 13:18] gbonnefille opened #4085 "Add support for k3s"
### Summary

It would be great to support [k3s](https://k3s.io/) just like minishift or minikube.

### Kubernetes cluster

K3s

### Operating system / Environment

Linux

[2019-05-27 13:43] amulobaev-aurea commented on #4074
Hi. Any update?

[2019-05-27 19:21] vfarcic commented on #3392
I just upgraded the addons and `tide` is crashing with the same error in logs as what @akshayks described. It seems that the content of the `oauth-token` was removed during the upgrade.

[code]

[code]

I guess that a fast solution would be to recreate the secret, at least until the "real" issue is fixed.

Can someone let me know how I can do that (recreate the secret) if there is a `jx` command f

[2019-05-27 21:43] vfarcic commented on #3392
I just confirmed that `jx upgrade addons` sets `oauth-token` to an empty value.

[2019-05-27 21:49] vfarcic commented on #3392
... to be more precise, `jx upgrade addon jx-prow` is the problem.

[2019-05-28 03:23] sanigo commented on #479
Using a bitbucketserver, and it seems that envctl is not working...
`using require GitHub headers: true
using environment source directory https://git.****.com/jx/environment-jx-prod and external webhook URL: http://10.10.10.11/
verifying that the webhook is registered for the git repository https://git.****.com/jx/environment-jx-prod
error: failed to create git provider for git URL https://git.**

[2019-05-28 07:02] cdbkr opened #4087 "Pipelines not starting"
### Summary
Jenkins-x Serverless pipelines seem not running and PODS are stuck in Pending state.

### Steps to reproduce the behavior
Install a Cluster with Jenkins-x Serverless on GKE (standard setup)

### Expected behavior
Whenever a PR is being merged or a general commit is pushed to master, pipelines get started normally and steps are executed.

### Actual behavior
Whenever a PR is being merge

[2019-05-28 07:16] hferentschik opened #4088 "Remove Minishift/Minikube cluster options"
### Summary

Running Jenkins-X on Minishift/Minikube does not seem to be terribly useful given that these single node clusters won't be reachable from the outside, meaning that webhooks et all won't work.

There are also resource constraints. A full Jenkins-X install with all its components just takes too many resources for such a single node cluster.

Last but not least, Minishift is now in maint

[2019-05-28 09:57] freeo commented on #1012
Those workarounds are simply not necessary. Here's my first try (tested, working on GKE + GCR, Skaffold 0.29) which I came up with just by reading Skaffold documentation.

DIGEST_HEX etc are deprecated for a reason: a new tagging mechanism exists, that does this without using environment variables (envTemplate -> tagPolicy: sha256).

[code]

Removal of DIGEST_HEX etc is approaching - an issue ment

[2019-05-28 10:06] warrenbailey opened #4090 "jx create terraform fails when using terraform 0.12.0"
### Summary

When running `jx create terraform` using terraform 0.12.0 the command fails with multiple errors.

It seems there is validation in the latest version of terraform which means the terraform variables need to be defined upfront.

### Steps to reproduce the behavior
run `jx create terraform`

### Expected behavior
Command should run successfully

### Actual behavior
Command fails with:

[2019-05-28 10:15] dgozalo opened #4091 "Batch builds PipelineActivities have an expiration date lower than its comprising PRs"
### Summary
The Batch Builds PipelineActivities are garbage collected much sooner than its comprising PRs. This causes issues when trying to find information and logs about the build that merged those PRs.

### Steps to reproduce the behavior
Find a Batch Build and its comprising PRs. 2 days after merging, the batch build will be gone and only the PRs will remain, with outdated build logs as the l

[2019-05-28 10:31] #3741 closed

[2019-05-28 10:58] scheung38 opened #4092 "Win 10: choco install jenkins-x fails?"
### Summary
Win 10: choco install jenkins-x fails?

### Steps to reproduce the behavior
choco install jenkins-x

### Expected behavior

### Actual behavior
Error: unknown command "C:\\ProgramData\\chocolatey\\lib\\jenkins-x\tools\\jx.exe"" for "jx"

### Jx version
2.0.181

The output of `jx version` is:
Error: unknown command "C:\\ProgramData\\chocolatey\\lib\\jenkins-x\tools\\jx.exe"" for "jx"

#

[2019-05-28 13:12] heroic commented on #3463
@jstrachan  @ccojocar any update on this?

[2019-05-28 13:21] freeo commented on #3524
Those workarounds are simply not necessary. Here's my first try (tested, working on GKE + GCR, Skaffold 0.29) which I came up with just by reading Skaffold documentation.

DIGEST_HEX etc are deprecated for a reason: a new tagging mechanism exists, that does this without using environment variables (envTemplate -> tagPolicy: sha256).

[code]

Removal of DIGEST_HEX etc is approaching - an issue ment

[2019-05-28 13:33] desmondhume commented on #3369
I'm seeing the same when using [Dependabot](https://dependabot.com/). Has there been any progress on this issue? Thanks for your work!

[2019-05-28 14:41] pmuir opened #4094 "Validate upgrades to infra cluster using a staging cluster"
* Manual task to start with
* Should be fully automated (subsequent task)

[2019-05-28 14:43] pmuir opened #4095 "Promotion from staging cluster to infra cluster"
### Summary

### Steps to reproduce the behavior

### Expected behavior

### Actual behavior

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [ ] Next Generation (Tekton + Prow)
- [ ] Classic Jenkins
- [ ] Serverless Jenkins (JenkinsFileRunner + Prow)

### Kubernetes cluster

### Operating system / Environment

[2019-05-28 14:44] pmuir opened #4096 "Support parallel stages for tekton builds"
The most important repo is jenkins-x/jenkins-x-builders

[2019-05-28 14:48] pmuir opened #4097 "Improve observability of our infra"
Move from reactive to proactive.

Need to instrument everything we do.

Currently we use:
* prometheus
* stuff from our UI backend
* some stackdriver usage

Want to make sure our tools our OSS.

[2019-05-28 14:53] pmuir opened #4098 "Agressive cleanup of unused cloud resources"
### Summary

### Steps to reproduce the behavior

### Expected behavior

### Actual behavior

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [ ] Next Generation (Tekton + Prow)
- [ ] Classic Jenkins
- [ ] Serverless Jenkins (JenkinsFileRunner + Prow)

### Kubernetes cluster

### Operating system / Environment

[2019-05-28 14:56] pmuir opened #4099 "Observability of release build failure"

[2019-05-28 14:57] pmuir opened #4100 "Traceability of build failures"
If a release build fails (either in the project being build, or a downstream project) then alert the user(s) who triggered the changes

[2019-05-28 15:11] abayer commented on #4096
I know @rawlingsj hit some issues when he last tried this, but I don't know what they were.

[2019-05-28 15:24] lgg42 commented on #3683
Same thing over here. We want to use a different registry for the preview snapshots and we also note that even if `make preview` does the substitution well, the command `jx preview` outputs something different.

[2019-05-28 15:42] polothy commented on #479
Looks like the environment controller takes an arg to ignore GitHub headers, `--require-headers=false` - unsure how you pass that flag though, perhaps edit the deployment?

[2019-05-28 16:21] sanigo commented on #479
I am using bitbucket server not Github, and did not modify any deployment yaml file, I installed envctl like this:

`
jx create addon envctl -s https://git.jointforce.com/scm/jx/environment-jx-prod.git \
  --git-kind=bitbucketserver \
  --docker-registry swr.cn-north-1.myhuaweicloud.com \
  --cluster-rbac true \
  --user qianwch --token MzU4MTAzNDg4MzM4OrnH1tHzI9gj+T8g8Hg72GZP2FP6
`

[2019-05-28 16:27] sdoxsee commented on #3214
Hi @ccojocar. Is this closed because a mini nexus is no longer desired? I think it would be nice to have a mini nexus that doesn't require ~4GB RAM as a default deployment for the jenkins-x platform (https://help.sonatype.com/repomanager3/system-requirements#SystemRequirements-Memory).

[2019-05-28 16:35] pmuir opened #4101 "Gate PRs on coverage"
Gate PRs on coverage:

1. Project coverage must not decrease
2. Coverage of changeset in PR must be X% (where X is TBC - but should be higher than project coverage)

Goal is to steadily increase our coverage.

[2019-05-28 16:36] pmuir opened #4102 "Ensure we correctly cover the codebase"
Currently our coverage reports are only really covering unit tests. Improve them to cover all forms of testing

[2019-05-28 16:40] ccojocar commented on #3214
We have a solution for this https://github.com/jenkins-x/bucketrepo

[2019-05-28 16:53] pmuir opened #4103 "Establish matrix testing strategy"
We have a lot of tests, and lots of different clusters. How do we effectively run the tests?

[2019-05-28 17:00] sdoxsee commented on #3214
Boom! That's great. Thanks @ccojocar

[2019-05-28 18:32] rawlingsj opened #4104 "`jx create cluster gke` failing on latest jx"
### Summary

### Steps to reproduce the behavior
[code]

### Expected behavior

### Actual behavior

[code]

Unsure if related yet but I can see earlier in the console output a new error that I've not seen before when installing the ingress controller...
[code]
### Jx version
[code]

### Jenkins type

- [ ] Next Generation (Tekton + Prow)
- [ ] Classic Jenkins
- [x] Serverless Jenkins (JenkinsFile

[2019-05-28 18:34] rawlingsj commented on #4104
/priority critical-urgent
/area install
/assign rawlingsj

[2019-05-28 18:42] rawlingsj commented on #4104
Running `jx install gke --default-admin-password foo` after the failure above seems to get past the problem, I wonder if something has changed in the install order when create cluster is used.

[2019-05-28 19:02] jigar-komodo commented on #3243
Solution was to just increase the size of EBS volume thats attached to the worker node.

[2019-05-28 21:18] SimonKienzler commented on #3524
@freeo Thanks for pointing that out. Did you hard-code the Docker registry URI? I tried using the SHA256 tagging strategy, but could not use the templating approach that the old solution allowed for (by replacing the parameters in the envTemplate). If you found a way to combine both, that's great and I'd like to know how!

[2019-05-28 22:39] rawlingsj commented on #4104
Think I’ve almost got it, not sure why it’s started happening yet mind,  to start with we’re not catching the error returned error before the check here https://github.com/jenkins-x/jx/blob/master/pkg/jx/cmd/install.go#L2013 which means we carry on if there was an issue creating any of the CRDs.  There seems to be a timing issue with the API server being ready and there’s an exponential backoff th

[2019-05-28 23:47] rawlingsj commented on #4104
I think something must have changed with the way the local kube config file is but deleting `~/.kube/config` and adding extra logging to help in the future seems to have done the job.

[2019-05-28 23:54] rawlingsj commented on #4104
Hmm - I just created a second cluster and again the jx code which creates the CRD api client is pointing to the previous cluster, so there's still an issue here.  Will have to pick it up in the morning.

[2019-05-29 00:05] vfarcic commented on #3392
@ccojocar I believe that this should be changed to urgent. I tried it in GKE, EKS, and AKS clusters and the behavior is always the same. `oauth-token` becomes empty after executing `jx upgrade addon`. The only "special" thing I have in the cluster is that `jx` is not running in the default `jx` Namespace.

I tested it only in the serverless mode (tekton+prow) and cannot confirm whether the same th

[2019-05-29 01:22] sanigo commented on #479
Yes, I believe that it is not working currently.

[2019-05-29 07:49] paulk8s commented on #3776
any updates on this? I'm still facing this issue in GKE

[2019-05-29 07:50] ccojocar commented on #3392
@vfarcic Are you using vault or without? I will increase the priority.

[2019-05-29 08:26] warrenbailey commented on #4104
Still an issue so reopening

[2019-05-29 08:28] warrenbailey commented on #4104
Still an issue so reopening

[2019-05-29 08:35] derkoe commented on #4092
I have the same issue with simply downloading jx-windows-amd64.exe and renaming it to jx.exe

[code]

[2019-05-29 09:25] Guo-astro opened #4106 "ERROR: error creating cluster creating the system vault: unable to install vault operator"
### Summary
   When performing jx create cluster gke --verbose, the following error shows up

### Steps to reproduce the behavior

### Expected behavior
Success
### Actual behavior

### Jx version

The output of `jx version` is:
2.0.183

[code]

### Jenkins type

- [x] Next Generation (Tekton + Prow)
- [ ] Classic Jenkins
- [ ] Serverless Jenkins (JenkinsFileRunner + Prow)

### Kubernetes cluster

[2019-05-29 09:37] vfarcic commented on #3392
No Vault...

I created one of the clusters I used to test this with the command that follows.

[code]

The other two (EKS and AKS) used the same settings.

[2019-05-29 11:49] deepakkt-a opened #4110 "Custom build agents for windows"
Team,

I am reviewing this document - https://jenkins-x.io/getting-started/create-custom-builder/#readout - about building custom build agents.

Assuming my k8s cluster will have windows nodes, is there anyway to build custom windows build agents? Specifically

* Both base images are linux images
* How would I tell jx to filter nodes to use only the win agents for builds?

Is this at all possible

[2019-05-29 14:11] vfarcic opened #4114 "jx upgrade ingress ignores new environments, quickstarts, and imports"
### Summary

After executing `jx upgrade ingress --cluster true --domain acme.com`, the domain of all the existing apps in all the environments is correctly changed. However, if we add a new app (quickstart, import) or promote an app to an environment for the firsts time, it will continue using the old domain.

### Steps to reproduce the behavior

1. Create a quickstart and confirm that it is depl

[2019-05-29 14:15] vfarcic opened #4115 "jx version does gets confused between the new and the old releasse"
### Summary

When upgrading `jx` version, it offers a new release but instead upgrading the CLI it claims that I'm already running the latest.

### Steps to reproduce the behavior

[code]

[code]

### Expected behavior

It should have upgraded to 2.0.186 as suggested.

### Actual behavior

It claims that 2.0.184 is the latest version even though it offered to upgrade to 2.0.186.

### Jx version

T

[2019-05-29 14:28] sdoxsee commented on #3214
@ccojocar Curious if there is integration into jx for this yet? i.e. something like `jx install --bucketrepo` when you're creating a cluster or installing the jx platform? Or an addon `jx create addon bucketrepo`?

I wouldn't expect so since it's so new. Should a new issue be created for this? Thanks!

[2019-05-29 15:13] wenzlaff commented on #3845
@tdcox could you please close this issue or does it still exists?

[2019-05-29 15:37] lachaib opened #4118 "jx install/jx create cluster minikube/minishift fails on fault creation even when"
### Summary
When trying to install jenkins on my minishift or minikube cluster, either via install or create cluster, it fails at vault creation, as not supported on these providers.

### Steps to reproduce the behavior

jx install --git-provider-kind bitbucketserver --git-provider-url https://**** --git-username lchaib --ng=true --remote-environments=true --environment-git-owner=lchaib --long-ter

[2019-05-29 16:10] #3801 closed

[2019-05-29 16:10] #3816 closed

[2019-05-29 16:10] #3826 closed

[2019-05-29 17:02] daveconde commented on #4104
Fixed in #4108

[2019-05-29 17:03] daveconde commented on #4104
/close

[2019-05-29 17:32] porterja31 commented on #3818
I'm also seeing a similar error now when trying to install using tekton. I think it might be related to the fact that our enterprise github uses only numbers for our user names ie. our 9 digit employee numbers.

`error: configuring and installing Prow: installing Prow: failed to install Tekton: after 2 attempts, last error: Failed to run helm template --name tekton --namespace jx /var/folders/yv/t

[2019-05-30 08:26] pmuir opened #4119 "Improve bdd tests on PRs to test cluster creation"
Tricky, as it's slow and resource intensive, but needed!

[2019-05-30 08:28] pmuir opened #4120 "Only release the jx binary once versions has fully passed"
Right now we release the jx binary on every PR. We should make these "pre-releases" and do the final release once versions has passed. This will need to update github, chocolatey, the website, brew dockerhub and dev-env

[2019-05-30 10:15] macox commented on #3915
/assign macox

[2019-05-30 11:51] dimmel82 opened #4125 "jx promote fails with "no repository found" due to Gitlab api pagination"
### Summary
The `jx promote` command fails with error `no repository found with name XX` on some environments when the user's group has more than 20 projects, as the default page size of the Gitlab API is 20.
### Steps to reproduce the behavior
Commit a change to a project which promotes on an environment that is not among the results of https://mygitlab/api/v4/groups/om/projects nor https://mygit

[2019-05-30 12:04] pmuir opened #4126 "Adjust roles on tests so they can't affect things in infra cluster"
We had an issue where, due to a bug in the jx cli, the context didn't change before the test was run. This resulted in the code updating the team settings in the infra cluster, not the cluster it was creating. We should correctly permissions the service account used to run the tests

[2019-05-30 12:05] garethjevans commented on #4115
Are you using brew to install jx?

[2019-05-30 12:05] garethjevans commented on #4120
This should help fix #4115

[2019-05-30 12:09] pmuir opened #4127 "Find, or build, a test portal"
This will help us understand tests. Thoughts so far include https://testgrid.k8s.io/ and reportportal.io

[2019-05-30 12:55] lgg42 commented on #3441
How is the fix?
We are experiencing this issue just overnight, without any change in JX's platform or k8s cluster. We had another JX PoC cluster and it's algo failing there.

What's failing is `jx preview` with error error: `User.****.io "" is invalid: metadata.name: Required value: name or generateName is required`
It fails in all projects, all branches, for all users (we use Google OAuth Login p

[2019-05-30 13:46] vfarcic commented on #4115
Yes.

[2019-05-30 14:15] abayer opened #4131 "Unofficial image used for GitMergeImage in steps"
See https://github.com/jenkins-x/jx/blob/master/pkg/tekton/syntax/pipeline.go#L29 - I don't know why we're using this and not a normal released image, but it should be fixed.

cc @rawlingsj

[2019-05-30 14:26] rawlingsj commented on #4131
Agreed, it was originally mine because we needed it to release the change itself.  Chicken / Egg style.  PR above should sort it.

[2019-05-30 14:29] abayer opened #4133 "Identify and formalize all the images used in Makefile.docker and jenkins-x-*.yml"
In `Makefile.docker`, we use the images `rawlingsj/jx:dev207` and `rawlingsj/builder-base:dev16`, while in various `jenkins-x-*.yml`s, we use the images `rawlingsj/executor:dev31` and `rawlingsj/executor:dev40`. It'd be good to at least know what those images are, why we're using those specific repos/tags, etc.

[2019-05-30 14:30] abayer commented on #4131
Nice! I'm just going through a list of things that confused me or were unclear that I've accumulated and opening tickets for 'em. =)

[2019-05-30 14:42] garethjevans commented on #4090
Closing this as its now implemented

[2019-05-30 14:44] garethjevans commented on #4115
I think this is caused by the jx check looking directly at github, but the homebrew-jx release has not yet completed

[2019-05-30 14:45] garethjevans commented on #4115
there is a window where this could happen.  We are moving the homebrew-jx update downstream of jenkins-x-versions (rather than jx) to improve this

[2019-05-30 14:46] vfarcic commented on #4115
Can we make the release process wait until homebrew-jx update is finished? Otherwise, it is misleading at best.

[2019-05-30 14:48] abayer commented on #3889
Oh hey, I actually did this already - `workingDir` on a stage.

[2019-05-30 14:48] #3889 closed

[2019-05-30 14:48] vfarcic commented on #4115
I don't think it's a "window". I just run the following.

[code]

The output is:

[code]

So, it tried to move me 4 releases ahead but it exited thinking that the one four releases ago is the current one.

[2019-05-30 14:49] garethjevans commented on #4115
The idea is that the initial jx binary release with be marked as a "pre-release", and only when jenkins-x-versions has passed, the jx binary will be marked as verified

[2019-05-30 14:49] abayer commented on #3836
This actually is fixed now, or should be at least.

[2019-05-30 14:49] #3836 closed

[2019-05-30 14:49] garethjevans commented on #4115
we will need to make some changes to jx to support this

[2019-05-30 14:52] #3538 closed

[2019-05-30 14:54] abayer commented on #3225
Is this still incomplete?

[2019-05-30 14:55] abayer commented on #3209
I believe this is ok now - we do test for this.

[2019-05-30 14:55] #3209 closed

[2019-05-30 14:57] abayer commented on #2865
This is long since done. =)

[2019-05-30 14:57] #2865 closed

[2019-05-30 15:24] abayer opened #4134 "Document how a new jx binary release gets into an actual fresh install"
This is a constant source of frustration for me: it's extremely non-obvious to a novice when a merged change to `jx` actually will end up in a fresh install of a cluster. Tracing where that merged change gets picked up downstream, where those downstream changes get picked up, etc, is basically a manual process that requires knowing how all the pieces fit together.

We should really document this (

[2019-05-30 18:13] abayer commented on #4133
cc @rawlingsj since you're probably the best qualified to at least provide initial information. =)

[2019-05-30 18:54] rebelok commented on #4106
Got same error when tried to create GKE using command: `jx create cluster gke --skip-login --default-admin-password=mypassword -n jx-cluster --ng=true --tekton`

[2019-05-30 21:07] chenfli commented on #3564
Thanks @Igg42,
I retested it on JX version 2.0.154 and it works.
Closing the issue

[2019-05-30 21:07] #3564 closed

[2019-05-30 21:14] abayer opened #4138 "make test-slow-integration got...a lot slower"
At some point between `v2.0.150` (a tag I picked arbitrarily to use for comparison) and `master` as of when I did this test (36dcf875c1d33d1caf49e036c0e4b9fb0e9d4aa6), the time it took to run `make test-slow-integration` on my beefy desktop went from 379s to 696s. I'm not sure what caused this, but it's probably worth investigating.

[2019-05-30 21:23] savealive commented on #667
I managed to fix it by changing following in ingress resource:
```nginx.ingress.kubernetes.io/rewrite-target: / => nginx.ingress.kubernetes.io/rewrite-target: /$1```
```path: / => path: /?(.*)```
```path: /api/ => path: /api/?(.*)```

[2019-05-30 22:02] abayer commented on #4138
Ah, ignore this, it's just that parallelism was turned off.

[2019-05-30 22:02] #4138 closed

[2019-05-31 06:54] DenisPalnitsky commented on #4101
Is that for internal JX development or for common BuildPacks?

[2019-05-31 12:07] tdcox commented on #3463
Looks like there is a problem with the permissions for the role, but also I think there is an issue where vault has been installed using tls. I'm seeing a message: `error: no "jx-vault-coda-01" found in namespace "jx"` which I'm guessing is a secret and which is called `"tls-jx-vault-coda-01"` in my deployment.

[2019-05-31 12:14] garethjevans commented on #4134
@abayer - I've got some illustrations of the dependencies involved in this - have you got a suggestion as to where I should put them?

[2019-05-31 12:45] abayer commented on #4134
That's a good question...I'd guess somewhere in https://jenkins-x.io/contribute/development/, though that feels like it probably should be broken up into multiple pages. @pmuir, @rawlingsj - does it seem reasonable to add things like code review policy, test/coverage expectations, and maybe a quick guide to what's where in both `jx` and the various other repositories there?

[2019-05-31 12:56] okgolove commented on #1332
Any progress here?

[2019-05-31 13:10] lachaib commented on #4118
Added --no-gitops-vault and it went further, though seems counter intuitive, maybe the condition should be reworked in vault.go

[2019-05-31 13:37] dimmel82 commented on #3715
Closed with https://github.com/jenkins-x/charts/pull/14

[2019-05-31 13:37] #3715 closed

[2019-05-31 14:25] rawlingsj opened #4144 "A new logo for Jenkins X"
Back in March 2018, the Jenkins X project burst onto the scene as the Jenkins counterpart for automated CI/CD for Kubernetes. As part of that launch featured the logo: a variation of the Jenkins logo, featuring a pipe-smoking ship captain with Kubernetes logo on his cap.

In software, we like to say that naming is hard - because it is. Another thing that is also hard is trying to capture the essen

[2019-05-31 14:35] kmadel commented on #4144
🎉

[2019-05-31 14:37] heroic commented on #4144
The robot appears a tad creepy! He doesn't come across as very helping

[2019-05-31 14:37] warrenbailey commented on #4144
Looks awesome, I'm voting for 🚀

Though I think it would look good with the fat X positioned behind and in the middle of the Jenkins text, then I might change my vote

[2019-05-31 14:39] moritzplassnig commented on #4144
I like it overall. A few comments:
 • Maybe it's just me, but the robot looks a bit too angry (vs. helpful/welcoming/etc.)
 • Good that it's different from Jenkins because we still share the name so it's the right balance between acknowledging the link and making Jenkins X more independent
 • I heard feedback that it looks a tiny bit too much like the Tekton logo

[2019-05-31 14:41] daveconde commented on #4144
🚀

[2019-05-31 14:53] edwardmlyte commented on #4144
I like that it's ginger and white, like me

[2019-05-31 14:59] nukepuppy commented on #4144
I mean the little captain jenkins was still very cool...

[2019-05-31 15:01] tdcox commented on #4144
For my part, none of the logos to date really answer the question “Would you trust all of your critical infrastructure to this product?” with the degree of confidence I think is necessary from a corporate logo. The new robot certainly manages to convey a mix of ‘cutesy’, ‘psychopathic’ and ‘snappy dress sense’ that I’ve never seen in any other product marketing…

[2019-05-31 15:10] tdcox commented on #4144
The new design style on the CloudBees homepage is much better, in my opinion. Corporate but still friendly and approachable without being too cute.

https://dribbble.com/shots/5303198-DevOptics?utm_source=Clipboard_Shot&utm_campaign=johnwlong&utm_content=DevOptics&utm_medium=Social_Share

[2019-05-31 15:17] deanesmith commented on #4144
A little facial hair may not hurt - ![image](https://user-images.githubusercontent.com/45019790/58715789-98e4ad80-8395-11e9-8c57-1f601e4ca4e8.png)

[2019-05-31 15:47] abayer opened #4147 "Add tests for "get build logs" with filtering"
### Summary

We don't really have any test coverage for `jx get build logs`, particularly with filtering. This is a thing we should add.

### Steps to reproduce the behavior

Check coverage for `get_build_logs.go` and `build_info.go`.

### Expected behavior

There's some coverage.

### Actual behavior

There isn't really any.

[2019-05-31 16:15] shahnewazrifat commented on #2016
@mikaelmh Can you please guide me how you reset the pass ? We're running Tekton and not Jenkins. Wonder what are the steps you followed.

~/.jx/chartmuseumAuth.yaml is empty like so:
```currentserver: ""

[2019-05-31 16:26] shahnewazrifat opened #4149 "Tekton: error: No Pipeline found for name PIPELINE_NAME in values:"
### Summary
I'm getting a
`error: No Pipeline found for name trilogy-group/angular7-example-app/master in values:`
When running:
`jx get build logs PIPELINE_NAME`
Although I can see the pipeline present when I run
`jx get pipelines`
And even I can see it in `deck`
### Steps to reproduce the behavior
jx import --url SOME_GIT_URL
### Expected behavior
shows the build logs
### Actual behavior
Shows e

[2019-05-31 17:08] kyounger commented on #4144
I agree with all the highlighted issues you mention.

Honestly the awkward smile is an an artifact of our "weird face detection" part of our brains. I think it's because of the lines that go from the corners of the smile to the edge of the face. I removed them here to show you that the smile looks more "happy" and less creepy without them. (Not saying this should be the end result, just illustrati

[2019-05-31 17:42] rawlingsj commented on #4144
All great feedback - keep it coming

[2019-05-31 17:52] surlyengineer commented on #4144
My 2¢ as a random user: so long as its called "jenkins <anything>", the semantic confusion isn't coming from the _logo_ . I like the logo as it stands today, but regardless of the merits of the robot itself if we're looking to cut down on the confusion/influence of jenkins, probably have to start with the name.

[2019-05-31 18:10] abayer commented on #4149
Verified that this is the case - but the approach used with classic Jenkins here doesn't really apply to Prow/Tekton/etc very well, so we need to think about what the solution is.

For now, you can use filters, though - so `jx get build logs --repo=angular7-example-app --owner=trilogy-group --branch=master` will get you basically the same results you're expecting.

[2019-05-31 18:20] polothy commented on #4144
@kyounger that does look way more friendly

[2019-06-01 13:19] alexvolsh commented on #3441
The same issue with 2.0.204. Any ideas on how to fix that?

[2019-06-01 13:24] alexvolsh commented on #3620
The same issue with 2.0.204. Any ideas on how to fix that?

[2019-06-01 14:56] enkicoma commented on #4081
@lgg42 yep, ELB is making nodes unhealthy.. or maybe something else in the background is making the nodes unhealthy. Did you succeed?

[2019-06-02 06:59] shahnewazrifat commented on #4149
Thanks for confirming @abayer !
It's confusing as after the `jx import` that's the suggested command shown in output terminal.

[2019-06-02 07:03] shahnewazrifat commented on #4149
`jx get build logs --repo=angular7-example-app --owner=trilogy-group --branch=master`
Yields the same error though.

[2019-06-02 15:16] lgg42 commented on #4081
I haven't :-(

[2019-06-03 06:03] derrickburns opened #4160 "golang-http quickstart is out of date"
### Summary
[code]

[code]

### Steps to reproduce the behavior

### Expected behavior

### Actual behavior

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [ ] Next Generation (Tekton + Prow)
- [ ] Classic Jenkins
- [ ] Serverless Jenkins (JenkinsFileRunner + Prow)

### Kubernetes cluster

### Operating system / Environment

[2019-06-03 08:44] alexvolsh commented on #3441
Seems like it was a problem with bitbucket cloud itself because everything it working now, without any changes from my side.

[2019-06-03 08:44] alexvolsh commented on #3620
Seems like it was a problem with bitbucket cloud itself because everything it working now, without any changes from my side.

[2019-06-03 09:52] warrenbailey commented on #4160
I've just tried this and it works for me using the latest jx on an next generation cluster.

warrenbailey/jenkinsx-test-project/master #3               3m22s    3m19s Succeeded Version: 0.0.1
  from build pack                                          3m22s    3m19s Succeeded
    Credential Initializer Zdlbb                           3m22s       0s Succeeded
    Working Dir Initializer 9r96b

[2019-06-03 09:53] warrenbailey commented on #4160
It actually looks like you have a problem with the docker build.

Could you give me more information on your setup? Which type of Jenkins are you using? and the output of 'jx version' ?

[2019-06-03 10:25] warrenbailey commented on #4087
hi @cdbkr is this a tekton or JenkinsFileRunner based cluster?

I created a Tekton cluster today and this all works for me. Is it still an issue for you?

Also looks like your cluster is maxed out on cpu? Have you tried increasing the clusters resources?

[2019-06-03 10:29] warrenbailey commented on #4118
Agreed, it sounds like the condition to disable vault needs looking at.

[2019-06-03 10:56] warrenbailey commented on #4110
I'm not sure I understand your question. I'm assuming your Windows nodes have the container runtime on them, i.e docker? If so, you should be able to run linux based build images on them?

Or do you want build agents that are running window based containers?

[2019-06-03 11:02] warrenbailey commented on #4106
Hi @rebelok, we've had a few vault issues lately. I've tried creating a cluster today with jx version 2.0.210 by using the following command and it worked for me.

`jx create cluster gke  --default-admin-password password --zone europe-west1-c --cluster-name warren-1 --ng`

Please could you upgrade your 'jx' binary and try again?

[2019-06-03 11:04] warrenbailey commented on #4090
Fixed in https://github.com/jenkins-x/jx/pull/4121

[2019-06-03 11:04] #4090 closed

[2019-06-03 11:24] warrenbailey commented on #4019
This may be fixed in the latest version of jx, @heroic any chance you could retry it?

[2019-06-03 11:30] freeo commented on #4144
The color design looks like "work in progress": The main blueish color is rather weak (little character). I'd suggest a more saturated color. And the usage of orange seems odd. Why are the eyes orange? I'd suggest a different hightlighting color. The orange bowtie is nice. I'd even make the bowtie bigger as it is the main differentiator - Robot logos are plenty these days and will grow much more i

[2019-06-03 11:45] lachaib commented on #4118
`if options.Flags.GitOpsMode && !options.Flags.NoGitOpsVault || options.Flags.Vault {`

I don't know enough Go to know how this expression is resolved, but most languages I master more would complain to have parentheses to waive ambiguity

[2019-06-03 11:47] cdbkr commented on #4087
Hi @warrenbailey , thanks, it was a tekton based cluster.
Please, let me try recreating the cluster with a newer jx version + increasing the resources. I am double checking it.

[2019-06-03 12:08] #4091 closed

[2019-06-03 12:55] derrickburns opened #4164 "App with multiple images"
### Summary

### Steps to reproduce the behavior

### Expected behavior

### Actual behavior

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [ ] Next Generation (Tekton + Prow)
- [ ] Classic Jenkins
- [ ] Serverless Jenkins (JenkinsFileRunner + Prow)

### Kubernetes cluster

### Operating system / Environment

[2019-06-03 12:55] derrickburns opened #4165 "App with multiple images"
### Summary

I am confused.  I have a (typical) app that uses several microservices.
Each micro service is built from a separate repo.
Each micro service is unit tested independently.
However, integration tests require all micoserrvices to be
Present and running.

So, how do you create a preview environment with that latest
Versions off all the micro services if the preview
Environment is defined

[2019-06-03 13:04] DenisPalnitsky commented on #4110
We want build-agents that runs Windows containers.  To implement .NET Framework CI pipeline (build and unit-tests) we need to run build tools like MSBuild that works only on Windows.

Please don't confuse with .NET Core that could run on Linux.

[2019-06-03 13:07] #4164 closed

[2019-06-03 14:14] rawlingsj commented on #29
/lifecycle stale

[2019-06-03 15:56] derrickburns commented on #4160
Done. See above.

[2019-06-03 15:57] derrickburns opened #4168 "version upgrade bug"
### Summary

[code]

### Steps to reproduce the behavior

### Expected behavior

### Actual behavior

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [ ] Next Generation (Tekton + Prow)
- [ ] Classic Jenkins
- [ ] Serverless Jenkins (JenkinsFileRunner + Prow)

### Kubernetes cluster

### Operating system / Environment

[2019-06-03 21:09] valiksb opened #4169 "Jx create for kotlin failing"
### Summary
Until a couple of weeks ago we were able to create a new Springboot project for kotlin using the following command. It seems with the latests version we lost that ability
### Steps to reproduce the behavior

1. jx create spring -d web -d actuator --git-provider-url https://bitbucket.org --type gradle-project
2. Choose bitbucket user and all the other steps default until you get to whic

[2019-06-03 23:45] sdoxsee commented on #4144
I admire the effort to work on branding but I'm now sure about the logo. Looks a bit like an upside down bird/koala with a bow on its head? Kinda agree with @surlyengineer that the confusion is more about the name than the logo. I quite like the existing logo.

[2019-06-04 00:50] michaelneale commented on #1379
I think this is already possible - documented on the site. Closing I think? IN future can make default serverless.

[2019-06-04 00:50] #1379 closed

[2019-06-04 01:20] sdoxsee commented on #1150
/remove-lifecycle stale

[2019-06-04 04:07] bjfr commented on #4144
I don't like it. The color is hideous, the form is much to complex. A logo should be simple, but still express what the product stands for.

[2019-06-04 04:31] sboardwell commented on #2563
/remove-lifecycle stale.

[2019-06-04 05:46] papanito commented on #2339
@ccojocar any chance that this will be picked up some time?

[2019-06-04 07:38] stieler-it commented on #2816
/remove-lifecycle stale

[2019-06-04 07:48] jstrachan commented on #3112
a build pack for fastlane would rock!

[2019-06-04 07:55] rawlingsj commented on #3112
/remove-lifecycle stale

[2019-06-04 08:51] davidcurrie commented on #3012
I have no personal requirement for this but my expectation is that `--no-import` would just prevent the project being added to Jenkins X but should otherwise generate the same files. If there's no particular interest in promoting `jx create quickstart` as a tool for generating best practice projects regardless of whether they are then going to be built/deployed with Jenkins X then this can be clos

[2019-06-04 08:52] davidcurrie commented on #2921
This one shouldn't be allowed to just slide as it's a pretty likely scenario.
/remove-lifecycle stale

[2019-06-04 08:53] msvticket commented on #2153
/remove-lifecycle stale

[2019-06-04 08:54] msvticket commented on #1880
/remove-lifecycle stale

Also I would argue that this is not an enhancement but a bug.

[2019-06-04 08:57] davidcurrie commented on #2627
Unless something has changed, this still seems like something we should be doing:
/remove-lifecycle stale

[2019-06-04 08:59] davidcurrie commented on #2633
I believe a fix for this went in

[2019-06-04 08:59] #2633 closed

[2019-06-04 09:07] msvticket commented on #2706
/remove-lifecycle stale

[2019-06-04 09:31] msvticket commented on #2705
/remove-lifecycle stale

[2019-06-04 09:39] msvticket commented on #2837
/remove-lifecycle stale

[2019-06-04 09:40] msvticket commented on #1849
/remove-lifecycle stale

[2019-06-04 09:41] msvticket commented on #1848
/remove-lifecycle stale

[2019-06-04 09:41] msvticket commented on #1839
/remove-lifecycle stale

[2019-06-04 09:52] warrenbailey commented on #604
FIxed

/close

[2019-06-04 09:52] #604 closed

[2019-06-04 10:45] garethjevans commented on #4133
/priority important-soon
/kind bug
/area tekton

[2019-06-04 10:45] garethjevans commented on #4133
/assign @rawlingsj

[2019-06-04 11:01] warrenbailey commented on #4160
/remove priority/awaiting-more-evidence

[2019-06-04 11:03] warrenbailey commented on #4160
/remove-priority/awaiting-more-evidence

[2019-06-04 11:03] warrenbailey commented on #4160
/kind bug

[2019-06-04 11:06] warrenbailey commented on #4110
/remove-priority awaiting-more-evidence

[2019-06-04 11:09] garethjevans commented on #3449
/priority important-soon

[2019-06-04 11:10] garethjevans commented on #4134
/priority important-soon

[2019-06-04 11:11] garethjevans commented on #4125
/kind bug
/area gitlab
/priority important-soon

[2019-06-04 11:12] garethjevans commented on #4103
/priority important-soon
/kind enhancement
/area testing

[2019-06-04 11:13] warrenbailey commented on #4110
Ah ok, I understand now. Basically you want a builder image that extends from the windows container. This is not something we have right now but definitely something to add in the future.

[2019-06-04 11:13] warrenbailey commented on #4110
/kind enhancement

[2019-06-04 11:14] warrenbailey commented on #4110
/priority backlog

[2019-06-04 11:14] garethjevans commented on #4102
/priority important-soon
/kind enhancement
/area quality

[2019-06-04 11:14] garethjevans commented on #4101
/priority important-soon
/kind enhancement
/area quality

[2019-06-04 11:14] warrenbailey commented on #4110
/remove-kind question

[2019-06-04 11:14] garethjevans commented on #4099
/priority important-soon
/kind enhancement
/area quality

[2019-06-04 11:14] garethjevans commented on #4099
/priority backlog

[2019-06-04 11:15] warrenbailey commented on #4118
/assign warrenbailey

[2019-06-04 11:15] garethjevans commented on #4100
/priority backlog
/area quality
/kind enhancement

[2019-06-04 11:16] garethjevans commented on #4100
/area infra

[2019-06-04 11:19] garethjevans commented on #4120
/area quality
/kind enhancement
/priority important-soon

[2019-06-04 11:24] garethjevans commented on #4094
/priority backlog
/area quality
/kind enhancement

[2019-06-04 11:24] garethjevans commented on #4095
/priority backlog
/area quality
/kind enhancement

[2019-06-04 11:24] garethjevans commented on #4096
/priority backlog
/area quality
/kind enhancement

[2019-06-04 11:24] garethjevans commented on #4097
/priority backlog
/area quality
/kind enhancement

[2019-06-04 11:25] garethjevans commented on #4098
/priority backlog
/area infra
/kind enhancement

[2019-06-04 11:25] garethjevans commented on #4119
/priority backlog
/area quality
/kind enhancement

[2019-06-04 11:25] garethjevans commented on #4126
/priority backlog
/area infra
/kind enhancement

[2019-06-04 11:26] garethjevans commented on #4127
/priority backlog
/area quality
/kind enhancement

[2019-06-04 11:27] garethjevans commented on #3964
/priority backlog
/area logs
/kind enhancement

[2019-06-04 11:28] garethjevans commented on #4131
/priority important-soon
/area tekton
/kind bug

[2019-06-04 12:32] afirth commented on #1010
/remove-lifecycle stale

This is actually "in" the feature set for something (upgrade ingress maybe?) but totally broken depending on the path the user tries to go down. Even if the answer is to add the annotation to everything but not install it, that would be a good resolution I think.

[2019-06-04 12:51] warrenbailey commented on #3225
We've moved all the main ones now, I think we're safe to close this issue

[2019-06-04 12:51] warrenbailey commented on #3225
/close

[2019-06-04 12:51] #3225 closed

[2019-06-04 12:56] warrenbailey commented on #3915
/unassign warrenbailey

[2019-06-04 12:57] warrenbailey commented on #4082
/kind bug

[2019-06-04 13:20] warrenbailey commented on #4118
Actually I think the problem here is the use of --ng=true and --vault=false. The ng flag enables all next generation features including vault and overrides the value of the vault flag.

[2019-06-04 13:28] dosa9876 commented on #3880
Did you get anywhere with this problem. I'm seeing the exactly the same issue.

[2019-06-04 13:30] DenisPalnitsky commented on #4110
I wonder how long it will take to add this?
I would be happy to help with implementation however I need some guidance on what has to be done.
Right now my understanding is that we need builder-base based on Windows but would that be enough to just have an image similar to [this](https://hub.docker.com/_/microsoft-windows-base-os-images) but based Windows?

_We work on POC based on JenkinsX that wi

[2019-06-04 13:34] abayer commented on #3232
Actually got this done a while ago. =)

[2019-06-04 13:34] #3232 closed

[2019-06-04 13:44] warrenbailey commented on #4118
Based on operator precedence that if statement will evaluate the && first and then the ||

https://golang.org/ref/spec#Operator_precedence

[2019-06-04 13:45] warrenbailey commented on #4118
/remove-priority backlog

[2019-06-04 13:45] warrenbailey commented on #4118
/remove-area vault

[2019-06-04 13:50] warrenbailey commented on #4118
@macox I think we could tackle this under https://github.com/jenkins-x/jx/issues/3915

Might be worth adding some validation or a warning if you try to enable --ng but disable --vault

[2019-06-04 14:23] warrenbailey commented on #4118
@lachaib can you try removing the --ng flag and adding --tekon instead?

[2019-06-04 14:41] porterja31 commented on #3897
GC02XK0M9JG5ME:jenkins-x-classic 212739507$ git branch --set-upstream-to=origin/master master
fatal: Cannot setup tracking information; starting point 'origin/master' is not a branch.

[2019-06-04 15:05] rebelok commented on #4106
I've successfully created gke cluster using this command: `jx create cluster gke --skip-login --default-admin-password password --zone europe-west1-c --cluster-name jx-cluster-1 --ng --tekton`

[2019-06-04 15:10] rawlingsj opened #4172 "Add a `--minimal` flag for jx install so which only installs the bare minimum needed to run Jenkins X pipelines"
To start with lets avoid installing unnecessary controllers, nexus and monocular.
/kind enhancement
/area install
/assign rawlingsj

[2019-06-04 15:18] jtnord commented on #4144
Specifically I think it's eyes look creepy like it is trying to hypnotise you into committing <insert some evil act here>.
Subjectively I don't like it. It does not convey the relevance to me and it makes me think of a generic kids toy.

[2019-06-04 18:04] shahnewazrifat commented on #2969
Any update on this one? Facing the same on fresh jx installation with Tekton as pipeline runner

[2019-06-04 18:13] szprutamich opened #4173 "Wrong annotation from flag --ingress-class"
### Expected behavior
Add annotation to generated ingresses:
kubernetes.io/ingress.class: PROVIDED_CLASS

### Actual behavior
Added annotation to ingresses:
nginx.ingress.kubernetes.io/ingress.class: PROVIDED_CLASS

### Jx version
The output of `jx version` is:

[code]

### Kubernetes cluster

EKS

[2019-06-04 18:47] sdoxsee commented on #3823
I keep hitting this issue. The only way I can fix it is by blowing away everything and tearing down my project in GCP. `jx start pipeline` doesn't do anything

[2019-06-04 19:10] rainmanh commented on #3828
Anyone?
Maybe to have the chance of using a custom URL instead of the hardcoded one?
Makes any sense?

[2019-06-04 19:16] rawlingsj commented on #3828
we have a https URL which goes direct to the GCS bucket https://storage.googleapis.com/chartmuseum.jenkins-x.io - I think that should solve this issue but please reopen if not.

[2019-06-04 19:17] maflaven commented on #2647
/remove-lifecycle stale

[2019-06-04 19:23] rainmanh commented on #3828
@rawlingsj , apologies.
I forgot to mention I am using
```jx install``` over an existing EKS cluster and I noticed the `http://chartmuseum.jenkins-x.io` is hardcoded in the *jx* binary instead.

Anyway around running the `jx install` adding the `https://storage.googleapis.com/chartmuseum.jenkins-x.io` as the bucket source ?

[2019-06-04 19:32] rawlingsj commented on #3828
yeah good point - let's change `jx install` to use the https URL I'll send a PR shortly and that should catch all the places.

[2019-06-04 20:47] #3828 closed

[2019-06-04 21:14] rawlingsj commented on #3828
ok that's releasing ATM, let's reopen if we find any other places that use the old http URL.

[2019-06-04 21:27] rawlingsj commented on #4173
/priority important-soon
/bug

[2019-06-04 21:27] rawlingsj commented on #4173
/area bug

[2019-06-04 21:27] rawlingsj commented on #4173
/kind bug

[2019-06-05 00:23] clelange commented on #3897
I just ran into the same problem. I solved it by doing the following:

[code]

[2019-06-05 02:13] earthgouer commented on #3880
i update to latest  jx version, the problem disappeared .   i didnt konw where the problem is.

[2019-06-05 02:13] #3880 closed

[2019-06-05 05:35] leeshd opened #4175 "failed jx create env"
env can't create when i use private gitlab server

$ jx create env test --git-provider-kind=gitlab --git-provider-url='https://gitlab.tuxinran.com'
? Label: Test
? Namespace: jx-test
? Domain: cicd.tuxinran.com
? Environment in separate cluster to Dev Environment: No

? Promotion Strategy: Auto
? We will now create a Git repository to store your test environment, ok? : Yes
Using Git provider gitla

[2019-06-05 06:17] warrenbailey commented on #4106
Excellent, thanks for trying it out. I'll close this then

/close

[2019-06-05 06:17] #4106 closed

[2019-06-05 08:35] anub1s187 commented on #3731
I too am getting this message flooding the logs at the "jx step changelog" stage, any help on this?

[2019-06-05 09:05] Marthijs-Berfelo opened #4178 "glooctl download fails during addon creation"
### Summary
Creating addon gloo fails, while downloading glooctl.
The actual download URL to the glooctl binary is incorrect.
[code]
Checking the [gloo releases page](https://github.com/solo-io/gloo/releases) I expect https://github.com/solo-io/gloo/releases/download/v0.13.29/glooctl-**linux**-amd64 to be the correct url (seems to be an error in the download url template for gloo)

### Steps to re

[2019-06-05 09:13] anub1s187 commented on #3441
Still seeing this with GitHub,AWS jekins platform 2.0.330

[2019-06-05 09:40] leosunmo commented on #3915
I agree with @afirth . For me having it in a config file would make it a lot easier to customise the ingress setup as I recently had a lot of issue with Services, exposecontroller, the webhook URL and multiple ingress classes.
In all enviornments I've worked in we've always had two or more ingress classes. Right now I have a legacy ingress, private ingress and public ingress. I want the webhook be

[2019-06-05 10:05] lgg42 commented on #3441
@alexvolsh same thing over here! Suddenly builds started to pass without any change at all. Though BitBucket has not make any statement at all.

[2019-06-05 11:59] heroic opened #4183 "vault substitution fails in env"
### Summary

Vault substitution does not work in staging/production env. It does work in dev env.

### Steps to reproduce the behavior

1. jx install -ng
2. create a secret in the vault
3. use the secret in dev values.yaml, and staging values.yaml

### Expected behavior

Both values.yaml should get the actual value from vault

### Actual behavior

Only dev env gets the value, staging value comes o

[2019-06-05 11:59] heroic commented on #4183
/assign @pmuir

[2019-06-05 12:20] StevenACoffman commented on #805
So @yahavi what happened after jenkins-x/jx#1753 Did this get added as an application?

[2019-06-05 13:23] ehildebrandt commented on #2285
/remove-lifecycle stale

[2019-06-05 13:27] ehildebrandt commented on #2285
Hi @wbrefvem. Is this issue on the radar? I'm using Gitea and trying to use the next gen serverless features of Jenkins-X but blocked by this issue in hook and tide. Many thanks.

[2019-06-05 14:08] #4165 closed

[2019-06-05 14:21] derrickburns opened #4185 "Preview design flaw?"
### Summary

The purpose of the preview environment is to preview a change prior to promotion to another Environment, correct?

If so, then the configuration for a preview Environment should simple be the configuration that would result from applying the promotion to the target Environment modulo the namespace name. If services need to be mocked, then how to mock them should live in the target Env

[2019-06-05 14:44] nukepuppy commented on #536
ping

[2019-06-05 15:42] jglick commented on #2926
/remove-lifecycle stale

[2019-06-05 15:45] jglick commented on #3075
/remove-lifecycle stale

[2019-06-05 15:46] jglick commented on #2158
/remove-lifecycle stale

Would still love to see this, so that I do not need to include `jx upgrade cli` in my system update script!

[2019-06-05 18:52] sdoxsee commented on #3823
prow status shows that there's an error but I don't know what that error is.

[screenshot](https://www.dropbox.com/s/jpkfthhz1tn8z3r/Screenshot%202019-06-05%2014.47.38.png?dl=0)

I think what it's failing on is:
[code]
another thing i found strange is when i completely recreated the GCP project (also blowing away ~/.jx and ~/.kube, the first few cluster questions were defaulting without asking me

[2019-06-06 04:02] gazal-k commented on #536
Sorry, I haven't tried tweaking it yet.

[2019-06-06 09:44] pzheng64 opened #4189 "Base image for PHP buildpack is missing"
### Summary
PHP/composer base image is not available in the path "https://github.com/jenkins-x/jx/Dockerfile.builder-php".
When github event is triggered, php or composer command is not found.

### Steps to reproduce the behavior
- Import PHP repo
- Add custom steps to `jenkins-x.yml` for `composer install`.
- Make changes to your repo (Push, Create PR or Merge to master)

### Expected behavior
PH

[2019-06-06 11:41] #4178 closed

[2019-06-06 12:12] ssathi commented on #3203
resolved

[2019-06-06 12:12] #3203 closed

[2019-06-06 14:41] jrx-sjg opened #4191 "Add quickstart"
Please add this github quickstart:

Please an Erlang/Elixir quickstart will be just amazing

[2019-06-06 17:06] snahmad opened #4194 "msbuild plugin"
Try to build C# unit test dll.

Try msbuild plugin
1- C:\Nuget\nuget.exe restore xunit_githib_test.sln
2-  try running msbuild  my solution file.

roject "C:\Jenkins\workspace\test_C_sharp_tests\xunit_githib_test.sln" (1) is building "C:\Jenkins\workspace\test_C_sharp_tests\xunit_githib_test.csproj.metaproj" (2) on node 1 (default targets).
C:\Jenkins\workspace\test_C_sharp_tests\xunit_githib_test

[2019-06-06 20:57] timfallmk commented on #981
@jstrachan That is exactly the problem for scope limited api keys. I think the problem is more about bailing with an appropriate error when this happens, instead of the silent fail.

[2019-06-06 21:41] schottsfired commented on #4144
I like it but I don't love it. I'd opt for the "regular" JenkinsX and not the fat one. I can't steer my eyes away from the "X" and the bow tie in the fat version. The bow tie reminds me of Bill Nye, which is cool I guess, but it's close enough to its mouth to chew on. Might want to see what it looks like a little lower.

[2019-06-06 23:17] devalnor opened #4195 "Create cluster gke broken since 2.0.232"
### Summary

I followed the GKE cluster creation guide from https://jenkins-x.io/getting-started/create-cluster/
But it stop after region selection:

I think the issue is related to the commit https://github.com/jenkins-x/jx/commit/3516600a59a1cc19f3c58ab730324b2616bbb39d

### Steps to reproduce the behavior

```jx create cluster gke --skip-login --verbose```

[code]

### Jx version

[code]

The o

[2019-06-06 23:30] devalnor commented on #4195
I confirm there is no issue when running release **v2.0.230**

[2019-06-07 08:03] cdbkr commented on #4087
I have tried to re-create the cluster with
[code]
and it seems a problem related to resources.
Indeed it doesn't work properly with
`... --min-num-nodes 1 --max-num-nodes 3`

but it does work properly with
`...--min-num-nodes 3 --max-num-nodes 5`

So compared to the Static version, it requires more resources.

[2019-06-07 08:50] warrenbailey commented on #4087
On a static Jenkins master installation there's a single pod with Jenkins installed, whereas in a Next generation enabled cluster there are more components installed (i.e. tekton, prow etc) which provides a richer experience. Hence the needs for more resources.

I generally tend to run with the defaults (min 3 nodes, max 5). Let me try it with a min of 1 and max of 3.

[2019-06-07 09:13] ccojocar commented on #1016
/close

[2019-06-07 09:13] #1016 closed

[2019-06-07 09:14] ccojocar commented on #2457
/close

[2019-06-07 09:14] #2457 closed

[2019-06-07 09:14] ccojocar commented on #2732
/close

[2019-06-07 09:14] #2732 closed

[2019-06-07 09:22] rawlingsj opened #4196 "Pipeline bot token and users personal git token are getting mixed up on install"
When installing Jenkins X the install process asks for a personal git username and token which is added to a local gitAuth.yaml file to be used later when creating quickstarts etc.  Then a pipeline bot token is asked for, this should be used by prow and tekton when cloning repos during builds and automated comments on issues / PRs etc.

If you have previously created a cluster or performed an inst

[2019-06-07 09:25] rawlingsj commented on #4196
/priority critical-urgent

[2019-06-07 09:33] warrenbailey commented on #4196
I had a similar issue where I created the second cluster, the pipeline user was the bot user of my previous cluster where I'd actually provided my personal github token for the pipeline user during the install.

[2019-06-07 09:59] warrenbailey commented on #4087
I've just tried with a min/max of 1/3 nodes using n1-standard-2 machine types and it still worked for me. Though granted 3 nodes were spun up.

I'm going to close this issue as it's due to low cluster resources rather than a Jenkins X issue

/close

[2019-06-07 09:59] #4087 closed

[2019-06-07 10:36] sdoxsee commented on #3823
This is related to #3857. When creating the cluster or installing the platform, I needed `--docker-registry=gcr.io --tekton=true`. `--ng=true` wouldn't work out of the box with gcr.io -- it would use a docker-registry service in the cluster and explicitly requesting gcr.io would still install the docker-registry service and was not configured properly for gcr.io. I believe `--tekton=true` creates

[2019-06-07 10:36] #3823 closed

[2019-06-07 15:17] porterja31 commented on #3261
/remove-lifecycle stale

[2019-06-07 15:19] porterja31 commented on #3818
Any tracking on this I talk to James about this on slack and it seems that the github username might need to be wrapped inside quotes so its interpreted as string in the code. This is blocking my team from trying out nextgen with our enterprise github because all our usernames are numeric

[2019-06-07 16:21] cdbkr commented on #4195
I have the same issue with 2.0.235

[2019-06-07 16:22] sdoxsee commented on #4195
And I with 2.0.237

[2019-06-07 17:14] sdoxsee opened #4205 "Vault not starting up"
### Summary

Vault not starting up during `jx create cluster gke ...`

[code]

### Steps to reproduce the behavior

`jx create cluster gke -n [clustername] --docker-registry=gcr.io --vault=true --tekton=true`

### Expected behavior

Has worked in the past, should work once again

### Actual behavior

Exits jx in error state after having created cluster but fails to finish setup.

`bank-vaults` con

[2019-06-07 18:05] NandoTheessen commented on #1683
Hey, this doesn't look super active.
I'd like to have a Go at this, is this still needed?

[2019-06-07 18:11] kcormier opened #4206 "Enhancement: post all preview environment URLs in PR comments"
### Summary
It would be great if the comment posting the URL for the preview environment should list all available services for applications with multiple endpoints, or applications that load additional charts as part of their preview environments.

### Example use case
If your application sends email, you may load something like mailhog into your preview environment to catch said emails.  It woul

[2019-06-07 18:44] sdoxsee commented on #4205
I believe I had a stale IAM permission left over on a service account that wasn't deleted by `jx uninstall platform`. Deleting this seemed to fix. See: https://console.cloud.google.com/iam-admin/iam

[2019-06-07 18:44] #4205 closed

[2019-06-07 21:44] sharepointoscar opened #4208 "Changing environment namespace via jx edit env does not work"
### Summary
I am trying to change the namespace for my production environment from `jx-production` to `production`
### Steps to reproduce the behavior
Execute `jx edit env`, change the namespace name, accept the defaults in the subsequent prompts.

### Expected behavior
My production environment repo now has the short namespace as I specified.
### Actual behavior
I get an error as follows:

[code]

[2019-06-08 01:08] rsmolgovsky-lendage commented on #2933
I have similar problem just when running ./watch.sh .
The cluster was created with jx create cluster gke
Output:
....

_DEPRECATED_DIGEST_HEX_: digest: sha256:0605fe0407faafd0da29d2e55cf4abee4c7bce8ce04794524c371cac369f4339 size: 1579
Build complete in 2.795029545s
Starting test...
Test complete in 5.517µs
Starting deploy...
Error: could not find tiller
Helm release spring-boot-web-dev not install

[2019-06-08 07:37] NandoTheessen commented on #1683
It looks like this was already implemented with gitOps and is now handled by the `ModifyChartFiles` function.

[2019-06-08 11:08] garethjevans opened #4210 "Improve cluster name validation"
On GKE, there is a limit on the number of characters that can be use for a service account name (6-30).  As the service account we use (vault/kaniko) have their names based of the cluster name the suggestion is to limit the cluster name to 27 chars, and use the following templates for the generated service accounts.

* `${cluster_name}-ko`
* `${cluster_name}-vt`

May need a bit of extra validation

[2019-06-08 11:08] garethjevans commented on #4210
/area install
/kind bug
/priority important-soon

[2019-06-08 13:22] #4016 closed

[2019-06-10 02:14] epmccormick commented on #3269
Upgrading to kubectl >= 1.11.x also fixed this for me.

[2019-06-10 09:20] hferentschik commented on #2939
Actually Tide allows this already to be configured via the `merge_method` config option. See also https://github.com/jenkins-x/prow-config-tekton/blob/master/prow/config.yaml#L1035.

I believe eventually you will also be able to configure this per source repository.

This needs to be at the very least be properly documented.

[2019-06-10 09:20] hferentschik commented on #2939
/remove-lifecycle stale

[2019-06-10 09:21] hferentschik commented on #2961
/remove-lifecycle stale

[2019-06-10 09:22] hferentschik commented on #2927
/remove-lifecycle stale

[2019-06-10 09:23] #2911 closed

[2019-06-10 09:24] hferentschik commented on #2928
/remove-lifecycle stale

[2019-06-10 09:26] #3160 closed

[2019-06-10 09:26] hferentschik commented on #3161
/remove-lifecycle stale

[2019-06-10 09:27] hferentschik commented on #2910
/remove-lifecycle stale

[2019-06-10 09:27] hferentschik commented on #2916
/remove-lifecycle stale

[2019-06-10 09:28] doc-olliday commented on #1679
@ccojocar : Same problem here. Once entered the wrong pipeline user, the work around above doesn't help. The Jenkins pipeline still tries to use the wrong credentials, although all git tokens have been removed and the correct one was created.

[2019-06-10 09:30] #2912 closed

[2019-06-10 09:54] doc-olliday commented on #1679
Also, tried
[code]
without success.

[2019-06-10 10:10] pmuir commented on #1079
/remove-lifecycle stale

[2019-06-10 11:55] garethjevans commented on #4210
/assign @macox

[2019-06-10 12:52] hferentschik opened #4221 "Test target fails if GO111MODULE is not set per default to on"
### Summary

The current test rules use the content of the`GOTEST` variable to execute tests either via calling `go test` or `gotestsum`. In neither case `GO111MODULE` is explicitly turned on, leading to test execution failures if your environment does not set `GO111MODULE=on` per default.

[2019-06-10 13:20] martin-patsov commented on #2743
Same problem after `jx upgrade platform`, same fix. Thanks! @mdiez19

[2019-06-10 13:25] garethjevans commented on #2916
/assign @garethjevans

[2019-06-10 14:42] warrenbailey commented on #4208
/kind-bug

[2019-06-10 14:43] warrenbailey commented on #4208
/kind bug

[2019-06-10 14:43] warrenbailey commented on #4208
/priority backlog

[2019-06-10 14:44] warrenbailey commented on #4206
/kind enhancement
/priority backlog

[2019-06-10 14:46] warrenbailey commented on #4195
This was accidentally broken in that version, I'm pretty sure this has been resolved now.

/kind bug
/prority critical
/assign cagiti

[2019-06-10 14:51] warrenbailey commented on #4195
/close

[2019-06-10 14:51] #4195 closed

[2019-06-10 15:16] warrenbailey commented on #4194
/priority awaiting-more-evidence

[2019-06-10 15:17] warrenbailey commented on #4194
@snahmad is this a defect for Jenkins X or Jenkins?

[2019-06-10 15:19] warrenbailey commented on #4194
Please could add some more detail i.e. the output of `jx version` and the kubernetes cluster you're running on.

[2019-06-10 15:19] warrenbailey commented on #4194
/assign warrenbailey

[2019-06-10 15:19] warrenbailey commented on #4191
/kind enhancement

[2019-06-10 15:20] warrenbailey commented on #4191
Hi @jrx-sjg thanks for the suggestion. You're welcome to submit a PR to add an Erlang/Elixir quickstart.

/priority backlog

[2019-06-10 15:22] warrenbailey commented on #4189
/kind bug
/priority backlog

[2019-06-10 15:24] warrenbailey commented on #4185
/kind enhancement
/priority backlog

[2019-06-10 15:25] warrenbailey commented on #4183
I've noticed this too, it's something that would be good to add it

/kind bug
/priority important-soon

[2019-06-10 15:30] warrenbailey commented on #4175
/kind bug
/priority awaiting-more-evidence

[2019-06-10 15:33] warrenbailey commented on #4168
Hi @derrickburns, could do with a few more details on this one. Please fill out the following sections: summary, steps to reproduce, expected behaviour, actual behaviour, kubernetes cluster and jenkins type.

/priority awaiting-more-evidence
/kind bug

[2019-06-10 15:34] warrenbailey commented on #4169
/kind bug
/priority important-soon

[2019-06-10 15:56] carlossg commented on #582
the `too many open files` error is fixed in #4226

[2019-06-10 16:04] porterja31 commented on #3620
Is a default user supposed to be created when you do JX install? Or are we supposed to create a user with jx create user?

[2019-06-10 20:39] porterja31 commented on #3818
I believe now that the regex that creates a user or secret is expecting alphanumeric but our enterprise is only using numbers for internal reasons on our enterprise github. I've seen issues with PR builds, env controller chart installs and next gen chart installs.

[2019-06-10 20:41] porterja31 commented on #3818
I also get this error when I just try to do jx create user with creds like -l 999999999 -e "porterja31@github.com" -n porterja31

[2019-06-10 21:23] vfarcic commented on #3975
It works now. There is a problem with `name` but I'll open a different issue for that.

[2019-06-10 21:23] #3975 closed

[2019-06-10 21:27] vfarcic opened #4228 "Name is not supported in the loop"
### Summary

I have the following pipeline.

[code]

With that YAML, pipeline fails to run (tekton Pod is not even created). If I remove the `name` instruction it works correctly. `jx step syntax validate pipeline` claims that the syntax is correct.

### Steps to reproduce the behavior

Run the above-mentioned pipeline.

### Expected behavior

Pipeline run is started

### Actual behavior

Pipeline

[2019-06-11 05:36] yuwzho commented on #670
Is there anyone knows whether the Blue/Green is supported?

[2019-06-11 05:40] pablog12 commented on #3971
I need a solution for this aswell, currently IBM dropped support of Kube v1.10, we were forced to update to version 1.12 so our setup stopped working altogether since jenkins is not able to build. We are pretty much stuck badly at this point.

Meanwhile, is there anything I can do to get it working again from my end?

[2019-06-11 07:35] ccojocar opened #4229 "Create a buildpack for Jenkinsfile runner"
### Summary

Create a buildpack for Jenkisfile Runner which can be used with JenkinsX/Tekton pipeline.

This buildpack should be able to provide as input the Jenkisfile to JFR which will be executed within a container.

### Steps to reproduce the behavior

### Expected behavior

### Actual behavior

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [ ] Next Generation (Te

[2019-06-11 07:39] ccojocar opened #4230 "Remove Knative Build and JFR from Jenkins X installation"
### Summary

The knative build and JFR should be removed from Jenkins X installation, as soon as can be used as a buildpack in JenkinsX/Tekton pipeline. #4229

The the moment this topology is using a old fork of prow which is unmaintained.

### Steps to reproduce the behavior

### Expected behavior

### Actual behavior

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [

[2019-06-11 07:41] ccojocar commented on #3345
The original issue was for Google Cloud. It seems to be fixed now.

@BenCoffeed Please could you open another issue for AWS? I am going to close this issue for now. Thanks

[2019-06-11 07:41] #3345 closed

[2019-06-11 08:35] jinjie2088 commented on #3897
error: installing the Jenkins X platform: failed to install/upgrade the jenkins-x platform chart: failed to clone reference: refs/heads/master: Get https://github.com/jenkins-x/jenkins-x-versions.git/info/refs?service=git-upload-pack: net/http: TLS handshake timeout

[2019-06-11 09:36] hferentschik commented on #4221
fixed by pull request #4222

[2019-06-11 09:36] #4221 closed

[2019-06-11 09:36] beebird commented on #3392
Same issue, fresh install, no vault...
[code]

[2019-06-11 09:50] #2916 closed

[2019-06-11 10:09] warrenbailey commented on #4228
Confirmed the name variable breaks the pipeline

/kind bug
/priority backlog

[2019-06-11 10:10] warrenbailey commented on #4228
I think it's because the generated tekton tasks all have the same name of my-loop

[2019-06-11 11:18] hferentschik commented on #3866
@beebird hi, just wondering whether there is any update on this? Did you have time to give it another go?

[2019-06-11 12:31] rverma-nikiai commented on #3759
Still, this limits us using the acm certificates which we can use by simply passing
[code]
This should skip the complete flow of cert-manager.

I also couldn't find a way to inject additional annotations for ingress. We are using a project called `ingress-merge` which combines all ingress in one namespace under one alb.
This requires one additional annotation on ingress.

[2019-06-11 14:30] dosa9876 opened #4235 "Gitops for jx on-premise cluster"
### Summary
My goal is to manage my jenkinsX (classic) installed in an on-premise cluster with gitops.

I've seen --gitops in jx install is supported only in cloud platforms. I tried --gitops and --no-gitops-vault in my jx install. But it failed in post installation with an error

error: setting up GitOps post installation: [registering environment "production": no Git service resource found with

[2019-06-11 15:16] warrenbailey commented on #1491
/priority backlog

[2019-06-11 15:20] warrenbailey commented on #3367
/assign @garethjevans

[2019-06-11 15:22] warrenbailey commented on #2810
@pmuir can this be closed?

[2019-06-11 15:27] warrenbailey commented on #3037
Tests on this repository now exist but need to be invoked manually.

/close

[2019-06-11 15:27] #3037 closed

[2019-06-11 15:40] #4228 closed

[2019-06-11 16:05] garethjevans commented on #3966
/kind enhancement
/priority backlog

[2019-06-11 16:08] garethjevans commented on #3963
/kind bug
/priority important-soon

[2019-06-11 16:10] garethjevans commented on #3972
Closing this, the latest install has skaffold v0.31.0 available

[2019-06-11 16:10] #3972 closed

[2019-06-11 16:21] garethjevans opened #4236 "Intermittent test failure on TestCreateGitProviderFromURL"
### Summary

[code]

[2019-06-11 16:22] garethjevans commented on #4236
/area test
/kind bug
/priority important-soon

[2019-06-11 16:23] garethjevans commented on #4236
/area flaky-test

[2019-06-11 18:58] #4125 closed

[2019-06-11 19:13] Wizofgoz commented on #4168
I'm having the same problem on jx version 2.0.215
[code]

Summary:
Attempts at upgrading cli fail claiming that you are running latest version of jx.

Steps to reproduce:
1. run `jx version`
2. confirm upgrade

Expected behavior:
Successfully upgrade to latest release

Actual behavior:
Upgrade fails and claims to already be running the latest release

Kubernetes cluster:
EKS

Jenkins Type:
Next Ge

[2019-06-12 06:53] orbsfoc opened #4238 "Docs to create custom builder are ineffective"
### Summary
The guides for creating a custom Builder are here:
https://jenkins-x.io/getting-started/create-custom-builder/

"Install the Builder
You can now install your builder either when you install Jenkins X or upgrade it.

Create a myvalues.yaml file in your ~/.jx/ folder"

This is very vague, does it only work on an install? Does the upgrade command force a helm upgrade to pass the new confi

[2019-06-12 07:39] hferentschik commented on #3342
The first step in the metapipeline would be the generation of a canonical/effective `jenkins-x.yml`. This would be achieved by calling `jx step syntax canonical` (see pull request #4135) which generates something like `jenkins-x-<context>-canonical.yml`. Apps wanting to extend/modify the pipeline need to edit this canonical configuration. See also https://github.com/jenkins-x/jx/pull/4135#discussi

[2019-06-12 07:44] hferentschik commented on #1016
Heads up, I am working on a pull request to restructure the commands into subpackages. I'll open a follow-up issue I guess.

[2019-06-12 08:02] anub1s187 commented on #3401
Getting the same here, JenkinsX installed in jx namespace, AWS cluster built by JenkinsX create cluster.

NAME               VERSION
jx                 2.0.263
jenkins x platform 2.0.330
Kubernetes cluster v1.12.7
kubectl            v1.14.3
helm client        Client: v2.14.1+g5270352
git                git version 2.20.1 (Apple Git-117)
Operating System   Mac OS X 10.14.5 build 18F132

[2019-06-12 08:44] garethjevans commented on #4238
Hi, when using static jenkins, the changes need to be applied via helm - currently the only way of doing this is to create a `myvalues.yaml` file and either use the `jx install` or `jx upgrade platform` to apply this.

[2019-06-12 08:44] garethjevans commented on #4238
/kind question

[2019-06-12 09:10] hferentschik opened #4241 "Split cmd package into sub-packages"
Following up on issue #1016 which did some preparational refactoring.

[2019-06-12 09:38] orbsfoc commented on #4238
Does there actually need to be an upgraded Jenkins chart to apply or will the jx upgrade platform command upgrade config alone?

The use case that i'm planning to add custom builders 1 at a time, as i update various projects, doesn't seem especially uncommon. If re installing the system or waiting for component changes was the only way to add through the jx cli, maybe add a note that adding them m

[2019-06-12 10:26] pmuir commented on #4100
Here I'm going to start by improving the release notes so that downstream release notes can include (e.g. links, expanding blocks) upstream release notes - this will allow us to quickly understand what went into the release. From that we can then also add alerting on failed PR builds (using the slack bot) and visualisations if needed.

Doing this will require changes to updatebot so for the common

[2019-06-12 10:49] garethjevans commented on #4238
`jx upgrade platform` has an `--always-upgrade` flag you can use to force the update.

[2019-06-12 11:07] garethjevans commented on #4100
I'm not certain about porting all these changes into jx, it feels like we're about to introduce a number of circular dependencies between projects.  Ideally it would be great to run updatebot (go version) outside without jx.

[2019-06-12 12:07] jsharpe commented on #3759
This also doesn' t work for deploying prow - it expects an ingress-config configmap to be present which skipping ingress means doesn't exist.

[2019-06-12 12:09] jsharpe commented on #3759
I think for me that the right solution is actually to address jenkins-x/exposecontroller#187 as my ALB then forwards traffic on to an istio ingress gateway.

[2019-06-12 12:15] garethjevans commented on #4168
/kind bug

[2019-06-12 12:15] garethjevans commented on #4168
/priority important-soon

[2019-06-12 12:57] orbsfoc commented on #4238
thanks that worked, when combined with a restart of jenkins

[2019-06-12 12:57] #4238 closed

[2019-06-12 13:15] tdcox opened #4244 "Machine Learning use-case requires per-step options in Pipeline"
In order to train Machine Learning models with GPU cards as part of the build process, it is necessary to be able to set containerOptions on individual build steps.

For example, a cluster will have a limited number of GPU instances and will require at least one to be allocated to a container in order to run a CUDA-based training script. If the GPU is allocated at the builder config level, then Ku

[2019-06-12 15:23] anub1s187 commented on #2563
Any update on this issue?

[2019-06-12 15:45] abayer opened #4249 "jx version should include service versions"
### Summary

`jx version` displays the `jx` binary's version, the Kubernetes cluster version, and some other local versions (`kubectl`, `helm`, `git`, the OS), but it doesn't tell you what version of the various services on the cluster are. I'm specifically thinking of `prow`, `tekton`, and `pipelinerunner`, which are probably the most critical, but there are plenty more.

### Steps to reproduce t

[2019-06-12 16:31] abayer commented on #4249
Worth mentioning that `jx version` seems to be intended to include `jenkins x platform`, but at least when I run against the prod cluster with `jx` binary built from master and helm v2.12.3, there's nothing.

[2019-06-12 17:01] carlossg opened #4250 "Tekton pipelines timeout in 10 minutes"
### Summary

Tekton pipelines default to a 10 minute timeout

### Steps to reproduce the behavior

Run a pipeline that takes more than 10 minutes, doh!

### Expected behavior

* I can configure the timeout in my `jenkins-x.yaml` file
* the default is set to something more reasonable like 30 min or 1h
* if I hit the timeout there should be an event or something set in the taskrun or somewhere that

[2019-06-12 17:03] carlossg commented on #4250
See https://github.com/tektoncd/pipeline/blob/d1e178d414b793c31ee50df7d9a54a2cf363a868/pkg/reconciler/timeout_handler.go#L18 for the 10 minute default timeout

[2019-06-12 17:07] carlossg commented on #4250
https://github.com/tektoncd/pipeline/issues/978
https://github.com/tektoncd/pipeline/issues/979

[2019-06-12 17:57] blademainer opened #4252 "GoogleCloud account seems closed project of charts."
### Summary
https://storage.googleapis.com/charts/jx-app-jenkins-0.0.15.tgz returns 403 status. Request this url returns:
[code]
GoogleCloud account seems closed project of charts.

[code]

### Steps to reproduce the behavior
[code]

### Expected behavior

### Actual behavior

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [ ] Next Generation (Tekton + Prow)
- [ ] Clas

[2019-06-12 18:25] gfleury commented on #2682
I think that this segfault was fixed. If you guys could try to build it with the HEAD of gfleury/go-bitbucket-v1 and test again.

[2019-06-12 18:25] gfleury commented on #2682
/remove-lifecycle stale

[2019-06-12 18:29] pmuir commented on #4100
That's going to be much harder as we will have to rebuild all the pull request logic. Perhaps we do this inside JX for now, and once we extract the git stuff to a library move it out?

[2019-06-12 18:39] romainverduci opened #4253 "Destroy and rebuild the production from scratch regularly"
We should be able to delete the production cluster and rebuild it from scratch on a regular basis.
TBD:
- What is the good frequency to do it ?

[2019-06-12 18:41] pmuir opened #4254 "Teardown and rebuild the prod cluster on a regular cadence"
### Summary
Enables us to validate that installs and upgrades fully support configuration not running state. Also validates disaster recovery.

### Steps to reproduce the behavior

### Expected behavior

### Actual behavior

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [ ] Next Generation (Tekton + Prow)
- [ ] Classic Jenkins
- [ ] Serverless Jenkins (JenkinsFileRunn

[2019-06-12 18:41] romainverduci opened #4255 "Re enable auto update of the production cluster"

[2019-06-12 18:43] romainverduci commented on #4255
It has been disabled waiting for the work on the staging environment to help the upgrade being less fragile.

[2019-06-12 18:44] deanesmith opened #4256 "Split libraries out of jx code base (e.g. git support)"
Split libraries out of jx code base (e.g. git support)

[2019-06-12 18:44] romainverduci commented on #4253
/area quality

[2019-06-12 18:44] romainverduci commented on #4255
/area quality

[2019-06-12 18:46] pmuir commented on #4127
Won't fix.

[2019-06-12 18:46] #4127 closed

[2019-06-12 18:46] aprilkmace commented on #4144
When I saw the photo on #group-xforce and hadn't yet zoomed in (think: person not sitting in the front row but a little bit from the stage) I thought it was a creepy-ized version of the Tekton logo. The mouth disappeared and the bowtie looked like a gas mask. Sorry for the negs, but nuh uh.

[2019-06-12 18:49] pmuir opened #4257 "Allow all bdd test configurations (e.g. all tests, different clusters etc.) to optionally run on PRs"
### Summary

This will enable us to optionally run other e2e tests as part of a PR. Probably should be done by adding a label, and then having the tests run automatically.

### Steps to reproduce the behavior

### Expected behavior

### Actual behavior

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [ ] Next Generation (Tekton + Prow)
- [ ] Classic Jenkins
- [ ] Server

[2019-06-12 18:52] deanesmith opened #4258 "Stop relying on a Sonobuoy fork"
### Summary
Stop relying on a Sonobuoy fork.  It should be possible to work with the project owners to remedy the dependency issue.

[2019-06-12 19:00] romainverduci opened #4259 "Restructure the Release / Update Process"
Make sure the version of jx binary is consistent in every place it's used to run tests.

[2019-06-12 19:00] romainverduci commented on #4259
/area quality

[2019-06-12 19:04] romainverduci opened #4260 "Define a clear process for PR reviews"
Some ideas discussed:

When a new feature is coming in
- add a 'new feature' label to the github PR
- tide should not allow to merge the PR if it does not have a link to a gh issue to describe the new feature and a PR has been done on the doc repo

@pmuir to make a draft

[2019-06-12 19:05] pmuir opened #4261 "Write documentation on what test to write"
### Summary
Describe how to write a integration test
Describe how to write a e2e test
Describe when to write different types of test

[2019-06-12 19:08] pmuir opened #4262 "Create a PR review process"
### Summary

Add a "feature" label (using the kind command?) to PRs. If it's a feature then require a docs PR, require a issue link, require 2 lgtms if it's a big change.

Also describe what makes a good PR review.

[2019-06-12 19:08] romainverduci commented on #4260
/area quality

[2019-06-12 19:09] deanesmith opened #4263 "Move CLI logic in to libraries"
A good deal of logic is implemented directly in many CLI commands.  Ideally, this logic can be abstracted out of the actual CLI commands in to libraries.  The purpose of this Issue is to create-through-example a repeatable pattern for moving logic out of commands and in to libraries where CLI-specific concerns are not relevant.

[2019-06-12 19:10] pmuir commented on #4262
/area quality

[2019-06-12 19:10] #4260 closed

[2019-06-12 19:13] romainverduci opened #4264 "Commands should declare and validate on kubernetes roles required to execute"
In order to have some kind of fail fast approach, commands should be able to declare the kubernetes roles needed to execute and fail if there is not enough rights before trying to do anything.

[2019-06-12 19:13] romainverduci commented on #4264
/area quality

[2019-06-12 19:15] romainverduci opened #4265 "Improve tekton secret management"
@abayer to add more details on that

[2019-06-12 19:15] romainverduci commented on #4265
/area quality

[2019-06-12 19:17] pmuir commented on #4253
Dupe of #4254

[2019-06-12 19:17] #4253 closed

[2019-06-12 19:21] romainverduci opened #4266 "Stop automatic generation of factory with testing"
If a mocked factory is there, it's going to use it, if not it's going to create a real factory which may have effect on the environment.
We should stop defaulting on the real factory so we can:
- Have a list of failing tests who could impact the actual environment
- Fix those tests by implementing mock factories

[2019-06-12 19:21] romainverduci commented on #4266
/area quality

[2019-06-12 19:21] pmuir commented on #4255
Dupes #4095

[2019-06-12 19:21] #4255 closed

[2019-06-12 19:36] pmuir opened #4267 "Move create cluster and team install out of step bdd and into the bdd tests"
### Summary
Actually have tests that do this via the jx cli.

### Steps to reproduce the behavior

### Expected behavior

### Actual behavior

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [ ] Next Generation (Tekton + Prow)
- [ ] Classic Jenkins
- [ ] Serverless Jenkins (JenkinsFileRunner + Prow)

### Kubernetes cluster

### Operating system / Environment

[2019-06-12 19:40] tdcox commented on #4100
I’m noticing this as a generic issue at the moment. For example, some PRs on an environment produced by jx delete application are failing but it is not always clear that the command has failed. As a result, these PRs pile up until they conflict with new builds and everything silently stops working.

[2019-06-12 19:46] pmuir opened #4268 "Delete Jenkins X extensions"
### Summary

We can delete all the code for this now, and the repos.

@davidcurrie  are you using this at all any more>

### Steps to reproduce the behavior

### Expected behavior

### Actual behavior

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [ ] Next Generation (Tekton + Prow)
- [ ] Classic Jenkins
- [ ] Serverless Jenkins (JenkinsFileRunner + Prow)

### Kuberne

[2019-06-12 19:57] pmuir opened #4269 "Migrate components of platform to apps and replace with jenkins-x-minimal"
### Summary

We have https://github.com/jenkins-x-charts/jenkins-x-minimal/blob/master/jenkins-x-minimal/requirements.yaml  - lets move anything not in there but in the platform into apps and then remove jenkins/replace jenkins-x-platform

### Steps to reproduce the behavior

### Expected behavior

### Actual behavior

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [ ]

[2019-06-12 19:57] pmuir commented on #4269
/area quality

[2019-06-12 20:08] abayer commented on #4249
fwiw, I upgraded helm locally, which...may have made things worse, but here's the output of `helm list --all --namespace jx`:
[code]

[2019-06-12 20:30] #4241 closed

[2019-06-13 02:11] blademainer commented on #4252
/kind bug

[2019-06-13 03:07] rokii opened #4270 "Can JX support specifying org and repo name as options while creating new app?"
It seems that `jx create spring` does not provide an option for specifying the Git org where the repo will be created into.

Can we support it by adding a new option?
And
If user has no permission to create new repo in this org, fail this creation.
If the org does not exist, create it on behave of user.

[2019-06-13 06:51] #4250 closed

[2019-06-13 06:56] hferentschik commented on #4241
Pull request #4248 moved the majority of commands in sub-packages. Outstanding are some update and upgrade commands which still have a circular dependency which needs sorting out.

As part of the pull request, the intermediate and superfluous 'jx' in the import path for the commands was dropped

[2019-06-13 07:00] hferentschik opened #4271 "Move update and upgrade commands in pkg/cmd"
Following up on issue #4241, there is still a circular dependency between update and upgrade commands which needs to be resolved to move these commands into dedicated packages as well.

[2019-06-13 07:56] davidcurrie commented on #4268
No - delete away!

[2019-06-13 08:17] hferentschik commented on #4168
@Wizofgoz Could you re-run the command using the `--verbose` option to get some more trace.
Also, are you using homebrew and did you install jx via `brew`?

[2019-06-13 10:02] danifernandezs opened #4272 "Hook and Tide pods in CrashLoopBack - Credentials Error - EKS 1.11 - Gitlab"
### Summary

Trying to install/deploy JX on EKS (Amazon Kubernetes Flavour) with gitlab has Git Provider

May be the same issue as: #3392

### Steps to reproduce the behavior

Fresh EKS Cluster (Version 1.11.8 and eks.3)

[code]

Also try
[code]
### Expected behavior

Correct deploy and start to configure pipelines

### Actual behavior

Hook and Tide pods in CrashLoopBack

Log of the tide pod, sam