[2019-01-30 16:41] warrenbailey commented on #2806
There's a branch on my jx fork with my initial workings https://github.com/warrenbailey/jx/tree/issue-2806

[2019-01-30 17:54] stieler-it opened #2923 "Cannot import project with Windows path in Git config"
### Summary

Unable to import a Spring project that has been checked out using a client certificate.

### Steps to reproduce the behavior

1. Checkout service from GitLab (I used TortoiseGit)
2. `cd storage-service`
3. `jx import`

Storage service has been checked out with client certificate which leads to a .git/config file of:

[code]

### Expected behavior

Jx detects that this project has alre

[2019-01-30 18:13] jglick opened #2925 "Extract Monocular to an app"
Currently Monocular [gets installed](https://github.com/jenkins-x/jenkins-x-platform/blob/5ad0c169571ad733b3f543ad98a8e2427a52ebec/requirements.yaml#L26) as part of the JX platform, along with [its dependency MongoDB](https://github.com/helm/monocular/blob/be856b128888c7ddaf71498aeecbb6712b085a91/chart/monocular/requirements.yaml#L2). This seems like overhead and complexity that teams may not care

[2019-01-30 18:17] jglick opened #2926 "Extract Nexus to an app"
Currently JX installs Nexus into your team namespace whether you want it or not, and this is a relatively heavyweight server. Akin to #2925, it would be nice to extract it to an app, since users of some technology stacks would not need it—e.g. those using `jx-app-athens`! Would mean moving those `jx step` subcommands into CLI plugins. And of course some buildpacks expect it to be there and current

[2019-01-30 18:20] trevorputbrese commented on #2907
Nope.  Looks like I'm have some issues with monucular.  I'm getting an error installing it separately from jx.  Thanks for the quick response.  I'll work on figuring out this issue, then get back to the jx install.

[2019-01-30 18:20] #2907 closed

[2019-01-30 18:33] hferentschik commented on #2925
OOI what is the difference between _app_ and _addon_? Are both concepts staying around? Or is app going to replace _addon_?
To a certain degree, my understanding was that _apps_ are part of the pipeline execution which do something with the application code (for example create some form of a report). Things like Monocular or Nexus are more infrastructure services. So maybe both concepts _apps_ and

[2019-01-30 18:46] hferentschik opened #2927 "Improve output of 'jx get pipeline' for Serverless Jenkins"
### Summary

Output of `jx get pipelines` should be improved.

### Steps to reproduce the behavior

In a Serverless Jenkins install you will get something like this for a `get pipelines` execution:

[code]

AFAIU `get pipelines` does not really make sense in a Serverless Jenkins environment, hence also all the N/A.

### Expected behavior

Have better feedback to the user. Maybe just a message like

[2019-01-30 18:50] pmuir commented on #2925
/priority backlog
/kind enhancement

App will replace addon as soon as we have enough infrastructure in place

[2019-01-30 18:50] pmuir commented on #2926
/priority backlog
/kind enhancement

[2019-01-30 18:50] pmuir commented on #2925
/priority backlog
/kind enhancement

[2019-01-30 18:55] hferentschik opened #2928 "'jx create quickstart' and 'jx import' need a way to provide Helm chart values"
### Summary

For some charts values need to be provided for the installation. At the moment there is no way to do that.

### Steps to reproduce the behavior

Neither `jx quickstart create` nor `jx import` have an option to specify Helm charts values, for example, an admin password for a service. At best default values, if specified in the chart are used.

### Expected behavior

Have some sort of `

[2019-01-30 19:45] girishramnani commented on #2827
opened a PR for this https://github.com/jenkins-x/jx/pull/2930

[2019-01-30 20:51] #2827 closed

[2019-01-30 21:19] jglick commented on #2052
Note that the recent regression was about the `<mirror>`, used to download artifacts from Central. My PR does _not_ fix this reported issue, which is about `deploy`ing new build products to Nexus, and which presumably has some unrelated cause (it works for me).

[2019-01-30 22:02] vfarcic commented on #2928
+1

[2019-01-31 02:10] ismaeIfm commented on #2516
@apeckys sorry to bother, but removing cleanWs() changes in some way the expected behavior?

[2019-01-31 08:51] igdianov commented on #2928
We are also looking to provide a quickstart for Activiti7 Application Helm chart, so folks could quickly get up and running by using i.e. ` jx create quickstart activiti-cloud-application-quickstart` from Activiti Github location and import the Helm chart into their environment as any other project with default values.yaml.

It would be awesome to be able to specify helm values to override default

[2019-01-31 09:14] dimmel82 commented on #2052
@jglick the fact that the anonymous access was disabled perfectly explains my question about what was the cause of the different behaviour after upgrading!!
And as you said, the problem that I faced is not the same with the current issue, as I could not download artifacts from nexus while this issue is about deploying artifacts.

[2019-01-31 09:57] amuniz opened #2933 "`create devpod` does not honor `--no-tiller`"
### Summary

`create devpod` does not honor `--no-tiller`.

It is trying to use tiller. I've noticed this because my cluster was created with `--no-tiller` so my local helm version does not match with the cluster one. It was a problem as everything was _tillerless_, but `jx create devpod` is complaining about helm+tiller versions not aligned.

[code]

### Steps to reproduce the behavior

1. Instal

[2019-01-31 10:11] escoem opened #2934 "jx step changelog fails if the project already has tags"
### Summary

After importing an existing project into jenkins (which was already imported in another jx cluster), the pipeline fails at the following step:

[code]

The project had already existing tags, since it was living in another older jx cluster before.

[code]

### Steps to reproduce the behavior

locally you could recreate it by going into a git repo and creating a new tag at the head of t

[2019-01-31 10:51] davidcurrie commented on #2714
Bumped into this one again although this time a random PR got merged as it hit a repo with prow configured. I'm happy to submit a fix if it's as simple as only submitting PRs for `Permanent` envs?

[2019-01-31 11:00] ccojocar opened #2937 "Inaccurate release number when changing the minor number"
### Summary

The release tag is incremented by one when changing the minor number of the tag version via `git tag -a` command.

### Steps to reproduce the behavior

On a project which has the latest release tag for instance `v1.1.2`, if a new release tag is created using `git tag -a` and it is set to `v1.2.0`. jx will increment this tag during the release to version `v1.2.1` without doing any rele

[2019-01-31 11:16] hferentschik opened #2939 "Allow rebase merging of pull requests"
### Summary

There should be an option which allows configuring the preferred way of merging pull requests. At the moment merging happens always with a merge commit.

There are pro and cons for merge vs rebase. Personally, I find that a tidy, linear Git history increases the value of the history.  The less linear your history is, the less valuable it is.

### Expected behavior

Have some option du

[2019-01-31 14:32] hnioche commented on #2584
I have the same issue. I tried either to upgrade using
[code]

Or a total new installation using `--tls-acme=true` parameter.
In both situation I endup with a non functioning installation where both HTTP and HTTPS ingress time outs.

I don't know if it's relevant, I'm new to Jenkins X and Kubernetes, but I noticed this message after certificates have been generated in the cert-manager pod living i

[2019-01-31 15:55] warrenbailey commented on #2806
Added a BDD test https://github.com/jenkins-x/bdd-jx/pull/8

[2019-01-31 16:01] #2856 closed

[2019-01-31 17:58] hnioche commented on #2584
I now got it working by adding manually the HTTPS mapping in the load balancer service used for ingress, even after the upgrade it was only setup for HTTP.

To summarize what I had to do to get jx `upgrade ingress --cluster` working:
* Run `jx upgrade ingress --cluster` until no more certificate error or timeout error was displayed
* Manually add HTTPS mapping in the load balancer service

I'm tot

[2019-01-31 19:34] patrickleet opened #2951 "jx install/create --helm3 regression"
### Summary
This worked a couple of days ago, but now using `--helm3=true` on install or create cluster attempts to use `helm` binary which fails

### Steps to reproduce the behavior
jx install --helm3=true

### Expected behavior
Uses helm3 binary

### Actual behavior
Uses helm binary

### Jx version

The output of `jx version` is:

[code]

(didn't happen on this already installed cluster - it fai

[2019-01-31 19:37] patrickleet commented on #2951
[code]

[2019-01-31 19:38] patrickleet commented on #2951
`ln helm3 helm`  works for now

[2019-01-31 22:23] patrickleet opened #2952 "installing with --gitops fails because chart cannot be downloaded"
### Summary

installing with --gitops fails because chart cannot be downloaded.

Error:
[code]

### Steps to reproduce the behavior

`jx install --prow=true --gitops=true --tls-acme=true --vault=true --recreate-existing-draft-repos=true --helm3=true --skip-ingress=true`

### Expected behavior

JX is installed

### Actual behavior

Install fails with above error

### Jx version

The output of `jx v

[2019-02-01 00:21] rawlingsj commented on #2934
@hangchan thanks for the great investigation, @mikecirioli any chance you could take a look at that commit and see if you can reproduce please?

[2019-02-01 01:47] patrickleet commented on #2951
actually, `ln` will only get you so far as eventually it tries to run `--client-only` and crashes as it doesn't exist in the helm3 bin

[2019-02-01 02:09] Sam123ben commented on #971
Was this issue been resolved even I am not able to clean it up

[2019-02-01 02:09] patrickleet commented on #2952
I think this was cause I was trying out all the things - with tillerless helm2 it worked

[2019-02-01 02:09] #2952 closed

[2019-02-01 03:18] Sam123ben opened #2954 "jenkins X never came up on my kubernetes cluster on AWS"
### Summary

I kickstarted to use jenkinsX instead of using our standalone jenkins via kubernetes helm chart. I set the cluster and context and also added the bitbucket that we use for git repo.

jx install --provider aws --domain jenkins.<env_name>.<project_name>.<dns_name>.com --git-provider-url='https://bitbucket.org/<bitbucket_user>/jenkinsx' --git-username='<bitbucket_user>' --git-api-token='

[2019-02-01 05:16] vfarcic opened #2955 "`jx edit buildpack` defaults when name is specified"
### Summary

If `-n kubernetes-workloads` is specified, `jx edit buildpack` is ignoring `-u` and `-r` arguments. It always uses default values.

### Steps to reproduce the behavior

[code]

### Expected behavior

The output should be (notice the GitHub user):

[code]

### Actual behavior

The output should NOT be (notice the GitHub user):

[code]

### Jx version

The output of `jx version` is:

[c

[2019-02-01 08:51] ccojocar commented on #2951
@jstrachan I am wondering if we should remove `helm3` options in favour of `no-tiller`. We can avoid some confusion. We should use `helm3` only when it gets officially released.

[2019-02-01 08:57] ccojocar commented on #2954
@Sam123ben Please could you provide a bit more state from your cluster? Which deployment is failing? Are there any pods failing or stuck in creating state? Thanks

[2019-02-01 10:37] Sam123ben commented on #2954
Helm:

jenkins-x                     	1       	Fri Feb  1 12:30:37 2019	FAILED  	jenkins-x-platform-0.0.3321                               	jenkins
jxing                         	1       	Fri Feb  1 09:27:39 2019	DEPLOYED	nginx-ingress-1.1.0                                       	kube-system

Resources:
The full output of my jenkins namespace that include some of my own resources as well:

kubectl

[2019-02-01 10:38] Sam123ben commented on #2954
po/tide-676f949f4c-8c46q                                    0/1       CrashLoopBackOff   4          2m
po/deck-f569d7469-2vdcx                                     0/1       Running            5          2m
po/deck-f569d7469-lcz2v                                     0/1       Running            5          2m
po/hook-796f9c597c-xcfjr                                    0/1       CrashLoopBackOff   4

[2019-02-01 10:39] Sam123ben commented on #2954
But infact the major isue is that I am not able to delete the helm chart

[2019-02-01 10:50] markawm opened #2960 "Unable to specify git username when running `jx preview'"
### Summary

@romainverduci & I were having some trouble trying to use the `jx preview` command: first a new git token is created with `jx create git token`, and we can see that this has added the user/token to `$JX_HOME/gitAuth.yaml` successfully so that it now contains:
[code]
NAME               VERSION
jx                 1.3.825
jenkins x platform 0.0.3314
Kubernetes cluster v1.10.11-gke.1
kube

[2019-02-01 10:53] hferentschik opened #2961 "Improve formatting/wording of initial approval notifier message"
### Summary

Currently, it looks like this:

I am getting always confused by "This pull-request has been approved by:". This line is supposed to show who already has approved this PR. However, with no approval yet and no indicator what comes after the ':', the meaning of the whole paragraph is messed up.

IMO, the whole line could be removed if there are no approvers yet.

### Steps to reproduce t

[2019-02-01 10:57] markawm opened #2962 "panic in jx create preview when git authentication fails"
### Summary

Running `jx preview --dev-namespace jx --app my-app --dir /Users/me/my-app --pr 123 --source-url git@github.com:my-org/my-app.git --batch-mode --verbose`, git authentication failed (which is a separate problem :-) -> #2960) and then the command panic'd:

[code]

[2019-02-01 11:25] agentgonzo opened #2964 "jx install on an existing cluster fails"
### Summary
Install a cluster, uninstall the cluster, then try to install again.
install fails to create an environment with `services "hook" not found`

### Steps to reproduce the behavior
Install a cluster
do `jx uninstall`
remove all remaining namespaces and CRDs to return the cluster to a 'virgin' state
run `jx install`

### Expected behavior
it should install the cluster

### Actual behavior

[2019-02-01 11:31] agentgonzo commented on #2964
Interestingly, i did a second `jx install` after this and it seemed to succeed.
Maybe a timing issue?

[2019-02-01 11:38] agentgonzo commented on #2964
[code]

[2019-02-01 11:45] ccojocar commented on #2954
It would great if you could provide the output of `kubectl describe` && `kubectl logs` on pods which are in CrashLoop. Thanks

[2019-02-01 11:47] Sam123ben commented on #2954
kubectl describe po/tide-676f949f4c-8c46q -n jenkins
Name:           tide-676f949f4c-8c46q
Namespace:      jenkins
Node:           ip-172-18-2-184.us-east-2.compute.internal/172.18.2.184
Start Time:     Fri, 01 Feb 2019 21:34:36 +1100
Labels:         app=tide
                pod-template-hash=2329505907
Annotations:    <none>
Status:         Running
IP:             10.233.81.93
Controlled By:  Rep

[2019-02-01 11:48] Sam123ben commented on #2954
kubectl describe po/hook-796f9c597c-xzcfd -n jenkins
Name:           hook-796f9c597c-xzcfd
Namespace:      jenkins
Node:           ip-172-18-2-172.us-east-2.compute.internal/
Start Time:     Fri, 01 Feb 2019 21:34:36 +1100
Labels:         app=hook
                pod-template-hash=3529571537
Annotations:    <none>
Status:         Running
IP:             10.233.69.49
Controlled By:  ReplicaSet/hook

[2019-02-01 11:48] Sam123ben commented on #2954
kubectl describe po/deck-f569d7469-2vdcx -n jenkins
Name:           deck-f569d7469-2vdcx
Namespace:      jenkins
Node:           ip-172-18-5-62.us-east-2.compute.internal/172.18.5.62
Start Time:     Fri, 01 Feb 2019 21:34:36 +1100
Labels:         app=deck
                pod-template-hash=912583025
Annotations:    <none>
Status:         Running
IP:             10.233.67.106
Controlled By:  Replica

[2019-02-01 11:51] Sam123ben commented on #2954
(⎈ |devops3-vlocity:jenkins)➜  vof_env_devops2_vlocity git:(master) ✗ kubectl logs -f deck-f569d7469-lcz2v -n jenkins
time="2019-02-01T11:45:12Z" level=info msg="Spyglass registered viewer build-log-viewer with title Build Log."
time="2019-02-01T11:45:12Z" level=info msg="Spyglass registered viewer junit-viewer with title JUnit."
time="2019-02-01T11:45:12Z" level=info msg="Spyglass registered view

[2019-02-01 11:54] Sam123ben commented on #2954
@ccojocar Thanks for responding, Have shared all the details that might be helpful for your team to troubleshoot the issue or error.

[2019-02-01 11:55] agentgonzo commented on #2964
[code]

[2019-02-01 12:07] pmuir opened #2966 "Replacement for `crd-install` hook on helm"
### Summary
`crd-install` hook in helm is broken (see https://github.com/helm/helm/blob/master/docs/charts_hooks.md) - so for apps added via `jx add app` and `jx upgrade apps` we want to provide our own hook that will actually work.
### Steps to reproduce the behavior

### Expected behavior

### Actual behavior

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [ ] Classi

[2019-02-01 12:07] pmuir commented on #2966
/kind enhancement
/priority backlog
/area apps

[2019-02-01 14:35] agentgonzo opened #2968 "jx create env creates incorrect entries in the `config` configmap"
### Summary
entries in the `config` (prow) configmap are generated incorrectly if you specify a different environment name

### Steps to reproduce the behavior
`jx create env`, specify a different environment name than the default, eg `shared-dev-staging`

### Expected behavior
entries in the configmap should refer to the `shared-dev-staging` repo

### Actual behavior
entries in the configmap get

[2019-02-01 14:37] agentgonzo opened #2969 "jx import fails to push to chart museum on fresh install"
### Summary
on a fresh install, a `jx import` will build the imported project, but will fail to push to chartmuseum

### Steps to reproduce the behavior
fresh install
`jx import`

### Expected behavior
build succeeds

### Actual behavior
build fails with
[code]

Workaround: kill the chartmuseum pod. The replacement pod that gets created seems to work

### Jx version

The output of `jx version` is:

[2019-02-01 15:51] jglick opened #2971 "App-related commands do not work in dev environment"
### Summary

Working on an app similar to `jx-app-jacoco`, I was interested in adding it to the `dev` environment (i.e., `jx` namespace) in a test cluster, so that it would be applied to builds of sample projects. It turned out the `jx` subcommands for managing apps were not usable and I had to use Helm directly.

It seems that [deployments in the `dev` environment are ignored](https://github.com/

[2019-02-01 16:07] pmuir commented on #2971
/priority important-soon
/kind bug

[2019-02-01 16:13] hangchan commented on #2934
The command fails even when I created golang-http app from quickstart.

[code]

[2019-02-01 17:03] jglick opened #2972 "Use a simpler version scheme"
Reading [this post](https://blog.armesto.net/automatically-versioning-your-application-on-jenkins-x/) by @fiunchinho reminds that `jx-release-version` and Git tags with `jx step tag` are unnecessary overkill for (IMO) all users of the Kubernetes (CD) buildpacks and the great majority of users of the Classic buildpacks. Even if you buy into semver’s idea of compatibility guarantees (and I think it

[2019-02-01 19:26] pmuir opened #2976 "Implement `jx get apps`"
### Summary

Implement a `jx get apps` command which displays the installed apps. Currently `jx get apps` is aliased to `jx get applications` which is wrong.

[2019-02-01 19:32] pmuir opened #2977 "Implement `jx upgrade apps` for non gitops"
### Summary
It looks like I only implemented this for the GitOps use case - needs doing for non-GitOps.

[2019-02-01 19:32] pmuir commented on #2977
/area apps
/priority important-soon
/kind bug

[2019-02-01 19:36] pmuir opened #2978 "Create synthetic app CRD if none is bundled"
### Summary
Currently we add the App CRD if it's bundled, but if none is bundled we should add one we create. We also need to think about what happens if apps bundle > 1 app crd.

### Steps to reproduce the behavior

### Expected behavior

### Actual behavior

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [ ] Classic Jenkins
- [ ] Serverless Jenkins

### Kubernetes cl

[2019-02-01 19:37] pmuir commented on #2971
Some of the confusion here is the `jx get apps` is not yet implemented - it's still actually aliased to `jx get applications` which displays your deployed apps (hence seeing the `Deployment`).

https://github.com/jenkins-x/jx/issues/2976

Yes. You need to put the `--repository` if you aren't publishing to the default repo, I need to find a better UX here. You can also use `--username` and `--passw

[2019-02-02 10:17] ascheman opened #2982 "jx create cluster iks fails due to missing X-Region header"
### Summary

Creating an IBM k8s cluster with `jx create cluster iks` fails, since for some API requests it is necessary to set a `X-Region` header.

### Steps to reproduce the behavior

Run `jx create cluster iks -n xxx -r us-east -z wdc07 --kube-version 1.10.12 -m b2c.4x16 --skip-login=true`

### Expected behavior

Cluster will be created and JX installed

### Actual behavior

Runs into the foll

[2019-02-02 10:47] ascheman opened #2984 "jx create cluster iks does does not create cluster in EU"
### Summary

### Steps to reproduce the behavior

Run `jx create cluster iks -n xxx -r eu-de -z fra04 --kube-version 1.10.12 -m b2c.4x16`

### Expected behavior

IBM k8s cluster in Europe is created

### Actual behavior

    error creating cluster region "fra04" not found in "us-east"

### Jx version

The output of `jx version` is:

[code]

### Additional hints

There seems to be a mix of region n

[2019-02-02 11:54] ascheman opened #2985 "jx create cluster iks does not create environments"
### Summary

Creating an IKS cluster finally fails at creating environments

### Steps to reproduce the behavior

[code]

### Expected behavior

Cluster created including the environments.

### Actual behavior

Famous last words:

[code]

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [x] Classic Jenkins
- [ ] Serverless Jenkins

### Additional information

`jx status`

[2019-02-02 23:44] briantopping commented on #2682
I just ran into the same problem:
**`jx version`:**

**Console transcript**
[code]

[2019-02-03 08:52] #2982 closed

[2019-02-03 09:24] igdianov opened #2987 "error: Jx step helm build fails to build dependencies"
### Summary

The command `jx step helm build` fails to build dependencies if `requirements.yaml` contains two Helm chart repos with the same domain name, i.e. https://activiti.github.io/activiti-cloud-helm-charts/ and https://activiti.github.io/activiti-cloud-charts/. Both Helm chart repositories are hosted on Github.

Failing example is available at: https://github.com/igdianov/example-activiti-a

[2019-02-03 15:26] chenfli opened #2988 "jx install on premise failed due to missing jenkins-x-chartmuseum not found"
### Summary

Running jx install on the following premise cluster results in missing services such as jenkins, chart-museum, and others.
as a result jx install stops and doesn't complete the installation.

### Steps to reproduce the behavior

Cluster details 3 workers + 3 masters  - Ubuntu 18.04.1 LTS
Using weave as the network layer.

1. Download jx version - v1.3.832
1. create jx namespace (from

[2019-02-03 15:33] chenfli commented on #2988
[code]

[2019-02-03 19:42] igdianov commented on #2971
@pmuir I am glad I stumbled on this issue because I have tried to use `jx add app` recently and found the experience confusing.

Basically, I was expecting `jx add app` to ask to choose from existing GitOps environment (i.e. via survey or `--env` argument) where to install the app using Helm chart from specified repository and then promote it there via GitOps using custom values.

Instead, Jx alwa

[2019-02-04 03:11] mulanshandi commented on #40
Is the following command necessary?
  jx create git token -n gitlab myusername

 I've tried to install jx on local kubemetes cluster and local gitlab server. But when the system try to create the webhooks, an error occured:
error: POST https://gitlab.mydomain.com/V4/projects/5/hooks: 422 { Invalid url}

[2019-02-04 04:58] Sam123ben commented on #2954
@ccojocar Hi, any updates on this as I need to create poc on the same to be able to use it for our projects. I am currently blocked with the implementation of the same

[2019-02-04 11:26] sboardwell opened #2990 "support adding PR labels as environment variables"
### Summary

As discussed [in Slack](https://kubernetes.slack.com/archives/C9LTHT2BB/p1549035265988100)

Pipelines could benefit from knowing the labels for a given PR, using them as conditionals, etc.

### Expected behavior

`jx step pr labels` outputs the labels found on the PR

* Using a default prefix (maybe `JX_PR_LABEL_` by default?)
* any non letter/digits to `_` (regardless of emojis, etc)

[2019-02-04 11:41] sboardwell commented on #2990
I will start working on this today.

[2019-02-04 12:16] sboardwell opened #2991 "Rebase the jenkins-x/charts fork to the latest stable upstream"
### Summary

The helm/charts upstream project has moved on considerably and the current fork is over 3000 commits behind the upstream.

The idea would be to rebase and
* see which jx fork additions need changing
* see which jx fork additions need merging upstream
* determine whether and how the current environment values.yaml need to be changed after rebasing.

[2019-02-04 15:42] #2391 closed

[2019-02-04 16:13] Vlatombe opened #2995 "Commitstatus controller doesn't create build status in github"
### Summary

Commitstatus controller doesn't create build status. Doing some look up, I could find https://github.com/kubernetes/kubernetes/issues/68466 which could be the root cause.

### Steps to reproduce the behavior

Added an extra protection to a repository set up to build with jx.

[code]

### Expected behavior

The `pending` status is created upon pull request creation

### Actual behavior

[2019-02-04 16:40] ccojocar commented on #2984
@ascheman Is this still an issue?

[2019-02-04 16:46] ccojocar commented on #2987
@igdianov Does the `helm dependency build .` work? Do you use tiller or no-tiller version?

[2019-02-04 17:05] josephbrueggen commented on #2908
@rawlingsj Validation at crucial steps is generally a good idea, and especially so if this is a common setup issue.

It seems that the git pipeline user must always be different from the local git user—is that correct?

If so, then I'd advise implementing guidance in the current instruction line. ie: _Select the CI/CD pipelines Git server and user. This user must be different from the local Git us

[2019-02-04 17:14] patrickleet commented on #2951
fine with me - was just playing with it - would you like me to close this ticket?

[2019-02-04 17:18] stormmore commented on #2991
An alternative to rebasing would be to have the platform chart use the stable upstream chart as a sub-chart instead of forking it. Use the mechanisms in the upstream chart to make the customization necessary for Jenkins X.

I would also like to see using the upstream Jenkins Docker container to make it easier for core Jenkins upgrades especially with the recent rash of security issues that they ha

[2019-02-04 18:15] ascheman commented on #2984
I think so, @ccojocar. I was not running into the problem recently since I was just using the default region _us-east_. If you have not fixed it somehow, I guess using eu-de (aka. eu-central) would still run into the problem. There needs to be a transformation between the alias (used in UI) and the name (used in API-Calls).

[2019-02-04 18:26] ascheman opened #2996 "jx create cluster iks does not allow for batch-mode, verbose etc."
### Summary

Almost all variants of `jx create cluster` allow to use common flags like `--batch-mode=true`, `--verbose`, except for `jx create cluster iks`.

### Steps to reproduce the behavior

[code]

### Expected behavior

Command running in verbose mode.

### Actual behavior

[code]

### Jx version

The output of `jx version` is:

[code]

### Implementation hint

As already discussed with @jst

[2019-02-04 18:40] ascheman opened #2997 "jx create cluster iks should create IBM Docker registry namespace"
### Summary

Per default on IBM K8s the IBM Docker registry is used instead of the internal JX Docker registry, cf. jenkins-x/cloud-environments#255. If there is no namespace created manually, JX Docker builds cannot push the created images.

### Steps to reproduce the behavior

[code]

_I am not sure which parameter sets the Docker registry namespace_. Let's say it was `xxx`.

### Expected behavi

[2019-02-04 19:59] fiunchinho commented on #2972
We used a similiar approach on my former employer, but we used the current date when the build was being made, instead of the count of commits in the branch.

I think the suggested approach it's better since:
- has no dependencies on external tooling
- no need for manual intervention as opposed to releasing a new major/minor version when using jx-release-version
- it's a commit: no need to go and

[2019-02-04 20:08] igdianov commented on #2987
@ccojocar Yes, I confirm `helm dependency build .` works locally if I simply add all repos in requirements manually with `helm repo add` command . I use version with tiller.

[2019-02-04 20:31] porterja31 commented on #479
I'd like to bump this to see if there's any additional info at this time.

[2019-02-04 21:33] usvgmani commented on #479
We are planning to run a multi-cluster environment with one ops cluster catering to deploys on n-customer-clusters. We want to install jenkins X on only the ops cluster and managed by a single team, this is the pattern we are currently interested in implementing with Jenkins X.  This is similar to normal Jenkins that builds on the build server that deploys to a runtime environment of choice. A sol

[2019-02-05 01:35] mulanshandi commented on #2855
Try to run `jx get git server`.  The gitkind of gitlab.mycompany.com must be gitlab.

[2019-02-05 07:15] #2990 closed

[2019-02-05 07:30] fleskesvor commented on #2584
I'm having the same issue on GKE. The process seemingly succeeds and new ingresses are created, but there are no https mappings.

[2019-02-05 08:04] sajid2045 opened #2999 "jx import --no-draft=true still tries to create ECR repo"
### Summary
I am trying to import a non-dockerized project with --no-draft but it still tries to create ECR and fails in the process (I don't have aws cli with ecr permission)

### Steps to reproduce the behavior

### Expected behavior

if --no-draft specified, it should not try to create ECR

### Actual behavior

### Jx version
jx version
Using helmBinary helm with feature flag: none
NAME

[2019-02-05 11:14] jonasliekens opened #3002 "Jx Upgrade platform resets admin password"
### Summary
When upgrade the platform the Jenkins password is reset to `admin` and the nexus pod refuses to start due to invalid credentials.

### Steps to reproduce the behavior
1. execute `jx upgrade platform`
2. Enter `Y` when presented with the question `A local Jenkins X versions repository already exists, recreate with latest?`

At first the command failed due to a missing secrets.yaml and m

[2019-02-05 17:01] hekonsek opened #3005 "Quickstart: Java11 for Spring Boot"
Currently there is no quickstart for Java 11 available. Also Spring Boot initializer [1] doesn't support generating new projects using Java 11.

As Java 11 is getting decent adoption recently, I created Java 11 version of our Spring Boot REST + Prometheus quickstart [2] so jx users can take advantage of jx Java 11 support. You can find new quickstart here [3]. Can we add it to https://github.com/j

[2019-02-05 18:22] jglick commented on #2972
Indeed you can also simply use a timestamp (optionally with a short commit hash in an informative section). The drawback is that the version is not then a function of your sources; it is essentially arbitrary. While for JEP-305 this distinction [was critical](https://github.com/jenkinsci/jep/blob/master/jep/305/README.adoc#alternatives-based-on-iep-9), for the K8s buildpack a timestamp might be fi

[2019-02-05 20:03] wbrefvem opened #3007 "jx import tries to create existing Jenkins folder, fails"
### Summary

When running `jx import --git-provider-url=https://bitbucket.org`, everything works until `jx import` tries to create a folder that already exists in Jenkins, at which point it barfs a series of 500s and fails after the 10th one.

### Steps to reproduce the behavior

Run `jx import` and choose the same git provider and user/org that you used to create your envs.

### Expected behavior

[2019-02-05 20:52] iharrington commented on #2846
I have a similar question, is it possibly to create a Global credential on install (inside myvalues.yaml)? Not for pipelines per-se but to be used with plugins.

[2019-02-05 21:03] polothy commented on #3002
Same exact thing happened to me, but the command did not fail, it appeared to work fine.  The upgrade reset the Jenkins admin password to `admin` and the `nexus` secret thinks the password is `admin123`.  It did generate the `adminSecrets.yaml` file and dumped the contents to the screen and it has the correct credentials there.

Still digging through the Helm release to see if I can figure out whe

[2019-02-05 21:05] alejandroandreu commented on #2055
Hey! I've spent some time teaching myself Go and would like to give this issue a try to kickstart my Golang journey. Would you guys be OK with me working on it (at my own pace) by following your approach? That is:

1. Label namespaces (not sure if all resources?) that are created by `jx`
2. When calling `jx uninstall` it only deletes those namespaces

cc @jstrachan

[2019-02-05 21:05] polothy commented on #3002
Here is my `jx version` before:
[code]

And after:
[code]

[2019-02-05 21:45] polothy commented on #3002
Did some Helm digging and I just focused on the Jenkins password.  I'm not sure where the Jenkins Helm chart is, but I was able to get Helm to download it.  If you look at its `templates/secret.yaml` it has this:
[code]

If I look at my values for my release via `helm get values -a jenkins-x` I can lookup `jenkins.Master.AdminPassword` and it is set to `admin`.

If I look at what was dumped into `

[2019-02-05 21:50] hangchan opened #3008 "jx step changelog does not find commit hash if tag already exists for imported projects"
### Summary
Issue in https://github.com/jenkins-x/jx/issues/2934 is not fixed.  jx step changelog works if all the tags were created by jx.  If there are existing tags referring to commits in the master branch, this will fail.
### Steps to reproduce the behavior

### Expected behavior
[code]
### Actual behavior
[code]

### Jx version
1.3.831
The output of `jx version` is:

[code]

### Jenkins type

[2019-02-05 22:03] polothy commented on #3002
I did find these:
[code]
Maybe we need to update these to include `yaml`?

[2019-02-05 22:07] garethjevans commented on #3002
There is a PR going through that changes the yaml library to one that supports the json annotations

[2019-02-05 22:07] garethjevans commented on #3002
This is the PR #3004

[2019-02-05 22:17] polothy commented on #3002
Thanks for the feedback.  That got me thinking to check what's in the secret on the cluster!

So, if I look at `kubectl get secrets jx-install-config -oyaml` and decode `adminSecrets.yaml` it has the `jenkins.jenkinssecret.password` and that just gets dumped as is to `adminSecrets.yaml` file:

https://github.com/jenkins-x/jx/blob/311e3c593914b8263f28bff0567599a94cfcd279/pkg/jx/cmd/upgrade_platform

[2019-02-05 22:33] garethjevans commented on #3002
I'm not 100% at the moment, am wondering if we can read in the file and translate/fix it.  I'm going to take a look at this tomorrow

[2019-02-05 22:35] polothy commented on #3002
That would be great if you can, much appreciated!  I have left the cluster untouched after the `jx upgrade platform` so let me know if you want me to try anything out or need any extra details!

[2019-02-05 23:14] polothy commented on #3002
Looks like all the struct tags were ignored entirely.  Here is our cluster's `adminSecrets.yaml` with all the values `REMOVED`:

[code]

I see now that after looking at https://github.com/jenkins-x/jx/pull/2557 and #3004 what the config was written correctly to disk but incorrectly to the Kubernetes secrets.  This is why the install worked and why the upgrade failed.

Well, that was an interesting

[2019-02-05 23:49] stormmore commented on #597
This is tripping us up at the moment.

[2019-02-06 10:32] agentgonzo commented on #2372
This is because the cluster name doesn't match the `jx-environment` parameter (which defaults to "dev"). It's not obvious, but it say "Skipping jx install" right at the end of your output.
If you specify `--jx-environment=goodclustername` then it _will_ install it.

https://github.com/jenkins-x/jx/blob/master/pkg/jx/cmd/create_terraform.go#L638-L650

[2019-02-06 10:46] agentgonzo commented on #2372
Whether it _should_ do this is up for debate. IMO it's a bit pointless using `jx create` if you're _not_ going to install Jenkins X in the cluster

[2019-02-06 14:52] davidcurrie opened #3012 "jx create quickstart --no-import doesn't run draft"
### Summary

Running `jx create quickstart --no-import` only clones the quickstart. It doesn't set up git and it doesn't run draft.

### Steps to reproduce the behavior

[code]

### Expected behavior

My expectation (perhaps incorrect) was this it would do everything but the pipeline setup.

### Actual behavior

Command does nothing but the clone.

### Jx version

The output of `jx version` is:

[

[2019-02-06 15:00] garethjevans commented on #3002
#3013 should fix the secret in the cluster

[2019-02-06 15:01] garethjevans commented on #3002
/priority critical-urgent

[2019-02-06 15:25] ccojocar commented on #3012
draft is only executed by the import command, which is invoked from `create quickstart`. The `no-import` option disables entire the import command.

[2019-02-06 16:17] polothy commented on #3002
Took a look at the code, really good idea on how to recover!  I'll test it once the PR is merged and released.  Thank you very much for making this a priority!

[2019-02-06 18:36] polothy commented on #3002
Think this worked!  After upgrading `jx` I ran:
[code]

Then I had to restart the Jenkins pod so it would auth the admin user against the updated password (think this was necessary because I had already upgraded the pod previously):
[code]

Not sure if anything else needs a restart.  But Nexus pod is now running.  I'll report back if anything comes up after some usage.

Thanks all for your help on

[2019-02-06 20:58] jstrachan commented on #2806
I wonder if we rename the current `jx step verify` to be something like `jx step verify pod count` as thats really what it does - then your new command could be maybe `jx step verify pod ready` or something which verifies the pods are all ready/good?

[2019-02-06 21:11] jstrachan commented on #2055
welcome @alejandroandreu

we have a helper method to get the 'dev' namespace for a team - e.g. if the user is in the `jx-staging` repo it'll return the `jx` namespace correctly.

[code]

if `devNs` is empty then we could try find all the Namespaces with a team label on it - if there is > 1 then prompt the user to pick one to delete. This is kinda the logic in `jx team` right now which we could cop

[2019-02-07 09:36] warrenbailey commented on #2806
Yep, that sounds like a good idea. I can do that

[2019-02-07 10:17] chenfli commented on #2988
Managed to overcome by removing many of the jx install parameters

[2019-02-07 10:17] #2988 closed

[2019-02-07 11:12] EamonKeane opened #3022 "Update draft helm chart (e.g. deployment to apps/v1)"
The default helm chart created when importing a project uses `extensions/v1beta1` which is deprecated in favour of `apps/v1`.

[code]

[2019-02-07 11:51] garethjevans commented on #3002
Great, will close the ticket for now.

[2019-02-07 11:51] #3002 closed

[2019-02-07 12:32] agentgonzo opened #3023 "jx upgrade cli after a manual install (not via brew) fails"
### Summary
If you have previously installed jx via brew, then uninstalled it and the manually installed it via the download, a `jx upgrade cli` fails.

### Steps to reproduce the behavior
`brew install jx`
`brew uninstall jx`
Download and install jx manually
`jx upgrade cli`

### Expected behavior
the manually installed version of jx should be upgraded

### Actual behavior
it tries to install via

[2019-02-07 12:35] msigler-cb commented on #3023
First, remove jx using `brew brew uninstall jx`. Do `brew update` and `brew list` and not see jx. Also suggest `brew cleanup`. Then install per the guide: https://go.cloudbees.com/docs/cloudbees-core/kubernetes-cd-install-guide/install-base/ . This would include `curl -L https://github.com/jenkins-x/jx/releases/download/v1.3.620/jx-linux-amd64.tar.gz | tar xzv` and `sudo mv jx /usr/local/bin`. Thi

[2019-02-07 12:39] msigler-cb commented on #3023
I suspect the next time I do `jx version` and there is an upgrade available, that i will be prompted, and with `Y` i will get the brew error.

[2019-02-07 14:09] ccojocar commented on #3023
Please could you try to run `brew upgrade jx` outside of jx? I suspect you will get something like this:

[code]

[2019-02-07 14:40] jstrachan commented on #3023
maybe rather than assuming brew was used to install the binary we should look at the location of the binary and use that to determine if we should even bother with brew? If the binary isn't somewhere brew would put it - we just ignore brew?

[2019-02-07 17:27] ffinkdevs opened #3029 "jenkins-x-controllerteam 0/1 ImagePullBackOff"
### Summary
Failed to pull image "jenkinsxio/builder-go:0.1.232": rpc error: code = Unknown desc = failed to get image information: failed to get image diffIDs: manifest sha256:2afc7342580a90995393453dec204e043845e31af456e2f92cd51b803e4d2bab: not found

### Steps to reproduce the behavior
/jx install --provider=kubernetes \
--external-ip=xxxxxx \
--domain=ci.xxxxxx.xxxx --skip-ingress

### Expecte

[2019-02-07 17:53] porterja31 opened #3030 "401 Bad credentials on webhooks with jenkins x pipeline Github Enterprise"
### Summary
My team is creating is using jenkins on EKS and when we attempt to do jx import on the app we get 401 on the webhooks query.  The webhook itself is created and visible in the repo.

`Error querying webhooks on myorg/myrepo: GET https://github.mydomain.com/api/v3/repos/myorg/myrepo/hooks: 401 Bad credentials []
Creating GitHub webhook for myorg/myrepo for url http://jenkins.jx.mycluster

[2019-02-07 20:23] porterja31 commented on #3030
My issue was due to bad caching in .jx/gitAuth.yaml

[2019-02-07 20:23] #3030 closed

[2019-02-07 22:41] msigler-cb commented on #3023
I happen to know that it was installed using brew, but I don't think it was `brew uninstall jx` prior to `jx upgrade cli` so brew still has it in it's manifest

brew also installs jx in /usr/local/bin path, so i don't think you can determine definitively by path

`brew list jx` will "Error: No such keg: /usr/local/Cellar/jx"

`brew upgrade jx` will "Error: jenkins-x/jx/jx not installed"

The inten

[2019-02-08 09:27] agentgonzo commented on #3023
If I was to do a `brew update && brew upgrade`, that is exactly what I would _want_ to if I had installed `jx` via brew happen.

As an end-user, I would _not want_ this.

[2019-02-08 09:27] agentgonzo commented on #3023
FYI, I wasn't the originator of this and don't own a mac, so can't help diagnose issues :-|

[2019-02-08 09:29] agentgonzo commented on #3023
Can we get some more clarification on _exactly_ what the user did to get themselves into this state? I am starting to think that it's a situation where the user has done something unexpected/unsupported and therefore _potentially_ outside the bounds of what we can reasonably code for

[2019-02-08 11:10] mrlov commented on #228
Does the problem appears only when the GKE cluster master runs on windows? If so, then I would like to try to start with a cluster with linux master and some windows nodes.
Or appears this problem as early as one of the nodes is a windows node?

[2019-02-08 14:06] jtnord opened #3037 "Jenkins-x-versions CI setup issues"
### Summary

the Jenkins-x-versions repo CI is not correct

### Steps to reproduce the behavior

create a PR (like jenkins-x-versions#20)  and run the tests

### Expected behavior

Given the triviality the tests should run and pass

### Actual behavior

they fail

Additionally if you trigger a build of master to compare to try and work out how anything was merged, you get a comepletely useless bui

[2019-02-08 15:09] agentmarine opened #3038 "JX add dependencies such as ImageMagick"
### Summary
The project that I am attempting to deploy into a JX cluster has a requirement for ImageMagick to be installed on the NodeJS pod, I've attempted a few things to do this but I think I am still missing some thing.

Can any one provide some more information on how I might be able to add this dependency?

[2019-02-08 15:25] svilenvul commented on #1239
Hi, I am new to Jenkins X and I was redirected here by following https://jenkins-x.io/faq/setup/#how-do-i-add-a-user-to-my-jenkins-x-installation. For me it is hard to understand currently what is the preferred way to login with an user  (e.g. having viewer permissions) in case `jx login` is not possible. I would appreciate your help.

[2019-02-08 16:35] patrickleet commented on #3038
I imagine this would go in the Dockerfile of the NodeJS App

[2019-02-08 16:37] patrickleet commented on #3038
Here's a tutorial from the top of Google - https://medium.com/@aungmt/image-manipulation-in-nodejs-bdc31da22d08

[2019-02-08 19:28] wbrefvem commented on #3007
/assign wbrefvem

[2019-02-08 19:49] mikecirioli opened #3044 "jx delete application prompts multiple times for github user to use for pull requests"
### Summary
When running `jx delete application` I am prompted for the guthub user account to use for each pull request.  I expected i would be prompted only once - not sure if this is an error with my assumption or a true bug.

### Steps to reproduce the behavior
run `jx delete application` for an app that has preview & production environments
### Expected behavior
i would be prompted once for th

[2019-02-08 21:28] artsilenkov commented on #1437
@mcncyo use
`kubectl edit svc` command for each svc with annotation in jx environment

[2019-02-09 00:23] igdianov commented on #2987
@ccojocar The repos are public. This error only happens in a build pod when repos in requirements are on the same domain name i.e. https://actitiviti.github.io/activiti-cloud-charts and https://actitiviti.github.io/activiti-cloud-helm-charts

If I manually add both repos in the pipeline before `jx step helm buile` with `helm repo add` command, but it defeats the purpose of using `jx step helm buil

[2019-02-09 07:27] #2238 closed

[2019-02-10 09:01] #2714 closed

[2019-02-10 23:38] igdianov opened #3047 "Bug: missing Jenkins secrets when jx create cluster gke with --kaniko option"
### Summary

When creating new GKE cluster with `--kaniko` option, `jx create cluster gke` command does not initialize Jenkins secrets, i.e. `jenkins-x-chartmuseum`, `jx-pipeline-git-github-github` do not exist in `Jenkins --> Credentials` after successful installation.

### Steps to reproduce the behavior

1. In the GCP Console, go to the Manage resources page and select or create a project: http

[2019-02-11 07:16] svilenvul commented on #1063
Same problem here.

[2019-02-11 08:39] alejandroandreu commented on #2055
After poking with the code I realized I've got a lot to learn re. certain libreries and so on, so if anyone wants to tackle this issue please go ahead.

[2019-02-11 08:40] svilenvul opened #3049 "jx minimal kubernetes permissions for committer"
### Summary

We would like to install Jenkins X in our organisation, but we are concerned that the [default roles](https://jenkins-x.io/architecture/rbac/#default-roles) are giving too much permissions to the developers (especially comitter role for staging and production is a major issue).

We are thinking about modifying them, but on the other hand we don't know what are the minimal permissions

[2019-02-11 09:54] heroic opened #3050 "jx install ignores AdminPassword in myvalues.yaml"
### Summary
When installing with `jx install` it always defaults to creating a new adminpassword even if one has been given in myvalues.yaml

### Steps to reproduce the behavior
Add jenkins.Master.AdminPassword in myvalues.yaml. Run jx install. A new password is generated.

### Expected behavior
For gitops, the yaml file should be the single source of truth. The CLI does have a flag, but bare bone

[2019-02-11 10:18] agentgonzo opened #3052 "jx create terraform doesnt' give me the option to install static jenkins"
### Summary
jx create terraform doesnt' give me the option to install static jenkins - it only installs serverless jenkins

### Steps to reproduce the behavior
`jx create terraform`

### Expected behavior
You get the option to install static jenkins

### Actual behavior
it installs serverless jenkins without prompting you for the choice.

### Jx version

The output of `jx version` is:

[code]

###

[2019-02-11 11:17] romainverduci opened #3054 "`jx delete team x` is breaking team creation + could delete the default jx services"
### Summary
`jx delete team` does not check for the team to be in Complete status before deleting it.
This can lead to errors if you delete a team before it's been properly created.
In my case, it also ended up delete everything under the jx namespace by trying to remove another team.

### Steps to reproduce the behavior
This is not obvious and straightforward but here are the steps I did to face

[2019-02-11 11:51] heavyengineer commented on #3044
I've observed this behaviour  bitbucket cloud too.

[2019-02-11 11:52] teilo-bot opened #3055 "auth.PickServerUserAuth does not error if no userAuths are present"
### Summary

[`auth.PickServerUserAuth`](https://github.com/jenkins-x/jx/blob/a2b2f2eafd788de79a2bf8caa6330e346c3150bc/pkg/auth/auth_config.go#L257-L326) returns an empty struct if there are possible auths availabe rather than an error.

### Steps to reproduce the behavior

Not sure how I got into the state but...

[code]

the error handling is much further down the tree that it needs to be an hid

[2019-02-11 12:44] daveconde opened #3057 "Create a jx step that returns a list of version updates included on a branch"
### Summary

Add a new step `` jx step get version changeset``. This step will run in a checkout of [jenkins-x-version](https://github.com/jenkins-x/jx-release-version) and return a list of component updates along with their existing and upgraded versions. It will achieve this by getting the list of changed files between branches and the pre and post change version numbers.

The returned output sh

[2019-02-11 12:59] daveconde opened #3058 "Apps: support post install / upgrade validation"
### Summary

Add the ability to have a list of post install / upgrade checks that can be added to an Apps resource.

Example of checks in App resource:

[code]

A new step ``jx step validate app`` should then be added that will look at all unverified checks, execute them, update the status in the App CRD and return a pass or fail to the caller.

[2019-02-11 14:25] hekonsek opened #3059 "Create aws-msk-golang quickstart"
Hi,

I have created quickstart [1] that simplifies creating AWS MSK Kafka cluster. It allows you to create the new project with definition of your MSK infrastructure and update it automatically whenever you would like to modify your project.

Would it be possible to add it to https://github.com/jenkins-x-quickstarts?

[1] https://github.com/hekonsek/aws-msk-golang

[2019-02-11 14:31] garethjevans opened #3060 "Unable to change nexus password by updating the secrets"
### Summary

When the nexus password is changed from updating the secrets, the change doesn't propagate to the nexus.  This is down to the way that the nexus password is configured.

https://github.com/jenkins-x/nexus/blob/master/postStart.sh#L58-L69

We would need both passwords to update automatically.

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [x] Classic Jenki

[2019-02-11 14:32] garethjevans commented on #3060
Workaround is to change the nexus password in the UI post install

[2019-02-11 14:34] garethjevans commented on #3060
/area nexus
/kind bug
/priority important-longterm

[2019-02-11 16:47] agentgonzo opened #3062 "Naming is inconsistent between apps and applications"
### Summary
Mostly due to renaming and legacy, but at present, `apps` and `applications` are _not_ the same thing.
But there is legacy code where `app` is a contraction of `applications` and is not actually referring to `apps`
eg, `jx get apps` in an alias to `jx get applications` and refers built applications that are created as a result of `jx import` or `jx create quickstart` and are running in

[2019-02-11 16:48] garethjevans commented on #3047
Hi @igdianov, can you confirm if the secrets are missing from the cluster or just not viewable from Jenkins?

e.g. `kubectl get secret jenkins-x-chartmuseum`

[2019-02-11 16:49] garethjevans commented on #3047
/kind needs-validation

[2019-02-11 19:28] mbalaa-spring commented on #1998
For some reason `TILLER_NAMESPACE` was defined in our global Jenkins (X) config but it had no value; removing it solved this issue for us.

[2019-02-11 21:08] MichalFoksa commented on #1715
@sdoxsee bit more elaborated #2604: [Jenkins X: Preview Environment](https://medium.com/@MichalFoksa/jenkins-x-preview-environment-3bf2424a05e4)

[2019-02-12 10:18] QincaiLiu commented on #667
![image](https://user-images.githubusercontent.com/45627838/52628371-d2151280-2eb7-11e9-9ba7-4e83b9072daf.png)
I have the spinning icon as well, no more, probably the connection between k8s and github?
where does monocular fetch these charts?

[2019-02-12 12:08] ccojocar commented on #3029
@ffinkdevs Are you able to pull other images? Is only the `go-builder` image failing?

[2019-02-12 12:11] daveconde opened #3068 "Error: running postinstall hooks during jx add app"
### Summary

When running jx add app it fails to run the post install hooks due to not being able to find the app by name.

### Steps to reproduce the behavior

```jx add app jx-app-jacoco --version 0.0.100 --repository http://chartmuseum.jenkins-x.io```

### Expected behavior

App installs

### Actual behavior

error: running postinstall hooks for jx-app-jacoco version 0.0.100: apps.jenkins.io "j

[2019-02-12 12:11] ccojocar commented on #3038
@agentmarine Do you need more help? Can we close this issue?

[2019-02-12 12:13] agentmarine commented on #3038
The resource Patrickleet gave was fantastic, I forgot that I had to build my self a dockerfile at one point so i thought it was down to the base images within JX.

[2019-02-12 12:13] #3038 closed

[2019-02-12 12:13] ccojocar commented on #3044
@mikecirioli Please could you check if the user and token is configured in `~/.jx/gitAuth.yaml` after the first prompt? I think, it should prompt only if the git server is not configured.

[2019-02-12 12:17] ccojocar commented on #3050
@heroic You can also configure the admin password using the `--default-admin-password' option of the install command.

[2019-02-12 12:27] ffinkdevs commented on #3029
It's the only image which fails, tried on other kubernetes clusters and a
new version of jx, it fails with all of em, on docker hub the image does
not exist

On Tue, 12 Feb 2019, 13:08 Cosmin Cojocar, <notifications@github.com> wrote:

[2019-02-12 13:03] heroic commented on #3050
the issue is I am trying to create a gitops install. For our setup the
gitops flag isn't working(some issue in creating value). myvalues.yaml gets
overwritten at install time by extraValues.yaml.

On Tue, Feb 12, 2019 at 5:47 PM Cosmin Cojocar <notifications@github.com>
wrote:

[2019-02-12 13:20] warrenbailey commented on #2806
Rename here: https://github.com/jenkins-x/jx/pull/3069

[2019-02-12 13:24] agentgonzo opened #3073 "jx import conflicting --org and --url parameters"
### Summary
It's not obvious what a result of `jx import --url https://github.com/org1/myrepo --org org2` _should_ do. eg, if you want to import someone elses repo (that you don't have permission to push to), you could resonably expect `jx import --url https://github.com/spring-projects/spring-petclinic --org jenkins-x` to fork the project to https://github.com/jenkins-x/spring-petclinic and impor

[2019-02-12 13:24] agentgonzo commented on #3073
At the moment, if you _do_ try to do `jx import --url https://github.com/org1/myrepo --org org2`, then promotions fail (don't have the logs for that at the moment I'm afraid)

[2019-02-12 13:44] agentgonzo commented on #3073
So I totally missed the existing help: `      --org string                     Specify the Git provider organisation to import the project into (if it is not already in one)`

In which case, it's definitely not picking up on the fact that it _is_ part of an organisation when doing the import --url, so it's definitely not behaving as described at the moment. Whether we want to change the interpreta

[2019-02-12 14:56] jglick opened #3075 "First-class support for creating a cronjob"
Developers frequently want to set up recurring tasks, such as nightly test runs that are too expensive to do upon every commit. In Jenkins, this is so routine a requirement that it is built into core (`TimerTrigger`): you can ask to schedule a job periodically instead of / in addition to in response to SCM changes or other events, giving it a cron-like expression.

It would be useful to have some

[2019-02-12 16:07] #3068 closed

[2019-02-12 20:06] heroic opened #3076 "PR comment on bitbucketcloud fail"
### Summary
When a PR passes a build, bitbucket comment fails with an error and hence there is no url posted.

### Steps to reproduce the behavior
Import a private bitbucket repository. Create a PR and let it's build succeed.

### Expected behavior
A new comment is added to PR with the link to the URL

### Actual behavior
No comment is added and an error is seen in the logs:

[code]

### Jx versio

[2019-02-12 20:54] mikecirioli commented on #3044
i believe so, my `gitAuth.yaml` looks like this:

[code]

[2019-02-12 22:38] igdianov commented on #3047
@garethjevans I installed new GKE cluster with `--kaniko` option. The  `jenkins-x-chartmuseum` secret exists. The Jenkins Credentials are not populated.

[code]
![image](https://user-images.githubusercontent.com/20428629/52672798-b0c21f80-2ed3-11e9-8b03-8d72a0ccc1d5.png)

[2019-02-13 04:05] igdianov commented on #3047
@garethjevans Cluster with `--kaniko` is missing `jx-pipeline-git-github-github` secret. Here is the list of secrets in the cluster :

[code]

Here is list from another cluster created without `--kaniko` option:

[code]

[2019-02-13 04:13] igdianov opened #3079 "Make TLS work in AWS EKS cluster"
### Summary

ATM, there is only one listener created on AWS NLB controlled by `--http=true|false` option for `jx install --provider eks` command.

So, I basically installed Jx in EKS with TCP 80 listener on NLB and then tried to do `jx upgrade ingress --cluster` to upgrade to TLS. It failed, of course, because there was no TCP 443 listener on NLB.

Then, I decided to hack `jxing-nginx-ingress-cont

[2019-02-13 05:42] igdianov opened #3080 "Add `jx get domain` command"
### Summary

It would be useful to extract current Jx cluster domain via shell using `jx` command that wraps the following verbose `kubectl` command:

`kubectl get cm ingress-config -o=go-template --template='{{.data.domain}}' -n jx`

### Steps to reproduce the behavior

### Expected behavior

### Actual behavior

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [ ] Clas

[2019-02-13 08:26] ccojocar opened #3081 "Add support for Virtual Private Cloud (VPC) when creating the GKE cluster"
### Summary

Add an option to enable VPC when creating the GKE cluster. It should allow to the user to provide the network and subnetwork of the cluster:

https://cloud.google.com/kubernetes-engine/docs/how-to/cluster-shared-vp

Create network and subnetwork:

[code]

Firewall rule to enable all ingress traffic:

[code]

The egnress traffic and internet can be enabled by creating a Cloud NAT (http

[2019-02-13 09:48] StephenWangasg opened #3083 "Failed to re-install jenkins-x platform"
### Summary
Unable to re-install jenkins-x
### Steps to reproduce the behavior

1. `jx install --namespace n1 --provider eks --username admin  --domain n1.com --buildpack kubernetes-workloads --no-tiller --git-private`
2. `jx uninstall`
3.  `jx install --namespace n1 --provider eks --username admin  --domain n1.com --buildpack kubernetes-workloads --git-private`
### Actual behavior
[code]

### Jx

[2019-02-13 10:39] pmuir commented on #3083
/kind bug
/priority backlog
/area install

[2019-02-13 14:39] davidcurrie opened #3091 "gcactivities fails due to non-numeric build numbers"
### Summary

The activities GC jobs are failing in both of our clusters with the following errors:
[code]

In both clusters, there are a couple of examples of promotion builds with non-numeric build IDs e.g.
[code]

### Steps to reproduce the behavior

Unknown

### Expected behavior

Build numbers are all numeric.

### Actual behavior

Some build numbers appear to be based on tags.

### Jx version

[2019-02-13 15:37] pmuir commented on #3091
/kind bug
/priority backlog
/area prow

Can you add the `Jenkinsfile`?

[2019-02-13 16:58] gregastasothebys opened #3093 "JX Import Fails on ECR Step if you use an IAM Role."
### Summary

We're currently using an AWS role to delegate who may access our EKS cluster. This role is then mapped to our 'aws-auth' ConfigMap in Kube-system.  This works well for all Kubernete's related actions.  The users have their keys established in `~/.aws/credentials` and then an entry in `~/.aws/config` establishes a profile which assumes this role and the end users specify that profile v

[2019-02-13 17:32] EamonKeane opened #3094 "Detect `helm.sh/chart` as deployment version key"
In an effort to standardise, the kubernetes community decided upon a set of recommended labels for charts 6 months ago. The label identifier for chart version changed from `chart` to `helm.sh/chart`.

Jenkinsx detects current staging/production versions by reference to the `chart` or `version` labels on the deployment currently.

https://github.com/helm/helm/blame/master/docs/chart_best_practices/

[2019-02-13 17:38] EamonKeane opened #3095 "Consolidate multiple deployments in a repo to one app"
For repos with multiple deployments (such as separate nginx and php deployments), jenkinsx currently thinks there are two `apps` by parsing each of the deployment.

In reality there is one and `jx promote` only works on the main repo not each of the displayed apps. If multiple deployments are detected `jenkinsx` should possibly revert to the name of the repo and pick the version from one of the de

[2019-02-13 21:21] #3073 closed

[2019-02-13 21:51] polothy commented on #3007
Running into the same problem, trying to debug it... any tips would be appreciated!

[2019-02-13 22:25] polothy commented on #3007
So, I re-created the request via curl:
[code]

And that returns a `HTTP/1.1 500 Server Error` with some HTML:
[code]

And really the problem was that my admin API Token was no longer valid.  I removed it from `~/.jx/jenkinsAuth.yaml` and JX prompted me to create a new one.  After that, it worked fine.

Would be nice if Jenkins would return an authorization error instead of 500.

[2019-02-13 22:31] mikecirioli commented on #2849
closed, this has been addressed by #3045

[2019-02-13 22:31] #2849 closed

[2019-02-13 22:39] mikecirioli opened #3096 "jx delete application with --all=true does not delete any applications"
### Summary
Unable to delete multiple apps using the `--all=true` or `-f <filter string> --all=true` options

### Steps to reproduce the behavior
[code]
### Expected behavior
expected that all apps matching the supplied filter would be deleted

### Actual behavior
see above

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [ ] Classic Jenkins
- [x] Serverless Jenkins

##

[2019-02-14 05:52] ica10888 opened #3098 "The maven build shows Execution exception: Java heap space"
When I build my own java project.

The maven build pipeline shows error.

[code]

It seems like heap memory is not enough.

When I changed global setting Kubernetes Pod Template maven's envionment variables

[code]

to

[code]

`-Xmx128m` change to `-Xmx512m`

pipeline run passed.

It also configured at configmaps `jenkins-x-pod-templates` in `jx`namespaces.

So I suggest that template maven confi

[2019-02-14 09:14] ccojocar commented on #3095
@EamonKeane At the moment, jx supports one application per deployment. There isn't any dedicated CRD for an application which stores the metadata of an application consisting of multiple deployments.

You have a few options:
- extract the nginx proxy in a separate chart and manage it as a separate application
- use nginx as a side car container in the application deployment

[2019-02-14 09:18] ccojocar commented on #3098
@ica10888 Thanks for point this out. Please could you send a PR to https://github.com/jenkins-x/jenkins-x-platform/blob/705e1d3f0779aa825920501ea21c1642309e1a31/values.yaml#L882? Thanks

[2019-02-14 09:31] EamonKeane commented on #3095
@ccojocar  Thanks. Maybe it's not a commonly used pattern but the main benefit of separate deployment is independent scalability of replicas for the nginx and php components. Bitnami use it in their example chart.

The separate applicaiton doesn't really fit the use case, but a side car would resolve it. Alternatively knowing to run `jx promote fleetcore`) and not the individual ones also works.

[2019-02-14 10:55] agentgonzo opened #3099 "Connecting to an existing devpod is not obvious"
### Summary
Creating/listing/deleting devpods is done via jx `create devpod`, `get devpods`, `delete devpod`, yet connecting to a devpod is via the rather obtuse `jx rsh -d` command. It would make much more sense to attach/connect to an existing devpod with a command such as `jx attach devpod`

[2019-02-14 19:19] #2626 closed

[2019-02-14 20:11] wbrefvem opened #3110 "jx import attempts to trigger pipeline with non-TLS Jenkins URL"
### Summary

After upgrading ingresses with TLS, `jx import` is still using the old, non-TLS URL to trigger the initial pipeline build.

### Steps to reproduce the behavior

1. Install Jenkins X without TLS support.
2. Run `jx upgrade ingress`
3. Run `jx import`

### Expected behavior

`jx import` should successfully trigger the initial pipeline build.

### Actual behavior

It fails with:

[code]

[2019-02-15 01:20] ica10888 commented on #3098
I have sent a pr at https://github.com/jenkins-x/jenkins-x-platform/pull/4859
Please review it.
Thanks a lot.

[2019-02-15 08:32] ccojocar commented on #3098
Thanks, Which kind of nodes are you using in your cluster? I am asking this because I would like to avoid getting build pods stuck due to lack of memory. Especially, in a default GKE cluster with 3 n1-standard-2 nodes.

[2019-02-15 08:35] ccojocar commented on #3099
I think, the shell should be opened automatically in the DevPod when it is first time created. I agree that it would be nice to have a more intuitive command to attach to an existing DevPod.

[2019-02-15 08:39] ccojocar commented on #3110
It seems that the Jenkins URL is only updated into the GitHub webhooks. Probably, we should detect dynamically throughout the jx code if the  HTTPS is enabled.

[2019-02-15 08:39] paulvi opened #3112 "Jenkins X for Android"
While Jenkins X should be in great shape for Java apps ( https://amazonaws-china.com/blogs/opensource/continuous-delivery-eks-jenkins-x/, https://jenkins-x.io/developing/import/  ),
I wonder would there magic be there for Android project?

The expectation would be to have needed Jenkins plugins installed, and Android emulator running somehow the App with just freshly built apk.

Searching online f

[2019-02-15 08:45] ccojocar commented on #3112
@paulvi There is an android quick start, but to be honest I don't know in which state it is.

https://github.com/jenkins-x-quickstarts/android-quickstart

[2019-02-15 08:46] ccojocar commented on #3112
What it would be your expectation from supporting Android? I think, we will also need to have a dedicated build pack for this with some common development tools for Android.

[2019-02-15 09:18] paulvi commented on #3112
I checked that Android is not (yet) on roadmap https://jenkins-x.io/contribute/roadmap/

and the most knowledgeable person for the matter is Christopher @orrc, the author of https://wiki.jenkins.io/display/JENKINS/Android+Emulator+Plugin

Answering to https://github.com/jenkins-x/jx/issues/3112#issuecomment-463955937

I think it should stay in some parity to other runtimes.
But as I see now, suppo

[2019-02-15 09:52] agentgonzo commented on #3099
It is, but that's not what this is about. If I disconnect from the devpod, I want an intuitive way to reconnect/reattach.

[2019-02-15 09:52] paulvi commented on #774
Eclipse Che is still shown as planned on https://jenkins-x.io/contribute/roadmap/

[2019-02-15 12:06] dmonteiro-paddle commented on #2584
@hnioche i'm having the same issue as you. can you give me an example on how you changed the https mapping?

What i tried was on the nginx controller service, edit the yaml file and change this:
"spec": {
    "ports": [
      {
        "name": "http",
        "protocol": "TCP",
        "port": 80,
        "targetPort": "http",
        "nodePort": 31583
      }
    ],

to

[2019-02-15 12:12] ica10888 commented on #3098
I am using kubernetes cluster is set up in aliyun ECS cluster.( memory average 16g)

The  memory is not enough due to my springboot project's a little massive maven build process，especially maven  plugins.

 The pod maven which is in `jx` namespace is request 800m and limit 1g memory.

if node's memory is not enough， the pod will till keep "Pending".

The maven build I think it is mainest in pod m

[2019-02-15 14:55] tonygilkerson opened #3114 "jx create prompts for github api token even when configured for gitlab"
### Summary
I am using gitlab not github but when I run a `jx create quickstart` command I am prompted for a github api token.  I give it a valid token and the quickstart seems to work but I would like to not be required to also have a github account that is not needed

### Steps to reproduce the behavior

#### Use `--no-default-environments` when creating the cluster

[code]

#### add a git serve

[2019-02-15 15:15] joostvdg opened #3115 "jx upgrade ingress update environment webhooks looks at wrong GitHub org"
### Summary

When updating ingress configuration via the `jx upgrade ingress` command, it does not update the environment webhooks. I believe this goes wrong because it uses the wrong GitHub organization.

As user and organization I've set `joostvdg` and that all works. When I do `jx upgrade ingress` and select `Y` on `Do you want to update all existing webhooks?` I get a drop down of every *other

[2019-02-15 15:22] warrenbailey opened #3117 "Jenkins-x-versions directory already exists"
### Summary
There are some instances where jx will complain that the ~/.jx/jenkins-x-version directory already exists and will bail out of the command.

I've seen it on `jx create spring` but it appears intermittent and I've also seen it on `jx create cluster` which seems a bit more consistent. I actually had it twice in a row.

### Steps to reproduce the behavior
1. Create a new cluster
2. Create

[2019-02-15 15:35] ranginuitrot commented on #3117
Experienced this yesterday.

[2019-02-15 15:52] ccojocar commented on #3117
@warrenbailey Probably the issue is somewhere here https://github.com/jenkins-x/jx/blob/a0045ec7c4877c53c3ebcdfdfac3bb868ce3190c/pkg/jx/cmd/common_helm.go#L341

[2019-02-15 15:52] warrenbailey commented on #3117
The steps detailed above do not result in consistent failures, as I've just managed to create two clusters in a row. However I have had that error multiple times over the last few days so will investigate.

[2019-02-15 15:53] warrenbailey commented on #3117
@ccojocar yeah I think you're right. I was just looking at that code i'm going to tweak the error handling. There's definitely a path it can go down and result in that failure.

[2019-02-15 16:15] jstrachan commented on #774
@paulvi thanks, I've updated the plan

[2019-02-15 16:31] polothy commented on #1998
We are experiencing the same problem.  Setting `TILLER_NAMESPACE` in our `Jenkinsfile` fixes it:
[code]

Found two references to `TILLER_NAMESPACE` in the [jenkins-x-platform](https://github.com/jenkins-x/jenkins-x-platform) project:

https://github.com/jenkins-x/jenkins-x-platform/blob/e2819eea110d5936a489a00969667ba5b044db5a/values.yaml#L807

https://github.com/jenkins-x/jenkins-x-platform/blob/

[2019-02-15 17:01] bkuszewski opened #3122 "Support releases from branch names with "/""
### Summary

jx promote fails when releasing a branch name that includes a /

### Steps to reproduce the behavior

Create a branch (release/V123, for example) with a Jenkinsfile that includes a release step which calls jx promote
Tell Jenkins to build that branch.

### Expected behavior
The release is deployed

### Actual behavior
[code]
NAME               VERSION
jx                 1.3.884
jenkin

[2019-02-15 17:02] polothy commented on #1998
Just confirmed that if the `TILLER_NAMESPACE` env var is unset, then it also works.  I _think_ Jenkins protects env vars between step commands, so I had to do it in a single command, like so:
[code]

[2019-02-15 17:33] heroic commented on #3112
I had an interaction with @jstrachan about this once. He referred me to fastlane. That should work well on jx, at least for android.

[2019-02-15 17:39] markawm commented on #3117
Hey @warrenbailey - I just spotted this issue, and I think the PR I filed might be relevant: https://github.com/jenkins-x/jx/pull/3123

I saw this a while ago, but then it seemed to go away. I think the intermittency might be down to whether the clone needs updating.

[2019-02-15 17:51] ypto opened #3124 "ELB target group health checks fails with unhealthy"
### Summary

Brand new deployment of Jenkin X and EKS results on not finalizing jenkins x installation.
Two days ago, i did a full deployment and worked without an issue. Today, i deleted the entire deployment, and tried to do a new one and failed. Tried to deploy in a different region as well. (first deployment was on eu-west-1 and second on eu-central-1)

[code]

Nodes are active, and working co

[2019-02-15 18:50] #3114 closed

[2019-02-15 18:50] tonygilkerson commented on #3114
I understand this is as designed:

currently we use github directly by design to query for the quickstarts from this github organisation: https://github.com/jenkins-x-quickstarts - though it might be nice to avoid folks having to setup a github api token really - e.g. we could create a quickstart catalog as a blob of YAML on the jenkins website or something

[2019-02-15 18:53] polothy commented on #1998
Proposed a fix in https://github.com/jenkins-x/jenkins-x-platform/pull/4864

[2019-02-15 21:00] rafaelpolo19 commented on #1130
The same thing happens to me, some solution?
http://monocular.jx.192.168.99.114.nip.io/ - ok
http://monocular.jx.192.168.99.114.nip.io/ - ok

http://jenkins.jx.192.168.99.114.nip.io/ -
default backend - 404

[2019-02-15 21:38] rafaelpolo19 opened #3126 "any options dont inicialiaze web pages for home of jenkins x"
any options dont inicialiaze web pages for home of jenkins x

I try whit all options like:
jenkins-x chartmuseum
jenkins-x-docker-registry
jenkins-x-mongodb
jenkins-x-monocular-api
jenkins-x-monocular-prender
jenkins-x-monocular-ui

what is te home page that i shoudl view?
thanks for the response ;)

### Summary

### Steps to reproduce the behavior

### Expected behavior

### Actual behavior

###

[2019-02-16 15:55] Sam123ben commented on #2954
@ccojocar Not sure if anyone could help me with this

[2019-02-17 06:52] heroic opened #3127 "jx export"
### Summary
Currently when you install and use jx, a lot of state changes. However, unless someone started with gitops, there is no way for them to switch to gitops for jx itself.

Adding an export will allow people to carry over their whole infra to a new cluster, and to convert any non-gitops install to gitops

### Steps to reproduce the behavior
NA

### Expected behavior
JX should allow people

[2019-02-17 11:14] affixalex commented on #3079
Specifically, what steps did you take to apply those changes to the `jxing-nginx-ingress-controller` service?

[2019-02-18 08:43] ccojocar commented on #2954
@Sam123ben Wondering if you could try to install with the lates version? It seems that there were some issues with the knatvie chart in the initial installation:
[code]

[2019-02-18 09:21] warrenbailey commented on #3117
Hi @markawm, quite possibly thanks. I'll take a look at that PR now. At the minute I think the update errors then subsequent delete fails which means the fresh clone doesn't work. It looks like your PR would solve the second step in that.

[2019-02-18 10:34] leechungkyu commented on #667
@QincaiLiu I am in the same situation.
$ jx --version
1.3.891

[2019-02-18 10:41] ypto commented on #3124
Mark this issue to be deleted. Was an issue with not generating the security group correctly with the ports matching http and https. (would not open to external access)

[2019-02-18 10:48] ypto opened #3134 "jx upgrade ingress --cluster not able to get letsencrypt prod certificates"
### Summary
After executing jx upgrade ingress --cluster, if the choice is letsencrypt prod, it never gets the certificates and gets a timeout. This won't happen, if the choice is letsencrypt staging.

### Steps to reproduce the behavior
jx upgrade ingress --cluster

### Expected behavior

Obtaining letsencrypt production certificates

### Actual behavior

Expecting certificates: [jx/tls-chartmuse

[2019-02-18 14:51] svilenvul opened #3139 "Can't update expired Git API token"
### Summary

I have created some git repositories with a token that expired. I can't fetch code from git now until I update the token.

### Steps to reproduce the behavior

 `jx create env development .. --git-api-token XXXXX`
 `jx create env staging .. --git-api-token XXXXX`
 `jx create env production .. --git-api-token XXXXX`
 `jx create quickstart .. --git-api-token XXXXX`
 `jx create quickstar

[2019-02-18 14:53] sboardwell commented on #1998
As a side note, perhaps having either

1. an installation of the jenkins chart prior to [this commit](https://github.com/jenkins-x/charts/commit/fe5039faadb7c0c08fdb03388b9b80e175d69ec3)
1. an older custom config map from a time prior to the commit

may be the root cause of the global variable `TILLER_NAMESPACE` being empty in Jenkins itself.

[2019-02-18 15:00] Vlatombe opened #3140 "Using gitops flag, GKE installation fails on a project where KMS has never been used."
### Summary

### Steps to reproduce the behavior

* Create a new gce project
* `jx create cluster gke --gitops`
* Follow default jx install steps, when prompted for keyring creation, provide the same project/region as for the cluster

### Expected behavior

KMS configuration is set up. The installation process should ensure the Google Cloud KMS API is enabled on the project, or enable it if needed

[2019-02-18 16:56] jrab66 commented on #2165
am testing JenkinsX in DO/k8s stuff and still a issue!

[2019-02-18 19:50] tonygilkerson opened #3143 "jx create command does not create repo under organization when using gitlab"
### Summary
I use gitlab and when I run a `jx create env` or `jx create quickstart` the repos are created under my user but it should be created under the organization in gitlab

### Steps to reproduce the behavior
jx create cluster gcp

jx create env \
  --name staging \
  --label staging \
  --cluster myenv \
  --prefix myenv \
  --namespace myenv-staging \
  --promotion Auto \
  --git-provider-

[2019-02-18 21:22] thunderball1 commented on #479
Any updates?

[2019-02-19 09:07] #3117 closed

[2019-02-19 09:59] #2741 closed

[2019-02-19 10:39] ccojocar commented on #3124
@ypto Thanks for update. I am going to close this issue.

[2019-02-19 10:39] #3124 closed

[2019-02-19 10:41] ccojocar commented on #3126
@rafaelpolo19 Please could you provide more details? What exactly is the issue? Which command are you running?

[2019-02-19 10:44] ccojocar commented on #3134
@ypto I think the ACME back-off kicked in. Did you hit the Let's Encrypt API rate limit before?

[2019-02-19 10:46] ccojocar commented on #3139
@svilenvul Have you tried `jx delete git token` and then `jx create git token` commands?

[2019-02-19 10:49] ccojocar commented on #3140
@Vlatombe I think the workaround for now is to enable the KMS service on GCP project before starting the installation.

We should make sure that is enabled.

[2019-02-19 11:30] svilenvul commented on #3139
Yes I did it, but still had problems after that.
More specifically, multi branch pipeline failed to checkout a branch when new PR was available.

Anyway I started with a fresh install, I think we can close it for now.

[2019-02-19 11:30] #3139 closed

[2019-02-19 11:41] svilenvul opened #3147 "jx install fails - deployment jenkins-x-mongodb failed to become ready"
### Summary

jx install fails - deployment jenkins-x-mongodb failed to become ready

### Steps to reproduce the behavior

[code]

### Expected behavior

Installation completes.

### Actual behavior

[code]

Mongo DB and Monocular API containers restart frequently (13 times until now).

Logs from Mongo DB container

[mongo-logs.txt](https://github.com/jenkins-x/jx/files/2879768/mongo-logs.txt)

Pod

[2019-02-19 12:20] ypto commented on #3134
@ccojocar at least i never got on the logs any message about rate limit. The thing is that from lets encrypt staging all goes well and gets the certificate. I've already waited one week to see if it was rate limits for production, but still on the same situation.

[2019-02-19 12:29] Vlatombe commented on #3140
Yes, this is what I did to fix the problem for my installation.

Le mar. 19 févr. 2019 à 11:49, Cosmin Cojocar <notifications@github.com> a
écrit :

[2019-02-19 14:00] papanito opened #3150 "Clone of https://github.com/jenkins-x/jenkins-x-versions fails behind a proxy"
### Summary

My development machine sits behind a corporate proxy with a self-signed certificate and the installation of jx fails while cloning the Jenkins X versions repo

[code]

even so the proxy settings are configured for git

[code]

The error message is slightly different when setting the proxy on os level:
[code]

It is not clear what/how I have to configure jx in order to route traffic tr

[2019-02-19 15:02] garethjevans opened #3154 "jx status calculates the percentages incorrectly"
### Summary

When running `jx status` on a cluster, the values for CPU & Memory percentage are incorrect as they are the sum of each nodes CPU / Memory percentage.

[code]

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [x] Classic Jenkins
- [x] Serverless Jenkins

### Kubernetes cluster

### Operating system / Environment

[2019-02-19 15:16] pmuir opened #3155 "Knative doesn’t react properly to pods getting deleted"
### Summary

Knative doesn’t react properly to pods getting deleted
Prow relies on knative builds to detect build state. When we loose nodes knative seems to not react, here is the except from a build where the pod was lost due to node restart - as you can see it’s still showing as running:

[code]
Solution: fix knative build or write a controller than does the reconciling properly. Ideally in thi

[2019-02-19 15:19] pmuir commented on #3155
/area prow
/kind bug
/priority important-soon

[2019-02-19 15:19] pmuir opened #3156 "Rebasing PRs onto HEAD of master isn’t supported with knative"
### Summary

Rebasing PRs onto HEAD of master isn’t supported with knative
Prow won’t automerge a PR until it has a clean run of a PR on top of the current HEAD of master. To make this easy it will automatically retest every PR that is passing and is in the merge pool (i.e. has a lgtm and/or approved label). However this doesn’t actually happen with knative build as there is no code in the build-s

[2019-02-19 15:19] pmuir commented on #3156
/area prow
/kind bug
/priority important-soon

[2019-02-19 15:25] pmuir opened #3157 "Batch Jobs aren’t support"
### Summary

Batch Jobs aren’t support
Obviously retesting all PRs on top of HEAD of master creates massive merge queues on a busy repo, so Prow will attempt to batch all PRs that are passing and have lgtm and/or approved into a single job that is merged into master. This was totally broken in knative build as no code existed to do the merging, so it would randomly test any of the PRs in the batch

[2019-02-19 15:26] pmuir opened #3158 "There is no out-of-date build killer for Prow with Knative"
### Summary
There is no out-of-date build killer for Prow with Knative
When you rapid change a PR (e.g. push fixes for Hound) you end up with a job being created for each push and /test this. What Prow does if not using knative is look at the jobs running, and kill the ones that aren’t yet complete for anything but the last triggered. This code is missing for knative. This can be a problem as if (

[2019-02-19 15:26] pmuir opened #3159 "Get Our Fork of Prow building in our prod cluster"
Need to get our fork of prow building

[2019-02-19 15:28] rafaelpolo19 commented on #3126
- Ok, once Jenkins-x is installed through the chocolate, I proceeded to create the cluster

![image](https://user-images.githubusercontent.com/47400788/53026117-49a2ee80-3430-11e9-9d6e-cdf9a0bf4bc6.png)

- then two options come out:

Select Jenkins installation type:  [Use arrows to move, type to filter]

  Static Master Jenkins

- Solicita un usuario git y un token al que usualmente lo depositó.

[2019-02-19 16:06] duffn commented on #1667
I cannot get this to work as described.

Sample `deployment.yaml` file.

[code]

Sample project `values.yaml` contains this:

[code]

Sample `environment-xxxx-production` `values.yaml` contains this:

[code]

I can certainly get the preview and staging environment variables working.
However, when I promote the application to the production environment, the `env`
list in `environment-xxxx-productio

[2019-02-19 16:19] ccojocar commented on #1016
A few refactorings go merged. They are required to start splitting the clients factory and common in separate packages from cmd.

[2019-02-19 16:22] ccojocar commented on #1016
Next step is to extract the clients factory in a separate package, and use it only as a private field in the `CommonOptions`. The goal is to avoid using it directly in the `cmd` package.

[2019-02-19 16:27] hferentschik opened #3160 "Unable to run 'make skaffold-run' on Dev Pod"
### Summary

I am having a Go project with the default Skalffold setup and want to run `make skaffold-run` on a Dev Pod in order to deploy and test development changes.

### Steps to reproduce the behavior

* Create a Go based quickstart which will add `skaffold.yml` as well as a make target to run `skaffold run`.
* Start `jx sync` in one shell
* Open a Dev Pod in another shell: `jx create devpod

[2019-02-19 16:41] hferentschik opened #3161 "Docker registry exposed as route"
### Summary

Currently the docker registry is exposed as route, but it is not quite usable. On the client side one needs to add the registry as insecure registry to the local Docker daemon. This is kind of expected (would need to be documented though if we want to keep this usecase ). However, even with the additonal configuration as insecure registry, the registry cannot be used from the local ma

[2019-02-19 16:42] hferentschik commented on #3161
This related to #3160 - if ingress get removed the Dev Pod work flow needs to work

[2019-02-19 19:08] SyCode7 commented on #2489
Is this feature now available ?

[2019-02-19 20:30] duffn commented on #1667
Ahh, I see now that I need to include the project name as a key in the `environment-xxxx-production` `values.yaml` file for it to be recognized. https://stackoverflow.com/a/54773078/1753891

[code]

[2019-02-20 01:32] ypto commented on #3110
Same issue here.

To start the pipeline, i needed to go to Jenkins console and scan the repository.

Another issue after this one, is that as soon the pipeline finishes and puts the application on staging environment, when you do `jx get applications`, the URL shown is on HTTP and not on HTTPS.

Any way around this?

Cheers.

[2019-02-20 01:33] ypto commented on #3110
Same issue here.

To start the pipeline, i needed to go to Jenkins console and scan the repository.

@ccojocar
Another issue after this one, is that as soon the pipeline finishes and puts the application on staging environment, when you do `jx get applications`, the URL shown is on HTTP and not on HTTPS.

Any way around this?

Cheers.

[2019-02-20 08:14] leechungkyu commented on #2743
I am in the same situation.
$ jx --version
1.3.904

* GKE install

I just try below command for demo
$ jx create spring -d web -d actuator
![image](https://user-images.githubusercontent.com/18473861/53076429-fd8ca280-3532-11e9-97e5-4d076437ff1f.png)

[2019-02-20 08:23] ccojocar commented on #3126
@rafaelpolo19 On Serverless Jenkins the only UI available is deck. You can try to open `deck.jx...`.

[2019-02-20 08:23] ccojocar commented on #3126
Do you need more help? Can we close this PR?

[2019-02-20 08:26] ccojocar commented on #3110
@ypto Please could you open a separate issue for the second problem? I think the promote does not update the ingress of the application. Are you able to access it over HTTP?

[2019-02-20 08:31] ccojocar commented on #3147
@svilenvul Do you have enough storage on minikube to run MongoDB? It looks to me a resources issue.

[2019-02-20 08:33] ccojocar commented on #3150
@papanito Are you able to access GitHub through your proxy?

[2019-02-20 08:39] yuwzho commented on #2884
@elluvium JX tries to create an ACR with the same  name as your AKS. For a workaround, you can create an ACR yourself, and set the `--docker-registry <registry>.azurecr.io`

[2019-02-20 08:40] ccojocar commented on #338
@jstrachan I am going to close this issue since it seems to be stalled.

[2019-02-20 08:40] #338 closed

[2019-02-20 08:42] ccojocar commented on #471
@bbarin I am going to close this issue. It seems to be quite old and the requested details weren't provided.

[2019-02-20 08:42] #471 closed

[2019-02-20 08:43] ccojocar commented on #534
@eldontc I am going to close this issue. It seems to be quite old and maybe outdated. Feel free to open another issue.

[2019-02-20 08:43] #534 closed

[2019-02-20 08:45] ccojocar commented on #445
@jstrachan @wbrefvem Can we close this issue?

[2019-02-20 08:46] ccojocar commented on #1438
@kurktchiev I am going to close this issue. Please feel free to open another issue for the second issue you are describing. Thanks

[2019-02-20 08:46] #1438 closed

[2019-02-20 08:48] ccojocar commented on #1554
@Riduidel I am going to close this issue since the requested evidence weren't provided, and it seems to be outdated. Feel free to open another issue if you are still facing the problem.

[2019-02-20 08:48] #1554 closed

[2019-02-20 08:49] ccojocar commented on #1717
@kiss0840 I am going to close this issue since the requested evidence weren't provided.

[2019-02-20 08:49] #1717 closed

[2019-02-20 08:50] ccojocar commented on #1878
@sriharim I am going to close this issue since the requested evidence weren't provided.

[2019-02-20 08:50] #1878 closed

[2019-02-20 08:51] ccojocar commented on #1909
@jtfogarty I think this might be fixed. I am going to close it. Feel free to open another issue if you are still encountering this problem. Thanks.

[2019-02-20 08:51] #1909 closed

[2019-02-20 08:52] vietwow commented on #445
@ccojocar I see on the link https://jenkins-x.io/contribute/roadmap/ looks like that it's still in-progress

[2019-02-20 08:52] ccojocar commented on #2025
@edalford11 I am going to close this issue. Feel free to open another issue if you are encountering this problem. Thanks

[2019-02-20 08:52] #2025 closed

[2019-02-20 08:53] svilenvul commented on #3147
Thanks, I will increase disk size, as default looks like only [20 GB](https://github.com/kubernetes/minikube/blob/232080ae0cbcf9cb9a388eb76cc11cf6884e19c0/pkg/minikube/constants/constants.go#L104)

[2019-02-20 08:53] ccojocar commented on #2050
@llizamab I am going to close this issue, it seems to be outdated.

[2019-02-20 08:53] #2050 closed

[2019-02-20 08:55] ccojocar commented on #2122
@jtnord I am going to close this issue. Probably the other project is not configured in prow as a job.

[2019-02-20 08:55] #2122 closed

[2019-02-20 08:57] ccojocar commented on #2157
@amuniz I am going to close this issue. It seems that with the current version the devpod can be created. Fell free to open another issue if you still see the problem occurring again. Thanks

[2019-02-20 08:57] #2157 closed

[2019-02-20 08:59] ccojocar commented on #2165
@tangdu I am closing this issue. I seems to be related to helm configuration. Fell free to open another issue if you are sill facing this problem. Thanks

[2019-02-20 08:59] #2165 closed

[2019-02-20 09:00] ccojocar commented on #2229
@brettwporter I am going to close this issue. The current version seems to work. Fee free to open another issue if you are still facing the problem.

[2019-02-20 09:00] #2229 closed

[2019-02-20 09:01] ccojocar commented on #2306
@jtnord @pmuir Can we close this issue?

[2019-02-20 09:02] ccojocar commented on #2370
@capt2101akash I am going to close this issue. Please feel free to open another issue if you are still facing this problem. Thanks

[2019-02-20 09:02] #2370 closed

[2019-02-20 09:04] ccojocar commented on #3147
@svilenvul I am going to close this issue. Fell free to open another one if you are still facing the problem. Thanks

[2019-02-20 09:04] #3147 closed

[2019-02-20 09:05] ccojocar commented on #2483
@ysaakpr I am going to close this issue, sine the requested evidence weren't provided.

[2019-02-20 09:05] #2483 closed

[2019-02-20 09:06] ccojocar commented on #2492
@amuniz I am going to close this issue, since the requested details weren't provided. Thanks

[2019-02-20 09:06] #2492 closed

[2019-02-20 09:07] ccojocar commented on #2516
@ismaeIfm I am going to close this issue since the problem is in the Jenkins plugin not in jx.

[2019-02-20 09:07] #2516 closed

[2019-02-20 09:08] ccojocar commented on #2519
@arun-gupta I am going to close this issue. Please feel free to open another issue if you are encountering this problem. Thanks

[2019-02-20 09:08] #2519 closed

[2019-02-20 09:09] ccojocar commented on #2522
@ysaakpr I am going to close this issue since it seems to be related to Jenkins plugins not jx.

[2019-02-20 09:09] #2522 closed

[2019-02-20 09:10] ccojocar commented on #2628
@heroic I am going to close this issue. There is another issue for changelog https://github.com/jenkins-x/jx/issues/3008. Thanks

[2019-02-20 09:10] #2628 closed

[2019-02-20 09:13] ccojocar commented on #2663
@gumerman I am going to close this issue. Please fell free to open another one if you are still facing the problem. Thanks

[2019-02-20 09:13] #2663 closed

[2019-02-20 09:16] ccojocar commented on #2828
@turulb Are you still facing this issue? Can we close it?

[2019-02-20 09:16] #2828 closed

[2019-02-20 09:17] ccojocar commented on #2846
@ximbal I am going to close this issue. Fell free to open another issue if you still have questions. Thanks

[2019-02-20 09:17] #2846 closed

[2019-02-20 09:18] ccojocar commented on #2864
@jtnord @dwnusbaum Can we close this issue?

[2019-02-20 09:19] ccojocar commented on #2868
@asc-adean I am going to close this issue. Please feel free to open another issue if you are still facing this problem. Thanks

[2019-02-20 09:19] #2868 closed

[2019-02-20 09:21] ccojocar commented on #2889
@devopsgong I am going to close this issue. Please feel free to open another issue if you are still facing this problem. Thanks

[2019-02-20 09:21] #2889 closed

[2019-02-20 09:22] ccojocar commented on #3012
@davidcurrie Can we close this issue, or are you interested to have the requested behaviour?

[2019-02-20 09:25] ccojocar commented on #3095
@EamonKeane I am going to close this issue, since we are not planning to support multiple deployments per application. Thanks

[2019-02-20 09:25] #3095 closed

[2019-02-20 09:26] ccojocar commented on #3098
@ica10888 I am going to close this since it will be fixed by https://github.com/jenkins-x/jenkins-x-platform/pull/4859 Thanks.

You can also provide the custom heap configuration in `myvaulues.yaml` file.

[2019-02-20 09:26] #3098 closed

[2019-02-20 09:28] ccojocar commented on #3126
I am going to close this. Please feel free to open another issue if you are still facing this problem. Thanks

[2019-02-20 09:28] #3126 closed

[2019-02-20 09:29] ccojocar commented on #3134
@ypto Maybe try also to restart the cert-manager, maybe it got into a strange state. I am going to close this issue since is more related to cert-manager than jx. Thanks

[2019-02-20 09:29] #3134 closed

[2019-02-20 09:32] ccojocar commented on #237
@Kevgilmore I am going to close this issue, since it appears to be quite old. Please feel free to open another issue. Thanks

[2019-02-20 09:32] #237 closed

[2019-02-20 09:33] ccojocar commented on #403
@bitwiseman I am going to close this issue. The minikube support has in the meantime improved. Please feel free to open another issue if you are still facing the problem. Thanks

[2019-02-20 09:33] #403 closed

[2019-02-20 09:35] ccojocar commented on #406
@kellyjandrews I am going to close this issue since the minikube support has improved in the meantime. Fell free to open another issue if you are still facing this problem. Thanks

[2019-02-20 09:35] #406 closed

[2019-02-20 09:35] EamonKeane commented on #3112
Bitrise maintain a good docker image which could be the basis of a build pack. It is very large due to all the SDKs (6 GBs I think).

https://github.com/bitrise-docker/android/blob/master/Dockerfile

[2019-02-20 09:36] ccojocar commented on #813
@no-stupid-questions I am going to close this issue since the minikube support has improved in the meantime. Fell free to open another issue if you are still facing this problem. Thanks

[2019-02-20 09:36] #813 closed

[2019-02-20 09:37] ccojocar commented on #937
@deceneu3 I am going to close this issue since the minikube support has improved in the meantime. Fell free to open another issue if you are still facing this problem. Thanks

[2019-02-20 09:37] #937 closed

[2019-02-20 09:37] ccojocar commented on #938
@deceneu3 I am going to close this issue since the minikube support has improved in the meantime. Fell free to open another issue if you are still facing this problem. Thanks

[2019-02-20 09:37] #938 closed

[2019-02-20 09:42] ccojocar commented on #3008
@a-roberts I think you originally contributed the IKS support. Do you mind having a look at this issue? Thanks

[2019-02-20 09:42] ccojocar commented on #2984
@a-roberts I think you originally contributed the IKS support. Do you mind having a look at this issue? Thanks

[2019-02-20 09:44] ccojocar commented on #2985
@a-roberts I think you originally contributed the IKS support. Do you mind having a look at this issue? Thanks

[2019-02-20 09:44] ccojocar commented on #2996
@a-roberts I think you originally contributed the IKS support. Do you mind having a look at this issue? Thanks

[2019-02-20 09:45] ccojocar commented on #2997
@a-roberts I think you originally contributed the IKS support. Do you mind having a look at this issue? Thanks

[2019-02-20 09:46] ccojocar commented on #38
@wbrefvem Can we close this issue? Are the repositories created? Thanks

[2019-02-20 09:47] ccojocar commented on #229
@jtnord Is this still an issue? Can we close it?

[2019-02-20 09:47] ccojocar commented on #226
@jtnord Is this still an issue? Can we close it?

[2019-02-20 09:49] ccojocar commented on #328
@michaelneale I am going to close this issue, since it seems quite old and the import has improved since then. Please feel free to open another issue if you are still encountering this problem. Thanks

[2019-02-20 09:49] #328 closed

[2019-02-20 09:52] ccojocar commented on #422
@tdcox I am going to close this issue. It seems to be outdated. Thanks

[2019-02-20 09:52] #422 closed

[2019-02-20 09:53] ccojocar commented on #452
@tdcox I am going to close this issue since it seems to be related to helm and it looks like outdated. Thanks

[2019-02-20 09:53] #452 closed

[2019-02-20 09:54] ccojocar commented on #495
@arun-gupta I am going to close this issue since it seems to be related to Jenkins. Thanks

[2019-02-20 09:54] #495 closed

[2019-02-20 10:01] ccojocar commented on #618
@ajsandham I am going to close this issue. The original issue seems to be fixed in the meantime. Please feel free to open other issues for the other problems mentioned here. Thanks

[2019-02-20 10:01] #618 closed

[2019-02-20 10:01] ccojocar commented on #631
@wbrefvem Is this still an issue? Please could you validate it? Thanks

[2019-02-20 10:02] ccojocar commented on #711
@jtnord Is this still an issue? Can we close it? Thanks

[2019-02-20 10:04] jtnord commented on #711
still an issue, in fact it almost seems to be getting worse as the logger used in the code is not possible to "colourize" correctly

[2019-02-20 10:05] ccojocar commented on #759
@stevegszabo I am going to close this issue. The mongodb seems to work in the current platform version. Please feel free to open another issue if you are still seeing the problem occurring. Thanks

[2019-02-20 10:05] #759 closed

[2019-02-20 10:07] ccojocar commented on #769
@shivasaxena  I am going to close this issue. The installation has improved in the meantime for windows. Please free to open another issue if you are facing this problem. Thanks

[2019-02-20 10:07] #769 closed

[2019-02-20 10:09] ccojocar commented on #778
@holmesb I am going to close this issues sine the original bug was fixed. Thanks

[2019-02-20 10:09] #778 closed

[2019-02-20 10:11] ccojocar commented on #825
@asnowfix I am going to close this issue. Feel free to open another issue if you are still facing this problem. Thanks

[2019-02-20 10:11] #825 closed

[2019-02-20 10:12] jtnord commented on #711
@martijnburger I would like to understand how it works for you.  we appear to have the same windows version and @agentgonzo sees the same when using `git-bash`.

I have tried without autorun enabled ([clink](https://github.com/mridgers/clink/) - so it is no that.
Do you have some local ansi driver installed (conemu etc?) (rather than the using `cmd.exe`'s built in ansi)?support)?

[2019-02-20 10:13] jtnord commented on #226
the upstream issue is still open - so i guess yes it is still an issue.

[2019-02-20 10:14] aairey commented on #38
This is related to ssh not being implemented as checkout method.
Haven't tried Jenkins X since as it was blocking us, so not sure if this functionality is now there?

[2019-02-20 10:15] ccojocar commented on #850
@LinuxSuRen I am going to close this issue. Please have a look at this doc  https://jenkins-x.io/architecture/docker-registry/#update-the-config-json-secret. Thanks

[2019-02-20 10:15] #850 closed

[2019-02-20 10:18] ccojocar commented on #1021
dup of #40

[2019-02-20 10:18] #1021 closed

[2019-02-20 10:19] ccojocar commented on #1099
@hekonsek Please could you confirm this issue? Thanks

[2019-02-20 10:20] ccojocar commented on #1139
dup of #3112

[2019-02-20 10:20] #1139 closed

[2019-02-20 10:22] ccojocar commented on #1179
@huang-jy I am going to close this issue, because the install has improved ever since. Please feel free to open another issue if you are still see the problem occurring. Thanks

[2019-02-20 10:22] #1179 closed

[2019-02-20 10:23] a-roberts commented on #2997
Hey @ccojocar, I contributed towards the IBM Cloud Private (ICP support), my colleague @bkuschel is who you're looking for

[2019-02-20 10:24] ccojocar commented on #1231
@christianmue1980a I am going to close this issue because Traefik is not in the scope of jx for now. Thanks

[2019-02-20 10:24] #1231 closed

[2019-02-20 10:24] a-roberts commented on #2996
^^ @bkuschel

[2019-02-20 10:24] a-roberts commented on #2985
^^ @bkuschel

[2019-02-20 10:24] a-roberts commented on #2984
^^ @bkuschel

[2019-02-20 10:24] a-roberts commented on #3008
^^ @bkuschel

[2019-02-20 10:25] ccojocar commented on #1252
@sekmarco I am going to close this issue since the original issue was fixed. Thanks

[2019-02-20 10:25] #1252 closed

[2019-02-20 10:27] ccojocar commented on #1318
@empath Jenkin X needs access to internet in order to downloads charts and some git repositories.  I am going to close this issue. There is also https://github.com/jenkins-x/jx/issues/3081. Thanks

[2019-02-20 10:27] #1318 closed

[2019-02-20 10:28] ccojocar commented on #1335
@ascheman Is this still an issue? Can we close it? Thanks

[2019-02-20 10:28] ccojocar commented on #1371
@wbrefvem Is this still an issue? Can we close it? Thanks

[2019-02-20 10:30] ccojocar commented on #1374
@ysaakpr I am going to close this issue. Please feel free to open another issue if you are still seeing the problem occurring. Thanks.

[2019-02-20 10:30] #1374 closed

[2019-02-20 10:32] ccojocar commented on #1389
@ervikrant06 I looks like the `jx` environment does not exist. This is the reason why it cannot switch. I am going to close this issue. Please feel free to open another issue if you are still seeing this problem. Thanks

[2019-02-20 10:32] #1389 closed

[2019-02-20 10:33] ccojocar commented on #1431
@chuckwilbur I am going to close this issue. The EKS support has improved a lot in the meantime. Please feel free to open another issue if you are still seeing this issue. Thanks

[2019-02-20 10:33] #1431 closed

[2019-02-20 10:34] ccojocar commented on #1432
@darthcabs It should be working now in batch mode. I am going to close this issue. Thanks

[2019-02-20 10:34] #1432 closed

[2019-02-20 10:36] ccojocar commented on #1472
@fdouek I am going to close this issue. Please feel free to open another issue if you are still seeing this problem occurring. Thanks

[2019-02-20 10:36] #1472 closed

[2019-02-20 10:38] ccojocar commented on #1480
@sekmarco I think this issue has been fixed in the meantime. I am going to close it. Please feel free to open another issue if you see the problem occurring again. Thanks

[2019-02-20 10:38] #1480 closed

[2019-02-20 10:39] ccojocar commented on #1484
It might be fixed by https://github.com/jenkins-x/jx/pull/1999.

[2019-02-20 10:39] #1484 closed

[2019-02-20 10:40] ccojocar commented on #1523
@riqbal-rocketlawyer I am going to close this issue. The upgrade platform has improved. Please try the latest version and open another issue if you still have this issue. Thanks

[2019-02-20 10:40] #1523 closed

[2019-02-20 10:42] ccojocar commented on #1544
@meltingturret You can delete the exiting jxing release. `helm delete --purge jxing` and run again the install.

I am going to close this issue. Please feel free to open another issue if you are still seeing this problem occurring. Thanks

[2019-02-20 10:42] #1544 closed

[2019-02-20 10:48] jtnord commented on #2864
still an issue.

[2019-02-20 10:50] ccojocar commented on #1571
@colltie jx in batch mode should work now with GKE cluster. I am going to close this issue. Thanks

[2019-02-20 10:50] #1571 closed

[2019-02-20 10:52] ccojocar commented on #1568
@Riduidel I am going to close this issue. In the current version of jx seems to be fixed. Thanks

[2019-02-20 10:52] #1568 closed

[2019-02-20 10:53] ccojocar commented on #1617
@tdcox I am going to close this issue. The fix is to create the cluster admin role binding for tiller.

[2019-02-20 10:53] #1617 closed

[2019-02-20 10:55] ccojocar commented on #1620
@igdianov The issue is fixed when upgrading the platform. I am going to close it. Thanks

[2019-02-20 10:55] #1620 closed

[2019-02-20 10:56] ccojocar commented on #1629
dup of #3161

[2019-02-20 10:56] #1629 closed

[2019-02-20 10:57] ccojocar commented on #1636
@almerico Is this still the case? Thanks

[2019-02-20 10:58] ccojocar commented on #1679
@johnmcollier I am going to close this issue. Please try to workaround posted above. Thanks

[2019-02-20 10:58] #1679 closed

[2019-02-20 10:58] ccojocar commented on #1699
@riqbal-rocketlawyer Is this still an issue? Can we close it? Thanks

[2019-02-20 10:58] #1699 closed

[2019-02-20 11:00] ccojocar commented on #1802
@sercanacar I am going to close this issue. The solution is to delete the existing jxing release and run again the install.

[2019-02-20 11:00] #1802 closed

[2019-02-20 11:00] ccojocar commented on #1822
@hekonsek Please could you have a look at this issue? Thanks

[2019-02-20 11:04] almerico commented on #1636
@ccojocar don’t see it lately

[2019-02-20 11:07] ccojocar commented on #2123
I think is a dup of #3060.

[2019-02-20 11:07] #2123 closed

[2019-02-20 11:13] garethjevans commented on #2703
Closing this as the issue is now fixed

[2019-02-20 11:13] #2703 closed

[2019-02-20 11:21] hferentschik commented on #3160
Created a pull request in knative-build - https://github.com/jenkins-x-charts/knative-build/pull/25

[2019-02-20 11:47] ccojocar commented on #1636
@almerico Thanks! I am going to close it.

[2019-02-20 11:47] #1636 closed

[2019-02-20 11:59] wenzlaff commented on #3047
Seems to be related to the latest jenkins image jenkinsxio/jenkinsx:0.45
In 0.43 the secrets are available, when switching to 0.45 not.

[2019-02-20 12:04] hnioche commented on #2584
@dmonteiro-paddle I've changed my setup, so this is what I did from what I remember:
* Make sure that 443 and 80 are mapped to the cluster nodes target groups. The load balancer that has been created should be an NLB, so it should ask you for a certificate.
* Make sure that 443 and 80 are open in your node security group

AWS support confirmed that there's an issue with the security group missing

[2019-02-20 14:09] papanito commented on #3150
yes, from the same machine where I use jx;
[code]
however it takes some seconds until connection is established...

[2019-02-20 14:14] okgolove opened #3174 "Do not add issuer annotation"
### Summary
I have 2 ClusterIssuers which works via DNS01 challenge. I wouldn't add any annotations related to certmanager to ingresses.

### Steps to reproduce the behavior
jx ingress update

### Expected behavior
Have an ability to skip certmanager annotations (or use ClusterIssuer instead of Issuer, or config Issuer to use DNS01 challenge)

### Actual behavior
Service has next annotations:
[cod

[2019-02-20 14:39] jtnord commented on #229
just tried and it worked ok.

jx  1.3.905
jenkins x platform 0.0.3402

[2019-02-20 14:39] #229 closed

[2019-02-20 14:45] mikecirioli opened #3175 "Pipeline activities being marked as failed even though build is a success and is also promoted to staging"
### Summary
Builds are being marked as `Failed` (as shown in the `pipelineactivity`) even though the build logs all show `SUCCESS`.  Additionally, automatic promotion to staging happens and the app is successfully deployed to preview environment.

### Steps to reproduce the behavior

Import  a new quickstart application (ie. `jx create quickstart golang-http`)

### Expected behavior
Expected that

[2019-02-20 15:49] dcanadillas opened #3177 "Create environments for Gitlab needs parameters even if Gitlab repo is default"
### Summary
After installing Jenkins X Static from scratch using Gitlab as default provider with:
[code]
The environments are not created. So, when trying to create a environment with `jx create environment` it is always asking for a GitHub user and using GitHub as default repo, even if GitHub repo is not configured in gitAuth.yaml

If using all git parameters (username, git provider and token) in

[2019-02-20 16:15] mikecirioli opened #3181 "quickstarts with "_" in name fail due to jx converting the "_" to a "-""
### Summary
If you create a quickstart and use an `_` in the name, it will be subsequently converted to a `-` in later operations and the quickstart will fail to build.  This is because the git repo is being created with the name you specified (ie. `bad_build_1`), but later operations want to transform it to `bad-build-1`)

### Steps to reproduce the behavior
Create a quickstart with a name that c

[2019-02-20 16:52] pmuir opened #3183 "Extract timeouts from BDD test code"
### Summary

In https://github.com/jenkins-x/bdd-jx/blob/master/main.go we hardcode various timeouts - we should extract these to the `Makefile`

### Steps to reproduce the behavior

### Expected behavior

### Actual behavior

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [ ] Classic Jenkins
- [ ] Serverless Jenkins

### Kubernetes cluster

### Operating system / Envi

[2019-02-20 18:18] wbrefvem commented on #445
@ccojocar Yeah, I think it might make sense. Bitbucket support is there (Cloud & Server), although I'm not so sure about Gitlab.

@vietwow I think it makes sense at this point to have an issue that tracks Gitlab support and then issues for individual bugs and feature requests that arise in Bitbucket Cloud and Bitbucket Server, since they're both basically done.

[2019-02-20 18:23] wbrefvem commented on #631
@ccojocar No, this doesn't appear to be an issue anymore.

[2019-02-20 18:23] #631 closed

[2019-02-20 18:31] wbrefvem commented on #38
@aairey There have been some issues related to Bitbucket and `jx import`, but it should be working now. Do you mind giving it a spin and telling us what you find? You can either raise a new issue or ping me on Slack. (https://jenkins-x.io/community/ for Slack info)

@ccojocar Yeah, I'm going to go head and close it.

[2019-02-20 18:31] #38 closed

[2019-02-20 18:35] wbrefvem commented on #1371
@ccojocar Let's leave this one open. I don't know for sure, but I suspect this is still an issue. If I can't repro, I'll close it.

[2019-02-20 20:57] Cervator commented on #536
@deanesmith: any update soonish? Inquiring minds wish to knew :-) Would be happy to help test and maybe tweak at it a bit

[2019-02-20 21:52] mikecirioli commented on #3183
see [PR](https://github.com/jenkins-x/bdd-jx/pull/20)

[2019-02-20 22:53] dcanadillas commented on #2500
As commented here the API GitHub token seems to be requested for using the quickstart. I used an API token from GitHub when asked, and my Gitlab account and token when creating the quickstart. And everything is created correctly in Gitlab.

In my case works with:
[code]

Maybe would be more intuitive to use a different message in the creation wizard. In my case I had this:
_"Using Git provider Git

[2019-02-21 06:14] JP3BGY commented on #1731
Same error has occured

[2019-02-21 09:17] ccojocar commented on #1016
Next step at this stage is to move the `CommonOptions` in a separate package. Finally, we can group the commands in separate packages after this is done.

[2019-02-21 12:22] amuniz commented on #3175
FWIW whilst I was working on something else I observed the PA is actually marked as `Status: Succeeded` and it is switched to `Status: Failed` just afterwards.

[2019-02-21 16:34] jasoncarreira commented on #1923
Having this problem now... Any progress? @dimmel82 's curl suggestion got it past where it was stuck, but now it's stuck here:

[code]

[2019-02-21 17:50] deanesmith commented on #536
@Cervator we have been addressing other jx related matters specific to addons (we refer to them as apps), but I may have some bandwidth to pick this back up.  The case of invoking SonarQube from a pipeline is straightforward

[2019-02-21 18:02] Vlatombe opened #3189 "Prow build controller shouldn't be created when creating a new team"
### Summary
When using prow builds and creating a new team, currently this creates the prow-build controller in the new team. The problem is it listens to all namespaces so the different instances are blowing everything.

Really, there should be only one prow-build instance in the dev environment.

### Steps to reproduce the behavior
* `jx install --prow ...`
* `jx create team xxx`

### Expected b

[2019-02-21 21:50] igdianov commented on #2928
'Jx create env - - fork-git-url'  command should also support providing values via '- - set'  or  '- - values' options for script automation for environment Helm charts.

[2019-02-21 23:24] abayer opened #3190 "Git API token not populated into `oauth-token` without `--gitops`"
### Summary

I built master and ran `jx create cluster gke --prow --no-tiller --tekton` (basically what I've been doing for ages but with `--tekton` replacing `--knative-pipeline` after #3187 was merged), and the `data` for the `oauth-token` secret was empty.

### Steps to reproduce the behavior

Run `jx create cluster gke --prow --no-tiller --tekton`.

### Expected behavior

All pods should start

[2019-02-21 23:25] abayer commented on #3190
cc @jstrachan

[2019-02-22 10:25] ansib commented on #2564
I can confirm that this bug already exists.

Jenkins Serverless Version with Bitbucket Server 5.13.

API Token exists and has full rights. I tried it with write/admin rights.

NAME                     VERSION
jx                             1.3.911
Kubernetes cluster  v1.12.4+icp-ee
kubectl                    v1.10.11
git                           git version 2.18.0.windows.1
Operating System  Wind

[2019-02-22 10:58] #2976 closed

[2019-02-22 11:28] #3190 closed

[2019-02-22 13:37] jglick commented on #2926
I still think this would be better as an app, but in the meantime some folks are investigating https://github.com/atsman/nexus-minimal as an alternative.

[2019-02-22 14:04] mikecirioli opened #3195 "jx upgrade platform should ask user to enter the context before attempting upgrade (similar to jx uninstall)"
### Summary
To prevent a careless user from accidentally running `jx upgrade platform` against a cluster they didn't intend, the command should prompt to confirm the `context` in a manner similar to what  `jx uninstall` does.

### Steps to reproduce the behavior

### Expected behavior

### Actual behavior

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [ ] Classic Jenk

[2019-02-22 14:55] jstrachan opened #3196 "support custom Jenkins servers"
it would be great to be able to support `0..N` custom Jenkins Servers in a Jenkins X Team so that we can support a mixed set of workloads; either using the Jenkins X build packs and execution engine (a static jenkins server or serverless) and then also support optional additional Jenkins servers using the upstream Helm chart of jenkins that can be configured in any way, with any plugins to handle

[2019-02-22 14:56] jstrachan commented on #3196
we now have a custom Jenkins server App here: https://github.com/jenkins-x-apps/jx-app-jenkins you can install it via:

[code]

[2019-02-22 16:26] daveconde commented on #3057
fixed in #3188

[2019-02-22 16:26] #3057 closed

[2019-02-22 17:22] n8mellis commented on #2743
I am running into this problem as well. As far as I can tell, the `/api/` backend is not being properly exposed via Ingress because I'm getting the default nginx-ingress-controller 404 message when I hit any `/api/` routes. I have updated the Ingress record per the suggestions above.

[2019-02-22 17:42] #1998 closed

[2019-02-22 20:25] atomicleads commented on #445
Can't make gitlab to work. Provisioning stucks on getting commit statuses from gitlab, but that code not even implemented in gitlab.go file. Webhooks work fine, merge request is created properly.

[2019-02-23 13:29] gazal-k commented on #536
I tried setting up sonarqube using helm. And it works quite well. Only problem I have is that Jenkins X sets up a network load balancer in AWS for itself and other apps like Nexus. But the helm chart for sonarqube sets up an additional load balancer; a classic load balancer. Is there any way to tweak the helm chart configuration for sonarqube to use the existing NLB?

[2019-02-23 16:19] a-type commented on #3115
I was able to get past this by manually typing in my Github username and pressing Enter. I guess the CLI doesn't necessarily enforce that you use one of the provided values.

[2019-02-24 08:15] ssathi commented on #334
This is exactly what I need right now. I'm trying to automate jx import whenever we add a new micro-service. I'm adding a new arg 'use-default-git' to skip user prompt. Is that acceptable?

This is my requirement:
I have a monorepo having many micro services. I need jenkins to run jx import when a new service added (with a pattern like 'b2m-service-*').

[2019-02-24 08:30] ssathi opened #3203 "'step split monorepo' to add last commit message from monorepo"
Now jx step split monorepo puts a commit message "generated by: jx step split monorepo" into the newly created repository. Need it to get the last message from the monorepo based on the path and update that message.

I'm using GitHub. So to get the last message I'm calling this api
GET /repos/:owner/:repo/commits?path=some-path&page=1&per_page=1
reference: https://developer.github.com/v3/repos/com

[2019-02-24 15:36] enkicoma commented on #2096
How you fix it?

[2019-02-24 17:56] kmadel opened #3204 "jx create terraform ignores --prow=false"
### Summary
When creating a cluster with `jx create terarform --prow=false` and select GKE as your target, you don't get the option to select static Jenkins instead of the default Serverless Jenkins.
### Steps to reproduce the behavior
jx create terraform --cloud-provider=gke --prow=false
### Expected behavior
You should be given the option to select static and prow should not be installed.
### Ac

[2019-02-24 18:05] kmadel opened #3205 "Creating GKE Cluster Ignores `--preemptible=false` flag"
### Summary
When creating a cluster with `jx create cluster gke —-prow=false --verbose --zone='us-east1-b' --preemptible=false --min-num-nodes='3' --max-num-nodes='5' --project-id='ckcd-sa-demo' --machine-type='n1-standard-4'` you are still asked if you want to use preemptible VMs or not
### Steps to reproduce the behavior
Run the following command:  `jx create cluster gke —-prow=false --verbose -

[2019-02-25 06:57] jstrachan commented on #334
@ssathi yeah adding a `--use-default-git` flag sounds good to me.

BTW I'm not sure how the import-per-microservice would work with Jenkins X - right now a pipeline runs in a repo on commit so it only needs importing once

[2019-02-25 07:22] ssathi commented on #334
@jstrachan

We have a mono repo with many micro services. We first run jx step split then, run jx import for each micro service.

I will write a test for this and create a pull request.

[2019-02-25 12:04] warrenbailey opened #3209 "Next gen pipeline - error with spaces in stage name"
### Summary

I'm using `jx step create task` to process a jenkins-x.yml and utilise the new tekton pipelines. However I've just upgraded to the latest jx binary and notice my jenkins-x.yml file no longer works.

Basically it doesn't like spaces in the stage name anymore. An easy workaround is to rename it with a '_' or '-'

### Steps to reproduce the behavior

Create a jenkins-x.yaml with a space

[2019-02-25 13:21] martijnburger commented on #711
No special ansi drivers, just enable VT processing.

[2019-02-25 13:54] lpetrea opened #3211 "jx import --git-provider-url<> --url<> fails because a false organisation is detected"
### Summary
I am trying to import a project into Jenkins X. We are using a BitBucket server at a specific URL that looks like https://company.com/BitBucketServer. The command fails because the wrong bitbuckerserver URL is detected. The detected URL is https://company.com. The command shows also that the git URL is build from project URL in a wrong manner for this case.

### Steps to reproduce the

[2019-02-25 15:13] dcanadillas opened #3213 "Pipeline shows failure for Go quickstart, but is Successful in log"
### Summary
When building a Go quickstart from scratch Pipeline log (jx logs -k) shows the pipeline succeeded, but the pipeline activity shows a failure because of an error:
[code]

### Steps to reproduce the behavior
1. Create a new quickstart application:
`jx create quickstart`
2. Select Go as language
3. Watch the pipeline activity with `jx get activity -f <my-app> -w`:
error is shown in
4. Wha

[2019-02-25 15:32] ccojocar opened #3214 "Mini Nexus as a Nexus replacement"
### Summary

Extend to the https://github.com/jenkins-x/nexus-minimal to be viable as a Nexus replacement. It can be run either as a side car container to the build or a standalone service.

### Steps to reproduce the behavior

### Expected behavior

### Actual behavior

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [ ] Classic Jenkins
- [ ] Serverless Jenkins

### Ku

[2019-02-25 15:55] kmadel commented on #3213
I see the same thing with Serverless Jenkins

### Jx version
The output of `jx version` is:

[code]

[2019-02-25 16:16] mxandeco opened #3215 "Can't provide a release name when installing with git-ops."
### Summary

`step env apply` and `helm apply` uses different default values for the release name, `helm` applies offers the flag to override the release name and `env apply` does not.

### Steps to reproduce the behavior

`jx env apply --help` will not offer an option to override the release name used.

### Expected behavior

Will be possible to override the release name with a flag, similar to `

[2019-02-26 05:30] suneeshkumar-urolime opened #3220 "Jenkins master is not starting after the JX installation"
### Summary

We have a 5 node k8s cluster with 3 master and 2 workers configured using Kubespray,  After installing the JX in our k8s cluster the Jenkins-master component fails to start.

### Steps to reproduce the behavior

1. Create a cluster with Kubespray(RBAC enabled with X509 authentication)
2. install the JX on the cluster, using the command:
[code]
3. check for the pods(jenkins pod) status

[2019-02-26 07:21] #3215 closed

[2019-02-26 12:31] jstrachan opened #3223 "support ChatOps with custom Jenkins Servers via tekton"
for folks who have custom Jenkins servers with custom Pipelines defined in a `Jenkinsfile` it would be great to be able to orchestrate pipelines via Prow + tekton but then actually run the pipelines in the custom Jenkins servers.

see the docs for more details on how to run a custom Jenkins App: https://jenkins-x.io/architecture/custom-jenkins/

[2019-02-26 13:48] jstrachan opened #3224 "create a build pack for KubeFlow"
so folks using kubeflow can have preview environments + automated CI/CD https://www.kubeflow.org/

[2019-02-26 15:01] rawlingsj opened #3225 "migrate Jenkins X repos to next gen pipeline with Tekton"
Right now all Jenkins X repos are being built with Jenkinsfile Runner.  Now that we have starting integrating with Tekton via the Next Gen pipeline initiative we should walk the talk and move to this new world so that we flush out issues ASAP.

- This also means we should gain the benefits from all repos using Kaniko along with base image and layer caching which should reduce the need to recycle n

[2019-02-26 15:52] nukepuppy commented on #536
been avoiding doing this via helm due to the fact the load balancer stuff would come up as @gazal-k  mentioned.. but also on top of that.. the integration become a bit ad-hoc and require some possible manual nonsense to integrate automatically in a jxified way

[2019-02-26 16:01] ccojocar commented on #3214
The project repository is https://github.com/jenkins-x/bucketrepo

[2019-02-26 17:03] wbrefvem opened #3227 "jx get apps returns error"
### Summary

`jx get apps` returns the following error:

[code]

At a minimum this is an unhelpful error.

### Steps to reproduce the behavior

Install an app, such as with `jx create spring`.

### Expected behavior

After the initial pipeline run succeeds, `jx get apps` should return a list of apps that contains the app just installed.

### Actual behavior

[code]

### Jx version

The output of `

[2019-02-26 17:11] wbrefvem opened #3228 "jx delete app fails"
### Summary

`jx delete app foo` fails to delete foo.

### Steps to reproduce the behavior

1. Create an app.
2. Try to delete it with `jx delete app [my app name]`

### Expected behavior

The app should be successfully deleted.

### Actual behavior

Nothing gets deleted, and the command returns the following error:

[code]

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

[2019-02-26 17:17] ypto opened #3229 "jx upgrade ingress always deletes current certificates"
### Summary
Right now, everytime the command jx upgrade ingress --cluster is executed, it will try to get new certificates and removes the current certiticates. The issue is Lets encrypt has rate limits and after 5 executions of the command, you will hit the limit, even if there aren't any changes to the ingress.

So, when you need actually to import any application by using jx import , it will cr

[2019-02-26 17:19] wbrefvem commented on #3228
/assign wbrefvem

[2019-02-26 23:40] rawlingsj opened #3232 "we could do with some validation on the jenkins-x.yml, specifically the PipelineKind"
I was trying a new pull request based `jenkins-x.yml` and no resources were being generated, in fact there wasn't much info at all, just dug into it and found there was a casing issue in my `jenkins-x.yml`...

I had all lowercase `pullrequest`:
[code]
but it should have been
[code]
totally my bad but wonder if we can get some validation parsing the yaml file to provider faster feedback when folks

[2019-02-26 23:42] rawlingsj commented on #3232
tried to add a github team but that didn't work so assigning the main folks..
/assign abayer
/assign kshultzCB
/assign dwnusbaum

[2019-02-26 23:45] abayer commented on #3232
yesssssss. We validate the "pipeline" itself, but not the rest of the `jenkins-x.yml`, and I already felt dirty about that.

[2019-02-26 23:46] rawlingsj commented on #3232
LOL - ok I had a feeling it would be on your radar already :)

[2019-02-26 23:47] abayer commented on #3232
It was! But then I forgot about it, so having an issue to track it is a Good Thing.

[2019-02-26 23:56] rawlingsj commented on #3232
@abayer FWIW I created a new `ng-pipeline` label that can be assigned to issues using `/area ng-pipeline` - rename to something that suites you (think you should have karma) and you should be able to filter issues accordingly as long as you're happy with that.

[2019-02-27 00:05] abayer commented on #3232
Cool cool - I'll see if I can think of a better name. =)

[2019-02-27 03:35] romil-punetha commented on #3124
@ypto How did you fix the security group issue? My security groups were generated by the eksctl command. What entries did you make on the security groups to make it work? My nginx-ingress is exposed on 30851

[2019-02-27 04:33] romil-punetha opened #3233 "jx install error: configuring Jenkins: creating Jenkins API token: after 3 attempts"
### Summary
I created a cluster using eksctl, providing only private subnets, and setting the kubernetes.io/role/internal-elb flag to 1 on the subnets. I want to launch a cluster with jenkins in a VPC and private subnet.
I then performed jx install. However I notice that the ingress resources in the jx namespace have no endpoints. Also, when i check the logs of the jxing-nginx-ingress-controller p

[2019-02-27 06:49] jstrachan commented on #3220
@suneeshkumar-urolime could you try figure out why the Jenkins pod is shutting down? It looks like its being restarted by kubernetes - so am guessing it could be related to liveness/readiness checks?

Try `kubectl describe pod jenkins-569fb7ffb7-zt64j` or `kubectl get pod jenkins-569fb7ffb7-zt64j -oyaml` which might help diagnose whats wrong.

Another option could be PVCs. There's more diagnosic h

[2019-02-27 09:20] ccojocar commented on #3196
@jstrachan Can we close this one?

[2019-02-27 09:22] ccojocar commented on #3204
I think this a dup of #3052.

[2019-02-27 09:22] #3204 closed

[2019-02-27 09:32] ccojocar commented on #3227
@wbrefvem I think this is a confusion. The `get apps` command is not returning the applications created with `create spring` command. You need to run `get applications` for that.

The `get apps` returns the apps created with the apps framework, such as these apps https://github.com/jenkins-x-apps

IMO this naming clashing it will confuse a lot of people. Naming is hard :) cc @pmuir @jstrachan

[2019-02-27 09:33] ccojocar commented on #3228
See the `https://github.com/jenkins-x/jx/issues/3227`.

[2019-02-27 09:37] ccojocar commented on #3229
You can run `jx upgrade ingress --namespaces=<ns> --services=<service>` instead to fetch only the certificate of a specific service.

The `--cluster` options regenerates the certificates within the entire cluster. Normally after you run it once the certificates should be renewed automatically by the cert-manager when they are about to expire.

[2019-02-27 09:39] jstrachan commented on #3196
I was gonna close it once we can `jx import` projects using a `Jenkinsfile` which could then use a custom jenkins server to implement the pipeline - so I hope to close soon once I've tweaked `jx import ` a little to handle the custom jenkins use case

[2019-02-27 15:07] ypto commented on #3229
Yes @ccojocar you are correct. Thank you.

Today, they got renewed.

Another question is, i have a service named ico on staging and cert-manager is getting a certificate for it but i have the same service with same name on production and it doesn't obtain any certificate and the cert-manager does not even try to get one. Could this be related, since the ingress for both services has the same name

[2019-02-27 15:34] ccojocar commented on #3229
I think, the certificates should be namespaced. Is this happening with a `ClusterIssuer` or with namespace `Issuer`?

[2019-02-27 15:36] ypto commented on #3229
Happening with namespace Issuer

[2019-02-27 18:36] timothyjlaurent opened #3239 "Can't create repositories with bitbucket cloud"
### Summary

I'm unable to create any repositories for JX workflows.

I have created a user with read/write and repo creation permissions, but any command that
requires creating a repo, eg `jx create quickstart` or `jx create environment`, fails.

### Steps to reproduce the behavior

run `jx create env stg --git-provider-url=https://bitbucket.org`

or `jx create quickstart --git-provider-kind bitb

[2019-02-27 18:40] timothyjlaurent commented on #3239
Also note, the app isn't picking up the Teams we have in BitBucket. The organization jxuser@bitbucket.org isn't a valid Team in Bitbucket.

[2019-02-27 20:18] ypto commented on #3124
@romil-punetha

you need go to the nodes security group and map the ports manually.

by example for your port 30851, you need to have two lines in there:

Custom TCP Rule   TCP   30851   192.168.0.0/16 (if you have your nodes on this network)
Custom TCP Rule   TCP   30851   0.0.0.0/0

Then go to your target group and confirm that the health checks are being perform on this port and not on "traffic

[2019-02-27 22:40] ranginuitrot commented on #2647
@ccojocar Any idea when this might be squeezed in? We have a large data science team that could really take advantage of having GPU-enabled devpods.

[2019-02-28 03:12] romil-punetha commented on #3124
@ypto All these entries are already there. The problem is that the ingress controller is unable to route the traffic according to the rules specified in the ingress resources. Do you have a solution for that?

[2019-02-28 09:02] gerrito333 opened #3243 "node-js worker goes offline due to low ephemeral-storage"
## Summary

nodejs worker node goes offline during build.

### kubectl events:

nodejs-qc2lb.15877af0bf79909c
The node was low on resource: ephemeral-storage. Container nodejs was using 40Ki, which exceeds its request of 0. Container jnlp was using 60Ki, which exceeds its request of 0.

### Jenkins log:

Step 5/6 : COPY . .
Cannot contact nodejs-7pmmr: hudson.remoting.ChannelClosedException: Chann

[2019-02-28 10:17] ryandawsonuk commented on #2861
Related issue https://issues.jenkins-ci.org/browse/JENKINS-55178

[2019-02-28 11:59] neswork-th opened #3244 "jx"
### Summary

### Steps to reproduce the behavior

### Expected behavior

### Actual behavior

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [ ] Classic Jenkins
- [ ] Serverless Jenkins

### Kubernetes cluster

### Operating system / Environment

[2019-02-28 13:25] chenfli commented on #2964
Happens to me as well on fresh versions 1.8XX and lately on 1.9

The same problem appears (I guess it is due to the empty --set on the helm upgrade for knative)

### Summary

Install a cluster with serverless and expose controller with 'path-mode'
Install succed, but didn't create all the prow components to enable jenkins-serverless
### Steps to reproduce the behavior

Install a cluster with the f

[2019-02-28 17:34] #3244 closed

[2019-02-28 19:34] jkoncel commented on #479
@jstrachan Just echoing the above - any updates/help needed?

[2019-02-28 21:20] kshultzCB opened #3251 "Need validation for the --cluster-name field in jx create cluster gke"
### Summary
`jx create cluster` fails when a cluster name is specified using `-n some-special-Name` when the name is out of compliance with the [Google Cloud SDK's expectations](https://cloud.google.com/sdk/gcloud/reference/container/clusters/create). I was using my GitHub username, which is `kshultzCB`. The command attempted to run, instead of kicking me out for having an invalid name.

### Steps

[2019-03-01 03:24] dinfer commented on #2410
I meet the same problem. and since the pr is merged, how can I get the fix?
the version of jenkins-x-platform is still `0.0.3402` for 15 days now. when will the jenkins-x-versions get updated? should I manually change the local version repo to force the platform get upgrade?

[2019-03-01 09:57] olblak opened #3253 "jx install eror: getting cluster from Azure: invalid character 'U' looking for beginning of value"
### Summary

### Steps to reproduce the behavior
Install an aks cluster then run jx install --provider=aks

### Expected behavior
I expect the cluster to be working
### Actual behavior
jx install jxing,

Lets set up a Git user name and API token to be able to perform CI/CD
? Do you wish to use XXX as the local Git user for GitHub server: (Y/n) Y
? Do you wish to use XXX as the local Git user for G

[2019-03-01 10:39] olblak commented on #3253
I also tested `jx create cluster aks` that lead to the same issue

[2019-03-01 10:51] olblak commented on #3253
It works if I select provider kubernetes instead of AKS

[2019-03-01 12:47] Goodsmileduck commented on #2763
same for me, `--provider kubernetes`
[code]
installed with
[code]

[2019-03-01 15:52] abayer opened #3260 "step_create_task.go should be unit-testable"
### Summary

`step_create_task.go` is...a mess. It includes such hilarity as `generateTask` not actually, y'know, generating a `Task`, but instead calling `generatePipeline`, which does in fact generate a `Pipeline` (and some other stuff)...if you're using a `jenkins-x.yml`, but if you're using a build pack, it just generates a `Task` and then calls `applyTask` which, of course, creates a `Pipelin

[2019-03-01 15:52] abayer commented on #3260
/assign abayer

[2019-03-01 16:52] porterja31 opened #3261 "Configure Chart Museum url during install, import or CLI edit"
### Summary
We would like to be able to configure a chart repo during installation that all of our installs can point to and push/pull from during build and import

### Steps to reproduce the behavior
N/A

### Expected behavior
Configuration through install or cli to set up single source chart museum to push and pull from.

### Actual behavior
None

### Jx version

The output of `jx version` is:

[2019-03-01 17:41] dcanadillas commented on #3213
It happens with every build of the app, not only when creating the quickstart. I updated JX and addons and it continues to happen.

Could it be because the namespace of Prowjob and the one defined in the pipeline are different? The pipeline log is complaining about it, but at the end of the log says SUCCESS.

The prow job is creating a job with {"spec":{"namespace":"jx"}, so the pipeline activity

[2019-03-01 18:47] polothy commented on #2052
Can confirm that this fixes it for us: `jx upgrade platform --verbose --log-level=debug --version=0.0.3402 --update-secrets --always-upgrade`

We were getting download errors though, not upload.  Though I suspect upload would fail too since auth was basically broken.

[2019-03-02 15:20] surajr commented on #1472
@scblur869 Could you please share your resolution? I'm facing the same issue

[2019-03-04 05:20] suneeshkumar-urolime commented on #3220
@jstrachan,

Yes, it(restarts) should be due to the liveness/readiness probes not getting what it's expecting thus its triggering restarts, but the problem is the Jenkins daemon is not get starting thus there is no working /login path or 8080 port available to mark the container as working.  Is there anything I can specifically look on the Jenkins-X Jenkins master container for troubleshooting the

[2019-03-04 09:31] jstrachan opened #3266 "create a `jx step secrets copy` command"
when creating preview environments we often want to setup secrets from some canonical location.

Rather like how we do [service linking](https://jenkins-x.io/developing/preview/#adding-more-resources) with [jx step link services](https://jenkins-x.io/commands/jx_step_link/) we maybe need a `jx step copy secrets` command to copy secrets to the current/preview namespace from a known namespace

[2019-03-04 09:55] suneeshkumar-urolime commented on #3220
@jstrachan

please see the following PVC details as well:

[code]

[code]

[2019-03-04 10:19] ryandawsonuk opened #3267 "jx gc activities errors"
Am seeing pods in error:

![image](https://user-images.githubusercontent.com/22754674/53726869-d2754d80-3e66-11e9-9ca3-d8a371141438.png)

Pods logs show `error: invalid character '\x1f' looking for beginning of value` and the same error is returned by `jx gc activities`

This is a GKE cluster with k8s version 1.9.7-gke.6

Could be related to https://github.com/jenkins-x/jx/issues/1705

[2019-03-04 13:29] spbkelt opened #3269 "Cannot install jenkins-x in GKE - error: object does not implement the Object interfaces"
### Summary

Cannot install jenkins-x in GKE - error: object does not implement the Object interfaces
### Steps to reproduce the behavior
In Google Cloud Free account run this command:
[code]

### Expected behavior
Jenkins-x is up and running, I can open the link which I get from this command:
[code]

### Actual behavior
Fails with this error:
[code]

In fact i have failing this command:
[code]

#

[2019-03-04 14:45] hferentschik opened #3270 "Wrong options for 'jx get apps'"
### Summary

The new `jx get apps` commands has unexepcted/wrong options.

### Steps to reproduce the behavior

[code]

There is an -o/output option. This is unexpected and also not working since even if specified the default table is displayed.

### Expected behavior

I would expect to have other options to filter and environment/namespace which aligns with the other `jx get` commands.

On a slig

[2019-03-04 15:09] Vlatombe commented on #3189
Closing as dup of #2844

[2019-03-04 15:09] #3189 closed

[2019-03-04 15:17] #3260 closed

[2019-03-04 16:23] mikecirioli commented on #2844
I see similar behavior in one of my clusters as well, although i can trigger mine via `jx start pipeline`

[2019-03-04 20:22] wbrefvem commented on #445
@atomicleads Yeah, gitlab support is not quite there yet. We're always looking for contributors if you're  interested. :)

[2019-03-04 20:43] briantopping commented on #445
Apologies that I haven't had time to contribute the Jira code I mentioned to @jstrachan that I'd try to take on.

[2019-03-04 22:25] Benbentwo commented on #1234
I had a similar issue after setting up my Jenkins Pod to default use GitHub Enterprise instead of Jenkins auth, meaning I could not login to jenkins via admin and global password because I immediately got redirected to my github login page.

<details>
    <summary>Looking at a few different sources I pieced together my solution to allow import again</summary>

---
Run:

[code]

if given a 403 or 5

[2019-03-05 05:18] #3251 closed

[2019-03-05 07:13] papanito commented on #3150
@ccojocar I see the issue is still flagged with `priority/awaiting-more-evidence`, do you need anything else?

[2019-03-05 07:25] ccojocar commented on #3150
I think we need to configure the proxy in [go-git](https://github.com/src-d/go-git) which is used to clone this repo instead of the CLI.

[2019-03-05 10:11] jstrachan commented on #3269
wonder if you need to upgrade your `kubectl` version to 1.11.x or later?

[2019-03-05 14:03] erSitzt commented on #40
Same here:
`error: POST https://srv-git.mydomain.com/api/v4/projects/326/hooks: 422 {error: Invalid url given}`

[2019-03-05 17:18] hekonsek commented on #3005
Any updates on this? :)

[2019-03-05 23:02] kshultzCB opened #3282 "Improve wording of cluster name validation error"
### Summary
In [PR 3276](https://github.com/jenkins-x/jx/pull/3276), I introduced a change which validates the name provided to `jx create cluster gke --cluster-name`. That works well enough, but the error message when invalid characters are provided is a bit unprofessional. So let's fix that up.

### Steps to reproduce the behavior
1. Create a new GKE cluster using `jx create cluster gke --cluste

[2019-03-06 06:59] #3282 closed

[2019-03-06 08:48] #3220 closed

[2019-03-06 10:41] ryandawsonuk commented on #2861
The failing line `BourneShellScript.launchWithCookie` seems to have been [recently removed from the jenkins kubernetes plugin](https://github.com/jenkinsci/kubernetes-plugin/blob/2177c82275b24c03ab2764b0b429273428bf2672/src/main/java/org/csanchez/jenkins/plugins/kubernetes/pipeline/ContainerExecDecorator.java#L564).  I [suspect the issue is more general](https://github.com/Activiti/Activiti/issues

[2019-03-06 12:32] cagiti opened #3285 "Extend the `jx gc gke` command to remove unused items from GKE"
### Summary

During the process of creating and destroying clusters by user/automated tests, it leaves many unused items, which build up over time and breach our quota. We already have a mechanism to generate a script which clears down some items, but it would be useful if that were extended to also cover:
- IP addresses
- Instance groups

[2019-03-06 13:56] garethjevans commented on #3285
/area GKE
/kind enhancement
/priority important-soon

[2019-03-06 15:00] jtnord commented on #2864
Additionally the function strips leading digits which is [incorrect](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/architecture/identifiers.md).

https://www.ietf.org/rfc/rfc1123.txt sec 2.1

      2.1  Host Names and Numbers

      The syntax of a legal Internet host name was specified in RFC-952
      [DNS:4].  One aspect of host name syntax is hereby changed:

[2019-03-06 15:24] CyrilBurd opened #3287 "Can not create git user"
### Summary
An attempt to create git user for bitbucket server requires gitea to be installed and fails.
(Actually, fails even with gitea deployed)

May be because of **_deploymentName := "gitea-gitea_**" in _pkg/jx/cmd/create_git_user.go:100_ ?

### Steps to reproduce the behavior
- jx is installed on eks cluster with default settings by:
` jx install --provider=eks --domain=jx.mydomain.net`
- su

[2019-03-06 17:54] mikecirioli opened #3290 "jx edit storage complains of missing classifier after selecting what type of storage to edit"
### Summary
`jx edit storage` complains of missing classifier after selecting what type of storage to edit

### Steps to reproduce the behavior
[code]
### Expected behavior
The command would use the storage classifier selected

### Actual behavior

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [ ] Classic Jenkins
- [ ] Serverless Jenkins

### Kubernetes cluster

### O

[2019-03-06 20:09] mikamboo commented on #1304
Hello !

I got the same issue... `Error: Chart incompatible with Tiller v2.13.0-rc.2`

Ouput of `helm version` :

[code]

Any idea ?

[2019-03-06 20:34] kshultzCB opened #3291 "Ctrl-C in jx init doesn't stop the application"
### Summary
When running `jx init`, on the very first step where you select your Cloud Provider, the Ctrl-C keystroke doesn't quit the program. Instead, it proceeds to the next step. But a second Ctrl-C will stop the program.

### Steps to reproduce the behavior

1. Run `jx init`

2. At the very first question where you're asked for your Cloud Provider, hit `Ctrl-C`.

### Expected behavior
The pro

[2019-03-06 23:29] yyolk opened #3292 "jx promote always tries to fork and fails"
### Summary

after upgrading to jx - we get:

[code]

### Steps to reproduce the behavior

Upgrade to jx >= 1.3.955

i suspect it came in with: https://github.com/jenkins-x/jx/commit/8488397127eab6a3633ddc3e17e5f635d35c88ef

### Expected behavior

No fork, things promote as they would previously.

### Actual behavior

fails, dumps error:

[code]

### Jx version
1.3.955

The output of `jx version`

[2019-03-07 00:16] rogaha opened #3293 "Add Docker for Desktop support (Cloud Provider)"
### Summary

As Docker for Desktop user, I would like to be able to install `jx` locally on my laptop.

### Steps to reproduce the behavior

$ jx install

### Expected behavior

`jx` successfully installed.

### Actual behavior

[code]
### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [ ] Classic Jenkins
- [ ] Serverless Jenkins

### Kubernetes cluster

### Operating syst

[2019-03-07 07:10] rogaha commented on #3293
[code]

[2019-03-07 07:22] rogaha commented on #3293
never mind, after updating the `helm` repos I was able to install `jx` successfully.

**recommendation:** run `helm repo update` before trying to install the `ingress` helm chart.

[2019-03-07 07:22] #3293 closed

[2019-03-07 14:35] romainverduci opened #3297 "jenkins-x-gcpreviews job is failing on serverless installs"
### Summary
jenkins-x-gcpreviews is relying on `jenkins ServiceAccount`which is only created using static master.
When using serverless jenkins configurations, it's failing and not cleaning up preview environments

### Steps to reproduce the behavior
1. Given a jx cluster configured to use serverless jenkins
2. Create a quickstart (let's say golang-http), open a PR to get a preview env
3. Close th

[2019-03-07 14:44] jtnord opened #3298 "jx version needs update permission to cluster resources"
### Summary

I ran `jx version` on a cluster where I lacked some permissions and got errors that I needed **update** permission.

`jx version` should never require anything to be written

### Steps to reproduce the behavior

login to a cluster with some unspecified low level of read permissions (this was on the production OSS jx cluster where I used my GCP credentials)

### Expected behavior

* I

[2019-03-07 14:47] jtnord opened #3299 "GitHub check status text implies error"
### Summary

I created a PR using that kicked off the non tekton serverless prow build.
the Status of Check in GitHub got set to `pod status "Initialized":"False"; message: "containers with incomplete status: [build-step-git-source-0 build-step-jenkins]"`

This implies to me an error has occured - which apparantly is not the case and is part of the normal flow.

### Steps to reproduce the behavior

[2019-03-07 15:32] alphabettispaghetti opened #3301 "jx doesn't promote simple app to staging as expected, can't communicate with docker"
### Summary
When following a tutorial we cannot get jenkins x to authenticate with the internal docker registry, thus the pipeline is broken.
### Steps to reproduce the behavior
I am following this tutorial https://itnext.io/deploy-a-basic-python-application-using-jenkins-x-kubernetes-4adace2fe345 except we are running this on AWS instead of GCP, when we try to run
[code]
our output doesn't at all

[2019-03-07 15:41] alphabettispaghetti opened #3302 "Feature request: automate passing options to jx create cluster <providor>"
I would like to raise all infrastructure in a 1 click fashion.

When I run
[code]
I am prompted for options that I cannot (or at least do not know how to) specify with a flag as described in `https://jenkins-x.io/commands/jx_create_cluster_aws/` (I'm currently using AWS). As a result I am unsure how to run this command in an automated fashion.

[2019-03-07 21:28] cosmoteJenkinsX commented on #2521
@SeanKilleen did you have any luck? I have the same issue with a user that has upper-case characters in the name, while it works fine with a user that has only lower case characters. As far as I can see this is the only difference between the two users, as their tokens have exactly the same permissions and both users were able to create a "environment-jx-staging" repo on GitHub.

[2019-03-07 22:18] wardvl commented on #2743
Having the same problem. Running on GKE. Ingress config looks fine, getting default ingress 404 on /api. Can curl from within monocular-ui shell.

[code]
[code]

[2019-03-07 22:28] cosmotejenkinsx commented on #2521
My github account was only for test, so I changed the name to lowercase.
And guess what... the git repo was created successfully.

[2019-03-08 07:11] jinjie2088 commented on #2969
the same error, how to fix?

[2019-03-08 09:39] noni73 opened #3307 "Tekton based environment does not work with private repository"
### Summary

error: pulling environment repo https://github.com/<org>/<environment_repo>.git into /builder/home/.jx/environments: failed to fork GitHub repo <org>/<environment_repo> to user <user>: Failed to fork repository <org>/<environment_repo> due to: POST https://api.github.com/repos/<org>/<environment_repo>/forks: 403 The repository exists, but forking is disabled. []

### Steps to reproduc

[2019-03-08 10:02] EamonKeane opened #3308 "Jenkins static master fails to load k8s secrets"
### Summary
After upgrading/restarting a kubernetes node which contains the static jenkins-x master, the restarted jenkins-x master does not load the secrets from kubernetes. This leads to webhooks not being received from github and the platform not functioning. This is resolved by restarting the jenkins-x master (deleting the pod and the deployment recreates it).

### Steps to reproduce the behav

[2019-03-08 10:47] rawlingsj commented on #3307
Does the pipeline user you have in cluster definitely have access to that repo?
Tip: to decode secrets easily we tend to use [ksd](https://github.com/ashleyschuett/kubernetes-secret-decode#installation)
I.e. if you run..
[code]
then using that user and github personal access token try to query the repo using the REST API...
[code]

[2019-03-08 10:47] rawlingsj commented on #3307
/priority important-soon
/assign rawlingsj

[2019-03-08 10:48] rawlingsj commented on #3307
/area tekton

[2019-03-08 10:49] rawlingsj commented on #3307
/area tekton

[2019-03-08 11:18] ccojocar commented on #3158
This is merged in https://github.com/jenkins-x/test-infra and the PR sent upstream.

[2019-03-08 11:18] ccojocar commented on #3158
I am going to close it.

[2019-03-08 11:18] #3158 closed

[2019-03-08 11:22] ccojocar opened #3309 "Upstream the prow/pipeline controller"
### Summary

Port into upstream test-infra the prow/pipeline controller from prow/pipeline controller from https://github.com/jenkins-x/test-infra/tree/pipelinerunner.

### Steps to reproduce the behavior

### Expected behavior

### Actual behavior

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [ ] Classic Jenkins
- [x] Serverless Jenkins

### Kubernetes cluster

###

[2019-03-08 11:26] ccojocar commented on #3261
@porterja31 Do you want to use an external chartmuseum service?

[2019-03-08 11:37] ccojocar commented on #3302
@alphabettispaghetti You can run the command in batch mode. This is an example for GKE:

[code]

[2019-03-08 12:07] jtnord opened #3310 "addon naming is not consistent across create and upgrade/delete"
### Summary

the names of addons are not symmetrical across the `jx create addon <name>` and jx [upgrade|delete] addon <name>`

As a user I expect to be able to refer to an addon (no matter how it is decomposed uniquely)

### Steps to reproduce the behaviour

run
`jx create addon sso`
`jx get addons`

### Expected behavior

I can see and manage the `sso` addon

### Actual behavior

there is no `ss

[2019-03-08 12:10] noni73 commented on #3307
The user has access to the repository. I found the option to enable fork for the organisation.
Forking was not needed for knative builds. Is this a new requirement?

[2019-03-08 12:12] jtnord opened #3311 "add the ability to add dependencies accross addons/apps"
### Summary

As an addon/app developer I would like to be able to define a dependency of my addon/app to another app with a minium version.

This needs to be defined per release of my app.
that is my app may depend on the `sso` addon at a minimum version, or I may depend on istion version X today and version Y tommorrow.

When a user upgrades my addon if the dependency can not be met I would expec

[2019-03-08 12:35] rawlingsj opened #3312 "Could jx pipeline.go embed Tekton step resource types?"
In prow land they embed a `podspec`, `buildspec`,`pipelinerunspec` into their [prowjob types](https://github.com/kubernetes/test-infra/blob/e69c335/prow/config/jobs.go#L104-L106).  Which means it’s super easy to add resources, limits anything from a pod spec.

I wondered if we could do the same for Pipeline?  I.e use a Tekton `stepspec` rather than duplicating the types as we’re missing resources,

[2019-03-08 12:37] abayer commented on #3312
/assign abayer

[2019-03-08 12:39] abayer commented on #3312
So my thinking here is that at least for now, we'll add our own `stepspec` type in our syntax, which we can then translate into an actual `Container` behind the scenes. Does that sound reasonable?

[2019-03-08 13:29] hferentschik opened #3314 "Use PATCH over UPDATE when updating CRs"
Instead of using the `Update` method for the various generated clientset interfaces, we should use the `Patch` approach, specifying a JSON path over updating the whole CR.
This approach reduces the amount of data sent over the wire and it should reduce the number of conflicts when trying to update.

[2019-03-08 14:55] jtnord opened #3315 "`jx upgrade addon` ignores failure to find chart version"
### Summary

I had my own jenkins-x-versions where I had set the dex version to be `2.13.9`
I ran `jx upgrade addon jx-sso-dex --versions-repo=https://github.com/jtnord/jenkins-x-versions`

however `2.13.9` was not in the chartmuseum at the time.

the upgrade "succeeded" but this is just plain missleading.

### Steps to reproduce the behavior

### Expected behavior

the command should error (or at

[2019-03-08 15:47] alphabettispaghetti commented on #3302
thank you very much @ccojocar :)

[2019-03-08 15:47] #3302 closed

[2019-03-08 16:12] porterja31 commented on #3261
An external service or something like S3 or other cloud provider storage that could act like a museum.

[2019-03-08 16:18] rawlingsj opened #3316 "`jx get build logs` performance degrades, perhaps with growing pipelineruns"
Running `jx get build logs` just took 18 seconds to return a list to pick from.  It could be related to `pipelineruns` as it's been getting worse all day.  I currently have 62 pipelinerun resources.

/area tekton
/priority important-soon

[2019-03-08 16:19] abayer commented on #3316
I'm entirely willing to bet that my logic (particularly in `pipeline_info.go`) is...less than optimal. =)

[2019-03-08 16:27] kshultzCB opened #3317 "jx step create task looks for jx-release-version, which is not found"
### Summary
After successfully creating a golang-http quickstart, I change directories into that directory. When I issue `jx step create task` , the command fails. It appears to be looking for environment variables with `-`s in their names, which aren't legal in bash.

### Steps to reproduce the behavior
1. Given a working JX, create a quickstart. In my particular case, I did `jx create quickstart

[2019-03-08 17:13] abayer commented on #3316
Yeah, it's listing pods way too much. Trying an experiment to see if I can drop that.

[2019-03-08 17:16] abayer commented on #3316
Still more work to go - got down from ~20 seconds with 26 `PipelineRun`s with their `Pod`s still around to ~11 seconds, but that needs to be improved. =)

[2019-03-08 17:20] rawlingsj commented on #3316
ah great - it's going the right way :)

[2019-03-08 17:31] abayer commented on #3316
Basically, there are a lot of redundant list calls for various things, so I'm figuring out how to avoid that.

[2019-03-08 17:33] msigler-cb commented on #3023
Didn't create a new bug as these are related...

NAME               VERSION
jx                 1.3.853

My CLI was not installed by brew.

Help text "--no-brew=false: Disables the use of brew on macOS to install or upgrade command line dependencies"

$ jx upgrade cli --no-brew=false
Error: Command failed  brew upgrade jx
error: exit status 1

$ jx upgrade cli --no-brew
Downloading https://github.c

[2019-03-08 17:42] abayer commented on #3316
/assign abayer

[2019-03-08 17:42] abayer commented on #3316
How would you like ~1s? 'cos I just got there. I'll clean it up and open a PR after I get dinner. =)

[2019-03-08 22:03] kalbasit opened #3320 "git.apache.org/thrift.git is no longer available"
### Summary

Thrift is no longer available at the location in `go.sum`. It's now distributed on Github at github.com/apache/thrift. The official documentation has also [been updated](https://thrift.apache.org/lib/go).

I'm trying to package `jx` [for Nix](https://github.com/NixOS/nixpkgs/pull/57080/commits/d96f2512045ed36ffb7ba9ab164fa635e4e4a28f), and this is getting in the way!

### Steps to rep

[2019-03-09 03:41] mulanshandi commented on #40
@erSitzt
I have solved this problem, refer to the following article:
https://docs.gitlab.com/ee/security/webhooks.html

[2019-03-09 11:14] #3316 closed

[2019-03-09 11:42] abayer commented on #3317
You've got to install https://github.com/jenkins-x/jx-release-version (i.e., `go get -u github.com/jenkins-x/jx-release-version`) to make this work. Though I recommend running that from somewhere not in a repo, 'cos it can mess up `go.mod`, I think?

[2019-03-09 19:52] erSitzt commented on #40
@mulanshandi thanks, i will try that

[2019-03-09 20:26] Minipada commented on #933
I see the same behavior, did you find a solution?

[2019-03-09 20:29] duffn commented on #933
I have not found a solution. I can only run Jenkins X in minikube after creating a cluster, but cannot restart a stopped cluster.

[2019-03-09 20:43] Minipada commented on #933
That's making it far too slow to work with Jenkins X locally if after a reboot, we need to delete and start a new cluster...

[2019-03-09 22:36] erSitzt commented on #40
I think this works, because now i get 500 error from gitlab... but that seems to be a general issue with creating webhooks due to missing default values when not selecting the events for which the hook should be called...

[2019-03-10 15:56] kshultzCB commented on #3317
All fixed up now. Thanks @abayer .

Is that new? It might not be. Liam and I were looking at my environment and there was some pretty oddball stuff going on.

[2019-03-10 15:56] #3317 closed

[2019-03-11 18:16] kirangavali opened #3324 "Steps to intigrate the jenkins with knative build on eks cluster using kubernaties"
### Summary

### Steps to reproduce the behavior

### Expected behavior

### Actual behavior

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [x] Classic Jenkins
- [x] Serverless Jenkins

### Kubernetes cluster

### Operating system / Environment

[2019-03-11 18:17] kirangavali commented on #3324
Steps to intigrate the jenkins with knative build on eks cluster using kubernaties

Please any one can help to  install Steps to intigrate the jenkins with knative build on eks cluster using kubernaties

[2019-03-12 01:50] thienlh commented on #3292
I believe the same issue is happening with BitbucketCloud. The only different is the message:

[code]

I also using EKS 1.11.5

[2019-03-12 10:20] zeusro opened #3326 "Support for Alibaba Cloud"
### Summary

Alibaba Cloud is the biggest Cloud in China.

But there is no option in jx create cluster,which meams Jenkins X does not support Alibaba Cloud natively.

### Steps to reproduce the behavior

### Expected behavior

`create cluster` supports aliyun.

### Actual behavior

Doesn't support.

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [x] Classic Jenkins
- [

[2019-03-12 10:40] dimmel82 opened #3328 "Waiting to schedule task in on-premise with proxy"
### Summary
The jx installation is on-premise behind proxy. The `http_proxy` and `no_proxy` variables are set but the pipeline stays in "waiting to schedule task - ‘maven-wmw61’ is offline".
The problem is that the jnlp container cannot connect to master due to proxy. The relevant Jenkins issue [JENKINS-32326](https://issues.jenkins-ci.org/browse/JENKINS-32326) is resolved, but I could not make it

[2019-03-12 14:03] adutton-tc commented on #3292
This also seems to affect github hosted repos if the org has disabled forking (using a private repo):

`error: pulling environment repo https://github.com/<org>/environment-staging.git into /home/jenkins/.jx/environments:
failed to fork GitHub repo <org>/<repo> to user <jenkinsxgithubuser>: Failed to fork repository <org>/environment-staging due to: POST https://api.github.com/repos/<ORG>/environm

[2019-03-12 14:04] andrewdutton commented on #3292
This also seems to affect github hosted repos if the org has disabled forking (using a private repo):

error: pulling environment repo https://github.com/<org>/environment-staging.git into /home/jenkins/.jx/environments: failed to fork GitHub repo <org>/<repo> to user <jenkinsxgithubuser>: Failed to fork repository <org>/environment-staging due to: POST https://api.github.com/repos/<ORG>/environme

[2019-03-12 17:40] berwyn opened #3329 "Feature Request: Flags to Prevent Creating Commits During Import"
### Summary
I'm testing Jenkins X for my company and have found some frustrations importing our existing projects. We already use Docker (leveraging Docker Compose on GitLab CI), so I want to create the Jenkinsfile and Draftfile, commit them to a branch, and follow our typical PR workflow. `jx import` will, instead, create and push a commit with the changes directly to our default branch.

### Ste

[2019-03-12 17:43] berwyn opened #3330 "Dry Run Flag Doesn't Execute Dry Run During Import"
### Summary
I ran `jx import --github --org <myorg> --branch <branch pattern> --dry-run` and `jx` pushed a commit, created a webhook, and started leaving comments on PRs.

### Steps to reproduce the behavior
`jx import --github --org <myorg> --branch <branch pattern> --dry-run`

### Expected behavior
A list of expected outcomes is printed, but no actions are actually taken

### Actual behavior
The

[2019-03-12 17:51] nukepuppy commented on #536
Also curious about this too...   I know the helm sonarqube has some ingress options that could be passed/ignored

[2019-03-12 21:32] cyclingwithelephants opened #3331 "error: Unable to locate service account tekton-bot running jx create cluster gke terraform"
### Summary
Adding `terraform` to run the command
[code]
yields the error
[code]

### Steps to reproduce the behavior
run the below in a shell file ('x' used to hide private data)
[code]

### Expected behavior
A cluster is created
### Actual behavior
The error stated above
### Jx version

The output of `jx version` is:

[code]

### Jenkins type

not sure

### Kubernetes cluster

jx but not created

[2019-03-12 23:01] joseronierison opened #3332 "Test compilation taking too long to compile"
### Summary
The application is taking to long (more than an hour and sometime it breaks) to run compile the unit test using scala/sbt.

I have disabled the parallel execution, anyway when I took a look on the pod resource usage it was on the limit of CPU the the pod (I think is this one configured on the folder https://github.com/jenkins-x-buildpacks/jenkins-x-kubernetes/tree/master/packs/scala)

[2019-03-13 08:30] ndeloof commented on #2756
I was about to report this exact same RFE.
This is pretty confusing to read a comment "PR built and available in a preview environment foo-pr-4 here" and just next "This branch has not been deployed - No deployments"

[2019-03-13 09:37] svilenvul opened #3333 "Git API token and username showed in plain text in build logs"
### Summary

Git API token and username is showed in plain text in build logs. This a major problem for us as this token is used to access all git projects in the organisation and should not be visible to the developers.

### Steps to reproduce the behavior

[code]

### Expected behavior

Build logs should contain:
[code]

### Actual behavior

Build logs contain:
[code]

### Jx version

The output

[2019-03-13 09:45] ndeloof opened #3334 "GitHub commit status should offer a link to build logs"
### Summary

For a PR built by Jenkins X Serverless
Checks show
"
serverless-jenkins — succeeded
"

As `PipelineActivitySpec` do define attribute `BuildLogsURL` I would expect this check gives me a link so I can read build log from gitHub web UI - expecialy in case of build failures

### Steps to reproduce the behavior

### Expected behavior

Check to provide a link to read build log

### Actual b

[2019-03-13 09:52] ndeloof opened #3335 "Preview environments should be deleted when PR is merged/closed"
### Summary

Preview environments persist after PR is merged/closed. They should be removed, to avoid unnecessary resource consumption

### Steps to reproduce the behavior

Create a PR, merge. preview pod and namespace are still running.

### Expected behavior

preview cleanup after merge

### Actual behavior

preview environment running for days

### Jx version

[code]

### Jenkins type

- [ ] Cl

[2019-03-13 09:53] ndeloof commented on #3335
I know about `jx gc previews`. But it's weird to me I have to run such a command, and preview are not automatically garbage collected when not relevant anymore.

[2019-03-13 09:58] ndeloof commented on #3334
By the way, BuildURL is incorrect in metadata:
`Build URL:            http://localhost:-1/jenkins/job/job/1/``

Actual URL is defined by configured storage, i.e gh-pages with default configuration.

[2019-03-13 19:13] dvelitchkov commented on #2954
I'm having the exact same issue on a brand-new installation against Minikube. @ccojocar - re: your suggesting to "install the latest version" - what does that mean? I got jx from Homebrew just yesterday.

[2019-03-13 20:42] ehsanmnz opened #3337 "Wrong nodejs builder image tag"
### Summary
jx create quickstart failed
### Steps to reproduce the behavior
jx create quickstart

### Expected behavior
complete the pipeline
### Actual behavior
waiting for executer (Error: ImagePullBackOff)
Failed to pull image "gcr.io/jenkinsxio/builder-nodejs:0.1.281"
### Jx version

The output of `jx version` is:

[code]
### Jenkins type
Classic Jenkins

### Kubernetes cluster
eks

### Operat

[2019-03-14 04:05] ouyangshixiong opened #3338 "use GitLab with jenkins-x problem"
### Summary
use  jx create quickstart --git-provider-url='http://gitlab.datangliang.com' --git-host='gitlab.datangliang.com' --git-provider-kind='gitlab' --git-username='jenkins-x-127'
created  project(quickstart3) didn't create right git url as github does.

### Steps to reproduce the behavior
jx create git server gitlab http://gitlab.datangliang.com/
jx create git token -n gitlab jenkins-x-127
j

[2019-03-14 08:52] erSitzt opened #3339 "Problem with preview using GitLab"
### Summary
jx is trying to `strconv.Atoi` a pull-request name to a number

### Steps to reproduce the behavior
create a pull-request (merge-request) in gitlab to trigger a preview

### Expected behavior
preview pipeline without errors

### Actual behavior
errors in promote to environments

[code]

If i'm not mistaken StepPRCommentOptions expects a pull-request number but is passed the pull-reques

[2019-03-14 09:03] erSitzt commented on #3338
I use the same version of jx with GitLab and with this command

`jx create quickstart --verbose true --git-host https://srv-git.zentrale.domain.de --git-provider-kind gitlab --git-provider-url https://srv-git.zentrale.domain.de`

i get

[code]

can you list list all of your git servers with `jx get git server` ?

[2019-03-14 09:32] skiingandhiking commented on #3270
Remove all options, and re-address

[2019-03-14 09:37] erSitzt commented on #1923
Where and when is the commit status set when using GitHub ?

[2019-03-14 09:40] erSitzt commented on #40
@mulanshandi
it's working, thanks again!

[2019-03-14 09:48] stevef1uk opened #3340 "jx create cluster gke --skip-login fails"
### Summary
Tied the command: jx create cluster gke --skip-login

### Steps to reproduce the behavior
Created a new cluster with bigger instances than the default & 4 nodes
Kaniko selected
Said yes to install Ingress controller
### Expected behavior
A successful installation
### Actual behavior
Installing Chart 'install --wait --name jxing --namespace kube-system stable/nginx-ingress --version 1.3

[2019-03-14 10:14] pmuir opened #3341 "Repo/Project/Team pipeline configuration for Prow"
### Summary

Currently pipeline configuration for prow is specified at the team level in a config map.

There is no way to:

* Specify a set of defaults for a build pack
* Specify a set of defaults for a team or project
* Specify common pieces of configuration that can be reused from a team or buildpack
* Extend the configuration for new repos that are added after the app is installed
* As an app

[2019-03-14 10:33] tdcox commented on #3331
I can confirm the same problem with jx v1.3.974.
I guess a workaround might be to create a cluster without installing Jenkins-X, manually creating the service account, then running the install.

[2019-03-14 10:35] pmuir opened #3342 "Pipeline extensibility for Tekton"
Currently there are some ways to extend pipeline e.g. you can put a pipeline definition in a build pack but there is no way to provide any intermediate configuration. This is also not consistent with the other ways we do extensibility which is via CRDs

Acceptance Criteria:

* Consistent with the rest of the JX extensibility
* Blocks pipeline execution until all extensions are applied.

[2019-03-14 11:25] tdcox opened #3343 "Cluster install fails when creating staging environment"
### Summary
Install fails during creation of staging environment with the following error:
[code]
### Steps to reproduce the behavior
[code]

### Expected behavior
Completion of install script.

### Actual behavior
[code]
### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [ ] Classic Jenkins
- [x] Serverless Jenkins

### Kubernetes cluster

GKE v1.11.7-gke.4 created by jx

[2019-03-14 12:24] dimmel82 commented on #1923
For anyone interested, I'm using the following additional setup in the pipelines of environments (e.g. `environment-jx-staging` pipeline) to bypass the issue until the Jx-Gitlab integration is fully implemented:

The only issue is that the "promote-" branch is not automatically deleted from the environment's git repo.

[2019-03-14 13:15] alphabettispaghetti opened #3344 "Way to name elastic load balancer for easy deletion"
### Feature request
When calling `jx create cluster eks` it would be nice to be able to name the elastic load balancer so that it's easier to automate the deletion of infrastructure.

[2019-03-14 14:40] tdcox opened #3345 "Cluster install fails due to Vault failure"
### Summary
Cluster install terminates prematurely due to a health check error from Vault:
[code]
### Steps to reproduce the behavior
[code]
### Expected behavior
Completion of the install script.

### Actual behavior
[code]
[D21_logs_2019-03-14.txt](https://github.com/jenkins-x/jx/files/2966910/D21_logs_2019-03-14.txt)

Looks like the vault pod has a repeating error `failed to set up mount table`

[2019-03-14 15:02] svilenvul commented on #1424
We are also interested in these instructions.

[2019-03-14 15:05] svilenvul commented on #1424
@i0n, sorry, didn't unassign you intentionally :)

[2019-03-14 15:53] tdcox commented on #3345
This seems to be both a problem with Vault and a race condition of sorts. I have just run this again and got a different partial failure of one of the Vault pods but the install continued.

This time, one of the Vault containers returned a 503 Service Temporarily Available to a health check, then started returning 429 Too Many Requests to subsequent health checks.

The healthcheck schedule is pret

[2019-03-14 15:55] ndeloof commented on #3334
Commit Status is created based on `ProwJob.Status.URL`, which is not set.
Actual URL is available as `PipelineActivity.Spec.BuildLogsURL`

[2019-03-14 16:15] alphabettispaghetti commented on #3344
I realise now that there's an option for this with EKS

[code]

[2019-03-14 16:16] #3344 closed

[2019-03-14 16:54] alphabettispaghetti opened #3346 "batch mode prompts for input that i've already given it when invoking jx create cluster gke"
### Summary
batch mode prompts for already specified input when running jx create cluster gke
### Steps to reproduce the behavior
running the command
[code]
with the variables
[code]

### Expected behavior
jx proceeds to create the cluster as specified
### Actual behavior
I am prompted me for the minimum number of nodes to create. (which I have already specified)
### Jx version

The output of `jx

[2019-03-14 17:03] tdcox commented on #3346
There are a couple of additional items that also are related:

1. Options explicitly set to false are often not respected and a prompt is issued.
2. For some prompts, it is unclear if an option exists to pre-configure or disable them.

As a result, it isn't possible to write a definitive description of the configuration of a cluster since someone may be presented with choices that allow them to va

[2019-03-14 17:20] alphabettispaghetti commented on #3346
I forgot to add that this script worked yesterday without prompting (on Wednesday 13th) but not today

[2019-03-14 17:25] alphabettispaghetti opened #3347 "jx delete eks doesn't offer a way to specify cluster name"
### Summary
https://jenkins-x.io/commands/jx_delete_eks/ offers no way to specify a cluster to delete

[2019-03-14 18:04] tychota opened #3348 "Cluster creation with --ng failed at creeating vault bucket"
### Summary

### Steps to reproduce the behavior

- Run`jx create cluster gke --ng --skip-login -n jenkins-x`

- Fill

[code]

### Expected behavior

Cluster is created.

### Actual behavior

Cluster creation fails.

[code]

But:

[code]

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

I selected parameter --ng:

I think this is still classic Jenkins:
- [x] Classic Jenkin

[2019-03-15 00:30] mdiez19 opened #3350 "Use different default Jenkins username"
### Summary
Currently, we can overwrite the admin-password with `--default-admin-password` when running `jx install` with a static jenkins server.

Currently we piggy back on CASC to use LDAP as an Active Directory for jenkins users. Therefore I need to overwrite the default admin username as well i.e. `--default-admin-username`
### Steps to reproduce the behavior
Add the following to your myvalue

[2019-03-15 01:59] ouyangshixiong commented on #3338
@erSitzt  I think we are facing the same issue. my kubernetes cluster come out the same problem as yours.

[2019-03-15 08:24] ndeloof commented on #3334
IIUC prow architecture, prow/plank/controller.go:jobURL is responsible to produce URL to access build logs, based on configured `plank.JobURLPrefix` (set to point to some webUI or cloudbees addon) + DecorationConfig.GCSConfiguration, which seems to demonstrate current prow codebase is GCS-only, and need to be adapted to support Jenkins X configurable storage.

[2019-03-15 09:20] #3350 closed

[2019-03-15 09:25] tdcox opened #3353 "Deck pod in crash loop when using Tekton"
### Summary
I am looking at a test cluster that is about 15hrs old. It was created and has had a single golang-http quickstart executed against it shortly after setup.

I am seeing two deck pods, with one in long term CrashLoopBackOff:
[code]

The failing pod reports:
[code]
And the container log is:
[code]

### Steps to reproduce the behavior
Create cluster instance with:
[code]
Then run a single

[2019-03-15 10:18] jstrachan commented on #3292
I guess we need to query the repo and detect if its a private repo and then not try to fork it

[2019-03-15 11:28] erSitzt commented on #3338
No i meant its working correctly with my setup using the same version of jx

[2019-03-15 12:07] alphabettispaghetti opened #3355 "Supplying --helm3 flag breaks installation on GKE cluster"
### Summary
using the helm3 flag when invoking
[code]
causes an error because the system expects tiller to be running (but of course isn't).

### Steps to reproduce the behavior
invoke
[code]
with the variables
[code]

### Expected behavior
the cluster is created and provisioned with Helm3

### Actual behavior
here's the full output (error or interest at bottom of output):
[code]

The error of int

[2019-03-15 13:11] adutton-tc commented on #3292
Just a clarification - the ability to fork a private repo is a setting in github - I did some poking but that setting doesn't seem to be exposed through their api.

[2019-03-15 13:11] andrewdutton commented on #3292
Just a clarification - the ability to fork a private repo is a setting in github - I did some poking but that setting doesn't seem to be exposed through their api.

[2019-03-15 16:20] dvelitchkov commented on #2954
So this looks more and more like a bug with prow/tide. The exact error message seems to be coming from here: https://github.com/kubernetes/test-infra/blob/56ad7645150efd9b46b296f81aec1918ce039c98/prow/github/client.go#L538

I think this bug is a dup of #2285 ?

[2019-03-15 16:50] #3285 closed

[2019-03-15 20:15] tre7roja opened #3356 "Binary jx missing on github"
### Summary
The binary below is missing:
https://github.com/jenkins-x/jx/releases/download/v1.3.979/jx-linux-amd64.tar.gz
### Steps to reproduce the behavior
curl -L https://github.com/jenkins-x/jx/releases/download/v1.3.979/jx-linux-amd64.tar.gz
### Expected behavior
Download
### Actual behavior
<?xml version="1.0" encoding="UTF-8"?>
<Error><Code>NoSuchKey</Code><Message>The specified key does no

[2019-03-16 14:17] dimmel82 commented on #667
@leechungkyu: The addition of ingress rule for jenkins-x-monocular-api service worked for me too

[2019-03-16 17:07] cyclingwithelephants commented on #3346
Any news on this? I can't automate the creation and provisioning of a cluster because of this

[2019-03-18 00:36] ouyangshixiong commented on #3338
@erSitzt you mean this kind of urls is correct?  Ok.
Is your webhook in gitlab work correctly? Or should I config something for gitlab in my jenkins-x

[2019-03-18 05:49] romil-punetha commented on #2704
during `jx upgrade ingress`, it asks for ` Which organisation do you want to use?` and its not showing my own repo

[2019-03-18 08:27] erSitzt commented on #3338
Are you talking about your remotes or about webhooks ? you example is only listing your remote git repo, not any webhooks.

in your example your domains differ, thats why i asked you to post your output of the `jx get git server` command. But you still havent shared this...

[2019-03-18 08:39] ccojocar commented on #3324
@kirangavali Please could you provide more details which describe your request? You can retrieve the build logs with `jx get build logs`.

[2019-03-18 08:40] ccojocar commented on #3326
@zeusro We are willing to accept contributions for this. Thanks

[2019-03-18 08:46] ccojocar commented on #3332
@joseronierison Are you using the Scala build template? You can find more details here how to customise the build template for classic Jenkins https://jenkins-x.io/getting-started/create-custom-builder/.

Do you need more help? Thanks

[2019-03-18 08:54] ccojocar commented on #3340
@stevef1uk It seems that it fails to install the ingress controller? Can you provider some logs and the state of the PODs for ingress controller?

Can you install ingress controller manually?

[2019-03-18 08:59] ccojocar commented on #3343
@tdcox Please could you check if the config map `ingress-config` is available in the `jx` namespace? Do you use the latest version of exposecontroller?

[2019-03-18 09:03] ccojocar commented on #3345
@tdcox Can you provide some logs from the `vault` container which runs in the `jx-vault-*` POD?

How many containers do you see running on each jx-vault POD?

You can also try to remove the cloud resources allocated for vault backend with `jx delete vault -r jx-vault-d22` and try again.

[2019-03-18 09:09] ccojocar commented on #3348
@tychota Do you have enough permissions to create any bucket in the GCP project are you using to install Jenkins X? Maybe you can try to create a test bucket with `gsutil`.

[2019-03-18 09:12] tdcox commented on #3343
@ccojocar I'm afraid that cluster instance was deleted last week.

[2019-03-18 09:12] ccojocar commented on #3355
@alphabettispaghetti Please try to use `no-tiller` instead.

@jstrachan I think we should depreciate the `helm3` flag until there is an official release. What do you think?

[2019-03-18 09:15] ccojocar commented on #3356
@tre7roja Please try to use the lastest binary version https://github.com/jenkins-x/jx/releases/download/v1.3.980/jx-linux-amd64.tar.gz.

I think there were some glitches when we were switching the `jx` repository to `tekton` pipeline.

I am going to close this issue for now. Thanks for reporting.

[2019-03-18 09:15] #3356 closed

[2019-03-18 09:16] tdcox commented on #3345
@ccojocar The Vault log is attached above.

One of the Vault Pods only has 2 out of 3 containers healthy because the third is throwing 429 errors.

This cluster instance was deleted last week but the problem has shown up on multiple attempts to install so should be easy to reproduce using the config above.

[2019-03-18 09:29] dimmel82 opened #3357 "Cannot download http://start.spring.io/starter.zip behind proxy"
![SecureDownload](https://user-images.githubusercontent.com/37932300/54520323-2016ad80-4971-11e9-9adf-e40dce8894b7.png)
### Summary
The `jx create spring -d web -d actuator` command fails in on-premise proxied environment because the proxy expects a confirmation from the user to download from http sites (the GFI WebMonitor tool is used in my case). When downloading from https sites there is no iss

[2019-03-18 10:55] ouyangshixiong commented on #3338
@erSitzt  Thank you very much for your reply.
The command line output is this:
[root@activiti7-master ~]# jx get git server
Name   Kind   URL
GitHub github https://github.com
github http://gitlab.datangliang.com/

I had doing more learning  on JenkinsX with GitLab,
For examle, just install jx using this:
jx install --git-provider-url='http://gitlab.datangliang.com/' --provider=kubernetes  --extern

[2019-03-18 11:30] jtnord opened #3358 "tekton cluster not showing all pipelines"
### Summary

the Core UI and `jx get pipelines` is not returning the fill list of pipelines configured in the tekton cluster

### Steps to reproduce the behavior

run `jx get pipelines`

### Expected behavior

results shows all pipelines that are configured in the cluster

### Actual behavior

many are missing.

e.g.

[code]

shows only 3 projects, yet...

[code]

shows that there are other pipeli

[2019-03-18 11:37] tychota commented on #3348
I'm full admin on this GKE and I try to create with success the bucket using `gs://jx-vault-jenkins-x-bucket/` which work ok.

Maybe a conflict with an old deleted project that have not yet completly recovered the ressource (I heard it can take 30 days to properly terminate a project).

I'm going to test on another gcp account to see if the hypothesis is valid.
I also did `brew update jx` from `1.

[2019-03-18 11:38] tychota commented on #3348
Umm.

[code]

Still the same issue.

[2019-03-18 11:44] amuniz commented on #3358
Is this tekton specific? I think `jenkins-x/jenkins-x-versions` is not showing up in `jx get pipelines` because there is no _release_ pipeline for it, so there is no pipeline to trigger on it.

[2019-03-18 11:48] tychota commented on #3348
Wait, aren't bucket names globally unique ?

[code]

[2019-03-18 11:50] tychota commented on #3348
![image](https://user-images.githubusercontent.com/13785185/54528177-71786a00-497c-11e9-94b5-94a788169df2.png)

[2019-03-18 14:13] tdcox opened #3360 "Attempting to create a quickstart whilst not in dev environment gives an obscure error"
### Summary
Old chestnut with new symptoms here...

If you forget to switch to the dev environment and try to create a new quickstart-based project, the wizard process will get right to the end and then fail to set up the webhook with the following very obscure error:
[code]

Should the quickstart command perhaps force a `jx env dev` or at least warn you that it will not work because you are in th

[2019-03-18 14:45] tejesh-unbxd opened #3362 "extraValues.yaml overrides helm values in preview environment."
I'm using ECR to store docker images. In a preview environment, I'm making a few changes in values.yaml so that image gets pulled from ECR.

`cat pim/dam/preview/values.yaml`

[code]

When i run `jx preview --app pim-dam --dir ../..`  i can see `extraValues.yaml` file is getting created which overrides my `values.yaml `file.The problem with `extraValues.preview.image.repository` is it adds organis

[2019-03-18 14:56] CobraFlow opened #3363 "GitLab password base64 encoded incorrectly."
### Summary

The password is incorrect. I have tried rebuilding this project 4 times hence the 0.0.4 version.

[code]

The token seems to be stored in a secret jx-pipeline-git-gitlab-gitlab. The password is base64 encoded as dnlieUdtaHJ6EZEVVl0N2NZejIK when it should be dnlieUdtaHJ6EZEVVl0N2NZejI=

Once the password is corrected, the build gets further.
[code]
### Steps to reproduce the behaviour

[2019-03-18 14:57] tychota commented on #3348
Ok so I change the name of the project to have something more random.

[code]

and it works, until I now face https://github.com/jenkins-x/jx/issues/3345.

Feel free to close this, but I think, once `--ng` will be documented, we should add some doc about the naming and some early check that bucket does not exist.

[2019-03-18 14:59] tychota commented on #3345
I face the same issue.

I think readineessProbe is too fast, so it get ratelimited :)

[2019-03-18 15:02] tychota commented on #3345
Or this https://github.com/helm/charts/pull/9462 (see comments just after close).

[2019-03-18 15:31] ccojocar commented on #3345
@ccojocar I think by looking at the logs that the original issue is caused by an invalid ciphertext already stored in the bucket

[code]

It might be that the data was encrypted with different sealing keys, when you tried multiple types. The bucket name is normally built from the cluster name. Can you also reproduce it with an empty bucket?

You can also run `jx delete vault -r <vault-name>` to cl

[2019-03-18 16:08] warrenbailey opened #3366 "NG Pipeline support secretKeyRef"
### Summary
It would be great if we could support secretKeyRef in the jenkins-x.yml.

I'm trying to convert the jenkins-x-charts repositories over to tekton pipelines but at the minute I can't easily mimic the behaviour of secretKeyRef from the knative build templates i.e.:
https://github.com/jenkins-x-charts/jx-build-templates/blob/8337686e405b74be8587a2e21a9b36ead1543d55/jx-build-templates/templ

[2019-03-18 16:09] warrenbailey commented on #3366
/assign abayer

[2019-03-18 16:20] tdcox commented on #3353
@rawlingsj I have just observed this happen on a fresh cluster. It looks like the cluster auto-scaled down from three to two running nodes triggering a restart of a number of Pods as they were flushed from the terminating node. After this, I ended up with one working deck pod and one in a crash loop.

The failed pod is repeating this error once per second so it should probably have a Circuit Break

[2019-03-18 16:34] tdcox commented on #3353
Confirmed. If you scale the Deployment for deck down to zero and back up again, it fails to recover. Oops!

[2019-03-18 16:53] rawlingsj opened #3367 "jx version in builder images out of date"
jx version in the `builder-`foo images is old, pretty sure this is down to the moving of repos, pipelines and infra to Tekton.

I'm working on fixing.

/priority critical-urgent
/assing rawlingsj

[2019-03-18 16:53] rawlingsj commented on #3367
/assign rawlingsj

[2019-03-18 16:55] tdcox opened #3368 "Devpods don't support Tekton yet"
### Summary
Creating a Devpod fails due to a dependency on knative-build.
[code]
### Steps to reproduce the behavior
[code]
### Expected behavior
Creation of a Devpod.

### Actual behavior
System left in inconsistent state with namespace and exposecontroller created but no pod.

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [ ] Classic Jenkins
- [x] Serverless Jenkins

[2019-03-18 17:22] patrickleet opened #3369 "Preview Builds when commit is from a bot"
### Summary

Github Apps are able to create commits and PRs using a user with a [bot] label.

The Jenkins Preview Build chokes when it comes across the `[`s in the username as it doesn't match the current regex.

I suspect over time there will be more bot users, and also fear that merging this PR will cause problems for all PRs going forward if it scans history.

### Steps to reproduce the behavio

[2019-03-18 17:24] rawlingsj opened #3370 "`jx get build logs` not returning master branch pipelines anymore"
jx 1.3.980

I just upgraded to the latest jx (unfortunately I don't know the version I was on before) and I'm now not seeing master branch pipelines returned in the list to choose.  I only see PR related pipelines.

Think it may be a regression?

[2019-03-18 17:24] rawlingsj commented on #3370
@abayer not sure if you've seen anything around this lately?

[2019-03-18 17:25] stevef1uk commented on #3340
Sorry, my free period has ended so I can't do this. I sort of expected it to work OOTB.

[2019-03-18 17:25] #3340 closed

[2019-03-18 17:32] abayer commented on #3370
I've never actually done anything involving master branch pipelines, so I'm not sure. Presumably this is related, but I don't know how to reproduce it.

[2019-03-18 17:49] jtnord commented on #711
@martijnburger thanks - that pushed me in the right direction, had not realised before now that the parts that where correctly coloured had been converted to specific windows calls before rendering and thus the remaining ones had not been converted and hence why they where not displaying correctly.

![image](https://user-images.githubusercontent.com/494726/54551519-2d01c400-49a6-11e9-9c8f-10d633ac

[2019-03-18 19:07] jglick commented on #3314
Should also avoid data-loss bugs caused by extant CRs using schemas slightly different than what the `jx` command‘s `struct`s were expecting.

[2019-03-19 06:54] heroic opened #3374 "Bitbucket cloud org error in promote"
### Summary
Promote command fails to merge PR

### Steps to reproduce the behavior
Import a bitbucket cloud repository from a team. Promote it using jx.

### Expected behavior
PR should be merged

### Actual behavior
Merge PR fails with error:

`error: Status: 400 Bad Request, Body: {“type”: “error”, “error”: {“fields”: {“source”: [“branch not found: jenkins-x-bot:promote-deadpool-0.0.93"]}, “mess

[2019-03-19 08:13] hferentschik commented on #3314
what exactly do you mean with that?

[2019-03-19 12:15] skyionblue commented on #3374
I am experiencing the same issue,

Hey Guys… I have been fighting this error or going on a month now… anyone have any advice?

Promoting app dashboard version 1.0.13 to namespace jx-staging
error: Status: 404 , Body: {“errors”:[{“context”:null,“message”:“Repository \“env-beta-os-staging\” of project with key \“GDO\” has no branch \“PIDJENKINSKSBOTT:promote-dashboard-1.0.13\“”,“exceptionName”:“com.

[2019-03-19 12:25] wbrefvem commented on #3374
/assign wbrefvem

[2019-03-19 12:27] wbrefvem commented on #3374
/priority important-soon

[2019-03-19 12:32] skyionblue commented on #3374
Just wanted to add some additional information, the branch does exist in the correct Repo. What I mean by that is that the branch is in the staging ENV Repo, and if I manually merge it with the master branch then the pipeline will start..

[2019-03-19 12:41] RiceBowlJr commented on #2527
Hi,

I juste encountered the same issue:

[code]

And I have the following result:

[code]

I tried with and without the `--vault=false` option so that doesn't solve the issue. Any help there? I don't understand, if it doesn't work for me it shouldn't work for anybody on any provider other that GCP.

[2019-03-19 12:43] heroic commented on #3374
@skyionblue Yes. However, in my case the branch is in searchable using org:branch_name, whereas jx tries to find it with user:branch_name

[2019-03-19 13:21] kim0 commented on #2656
@CarloWakefield .. I just hit this error. Your workaround was helpful. Not sure why you closed the issue though. It seems like a real bug that needs fixing. Thanks!

[2019-03-19 13:29] skyionblue commented on #3374
That is exactly the same thing that is happening on my end as well... the PIDJENKINSKSBOTT is the pipelineusername, where GDO is the Repo Owner.

[2019-03-19 13:55] alphabettispaghetti opened #3376 "feature: importing arbitrary jobs"
### Summary
It would be nice to be able to support the automation of importing pipelines that build and provision infrastructure (e.g. Ansible, terraform, puppet, chef). Not sure if this already exists or not but we can't find it.

Alternatively it would be nice to be able to automatically import arbitrary jobs and pipelines to jx instead of just application support. This would provide a huge adva

[2019-03-19 13:59] alphabettispaghetti opened #3377 "jx create cluster --batch-mode doesn't automatically install ingress controller"
### Summary
It would be nice to have options to specify thing like automatically installing the ingress controller without being prompted, currently --batch-mode does not support this

[2019-03-19 14:11] RiceBowlJr commented on #2527
Actualy it did come from the `ng=true` option which deploys a Vault.