[2020-01-24 14:45] ccojocar commented on #5268
sso addon was removed from Jenkins X and it is now migrated to https://github.com/jenkins-x-apps/jx-app-sso `jx-app-sso` app. I am going to close this issue.

[2020-01-24 14:45] #5268 closed

[2020-01-24 14:48] ccojocar commented on #5377
I am going to close this issue for now. Please feel free to open it. It would be great if you could give boot a try.

[2020-01-24 14:48] #5377 closed

[2020-01-24 14:50] mmreddy1582 commented on #5633
Please follow the below steps to fix the "Jenkins+Github: We couldn’t deliver this payload: Couldn't connect to server"
Github won't be able to communicate with Jenkins which is running local /private IP address .
You need to specify an IP address GitHub can contact over the internet not the actual IP address .
Steps:
1.Download the https://ngrok.com/download server where it is running with Jenkin

[2020-01-24 14:50] ccojocar commented on #5457
I am going to close this as a duplicate of #5353.

[2020-01-24 14:50] #5457 closed

[2020-01-24 14:52] mmreddy1582 commented on #5633
step 4 to update the github webhook URL .

[2020-01-24 14:52] himanshush13 commented on #5633
Jenkins is not on any container, it is working on a linux vm independently.
I tried giving the github credentials to jenkins configuration.

this is the url, I am using
http://frparvm-blkchn:8082/github-webhook/
I also used this url
http://193.57.249.2:8082/github-webhook/

I followed this blog--
https://oncomputingwell.princeton.edu/2018/01/triggering-a-jenkins-build-every-time-changes-are-pushed

[2020-01-24 14:57] vamsilella commented on #5633
you can use the above ip http://193.57.249.2:8082/ to access jenkins dashboard within your company using VPN. But github needs an IP ( public ) which can be accessible through internet
 so your payload should be

http://<public-ip> :8082/github-webhook/

[2020-01-24 14:58] ccojocar commented on #5683
@tdcox @deanesmith Can we close this issue since the warning message was improved quite a bit? I think that now we provide a default `jx-requirements.yml` file at least with CJXD which enables TLS by default for GCP/GKE or AWS/EKS.

[2020-01-24 14:59] deanesmith commented on #5953
@axsaucedo Please re-open if you encounter it again.  Thank you for your help!

[2020-01-24 14:59] #5953 closed

[2020-01-24 15:02] ccojocar commented on #5743
@tdcox Have you tried to use oauth_proxy v.4.0.0 in the SSO CRD. You can update the image tag in this field https://github.com/jenkins-x/sso-operator/blob/afd07cdca39c5eac8150f6874b62c0d69c52c649/examples/sso.yaml#L20?

[2020-01-24 15:14] ccojocar commented on #5871
@msavy Are you fine if we close this issue? This feature is not quite in our scope for now. As I mentioned above that the main reason for using kaniko was to be able to do rootless builds. Thanks again for reporting it.

[2020-01-24 15:14] #5871 closed

[2020-01-24 15:16] ccojocar commented on #5990
closing this as a dup of https://github.com/jenkins-x/jx/issues/5072

[2020-01-24 15:16] #5990 closed

[2020-01-24 15:20] ccojocar commented on #6319
@TonyNoble are you installing classic Jenkins or Tekton with boot? Are you referring to the expose job running in the staging and production environments, because in boot the ingress resources are created statically for dev environment.

[2020-01-24 15:33] ccojocar commented on #4196
I think that we can close this one since now the `create quickstart` and `import` commands use the local git token instead of the pipeline token.

[2020-01-24 15:33] #4196 closed

[2020-01-24 15:35] ccojocar commented on #2313
Closing this one since it is manly fixed by boot and a number of refactoring around the auth config. The recommended way to install Jenkins X now is boot.

[2020-01-24 15:35] #2313 closed

[2020-01-24 15:36] TonyNoble commented on #6319
This applies to both - as part of the 'jx boot' process (the 'verify_environments step. IIRC), a batch job is run called 'expose', which attempts to create a pod.  The events log of the batch job shows the pod failing to start due to podsecuritypolicy issues - I've worked round this each time by adding the relevant clause to the 'expose' role that's created to allow it to use a suitably permissive

[2020-01-24 15:41] ccojocar commented on #6319
Thanks for details! This pod can be related to the exposecontroller (https://github.com/jenkins-x/exposecontroller), which it shouldn't actually run as part of boot.

Do you mind providing your jx-requirements.yaml file and any custom values you changed related to helm charts? Thanks!

[2020-01-24 15:57] #5772 closed

[2020-01-24 16:15] tdcox opened #6609 "Canary schema changes leaking into existing clusters"
### Summary
A new feature relating to canary releases seems to have leaked into our existing legacy cluster which has not been explicitly updated. Builds are now failing due to lint failures on a required field in service.yaml templates:

[code]

We have worked around by setting default values in the templates but I wouldn't expect this functionality to end up in a deployed cluster in this way.

#

[2020-01-24 19:27] abayer opened #6610 "PipelineResource names can be reused, causing collisions"
I think this is causing issues with super-long organization names, where if `meta-(organization name)` is longer than 31 characters, the same `PipelineResource` ends up getting used by builds of multiple repositories which were kicked off at about the same time. This results in those multiple builds actually building the same repo/branch, which is obviously wrong. I've seen that symptom show up in

[2020-01-24 19:53] abayer opened #6612 "Sometimes origin URL in repo created by ForkAndPullRepo has a trailing /"
This one baffles me so far. I've seen it show up in Lighthouse tests once in a while, which results in a `repository not found` error when trying to fetch from the origin when creating a pull request. It's awfully rare overall, and I can't remember seeing it anywhere but Lighthouse tests. I'm running the LH tests over and over and over with a jx image with debug logging around generating/updating

[2020-01-24 20:38] tdcox commented on #6591
I’m wondering if there is a race condition during deployment of the secrets that can leave the pod in an unstable condition? Given the critical nature of vault, we should at least be looking at something to improve the monitoring and recovery of this pod.

[2020-01-24 20:42] tdcox commented on #6599
I’m seeing it at the end of the boot log.

[2020-01-24 20:47] #5683 closed

[2020-01-24 21:31] ethangj commented on #6592
It might be worth pinging this issue in the community Slack channels inside the Kubernetes Slack project.

[2020-01-24 21:56] brec opened #6613 "Unable to update git token"
### Summary
The jx tool is not updating the git gitlab api token. `jx create` does not prompt for a token, and specifying a token does not seem to update the token either.

During  `jx boot` on step `STEP: verify-jenkins-x-environment command: /bin/sh -c jx step verify env`:

[code]

### Steps to reproduce the behavior

Different attempts to update token:
[code]

Also attempted to delete token and

[2020-01-25 11:32] #6610 closed

[2020-01-25 15:19] heroic commented on #3050
@ccojocar I have migrated to using boot now. Not sure if this still remains an issue.

[2020-01-25 15:19] #3050 closed

[2020-01-25 18:32] anilkumarpasupuleti commented on #6375
@vfarcic, @jstrachan, @deanesmith   i am newbie to jx, i am having the similar problem. what does it mean deleting all GitHub related entries from the keychain Access. apart from bad credentials i also have another problem, during jx boot process, it creates repos, instead of pusing repo to https://github.com/<organizationname>/environment-clustername-dev   to https://github.com/<personalaccount>/

[2020-01-26 15:09] abayer commented on #6612
And of course, once I added all the debug logging, I’ve completely failed to reproduce it since in 25+ attempts after it was showing up every third or fourth time beforehand. Sigh.

[2020-01-26 15:13] abayer commented on #6612
I think there’s a real chance that whatever the problem was, it was fixed more or less by coincidence in https://github.com/jenkins-x/jx/pull/6572/files#diff-826a832379c91d3acdb9234110d50e75. If I still haven’t seen it by late tomorrow, I’m closing this.

[2020-01-26 21:25] haysclark opened #6614 "root folder name of a DevPod does not match the root folder name of a PR or Release Build"
### Summary
There is a discrepancy between the root path of BuildPods, (`/workspace/[project-git-repo-name]`), and the root path of a Release build (`/workspace/source`).

TLDR;
I agree with the _Best Practices_, stating that one should NOT assume the name of a Git repo's root folder, especially when it comes to Build systems; it is still an easy pitfall that Users might experience.

### Proposed

[2020-01-27 08:48] ccojocar commented on #6439
See the discussions on Slack on this tread in `jenkins-x-user` channel: https://kubernetes.slack.com/archives/C9MBGQJRH/p1579799269040900

The following commands will need to be delayed:
- `install` ( the `--ng` options should be removed as soon as possible to avoid confusion with boot)
- `init`
- `upgrade platfrom`
- `create spring` (should be renamed instead of removing it)
- `post` (still used

[2020-01-27 09:03] ccojocar commented on #6591
During deployment, the vault health is really checked and also the state of the vault. This is going underneath when the message `wait for vault to be initialised and unsealed` is printed out. The boot doesn't sore any secrets until the vault is ready.

Did this happen immediately after a boot deployment or at runtime? My impression is that this happened somehow at runtime because the volume for G

[2020-01-27 09:06] ccojocar commented on #6599
Did you tried to use only the permissions mentioned above on the hook instead of full admin? They seem to work for me.

[2020-01-27 10:32] tdcox commented on #6599
This seems unrelated to the permissions on the web token as these were already set.

[2020-01-27 10:36] tdcox commented on #6591
It's not clear whether this happened during an update to the dev environment or during normal operation.

[2020-01-27 10:46] tomfrenken commented on #6606
I would suggest adding the same flag to `jx create quickstart`, as there the same issue occurs when running `jx create quickstart --pack <custom-buildpack> -g <git-organisation>`.

[2020-01-27 10:50] tomfrenken opened #6615 "Bug: custom `quickstarts` have to be public"
### Summary
In the docs it is mentioned that `quickstarts` can also be private, when I tried it out the past few days I was only able to see public `quickstarts`

### Steps to reproduce the behavior
1. Create private `quickstart`
2. Run `jx create quickstart -g <your-user-org>`
3. See how private quickstarts aren't listed

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

-

[2020-01-27 11:39] ccojocar commented on #6591
Alright, probably we should keep an eye on it to collect more data. Let's keep this open until there is more clarity when exactly it happens.

[2020-01-27 11:44] ccojocar commented on #6599
Is the ` project-coda` the same organisation where you have the Jenkins X environments repositories? If it is a different org, you need to make sure that the Jenkins X bot user is a collaborator on that.

[2020-01-27 12:22] tdcox commented on #6599
They are in the same org.

[2020-01-27 13:54] anilkumarpasupuleti commented on #6165
@deanesmith, i have the same issue. is it fixed now?

[2020-01-27 14:42] TonyNoble commented on #6319
Hi @ccojocar

jx-requirements below.  Worth noting that this isn't your standard jx install - it's on-prem kubernetes and gitlab, so I understand that I might be hitting edge-cases somewhere :)

[code]

[2020-01-27 15:07] thiagolsfortunato opened #6616 "jx error when flagged with --vault=true"
### Summary

### Steps to reproduce the behavior

[code]

### Expected behavior
Cluster Created with Vault installed

### Actual behavior
[code]
The bucket `jx-vault-jenkins-x-poc-bucket` not exist!

[code]

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [x] Serverless Jenkins X Pipelines (Tekton + Prow)
- [ ] Classic Jenkins

### Kubernetes cluster
GKE

[2020-01-27 15:51] TonyNoble commented on #6515
Is there an ETA on this fix?  (and how do we update when it arrives?)

[2020-01-27 15:57] RoVernekar opened #6617 "Dev pipeline fails on fresh jx boot install using bitbucketserver"
### Summary

The pipeline for the dev environment fails on a fresh `jx boot` install using `bitbucketserver` because the `sourcerepository` url is not properly set. The staging and production environments appear to work fine.

### Steps to reproduce the behavior

1. Run `jx boot` with a similar `jx-requirements.yml`:

[code]

1. Observe that the url is missing for the dev environment sourcereposit

[2020-01-27 16:18] #6543 closed

[2020-01-27 16:52] abayer commented on #6614
I'd lean towards making devpods match up with pipeline pods, but others may disagree.

[2020-01-27 17:03] abayer opened #6618 "jx create pullrequest with Gitlab somehow ends up with a "-/" in URL"
I've only seen this once, so I'm mainly just creating this to make sure I've got a record of it, but when creating a pull request as part of the `create_spring` BDD test, I saw this:

[code]

Note the `/-/` in `bdd-spring-1580143595/-/merge_requests/1` - that shouldn't be there, and as of now I'm not sure how it got there. I'll leave this open until I'm confident it isn't going to show up again.

[2020-01-27 17:09] abayer commented on #6618
Looking at the code, it seems that this would have been in the return body from the Gitlab API call, so if it is an issue, it's entirely on their side. The MR must have been created correctly to not have errored out in the `jx create pullrequest` call, so it must just be that they returned a bogus URL. I'm going to close this, but will reopen and try to follow up with Gitlab if it shows up again.

[2020-01-27 17:36] abayer commented on #6618
Happened again, so I think something's definitely broken on Gitlab's side. I'll reopen this until I see it pass.

[2020-01-27 17:37] #6617 closed

[2020-01-27 20:27] rudolph9 commented on #6107
Yeah I've seen the same behavior.

[2020-01-27 20:30] rudolph9 commented on #5310
Looks like `jx upgrage ingress` is being decommissioned soon which break the workaround I had been using https://github.com/jenkins-x/jx/issues/6107

[2020-01-27 20:41] romainverduci commented on #6515
@TonyNoble a new release of jx-app-ui containing the fix should be published with the new release of Cloudbees Jenkins X Distribution by the end of the week.
In order to install it, you will just have to run `jx add app jx-app-ui --version the-next-version` as per the documentation here: https://docs.cloudbees.com/docs/cloudbees-jenkins-x-distribution/latest/user-interface/install

Please take int

[2020-01-27 22:48] deanesmith commented on #6439
https://github.com/jenkins-x/jx/issues/5310#issuecomment-578938266

[2020-01-28 05:16] arfiqbal opened #6621 "error: Failed to create repository arif/jkn due to: unexpected end of JSON input"
### Summary
When i am trying to create  a quickstart using "jx create quickstart" i am gettting below error
 jx create quickstart
Cloning the Jenkins X versions repo https://github.com/jenkins-x/jenkins-x-versions.git with ref refs/heads/master to /home/arif/.jx/jenkins-x-versions
select the quickstart you wish to create jenkins-quickstart
Using Git provider gitea.XXXX.com at http://gitea.xxxx.com

[2020-01-28 06:44] arfiqbal opened #6622 "error: updating credentils "http://git.xxx.com" in Jenkins: creating credentials "http://git.xxx.com" in Jenkins: 401 Invalid password/token for user: jenkins-admin"
### Summary
jx create spring -d web -d actuator
Command "spring" is deprecated, it will be removed on Feb 1 2020. We now highly recommend you use jx create quickstart instead. Please check https://jenkins-x.io/docs/getting-started/first-project/create-quickstart/ for more details.
Using Git provider git.xxx.com at http://git.xxx.com
? Do you wish to use arif as the Git user name? Yes
? Who should

[2020-01-28 08:24] hferentschik commented on #6465
I am not sure whether _ devEnvApprovers_ should even be in the requirements file. I think we should revisit this, in particular making it a required field.

[2020-01-28 11:00] dgozalo commented on #6557
@tdcox you are right about that.

I just created the SSO resource in a different way.

- First I created the SSO CRD object, what this will do is attempt to create a certificate for a single service and that one will fail to issue with the error: **no configured challenge solvers can be used for this challenge**.

- This then runs an `exposecontroller` service that will update the ingress for the

[2020-01-28 11:26] afirth commented on #4082
is this dead with helm v3?

[2020-01-28 12:08] TonyNoble commented on #6580
There's a very similar issue that occurs (if not the same one) if the system $TEMP variable is not explicitly set - rather than changing to the system tempdir to clone the environment config repo (before pushing to its desired final location), jx boot simply clones it in-place, which happens to be the jenkins-x-boot-config directory.  It then tries the cherry pick on the resulting mess, which caus

[2020-01-28 12:27] TonyNoble opened #6627 "Ingress roles do not have sufficient permissions to launch pods with on-prem kubernetes"
### Summary
When installing jx using 'jx boot', Ingress replicasets cannot create the required controller and backend pods due to PSP issues

### Steps to reproduce the behavior
Run 'jx boot' on on-prem kubernetes cluster.

### Expected behavior
Ingress controller and backends pods and services are started

### Actual behavior
Pods are not created - examining replicaset events shows output similar

[2020-01-28 12:29] abayer commented on #6523
Could you try this again with the latest jx binary? I believe this has been fixed.

[2020-01-28 12:31] abayer commented on #6474
Oh, wait, I fixed this. Whoops.

[2020-01-28 12:31] #6474 closed

[2020-01-28 12:45] sameronline commented on #6603
I have the same issue on my cluster as well, any updates?

[2020-01-28 13:18] deanesmith commented on #6603
@deanesmith follow up

[2020-01-28 13:20] deanesmith commented on #6604
Hi @tomfrenken, Can you please supply the specific error.  FYI, @mrageh

[2020-01-28 13:28] daveconde commented on #6608
@rowlandwatkins Is the above your full unmodified contents of your parameters file?

[2020-01-28 13:31] jstrachan commented on #6592
I'd recommend using tekton rather than a jenkins server which uses kaniko for building and pushing the container images, avoids using the docker daemon directly and has been tested to work great with `jx boot` and EKS - it defaults to using ECR for the container registry

[2020-01-28 13:38] jstrachan opened #6628 "jx import should allow build pack URL to be passed"
if you want to import a library (java/node/go) which is not going to be a container image / helm chart it would be nice to be able to specify a `--pack-url` argument to default the `buildPackURL` value in the generated `jenkins-x.yml` file.

e.g. if you wanted to import a java library it'd be nice to be able to do...

```jx import --pack-url https://github.com/jenkins-x-buildpacks/jenkins-x-classi

[2020-01-28 13:56] babadofar opened #6629 "Auto promote fails on builds after a while"
### Summary
Builds on master branch do not correctly promote to staging, no build on staging is started
### Steps to reproduce the behavior
Not quite sure, this happens after a while.
### Expected behavior
when a master branch finishes, the staging repo should start a pr and master build
### Actual behavior
no activity on staging
### Jx version

The output of `jx version` is:
NAME               VE

[2020-01-28 14:01] abayer commented on #6618
I opened an issue with gitlab - https://gitlab.com/gitlab-org/gitlab/issues/199241

[2020-01-28 14:05] dgozalo opened #6630 "Make SSO Operator work in boot without exposecontroller."
### Summary
After investigating the problems caused by SSO Operator as defined in #6557  we concluded that the way sso operator works needs to be modified to work with Jenkins X Boot without `exposecontroller`.

Right now, if you try to use SSO Operator in a JX Boot cluster you'll find the following problems:

- Dex's ingress is created by exposecontroller using the following notation: `dex.jx.<do

[2020-01-28 14:22] abayer commented on #6628
Duplicate of #6606

[2020-01-28 14:22] #6628 closed

[2020-01-28 14:28] jstrachan commented on #6592
see https://jenkins-x.io/docs/getting-started/setup/boot/clouds/amazon/

[2020-01-28 14:40] srehmanproov opened #6632 "Installing jx using terraform fails with node health check on GKE"
### Summary .
 Using terraform created with jx create and trying to apply it to GKE fails health checks

### Steps to reproduce the behavior .
Follow steps https://jenkins-x.io/blog/2019/04/03/terraform-jenkins-x/ . terraform apply fails with "All cluster resources were brought up, but: only 0 nodes out of 1 have registered"

### Expected behavior
Jenkins cluster is up and running.

### Actual beh

[2020-01-28 15:00] jstrachan commented on #6563
fwiw we do try, in the `jx step verify preinstall` to verify which version of helm is installed and if it matches the known range https://github.com/jenkins-x/jx/blob/2ea94d9cc7f6a6bd8d60315b221fb6c0247ba2cf/pkg/cmd/step/verify/step_verify_preinstall.go#L188

but its sounding like some other logic is kicking in earlier on before we get to the helm version range validation

[2020-01-28 15:01] jstrachan commented on #5848
BTW we've added some docs on using AWS with boot: https://jenkins-x.io/docs/getting-started/setup/boot/clouds/amazon/

[2020-01-28 15:27] RoVernekar opened #6637 "Maven builders in meta pipeline should mount settings.xml"
### Summary

When using the maven buildpack, the maven builders in the meta pipeline do not mount the `settings.xml` from the `jenkins-maven-settings` secret.

This causes builds to fail for projects that use a parent pom that must be downloaded from the local jx nexus rather than from central.

### Steps to reproduce the behavior

1. Start a pipeline to build a project using the maven buildpack

[2020-01-28 15:39] tdcox commented on #6557
@dgozalo

The desired process should probably be along the lines of :

- Issuer and required secrets are created with each environment (including preview environments)

- SSO object is defined as part of the chart for a given application to be exposed and created on deployment (this should be done in a manner that permits overriding values in an environment-specific way)

- Ingress is automaticall

[2020-01-28 15:44] tdcox commented on #6557
Consideration should also be given to the use case of exposing services directly over TLS without SSO via proxy, of course. The TLS element should be orthogonal to the SSO aspect.

[2020-01-28 15:46] tdcox commented on #6557
Also worth noting that all existing cluster instances utilising TLS will stop working later this week with the deprecation of `jx upgrade ingress`...

[2020-01-28 15:47] deanesmith commented on #6421
https://github.com/jenkins-x/jx/issues/6209

[2020-01-28 15:52] dgozalo commented on #6553
We will be releasing new documentation very shortly and this will be covered in a section specific to Vault.

[2020-01-28 15:57] dgozalo commented on #6388
Can you get any output from `kubectl` executed outside of Jenkins X? For example, can you execute `kubectl get nodes` and make it work?

[2020-01-28 15:59] dgozalo commented on #5521
@pguimaraes we will be releasing documentation for EKS very soon and we cover how to configure External DNS.

[2020-01-28 16:01] abayer commented on #6618
Looks like this is what the format they return is now - the old format still works for actually interacting with the MR, as does the new one, so it looks like the only place we have a problem is what I fix in https://github.com/jenkins-x/bdd-jx/pull/110

[2020-01-28 16:14] abayer commented on #6606
cc @jstrachan - this is the issue your #6628 duplicated, as best as I can tell.

[2020-01-28 16:15] dgozalo commented on #6557
Exactly, and we have to do that without `exposecontroller`. The issue I created contains all that information plus some more technical steps to make it work. We'll have to do some refinement on it before we start working on it though.

[2020-01-28 16:17] dgozalo commented on #6557
Yes, we'll first make TLS work automatically for all services without SSO for any environment that the user creates. Once that is working, we'll move on to making SSO work.

They are different things but ultimately tied, so while designing the solutions we'll have to keep them both in line.

[2020-01-28 16:32] rowlandwatkins commented on #6608
Hi @daveconde, yes env/parameters.yaml is unmodified, autogenerated by jx (I'm assuming it's Heml that's getting upset by this file).

Cheers,

Rowland

[2020-01-28 16:40] #6618 closed

[2020-01-28 16:42] jstrachan commented on #6606
@tomfrenken btw any flags added to `jx import` also appear on `jx create quickstart`

[2020-01-28 17:25] sameronline commented on #6603
Thanks @deanesmith if you need more info about this issue let me know, i keep reproducing the issue every time i open up a pull request.

[2020-01-28 19:28] omerlh commented on #6388
Yeah, kubectl get nodes works as expected - return the expected results without any issue. As I wrote on the issue, even running `jx version` resulted in an error.

[2020-01-28 21:58] abayer opened #6646 "PipelineRuns rerun by Lighthouse due to Tekton race condition won't be handled by build controller"
If Lighthouse has rerun a `PipelineRun` due to our buddy the Tekton race condition, the new `PipelineRun` has a different name than the original. This means that there's no `PipelineStructure` with the same name, so logging and the build controller don't know what to do with it.

Took me a while to determine that this was why I'd see some pipelines never report as finished in Lighthouse tests, des

[2020-01-29 00:00] deanesmith commented on #6608
@rowlandwatkins at first glance that version of Helm is quite a ways back.  2.16.1 is what is recommended.  Otherwise, not sure what would be causing this.

[2020-01-29 03:53] rowlandwatkins commented on #6608
Hi @deanesmith, ah, jx appears to have me on Helm 2.12.2 - let me see what I can do to upgrade Helm then get back to you!

[2020-01-29 04:15] rowlandwatkins commented on #6608
Ok, so I upgraded Helm and Tiller to 2.16.1:

[code]

But I still get the same error - should I try trashing my local jx install and starting again?

[2020-01-29 06:45] marlovil commented on #6603
Thanks @deanesmith.

The problem occurs when the `jx step helm build` (included in the Makefile) is executed. Just for your info; we are using the php buildpack.

I've tried to remove the local repo before that (executing `helm repo remove local`) but it throws an error (Error: Couldn't load repositories file (/builder/home/.helm/repository/repositories.yaml).
You might need to run `helm init` (or

[2020-01-29 07:20] rowlandwatkins commented on #6608
Ok, I've figured it out - this has nothing to do with Helm, it appears to be purely a go-yaml parsing problem (at least in my case).

go-yaml doesn't seem to like any value starting with a ',' (or similar). In my case, the jenkins x admin password began with a ',' - when it attempted to unmarshal in:

pkg/cmd/step/create/step_create_values.go:192

pkg/helm/helm_helper.go performs the unmarshalling

[2020-01-29 07:55] rudolph9 opened #6648 "jx boot resets stagging urltemplate to default"
### Summary

After configuring the `urltemplate` to something custom in the `environment-clustername-staging` repo running `jx boot` causes the value to be set back to the default

### Steps to reproduce the behavior
1. set `expose.config.urltemplate` in `environment-clustername-staging/env/values.yaml` and deploy
2. `jx start pipeline` and select environment-clustername-dev/master

### Expected b

[2020-01-29 10:25] #5020 closed

[2020-01-29 11:44] tomfrenken commented on #6604
Sure, as you see here it searches for `charts/will-crash` but the wrong folder has been created, with the name of the local folder `charts/example` , instead of the initialized folder in git

[code]

[2020-01-29 11:59] abayer opened #6650 "Switch tekton-weasel jx prod cluster to use Lighthouse rather than Prow"
Lighthouse is getting very close to being ready for GA (for github and github enterprise - GitLab will remain in preview until we’ve fixed some known and fixable issues with its API interactions in LH pertaining to chatops and labels, and BitBucket Server/Cloud will be further out due to the lack of PR labels in their API, so that we can’t actually support chatops there in the first place as of th

[2020-01-29 12:07] abayer opened #6651 "BDD test for migrating from Prow to Lighthouse on an existing cluster"
A prerequisite for #6650, with the corollary that first I need to manually move to Lighthouse in a Prow cluster to see what exactly happens!

We need to verify that switching the engine in `jx-requirements.yml` will remove the Prow chart, CRDs, deployments, and existing webhooks, without deleting the existing `SourceRepository`s. The Lighthouse deployments and webhooks will have to get created, an

[2020-01-29 12:50] RafalKorepta opened #6653 "Step helm apply does not load team settings"
### Summary
In my staging environment, some of the helm chart relay on vault to populate secrets. Unfortunately, `jx step helm apply` loads only default requirements. Even if the GitOps staging environment doesn't have `jx-requirements.yaml` file. It does not reach the [dev environment team settings](https://github.com/jenkins-x/jx/blob/6f606365f4ce912207b1b822f8426e7e037e9f6c/pkg/cmd/step/helm/st

[2020-01-29 13:15] marlovil commented on #6603
@deanesmith I think I've found a workaround.

I've found a similar problem in #6301 and I've done the same. I've changed the default container for the php buildpack (`jx-base`) to `maven`.

We've ran more than 30 PRs commits (included new PRs...) without errors. @sameronline you can try this. Looks quite good. :)

I will let you know how it works in the next hours. ;)

[2020-01-29 13:18] #6269 closed

[2020-01-29 14:05] vfarcic opened #6654 "Vault fails in EKS with Boot"
### Summary

Jenkins X Boot is missing the configuration for Vault.

### Steps to reproduce the behavior

[code]

Modify jx-requirements.yml by changing the `provider` to `eks` and set `secretStorage` to `vault`

[code]

The process fails. The last few lines of the output are as follows.

[code]

### Expected behavior

It works

### Actual behavior

It fails

### Jx version

The output of `jx vers

[2020-01-29 14:11] abayer opened #6655 "Dev env PR created by jx import has confusing title and makes unnecessary changes"
When you `jx import` (or `jx create project` or `jx create quickstart`, etc) with a gitops-enabled cluster, a pull request to your development environment gets automatically created to add the `SourceRepository` for your new repo to the dev env, so that it can be managed via gitops in the future. This is great! But it does have some downsides - a dev env release pipeline will end up running for ev

[2020-01-29 14:19] sameronline commented on #6603
@marlovil Thanks! However I suddenly don't have this issue now, i don't know what happened suddenly but without making any changes the preview envs works now

[2020-01-29 14:20] ccojocar opened #6656 "Integer overflow vulnerability when parsing the ports of the DevPod"
### Summary

There is an integer overflow vulnerability when parsing the DevPod's ports. This kind of security issues were also found during the Kubernetes security audit.

See for more detials the https://github.com/kubernetes/community/blob/master/wg-security-audit/findings/Kubernetes%20Final%20Report.pdf, more specifically `13. Overflow when using strconv.Atoi and downcasting the result the res

[2020-01-29 14:27] marlovil commented on #6603
@sameronline your are welcome. Nice! Maybe the JX team have update the jx-base image?

[2020-01-29 15:39] abayer commented on #6612
Haven't seen since, closing.

[2020-01-29 15:39] #6612 closed

[2020-01-29 15:39] #4388 closed

[2020-01-29 16:04] rudolph9 commented on #6648
[code]

[2020-01-29 16:44] vfarcic opened #6659 "Boot in EKS resources"
### Summary

An attempted to use Boot in EKS failed due to quota limitations.

There is no documentation specifying which resources will be created and which quotas we might need to check and, potentially, increase.

### Steps to reproduce the behavior

* Use an AWS account without increasing quotas.
* Use Boot to install Jenkins X in two separate clusters.

### Expected behavior

It works.

### A

[2020-01-29 16:47] iftachsc commented on #4701
im still seeing this
NAME               VERSION
jx                 2.0.1162
Kubernetes cluster v1.14.9-eks-c0eccc
kubectl            v1.14.10
helm client        Client: v2.14.3+g0e7f3b6
git                2.18.0
Operating System   Mac OS X 10.14.5 build 18F203

[2020-01-29 16:56] madhu1992blue commented on #4994
In jx-requirements.yml, you can add a key called "chartRepository: <External Chart Museum Repo>" under "cluster".
`cluster:
    chartRepository: <external chart museum url>
`

[2020-01-29 18:13] rudolph9 commented on #6648
After putting a protection on the master branch of the `environment-clustername-staging` repo I see `step-verify-jenkins-x-environment` fail.

[code]

[2020-01-29 18:50] rudolph9 commented on #6648
It seems like `urltemplate` is set to a constant and there is no way to change it
https://github.com/jenkins-x/jx/blob/6c01ab6f498e6a2eb3d82da23f0d996d5be36d22/pkg/cmd/step/verify/step_verify_environments.go#L530

[2020-01-29 19:00] #6646 closed

[2020-01-29 19:01] penguin02007 commented on #5955
Having the same error with jx install on Macs

[code]

[2020-01-29 19:07] deanesmith commented on #6659
@vfarcic Can you describe the workaround, how you were able to get past the matter?

[2020-01-29 19:13] dgozalo commented on #6654
Vault for EKS requires some extra configuration compared to GKE.

Right now, Vault is not working with IAM Roles for Service Accounts so it's expecting at least the user to provide an existing IAM User in the `jx-requirements.yml` file.

It would be under:

[code]
We will create a new pair of Access Keys for this user. There's a limit of 2 access keys per User so make sure that there's at least on

[2020-01-29 19:15] vfarcic commented on #6659
This fixed it:

[code]

However, after that, and on my second attempt, if failed because of https://github.com/jenkins-x/jx/issues/6659. It takes 30 days until a KMS is deleted, and I believe that the default limit is 2 (both created with the initial attempt to run `jx boot`.

The problem with both this and the other issue is that there is no documentation on how to use Boot in EKS (beyond "just c

[2020-01-29 20:19] #6637 closed

[2020-01-29 23:32] retr0h commented on #6622
I'm having the same issue when copying my ~/.jx/ directory to my replacement system.

[2020-01-29 23:58] retr0h commented on #6622
Figured it out.  I was running a much newer version of the jx binary.

[2020-01-30 05:42] arfiqbal commented on #6622
@retr0h  thanks it worked
but now i am facing different issue
When i try to run "jx create quickstart"
it shows error: No quickstarts match filter

I am using --git-provider-kind='gitlab'

[2020-01-30 08:03] hferentschik opened #6661 "Remove use of Brew to install binary dependencies on macOS"
in _opts/install.go_ we handle binary dependencies for macOS in the following form:

[code]

This has several issues:

* It is not integrated with the version stream nad just installs the latest version
* It creates a different installation path just for macOS (the other form of install is not tested)
* It is hard to control the version used (user might use Brew independently from jx)

A better ap

[2020-01-30 09:12] tomfrenken commented on #6515
Fixed with the latest release, therefore I'll close this 👍

[2020-01-30 09:12] #6515 closed

[2020-01-30 11:24] ccojocar opened #6662 "Very large amount of security warnings retuned by the static analysis of the Go source code"
### Summary

I ran a security scan against the latest master version of the source code and it returned __494 warnings__. See the attached report.

[jx-go-security-scan.txt](https://github.com/jenkins-x/jx/files/4133729/jx-go-security-scan.txt)

### Steps to reproduce the behavior

Run the following command at the top of the source code:

`gosec -fmt=yaml -out=sec-scan-report.yaml ./...`

### Expe

[2020-01-30 12:03] madchap commented on #6662
@ccojocar can this scan be automated and ingested in defectdojo to start gathering a baseline?

[2020-01-30 12:35] arfiqbal commented on #6621
@abayer Can you let me know what was the issue and does lighthouse support gitea ?

[2020-01-30 12:39] abayer commented on #6621
No, Lighthouse doesn’t support Gitea at this time, and since you’re using static Jenkins masters, Lighthouse isn’t relevant anyway. I don’t know exactly what the issue here is, I just put the appropriate labels on it.

[2020-01-30 12:43] zbsax commented on #6394
I was able to get past this error by adding the the subscription id of my container registry to jx-requirements.yml.

[code]

[2020-01-30 12:44] z2d commented on #6394
I was able to get past this error by adding the the subscription id of my container registry to jx-requirements.yml.

[code]

[2020-01-30 13:00] kriske83 commented on #6509
@vfarcic : As discussed at the Jenkins X workshop in Brussels. You can find my buildpack here: https://github.com/kriske83/jenkins-x-kubernetes the pack itself is called Xojo.

[2020-01-30 13:05] ccojocar commented on #6662
It's should be automated over the `jenkins-x-lint` pipeline which calls this lint script https://github.com/jenkins-x/jx/blob/e4d57d59efaa11e33b09f33c36ee2c91ededffdb/hack/linter.sh#L26, where gosec is enable but somehow doesn't seem to have a very recent versions or some rules are disabled.

[2020-01-30 13:05] deanesmith commented on #6616
@thiagolsfortunato We recommend using boot for this workflow, however, it would seem there is an existing instance with the same name.

[2020-01-30 13:08] ccojocar commented on #6662
Definitely can be ingested in defectdojo, `gosec` supports the following report formats:
[code]
I am not sure if defectdojo exposes any endpoint to ingest reports, but it should be achievable.

[2020-01-30 13:12] deanesmith commented on #6629
@babadofar Do you have any additional information (build logs, etc.) to see if there are any errors?

[2020-01-30 13:16] deanesmith commented on #6648
@rudolph9 Changes being made soon (~late Feb/March) will help alleviate your issue.

[2020-01-30 13:17] garethjevans commented on #6632
Hi @srehmanproov, the blog post you're referring to is out of date with the `jx create terraform` command being deprecated/removed shortly.  If you'd like to use terraform to create a JX cluster on GKE I'd suggest you take a look at https://github.com/jenkins-x/terraform-google-jx, this is a terraform module to create all the required infrastructure that you need for JX.  It's still a work in prog

[2020-01-30 13:17] deanesmith commented on #6654
@vfarcic OSS docs will be updated soon.

[2020-01-30 13:21] srehmanproov commented on #6632
@garethjevans  👍

[2020-01-30 13:58] abayer commented on #6651
Well, that turned out to be so trivial (literally all you need to do is change from `webhook: prow` to `webhook: lighthouse` in `jx-requirements.yml` and everything Just Works) that I'm legitimately not sure if it's worth the hassle of doing an automated test! But I'll see how hard it actually is to implement first.

[2020-01-30 14:38] #6439 closed

[2020-01-30 14:56] alexvolsh commented on #6560
@cagiti:
The same issue with:
[code]
and
[code]
Any ideas? Maybe you need some additional information? Where I can read about or review the source of the `geeoz-environment-razomer-dev` and `meta-geeoz-environment-razomer` pods creation process?

[2020-01-30 15:41] thiagolsfortunato commented on #6616
Yes, because Storage Buckets are global and already exists a bucket with this name. To fix this, add a suffix/prefix like a hash in the name of the Storage Buckets, they will never find a equals name.

[2020-01-30 16:17] srehmanproov commented on #4385
I am getting same issue with fresh GKE install and just following quick-start example. is there any solution for this other than killing all pods?

[2020-01-30 21:29] brec commented on #6613
My workaround for now is to manually update the gitlab secrets locally and in the cluster.

[2020-01-30 21:29] #6613 closed

[2020-01-31 08:18] kriske83 commented on #6509
@vfarcic : As discusses during the JX Workshop @ Brussels. Could you please have a look to this issue. You can find the buildpack at: https://github.com/kriske83/jenkins-x-kubernetes and the pack itself is called Xojo.

PS. I know there is sensitive data in there and it should be cleaned up and more secure and I should be slapped for that, but for now it will work out for now as it is going throug

[2020-01-31 10:48] jstrachan commented on #4784
we should have an implementation soon...

[2020-01-31 10:52] jstrachan commented on #6541
@dineshmistry I'm going to update the page once the experimental support for multi-clusters is released. Also see https://github.com/jenkins-x/jx/issues/4784

[2020-01-31 11:07] tdcox opened #6665 "Automate CVE scans of container images"
### Summary
Some containers produced from quickstarts seem to rely upon relatively out of date base images with high numbers of security vulnerabilities. We need a process to monitor and alert on this so that buildpacks are being updated appropriately.

It would also be useful to be able to package this as an Addon so that the same capability can be used to monitor containers produced for customer

[2020-01-31 11:46] anilkumarpasupuleti commented on #5631
@martijnburger , i had the same problem, but i was able to solve it by adding the above code. but the problem is that i can run jx boot maximum of two times with above code, after that if i want to run jx boot, it is failing to update or create vault. is there any solution that, i can create vault once, run jx boot any number of times?. Thanks in advance

[2020-01-31 13:42] dgozalo commented on #5631
The problem lies within the way we handle Vault.

We need you to provide an IAM User in order to use its access keys to authenticate the Vault pod.

You can only have a maximum of 2 access key pairs per IAM User, so you'll have to delete one of the pairs before running boot again.

You can also provide an already existing key pair through env variables:

**VAULT_AWS_ACCESS_KEY_ID** and **VAULT_AWS

[2020-01-31 14:34] ccojocar commented on #6665
I think this a dup of https://github.com/jenkins-x/jx/issues/5349.

[2020-01-31 15:30] cagiti commented on #6560
@alexvolsh : sorry for the radio silence, I'll take another look at the extra information you've added

[2020-01-31 15:35] hferentschik opened #6667 "Make rules 'test1' and 'test1-pkg' broken after introducing 'unit' build tag"
This is a side effect of this pull request - https://github.com/jenkins-x/jx/pull/6638.

At the moment these rules won't execute any tests since they are not passing the '--tags' option.

[2020-01-31 15:37] tomfrenken opened #6668 "bug: overriding `env` variables in buildpacks doesn't work"
### Summary
When you extend a buildpack and want to add/override `env` variables,
it doesn't work when used to build a new buildpack, as seen here:

[code]

however, when used the exact same way, it is working when extending a buildpack to write a new pipeline inside of a project, like this:

[code]

I suppose this is not by design and am looking forward to the fix.

### Jx version

The output of

[2020-01-31 16:55] cagiti commented on #6560
`geeoz-environment-razomer-dev` when installed using `jx boot` is built using the following as a base:
https://github.com/jenkins-x/jenkins-x-boot-config

`meta-geeoz-environment-razomer` pods are created using a pod template within `jx` I believe which is performed using the metaclient
https://jenkins-x.io/blog/2019/09/03/jenkinsworld-2019-takeaways/#meta-pipeline

[2020-01-31 17:32] jstrachan commented on #4784
here's documentation https://github.com/jenkins-x/enhancements/tree/master/proposals/2/docs - note its still experimental but we're hoping to get it more solid real soon...

[2020-01-31 17:32] jstrachan commented on #6541
here's documentation https://github.com/jenkins-x/enhancements/tree/master/proposals/2/docs - note its still experimental but we're hoping to get it more solid real soon...

[2020-01-31 17:43] #6667 closed

[2020-01-31 18:31] tdcox commented on #6665
Agreed. Wonder why that didn’t come up in my search?

[2020-01-31 18:31] #6665 closed

[2020-01-31 19:09] #6668 closed

[2020-01-31 21:39] jstrachan opened #6672 "PR pipelines to run `helmfile diff`"
it would be awesome if PRs on a helmfile based environment git repository would run `helmfile diff` and post the results to the PR as a comment. Then folks could see the effect of PRs before merge

[2020-01-31 21:43] jstrachan opened #6673 "provide a generic mechanism for per-app secrets for boot & helmfile"
currently in boot we use a json schema file to populate secrets. It would be nice to have a similar mechanism to input, populate & verify secrets - that is app agnostic - so any app can be configured to require different sets of secrets. Eg maybe contributing schemas?

[2020-01-31 21:48] jstrachan opened #6674 "bulk promote for helmfile"
we have a single simple file, `jx-apps.yml` that defines all the apps in an environment; we should be able to create a batch promote command to create a PR on, say, Production based on the current versions in Staging by diff’ing the 2 files.

We could add CLI arguments to filter apps & include/exclude adds/updates/deletes etc

[2020-01-31 21:54] jstrachan opened #6675 "add cert manager & external DNS integration to boot & helmfile"

[2020-01-31 22:00] jstrachan opened #6676 "add an installer Job for boot & helmfile"
now that we have a simpler boot pipeline & secrets process, it would be awesome if we could run boot inside the k8s cluster via `helm install jx-boot` passing in the Dev environment git repository URL and the secrets.yaml file.

Then we avoid being dependent on the versions of jx / helm / git / kubectl / gcloud et al on the developers laptop

Longer term we could use an optional init container to

[2020-01-31 22:30] ankitm123 commented on #6124
I can work on this, if it is ok, helm3 support would be nice

[2020-02-01 10:38] vfarcic commented on #6124
@jstrachan ^^^

[2020-02-01 18:07] abayer opened #6679 "Change in googleapis/gnostic breaks "make generate-openapi""
So https://github.com/googleapis/gnostic/commit/896953e6749863beec38e27029c804e88c3144b8 happened yesterday. Which is nice. Except it breaks `make generate-openapi`, and as a result, `make lint` and the `lint` context on all jx PRs:

[code]

As best as I can tell, this is because while `github.com/kubernetes/apimachinery` has a specific version of `github.com/googleapis/gnostic` in its `go.mod`, t

[2020-02-02 10:25] kriske83 commented on #6509
I've found why this issue occurred. The imported project contained uppercase characters as well. I renamed everything to lowercase and the issue did not show up again.

[2020-02-02 14:10] ankitm123 commented on #6529
The issue is that no error is returned when the dev  environment is not found, instead nil is returned.
https://github.com/jenkins-x/jx/blob/master/pkg/kube/env.go#L1061-L1063
I can submit a PR to fix it. Is there a reason why an error should not be returned?

[2020-02-02 14:12] cbonami commented on #5666
I have the same, but not in my devpod, but in the preview env.

[root@bonami-maven workspace]# jx version
NAME               VERSION
jx                 2.0.1176
Kubernetes cluster v1.14.9-eks-c0eccc
kubectl            v1.16.0
helm client        Client: v2.14.3+g0e7f3b6
git                2.21.1
Operating System   CentOS Linux release 7.7.1908 (Core)

[2020-02-02 16:29] anilkumarpasupuleti commented on #2218
@sboardwell , how did you solve your problem. i have similar kind of issue?. my pods status shows like this?
jenkins-x-gcactivities-1574078400-227nt      0/1     Error               0          112m
jenkins-x-gcactivities-1574078400-24bs6      0/1     Error               0          116m
jenkins-x-gcactivities-1574078400-24kf4      0/1     Error               0          89m

and the logs of the pod

[2020-02-02 16:55] anilkumarpasupuleti commented on #5631
@dgozalo, thanks, setting up vault environmental variable solved the issue. but there is another problem the way you handle vault,each time I run jx boot, its creating new vault resources, isn't that going to problem.

[2020-02-02 21:50] sboardwell commented on #2218
@anilkumarpasupuleti - I can't remember exactly. I ended up starting up a jenkins-x-gcactivities pod of my own to debug. I think it had something to do with the initial installation values having changed or something.

[2020-02-02 22:39] RafalKorepta opened #6681 "Use kind to run bdd, tekton and integration tests"
### Summary

The tests that need to use kubernetes cluster could leverage https://github.com/kubernetes-sigs/kind for users that don't have access to cloud bees infrastrucutre.

### Steps to reproduce the behavior

[code]

### Expected behavior

Tests can leverage kind cluster.

### Actual behavior

Errors all over the place.

### Operating system / Environment

Osx environment with go 1.13.

[2020-02-03 09:07] tomfrenken opened #6683 "bug: PipelineActivity is garbage collected"
### Summary
I enabled cloud storage for my logs and if I look into the `gs` bucket, I can still see the logs in there.
However, when I use `jx get build logs` they don't appear in the list and they are also not listed in the `jx ui`.
Looking further into it, the `PipelineActivity` seems to be partially garbage collected, as I see when running `kubectl get act`:

[code]
as you can see, only logs fr

[2020-02-03 10:29] vfarcic commented on #6509
Maybe this issue should remain open so that a warning about uppercase letters is added to the project. Otherwise, others might be having the same issue without having a clue about the cause.

[2020-02-03 10:37] vfarcic opened #6684 "FRP: Promotion directly to the master branch"
### Summary

The current promotion process to permanent environments takes too long to run, even though, by default, all it really does is `kubectl apply` (or its equivalent). The problem is in that process that creates a branch, creating a pull request, waiting for the PR to be processed by a pipeline, merging the PR, and running yet another pipeline that will ultimately deploy a new release. I u

[2020-02-03 10:44] vbehar commented on #6672
FYI in our current setup based on `helmfile`, we are running the following steps for each PR:
- `helmfile deps`
- `helmfile lint --skip-deps`
- `helmfile diff --skip-deps --suppress-secrets`
- `helmfile template --skip-deps | kubectl apply --dry-run -f -`

[2020-02-03 10:59] #6679 closed

[2020-02-03 11:56] #6419 closed

[2020-02-03 12:05] srehmanproov opened #6685 "Not able to boot Jenkins X with local changes"
### Summary
Not possible to use jx boot from local cloned repo

### Steps to reproduce the behavior
Cloned a repo locally and make some changes. Merge this changes to master of local clone.
Run jx boot command
o version for https://github.com/local/environment-jenkinsx-dev-dev found in version stream https://github.com/jenkins-x/jenkins-x-versions.git, defaulting to master
Local boot clone is out

[2020-02-03 13:29] srehmanproov commented on #5538
Same issue for me as well.

[2020-02-03 14:26] tomfrenken opened #6686 "jx import / jx create quickstart create wrong k8s service and ingress"
### Summary
When using `jx create quickstart --pack <custom-pack>` (probably also without the flag) the name of the ingress  that is being created isn't `<repo-name>-jx-staging.<ip>.nip.io` but instead using the repository name of the repository in which `jx create quickstart` was run, so `<../repo-name>-jx-staging.<ip>.nip.io`, additionally, the service that is being created is also named after t

[2020-02-03 14:29] tomfrenken commented on #6686
<img width="697" alt="Screen Shot 2020-02-03 at 15 29 15" src="https://user-images.githubusercontent.com/54979414/73661215-fd30dd00-4699-11ea-8f57-8294ffe381f8.png">

[2020-02-03 14:30] tomfrenken commented on #6686
Here is an example how the actual quickstart was initalized with `extensiblity-test-repo` but the svc and ingress are named after the repository that I ran `jx create quickstart` in

[2020-02-03 15:22] tomfrenken commented on #6686
I believe this actually might be caused by the custom buildpack, will close this for now

[2020-02-03 15:22] #6686 closed

[2020-02-03 16:08] #6415 closed

[2020-02-03 18:38] brec opened #6687 "jx boot fails to install Vault"
### Summary
During `jx boot`  **STEP: install-vault**  with secrets config set to `secretStorage: vault` , `jx boot` fails to install Vault.

Error:

[code]

### Steps to reproduce the behavior

`export VAULT_AWS_SECRET_ACCESS_KEY=<secret access key of service user created for jx>`
`export VAULT_AWS_ACCESS_KEY_ID=<access key ID of service user created for jx>`

`jx edit requirements --terraform=tr

[2020-02-04 02:47] ankitm123 commented on #6482
@hferentschik, I think it makes sense to just print out that the user is not in a dev environment/namespace. I will make a PR with that change

[2020-02-04 05:14] hoangmnsd commented on #4019
I'm getting same issue, and add step `git fetch --tags --all --prune -f` cannot solve problem. Any ideas?

[2020-02-04 06:51] abayer commented on #6683
So the PipelineActivity GC may be too aggressive out of the box. It can be tweaked, but yeah, in the end, the problem we have is that we use a single CRD for runtime and historic purposes, and that doesn’t work well, since you really don’t want to be having CRDs living a long time to solely be used as build history as we do currently. It’s a problem area we need to rework significantly.

[2020-02-04 06:54] huytn12-test commented on #6523
@abayer Sorry for the delayed response. I tried it and it worked great. Thanks for fixing the issues.

[2020-02-04 06:54] #6523 closed

[2020-02-04 07:24] huytn12-test opened #6688 "`jx add app jx-app-jenkins` w/ Bitbucket uses user as dev env owner, not organization"
### Summary
I've successfully installed Jenkins X with Bitbucket Cloud on GKE. However, when I tried to install Jenkins X UI using either one of these commands: `jx add app jx-app-ui` or `jx add app jx-app-jenkins`, I received a `404 Not Found` error from jx. I think Jx refers to incorrect username when making calls to Bitbucket servers. This issue will affect the `jx add app` functionality for th

[2020-02-04 08:21] DhruvM1994 opened #6689 "Fails to query the Pull Request for repository in GitLab"
### Summary
While trying to perform ```jx create quickstart``` using a GitLap repository the pipline fails.
However, the repositories "environment-production", "environment-staging" and the quickstart ("python-http") are created in GitLab.

### Steps to reproduce the behavior
1. Using kubernetes cluster in AKS with two nodes
2. ```jx install``` (using GitLab credentials)
3. ``` jx create quickstar

[2020-02-04 09:56] alexvolsh commented on #6560
@cagiti I figured out the root cause of the issue in my environment. I try to use `jx boot` in the cluster, were is already installed Serverless Jenkins X in another namespace (it was installed by `jx install` approach). When the GitHub notify about the new event (commit or pull request) `tekton-pipelines-controller` from current and previously installed environment try to make a build at the same

[2020-02-04 10:21] sanigo commented on #6395
Similar error with gitea.

[2020-02-04 11:08] abayer commented on #6689
What's the error you're getting?

[2020-02-04 11:11] abayer commented on #6688
Could you check `kubectl get env dev -o yaml` and look for the `appsRepository` in the `teamSettings`?

[2020-02-04 11:13] DhruvM1994 commented on #6689
I am getting the following output in the web console:
```"Failed to query the Pull Request last commit status for https://gitlab.com/environment-staging/-/merge_request/1"```

[2020-02-04 11:14] abayer commented on #6688
Ah, ignore that, I was looking at the wrong thing. =)

[2020-02-04 11:19] abayer commented on #6688
Ok, what I should have asked for in `kubectl get env dev -o yaml` is the `spec.source.url` - I'm guessing it's the wrong value, but just want to make sure.

[2020-02-04 11:25] abayer commented on #6688
Oh wait, duh - so what's trying to happen here is that it's forking (or at least attempting to) the upstream dev env repo for the current git user, and then opening a PR from that fork to the upstream. I need to nail down where that error is coming from, but my guess is we're not properly handling the error when we check if the repo already exists and are failing out completely rather than just sa

[2020-02-04 11:26] abayer commented on #6688
...and it turns out that's because the relevant function (`ShouldForkForPullRequest`) isn't implemented for BitBucket Cloud or Server. Sigh.

[2020-02-04 13:43] vbehar opened #6690 "prow doesn't fully support draft pull requests in github"
### Summary

if you create a draft pull request in github, prow will automatically add the `do-not-merge/work-in-progress` label, but it will never remove it when the PR is marked as ready for review. thus leaving the PR in an un-mergeable state, unless you manually remove the `do-not-merge/work-in-progress` label.

### Steps to reproduce the behavior

- create a draft PR
- observe the `do-not-mer

[2020-02-04 13:45] abayer commented on #6690
Ah-ha - I bet we can fix this in LH, but it wouldn't _shock_ me if it's been fixed upstream in Prow since our Prow forked. I'll try to look into it next week.

[2020-02-04 14:32] ankitm123 commented on #6529
On looking at the codebase, it seems the issue is because of unhandled errors, I have the code change, just writing few tests, will open a PR soon.

[2020-02-04 16:42] mcabrito commented on #6165
I have the same:
# oc logs -f jenkins-x-gcactivities-1580830200-887ff
error: creating auth config service for Jenkins: no auth config found for secret "jenkinsAuth.yaml

[2020-02-04 18:51] huytn12-test commented on #6688
It also happens when I do `jx create quickstart` as well. So jx tried to open a PR from a fork to the upstream and it failed due to the bitbucket url is unreachable.

[2020-02-04 19:10] rjaiwal5139 opened #6691 "Prometheus exporter needed to expose CI metrics from jx builds"
### Summary

### Steps to reproduce the behavior

### Expected behavior

### Actual behavior

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [ ] Serverless Jenkins X Pipelines (Tekton + Prow)
- [ ] Classic Jenkins

### Kubernetes cluster

### Operating system / Environment

[2020-02-04 23:06] deanesmith commented on #6687
Hi @brec.  Does [this](https://docs.cloudbees.com/docs/cloudbees-jenkins-x-distribution/latest/install-guide/vault-eks) help at all?  Some recent EKS changes have not been captured in the OSS docs yet.

[2020-02-04 23:19] deanesmith commented on #6685
Hi @srehmanproov, there are a couple of things you could do that I am aware of, and I'm sure other people will have much better ideas, but you could fork https://github.com/jenkins-x/jenkins-x-versions.git and clone your own.  Or, do `jx boot -r your-own-jx-requirements-file.yml`, though you will still clone and https://github.com/jenkins-x/jenkins-x-versions.git separately, but it will incorporat

[2020-02-05 06:53] arfiqbal opened #6692 "Install serverless jenkins x on kubernetes --on-premise with gitlab or any other repository but except github"
Just want to install serverless jenkins on kubernetes without github as we are using bitbucket and gitlab and Is there any way to use lighthouse ?

Our kubernetes is build on top of  openstack

` jx install --provider='kubernetes' --on-premise --domain="k8sapp.xxx.com" --git-provider-kind="gitlab" --git-provider-url="http://git.apps.ocp.xxx.com" --git-username="arif" --skip-ingress=true  --default

[2020-02-05 07:01] prashankprince commented on #3896
Upgrading git version to 2.15.0 and later will help resolve this issue

[2020-02-05 09:44] hervelemeur opened #6694 ""step-create-tekton-crds" is launching every overriding step at "meta pipeline" stage"
### Summary
Everytime I start a maven-java11 pipeline (also tested with a "maven" one), the step "create tekton crds" is launching every command defined in all steps I've overrided.
### Steps to reproduce the behavior
Quickstart a "Spring Boot REST application with Prometheus support (Java 11)", and override the buildPack like this:
[code]
### Expected behavior
The "my-sleep" step is executed in "

[2020-02-05 10:36] abayer commented on #6694
This is because `setVersion` gets run as part of the metapipeline, to determine the new version, tag, etc.

[2020-02-05 13:03] marlovil commented on #6305
Hi! Again the same. There is some workaround or advice to solve this (instead of deleting the pod...)?

[2020-02-05 13:37] hervelemeur commented on #6694
OK.
I'm surprised this step is run at "meta" stage while in its definition the stage is clearly specified "build".

[2020-02-05 13:42] abayer commented on #6694
`stage: setVersion` is in your `overrides` - like I said, that's run as part of the metapipeline. In general, you probably don't want to override/replace/etc `setVersion` unless you have a very specific thing you want to change in the behavior for determining the release pipeline's version.

[2020-02-05 13:53] marlovil commented on #6291
Today, again, the same problem.

But I've found the responsible piece that is in charge of doing this.

This is the pod: **jenkins-x-controllerbuild-yyyyyyyyyy-zzzzz** and these are the logs:

`
{"level":"info","msg":"storing logs for activity mycompany-jxqsapp-master-81 into storage at jenkins-x/logs/mycompany/jxqsapp/master/81.log","time":"2020-02-05T12:58:39Z"}
{"level":"info","msg":"shallow cl

[2020-02-05 13:58] hervelemeur commented on #6694
My bad, I misread "setVersion" as a step in the "build" stage, not a stage itself.

[2020-02-05 13:58] #6694 closed

[2020-02-05 15:13] arfiqbal commented on #6689
Even i am getting the same error in gitlab

[2020-02-05 19:05] sladyn98 commented on #6369
I could take a shot at this. https://cloud.google.com/sdk/docs/release-notes The latest version from this sounds cool  ?

[2020-02-05 21:43] brec commented on #6687
hi @deanesmith I get a 404 "This page could not be found" when I attempt to visit that link.

[2020-02-05 21:58] brec opened #6697 "jx create quickstart fails to create remote repository"
### Summary
While trying to use quickstart, quickstart fails to create the remote repository because of an expired token warning. In other areas of the jenkins-x setup, like installing the jenkinsx webGUI, the service account is able to interact with gitlab without issue.

Error:

[code]

### Steps to reproduce the behavior

command:
[code]

Verifying that the token works:
`curl https://<our_gitla

[2020-02-06 08:33] abayer opened #6698 "REPLACE_ME placeholders in buildpacks using modern syntax aren't replaced"
If your build pack is written in modern syntax, i.e., under `pipelines.release.pipeline`, not via lifecycles, `REPLACE_ME_*` placeholders are...not replaced. The logic that currently does that replacement is specific to/only run for transforming the lifecycle syntax into the modern model behind the scenes. This...was a mistake. We should be replacing the buildpack placeholders from _any_ syntax.

[2020-02-06 09:57] srehmanproov commented on #6685
@deanesmith thanks for suggestions,  seems Jenkins X gitOps bit flaky I have cloned jenkins-x-boot-config but sometimes things go horribly wrong. I worked it around be deleting local clone and re cloning it..

[2020-02-06 10:16] deanesmith commented on #6685
@srehmanproov thank you for the update.  There are a number of improvements with boot arriving in the coming weeks and months, some of them address this gitops matter directly - https://github.com/jenkins-x/jx/issues/6442.  If you are comfortable closing this issue please do.

[2020-02-06 11:07] deanesmith commented on #6369
@sladyn98 Contributions are strongly encouraged and this is quite valuable.

[2020-02-06 12:25] ccojocar commented on #6369
@sladyn98 You can lock first the version in the `gcloud.yml` file similarly with the other CLIs https://github.com/jenkins-x/jenkins-x-versions/tree/master/packages, and then you can change the jx to download this specific version for gcloud in this method: https://github.com/jenkins-x/jx/blob/cdcf046be3172cc8b398c2a6f85f570226d3663f/pkg/cmd/opts/install.go#L779 You can use as an example the `Inst

[2020-02-06 12:44] marlovil opened #6701 "Release versioning control from pipelines is failing"
### Summary
I'm trying to implement release control from pipeline configuration.

I've added a Makefile file with `VERSION := 2.0.0` in the first line. After doing this, if I run `jx-release-version` I get the desired release (2.0.0).

But when I commit to master and JX build the new release I get the 'old' release (1.2.45) instead of the version defined in Makefile `VERSION` variable.

### Jx ver

[2020-02-06 12:50] marlovil commented on #6701
@vfarcic adding you as we talked. Many thanks! :)

[2020-02-06 13:23] deanesmith commented on #6687
@brec Sorry, it looks like the URL changed a bit since posting - https://docs.cloudbees.com/docs/cloudbees-jenkins-x-distribution/latest/eks-install-guide/vault-eks

[2020-02-06 14:05] srehmanproov commented on #6431
I got same issue on GKE with:
`jx                 2.0.1180
Kubernetes cluster v1.13.11-gke.23
kubectl            v1.15.0
helm client        Client: v2.16.1+gbbdfe5e
git                2.25.0
Operating System   Mac OS X 10.15.2 build 19C57`

Any solution for that?

[2020-02-06 14:38] vfarcic commented on #6701
@marlovil Can you let me know which buildpack you're using and whether it is one of the community maintained and as-is or a modified version?

[2020-02-06 14:50] marlovil commented on #6701
@vfarcic We are using the default php buildpack with some extensions as follows:

[code]

[2020-02-06 14:56] vfarcic commented on #6701
I think that Maven might be a problem since it expects version to be set in `pom.xml`, even though you're using PHP. Can you please do a quick test with a new quickstart that is without those changes in the pipeline? That way, we'll be able to see whether the issue is in the additional entries or somewhere else. We'll be able to narrow the scope.

[2020-02-06 15:06] srehmanproov commented on #6685
🥇 thanks @deanesmith

[2020-02-06 15:06] #6685 closed

[2020-02-06 15:18] bitsofinfo commented on #5418
well it definitely doesn't work w/ aks! i get the same error.

[2020-02-06 15:22] bitsofinfo opened #6702 "jx boot against Azure AKS cluster results in: error: : unable to parse [clustername] as <project id>_<zone>_<cluster name>"
### Summary

jx boot against AKS cluster results in: `error: : unable to parse [clustername] as <project id>_<zone>_<cluster name>`

### Steps to reproduce the behavior

Following the getting started install guide, run `jx boot` against an Azure AKS cluster with nothing on it.

### Expected behavior

It works

### Actual behavior

[code]

### Jx version

The output of `jx version` is:

[code]

###

[2020-02-06 15:27] bitsofinfo commented on #6352
same issue here

[2020-02-06 15:28] bitsofinfo commented on #6194
experiencing the same

[2020-02-06 15:32] eytand opened #6703 "cannot create a bot api token for bitbucket in jx boot"
### Summary
I've been trying to add a bot token for bitbucket during jx boot, but non of the tokens found in bitbucket are suitable (minimum 40 chars).
_jx create git token_  attempted as well (working ok) but when I re-boot, i'm requested to update the token again.
### Steps to reproduce the behavior
try to generate a token in bitbucket - either via API token, OAuth, App password etc - non of the

[2020-02-06 15:32] marlovil commented on #6701
I've deleted the agent section to leave it as default (using jx-base agent). We did this change as a workaround to face this issue https://github.com/jenkins-x/jx/issues/6603.

Without Maven agent, we are still having the same behavior. As expected, the patch number increases automatically but in the same `major.minor` previous version (`1.2.xx`).

Just to make sure: we've created the Makefile in

[2020-02-06 15:34] bitsofinfo opened #6704 "Support for Azure DevOps git repositories as a git provider?"
### Summary

Is there support for Azure DevOps git repositories as a git provider? I don't see it in the docs

[2020-02-06 15:36] deanesmith commented on #6194
@laurent-theglue I believe this is somehow related to Azure AD, still not sure what specifically.  @bitsofinfo can you confirm you're using Azure AD?

[2020-02-06 15:39] bitsofinfo commented on #6194
Azure AKS clusters w/ the openid connect auth mechanism setup to hit azure AD: see: https://docs.microsoft.com/en-us/azure/aks/azure-ad-integration

[2020-02-06 16:26] srehmanproov opened #6706 "Preview link does not show up in github PR"
### Summary
 Created PR on quickstart python repo, the environment exists but link on PR missing.
### Steps to reproduce the behavior
Create a PR on imported repo, python quick-start in this case.
PR built and available in a preview environment xxx-jenkinsxpipeline-pr-2
But there is no link to click on it. In Kubernetes there is link available to view the app.
### Expected behavior
Link should be

[2020-02-06 17:02] brec commented on #6687
hi @deanesmith  disabling `autoCreate` fixed the issue. I pre-configured the vault requirements, so in retrospect this makes sense, although I wasn't sure if disabling autoCreate would skip features I needed. This documentation cleared that up. I think providing a clear error message for this issue, along the lines of the resources are already created (or consider disabling `autoCreate`, would hel

[2020-02-06 17:02] #6687 closed

[2020-02-06 17:05] jweaver-personal opened #6707 "AWS Parameters for Vault not created for Provider AWS with jx boot."
### Summary
AWS Parameters do not appear to be created from config for Vault under provider AWS, causing vault installation to fail for that provider with

error: unable to create/update Vault: aws selected as kube provider, but no aws specific parameters provided

See https://github.com/jenkins-x/jx/blob/master/pkg/cmd/step/boot/step_boot_vault.go around line 167.

### Steps to reproduce the beha

[2020-02-06 21:02] eytand commented on #6703
Apparently, jx boot changes back my settings to github as a provider. Is that an upstream issue?

[2020-02-06 21:16] eytand commented on #6703
So this seems like a documentation bug: the jx boot documentation doesn't specify setting gitServer: https://bitbucket.org in the requirements, and hence the boot is reseting it to github.com which requires 40 chars. I'll create a pull request for that

[2020-02-06 22:33] brec opened #6708 "Unable to get an existing vault instance to work with jenkins-x"
### Summary

Hi,

In order to consider jenkins-x for our use case, we need to use our existing vault deployment.

Does jenkins-x support using an existing vault instance, instead of using the one deployed with `jx` ?

### Steps to reproduce the behavior

Attempt to use `jx boot` with vault variables pointed to an existing vault.

### Expected behavior

jenkins-x allows use of an existing vault.

#

[2020-02-07 03:14] ankitm123 commented on #6482
It seems a bit odd to create a dev environment if we are in an arbitrary namespace:
https://github.com/jenkins-x/jx/blob/master/pkg/cmd/get/get_build_logs.go#L145
For a command that is named `get`, is it not a bit weird to create a resource(dev env)?

If instead of `GetEnrichedDevEnvironment`, `GetDevEnvironment` is used, then it would make more sense.

Also with `GetEnrichedDevEnvironment`, the c

[2020-02-07 10:42] afewellvmware opened #6709 "JX add app doesnt ever start apps in dev and tiller errors in staging"
### Summary
quickstarts work great for me, but jx add app doesnt work at all. It adds the config to the git repo, but never triggers any pipeline or deploys anything. If I try to manually trigger the dev environment pipeline after add a[[ it fails, although rerunning jx boot shows no problems (jx boot also does not trigger any added app to run).

I dont know if there is supposed to be some extra s

[2020-02-07 10:52] #6698 closed

[2020-02-07 12:24] mcabrito commented on #2109
Hello!
Sorry for open it, but i cant to create a environment in openshift

retrying after error:Failed to create the name folder in Jenkins: 401 ?You need to supply credentials that allow you to be authenticated by OpenShift OAuth as a valid user who is assigned either the view, edit, or admin roles in the OpenShift project running this Jenkins instance. ?If operating from a browser, provide your

[2020-02-07 12:30] laurent-theglue commented on #6194
@deanesmith Yes, we use AKS with Azure Active Directory authentication
It may be unclear in the my issue description but I mentioned in the kubeconfig example that the `environment: AzurePrivateCloud` is removed by `jx` hence a AAD reauthentication.

[2020-02-07 12:49] vbehar opened #6710 "The release pipeline is triggered for a branch named `all-in-master`"
### Summary

I pushed changes on a new branch named `all-in-master`, and go 2 pipelines executed:
- the pull request one
- the release one

### Steps to reproduce the behavior

- create a branch named `all-in-master`, push it and create a PR

### Expected behavior

- only the pull request pipeline should be run

### Actual behavior

- both the PR pipeline and release pipeline are executed

Prow/Ho

[2020-02-07 14:27] afewellvmware commented on #6709
I am not sure what was calling the tiller errors but I did have an add app that didnt load correctly, after I cleaned it out and re-jx-booted the errors went away. Thanks!

[2020-02-07 14:27] #6709 closed

[2020-02-07 16:35] brec commented on #6708
The answer to my question is documented here:
https://jenkins-x.io/docs/reference/components/vault/

[code]

[2020-02-07 16:35] #6708 closed

[2020-02-07 16:39] anthony-pastor opened #6712 "OWNERS file get automatically replaced with default during upgrade"
### Summary
During CJXD upgrade (to 0.0.27 version), the OWNERS files get overwritten with default values.

### Steps to reproduce the behavior

- Create a PR on the Dev env to customize the OWNERS file with your own approvers and reviewers.
- Merge it and wait for the PR & release pipelines to complete.
- `jx upgrade boot`
You may observe an automatic change in the PR to be created.

### Jx versi

[2020-02-07 16:43] #6529 closed

[2020-02-07 17:11] srehmanproov commented on #6532
I am seeing this with auto promotion to staging as well, is there any fix for this or do we need whitelist any IPs for gitHub to work with GKE?

[2020-02-07 18:15] vlindvall commented on #6532
I posted my solution above which fixed the problem for me, but made it so that I had to manually merge in staging repo.

Ended up just creating a new cluster with jenkins x and starting over. Haven't run into the problem again yet

[2020-02-07 18:46] GLStephen opened #6713 "jx upgrade boot - should version stream check back to the binary"
If you run jx upgrade boot without properly upgrading the jx binary you get an error like the following:

[code]
It seems like the upgrade process could use some sort of version stream check to verify the jx binary version matches the upgrade available? I'm not familiar with the internals enough to know exactly, but it seems like the upgrade process could determine this bad state and present a bet

[2020-02-07 20:05] mighani opened #6714 "Pipeline build can not be started"
### Summary
I created a one node kubernetes cluster and installed jenkins x onto the cluster with following command:
[code]
I used the serverless version of jenkins x. The installation was successfull. Now, I try to install a quickstart (golang and spring). the command creates the git repo for the project and installs a webhook. But after this I receive the following error:
......
Pushed Git repos

[2020-02-09 03:56] arfiqbal commented on #6689
@DhruvM1994 you need to merge the PR from Gitlab

[2020-02-09 07:13] abayer opened #6717 "REPLACE_ME placeholders not replaced on build pack stages, just steps"
Followup to #6698 - I just completely blanked and forgot about top/stage-level `dir`.

[2020-02-09 08:22] abayer commented on #6714
Please try again with `jx boot`, and open a new issue if you reproduce the issue there. `jx install` is more-or-less deprecated at this point, so its behavior, particularly when going through a path that `jx boot` should support, may be hard to deal with. Thanks!

[2020-02-09 08:22] #6714 closed

[2020-02-09 08:24] abayer commented on #6712
What was the `jx` binary's version when you ran `jx upgrade boot`?

[2020-02-09 08:24] abayer commented on #6704
There is not. I'll make this a long-term feature request issue, but no promises that it'll ever happen. =)

[2020-02-09 08:26] abayer commented on #6703
ah, of course I don't see the comment until I set labels. =) Good catch.

[2020-02-09 08:29] abayer commented on #6683
I'm closing this, since it's not a bug, it's just annoying.

[2020-02-09 08:29] #6683 closed

[2020-02-09 08:30] abayer commented on #6431
Bumping this to critical.

[2020-02-09 08:30] abayer commented on #6706
Duplicate of https://github.com/jenkins-x/jx/issues/6431

[2020-02-09 08:30] #6706 closed

[2020-02-09 08:36] abayer commented on #6701
The agent as `maven` isn't going to be a problem - that logic only kicks in when using the Maven build pack.

What's happening here is that the default `setVersion` behavior in https://github.com/jenkins-x-buildpacks/jenkins-x-kubernetes/blob/master/packs/php/pipeline.yaml#L27-L30 is just looking at the previous release tag to determine the next version. You can override that by adding:

[code]

a

[2020-02-09 08:36] #6701 closed

[2020-02-09 08:39] abayer commented on #6692
Please try again with `jx boot`, specifying the `webhook` as `lighthouse` instead of `prow` in your `jx-requirements.yml`, rather than `jx install`. Basic functionality with GitLab should then work, but note that GitLab support in Lighthouse is still pretty immature, with chatops definitely not working right and possibly other issues. If you hit issues with GitLab + Lighthouse, please open issues

[2020-02-09 08:39] #6692 closed

[2020-02-09 08:40] abayer commented on #6692
Oh, and Gitea is not supported with Tekton at all, and Bitbucket is...really not there yet, with chatops not working at all and builds not getting triggered by new commits pushed to an existing PR.

[2020-02-09 14:17] wuestkamp commented on #6395
same with gitlab

[2020-02-09 14:26] wuestkamp opened #6719 "Gitlab import fails: unable to create pull request / Invalid path"
Trying to do:

[code]

Getting this error:

[code]

jx envs:
[code]

### Jx version
[code]

[2020-02-10 06:22] marlovil commented on #6701
Great! Many thanks @abayer and @vfarcic for your help.

[2020-02-10 08:34] RafalKorepta commented on #6124
I found enhancements proposal for helm3: https://github.com/jenkins-x/enhancements/tree/master/proposals/2/docs

[2020-02-10 09:52] anthony-pastor commented on #6712
@abayer Before upgrade I was using: `2.0.1005+cjxd.5`

[2020-02-10 10:34] srehmanproov commented on #6532
Issue I see is even after PR is merged to staging repo, the staging pipeline does not get triggered. All PRs to staging are auto merged.

[2020-02-10 11:33] srehmanproov commented on #6689
Even after PR is merged to master, I am still getting this error on GitHub, is there any solution for this? Its stoping the CD to work at all.

[2020-02-10 11:46] srehmanproov commented on #6020
Same issue on gitHub though the PR is auto merged on staging repo but promotion to staging does not work:
[code]

[2020-02-10 13:44] #6651 closed

[2020-02-10 13:45] abayer commented on #6583
@tdcox We got past this, right? We never figured out what the root cause for the commits not getting cherry-picked was, but you did get unblocked. So I'm gonna move this to critical.

[2020-02-10 15:27] tdcox commented on #6583
Yeah. No guarantee that we won’t see it again in another update operation.

[2020-02-10 15:42] deanesmith commented on #6691
Hi @rjaiwal5139, would you be able to further describe the use case you are looking to address?  It would be good to run through the desired state as well in greater detail.

[2020-02-10 16:37] abayer commented on #6583
Gotcha - that's why I left it at critical. =)

[2020-02-10 16:52] #6717 closed

[2020-02-10 16:56] deanesmith commented on #6124
Hi @ankitm123, please review the aforementioned proposal document.  I believe this is WIP right now and your feedback in comments could prove useful.  There may be tasks where your development contributions could become quite valuable.

[2020-02-10 17:25] bitsofinfo commented on #6704
ok, so for now, I'm my code is in azure, I can't use jenkins-x, correct?

[2020-02-10 22:56] rjaiwal5139 commented on #6691
@deanesmith  I need to monitor the Jenkins X CI/CD and collect metrics like Launch Velocity (Time take for a pull request merged to reach Production), Number of deployments managed through pipelines, Number of deployments passed/failed and Total number of unit tests executed, passed/failed etc.

These metrics represent how the build system is performing. Jenkins has a Prometheus plugin that collec

[2020-02-10 23:21] mdcsaenz commented on #6020
WARNING: Failed to query the Pull Request last commit status for https://github.com/****,

but it stays like this for 30 minutes (my timeout) and nothing occurs.

[2020-02-11 04:32] yelhouti commented on #6124
@ankitm123 @deanesmith although I found the proposal really great, I think that for now we should just be able to skip the helm init when using helm 3. This clearly a blocking issue for a lot of folks.

[2020-02-11 10:28] DhruvM1994 commented on #6689
@arfiqbal I merged the PR in GitLab but the pipeline stucks at: ```Merge commit has not yet any statuses on repo <repository_name> merge <sha>

[2020-02-11 10:56] srehmanproov opened #6721 "Promotion builds keep running for more than 10 hours"
### Summary
Simple python quick-start and jx boot to create POC does not work !
### Steps to reproduce the behavior
jx boot to setup JenkinX on GKE Cluster
add a PR to repo, which triggers staging deployment
Deployment job did not finish despite waiting for more than 10 hours
No logging to see what is going on GKE
### Expected behavior
Staging env get created and app gets deployed.
### Actual beha

[2020-02-11 10:56] garethjevans opened #6722 "Pass the repo owner into `jx step git credentials --credential-helper`"
### Summary

Whilst `RepoOwner` is only a required field for a GHA integration (currently), it may make sense to always pass in the `RepoOwner` when configuring the credentials-helper.  It will also make a migration to GHA easier in the future.

[2020-02-11 12:33] #6482 closed

[2020-02-11 12:53] deanesmith commented on #6691
Thank you @rjaiwal5139.  Jenkins X has an apps framework platform that is still evolving.  There is a Prometheus app here - https://github.com/jenkins-x-apps/jx-app-prometheus

[2020-02-11 13:20] garethjevans opened #6723 "Remove the deprecated `--github-app-owner` flag from `jx step git credentials`"
### Summary

Need to wait till end of Feb before this can be removed from all pipelines.

[2020-02-11 14:21] #6722 closed

[2020-02-11 15:46] tomfrenken opened #6724 "Feature Request: Improved `overrides` syntax for better buildpack extensibility"
### Summary
Today I wanted to add `parallel` stages to the pipeline of one of my `buildpacks` which is written in the latest syntax. This however is impossible when you try to `extend` a `buildpack`, instead of writing a new one from scratch. With the latest `overrides` syntax, there is only the possibility to add `steps` to an already existing stage, which limits extensibility to a great extend.

[2020-02-11 16:00] reddybhavaniprasad opened #6725 "jx unable to delete Persistent Volumes (PVs) while using "jx step helm delete <release_name> -n <namespace>" command"
### Summary

I have deployed a microservice in OKD cluster through JenkinsX and am trying to delete the Persistent Volumes (PVs) associated with a helm release right after the deployment. So I found the following command from the jx documentation,

    jx step helm delete <release_name> -n <namespace>

### Steps to reproduce the behavior

Deploy a service using jx preview command with release name

[2020-02-11 16:31] abayer opened #6726 "Enable integrated testing of the jx stack for PRs spanning multiple repositories"
Currently, there is no way to effectively run BDD tests for jx for a combination of PRs from multiple repositories, short of manually spinning up a cluster and running the BDD tests by hand. Given the number of cases where a PR to jx has a corresponding PR to jenkins-x-boot-config (or other repos, but that's the combination that's most common), and we can't really test one without the other. The r

[2020-02-11 17:59] rjaiwal5139 commented on #6691
Thanks @deanesmith Can you describe the purpose of this app? Is it meant to scrape JenkinsX for metrics? Are these CI/Cd metrics?

[2020-02-11 18:08] deanesmith commented on #6691
@rjaiwal5139 Right now it appears to be not much more than a Prometheus deployment chart that will operate in the `jx apps` framework.  @rawlingsj could elaborate more on the intent, but the stage might be set reasonably well to further this a bit to accomplish what you like.

[2020-02-11 18:35] deanesmith commented on #6721
Hi @srehmanproov, was there any information in the build log or the promotion build log?

[2020-02-11 20:52] deanesmith commented on #6369
Thank you @sladyn98  for your contribution.

[2020-02-11 21:30] srehmanproov commented on #6721
@deanesmith nothing about promotion except few warnings about not finding jx-staging namespace.

[2020-02-12 00:15] JoeNunnelley commented on #5161
@dgozalo are these extra steps you mention documented somewhere. I haven't seen that info.

[2020-02-12 05:16] oonyeje-bside commented on #6719
I also get this error when running jx import using bitbucketcloud

`jx import`

## JX Version
`jx                 2.0.1187
Kubernetes cluster v1.15.9
kubectl            v1.16.3
helm client        Client: v2.12.3+geecf22f
git                2.25.0
Operating System   Ubuntu 16.04.6 LTS`

Instead of trying to create the pr at https://bitbucket.org/organization/environment-cluster-dev.git, it attempts

[2020-02-12 08:19] jstrachan opened #6727 "reusable context pipelines"
it would be nice to be able to have reusable pipelines in the build pack which can be applied to any git repository without having to modify the repositories source code.

e.g. if we added a file `contexts/go-lint/jenkins-x.yml` to the build pack git repository and configured `go-lint` as a context in the `Scheduler` of a few `SourceRepository` repositories it would be awesome to be able to type `

[2020-02-12 08:54] hferentschik commented on #6721
@srehmanproov, can you reproduce this from scratch? How did you boot the cluster and was everything properly created? What does `jx get env` report just after the cluster was created?

[2020-02-12 09:38] romainverduci opened #6728 "Missing commit message and author in PA"
### Summary
controller_build fails to update PipelineActivity with author and commit message information

From the controller_build logs:
[code]

Looks like it could be related to this change: https://github.com/jenkins-x/jx/commit/64791d738d136f8cc9bfeb228721491d19090f3a#diff-456e90af6b74e1bf1636617e0936ccb1

### Steps to reproduce the behavior
1. Start a new pipeline
2. kubectl get pipelineactiv

[2020-02-12 09:39] romainverduci commented on #6728
Linked to the UI issue: https://github.com/cloudbees/jxui-frontend/issues/1191

[2020-02-12 09:49] srehmanproov commented on #6721
@hferentschik I did exactly that, I even created GKE cluster again just in case.. I am booting Jenkins x from jx boot with externalDNS and jxing-nginx-ingress-controller with static cluster IP, rest is as all default configurations. I am using GKE and resources seem to be enough as GKE tells me these are under used even.
`jx get env
NAME       LABEL       KIND        PROMOTE NAMESPACE     ORDER CL

[2020-02-12 10:46] srehmanproov commented on #6721
I get these messages during promotion step but PR gets merged anyways into staging repo
WARNING: Failed to query the Pull Request last commit status for https://github.com/.... but no resources are found in jx-staging ns

[2020-02-12 11:00] tdcox opened #6729 "jx delete application not updating prow config"
### Summary
Running `jx delete application` leaves application config behind in prow so if you run the command a subsequent time, it appears as though the application has not been deleted as it is still listed in the survey.

### Steps to reproduce the behavior
Run `jx delete application` and select an application to delete.
Allow the process to complete.
Run `jx delete application` again and find

[2020-02-12 11:23] srehmanproov commented on #6721
@hferentschik is anyone looking at it? There is chat about this issue on slack channel for Jenkins X too so its not just me..

[2020-02-12 11:47] oonyeje-bside commented on #6395
+1

[2020-02-12 13:55] tdcox opened #6730 "feature request: Enable Golang as scripting language in Jenkins-X containers"
### Summary
With a little configuration, it is possible to use Go as a native scripting language in Linux environments. If we were to enable this by default within Jenkins-X containers, it would make it easier for people to write expressive steps in pipelines without having to run the gauntlet of shell scripting with all its associated disadvantages.

There is some simple documentation here:
https

[2020-02-12 14:20] tdcox commented on #6729
Applications are also not being removed from /repositories/templates in the Dev environment.

[2020-02-12 15:46] pazt commented on #6613
@brec thanks for the info, I ran into the same issue (with github), I have updated the secret manually but look like Jenkins still trying to use the old token.
Should I run jx boot after updating the secret?

[2020-02-12 16:08] deanesmith opened #6732 "Improve documentation for EKS support using JX Boot"
### Summary
There are a great deal of steps required to ensure EKS based JX clusters are created properly when using `jx boot`.  These steps are captured well in CloudBees Jenkins X Distribution documentation but not yet properly represented upstream.  It is imperative that upstream documentation be the source of truth for common concerns.

This issue is to recommend and perform the following step

[2020-02-12 16:34] salaboy opened #6733 "Install JX UI with JX Boot by default or provide an option"
### Summary
JX UI needs to be installed after jx boot. that doesn't make any sense.

### Steps to reproduce the behavior

### Expected behavior
JX UI comes with or can be selected in JX Boot
### Actual behavior

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [ x] Serverless Jenkins X Pipelines (Tekton + Prow)
- [ ] Classic Jenkins

### Kubernetes cluster

### Operating

[2020-02-12 16:34] srehmanproov commented on #6721
That seemed to be due to adding external DNS and static ip for the ingress controller. After removing that it did not stuck but did not deploy to staging. I am not sure why would that be? Does Jenkins X only supposed to work with nip.io not other DNSs?

[2020-02-12 17:32] abayer commented on #6728
this was actually #6568 and was fixed a while ago - CJXD 6 just happened to get a `jenkins-x-platform` version from juuuuust before it was fixed.

[2020-02-12 17:33] daveconde opened #6734 "Discovery - Split cloud resource creation out of jx boot"
## Summary

At the moment cloud resource creation happens as part the `jx boot` process. It would be better from a UX and security perspective to separate cloud resource creation from the install of Jenkins X. We require a detailed proposal on how we should split out the cloud resources.

## Acceptance Criteria

- A proposal is created at https://github.com/jenkins-x/enhancements to cover the abov

[2020-02-12 17:36] srehmanproov opened #6735 "GKE cluster created with terraform code and jenkins with jx boot promotion fails"
### Summary
GKE cluster created with terraform code and jenkins with jx boot promotion fails
### Steps to reproduce the behavior
GKE cluster created with terraform code, and using jx boot to install jenkinsX server-less, promotion to staging is broken. When I created cluster with this command line all seems to work fine?  jx create cluster gke --cluster-name <cluster-name> --project-id $PROJECT  -

[2020-02-12 17:38] daveconde opened #6736 "Discovery - Enable integrated testing of the jx stack for PRs spanning multiple repositories"
# Summary

Create a proposal and backlog items for the problems listed in #6726

[2020-02-12 18:04] alexvolsh commented on #6560
@cagiti @abayer any suggestions or updates? Maybe you need additional information?

[2020-02-12 18:10] garethjevans commented on #6735
Hi @srehmanproov, can you give us some guideance on how you created the cluster? e.g. via `jx create terraform` or via the `terraform-google-jx` module?

[2020-02-12 18:14] alexvolsh opened #6737 "jx edit env - fails with error: secrets "jenkins" not found"
### Summary
`jx edit env` command fails with error: creating Jenkins client: secrets "jenkins" not found

### Steps to reproduce the behavior
1. Install Jenkins X with `jx boot`
2. Run the command `jx edit env staging`
3. Select:
`Promotion Strategy: Manual`

### Expected behavior
The promotion strategy for the staging environment was changed to `Manual`.

### Actual behavior
[code]

### Jx versio

[2020-02-12 18:57] abayer commented on #6728
Closing as a duplicate of #6568 - we'll be handling getting the fix into a new CJXD release in an internal issue.

[2020-02-12 18:57] #6728 closed

[2020-02-12 19:02] abayer opened #6738 "Add check for PipelineActivity getting update from SCM provider to BDD test for quickstarts"
We should have a test to make sure #6568 doesn't regress, so let's add that to the quickstart BDD test.

[2020-02-12 19:31] brec commented on #6613
You may have to delete the jenkins pods to get the pods to pull the new token. If the secret's updated in the secrets object for git in kubernetes, and also updated locally, usually at <home path>/.jx/localSecrets/us-phx-a , the new secret should be in effect.

If nothing else it may be quicker to just delete and re-deploy the jx with a new token. This was an option for us because it was just a PO

[2020-02-12 19:55] hferentschik commented on #6167
@ccojocar, how far did you get with the lock approach? Did you have anything working?

[2020-02-12 20:00] hferentschik commented on #6167
What's about a custom admission controller? Based on some config it won't let request for specific pipelines proceed while another pipeline is still running. In our case we would use it for the environment pipelines, but we could put some API around it so that basically any pipeline can be configured to run in isolation.

[2020-02-12 21:44] srehmanproov commented on #6735
@garethjevans I tried both methods, same result for each of these methods.

[2020-02-12 23:39] srehmanproov commented on #5913
I see same issue

[2020-02-13 01:13] ankitm123 commented on #6674
@jstrachan, should I work off this PR https://github.com/jenkins-x/jx/pull/6660?

[2020-02-13 03:15] yelhouti commented on #6124
These are the workarounds:
- first disable verify helm since it run helm init that doesn't exist on helm3 (add `- --disable-verify-helm=true` in step verify preinstall in jenkins-x.yml
- configure jx to use helm3: `export JX_HELM3=true`
- disable velero since not available yet for baremetal (kubernetes) by deleting velero stepS in jenkins-x.yml
- I also had to remove everything already installed i

[2020-02-13 03:37] ankitm123 commented on #6124
AFAIK You can work off this PR: https://github.com/jenkins-x/jx/pull/6664. Build it locally, and use the resulting binary, if you want to use helm3.

[2020-02-13 05:05] jstrachan commented on #6674
yeah, thats probably the simplest for now. Hopefully we can get that PR merged in a little while

[2020-02-13 09:03] jstrachan opened #6739 "cannot override a step's image without copy/pasting the command string"
I was trying to override the image of a named step in a build pack using the following `jenkins-x.yml` file - something that sounds pretty useful to me.

[code]
the above fails with

[code]

However if I copy/paste the `command:` from the build pack in there t works:

[code]

I'm guessing its overzealous validation of the override steps? It might be nice to only specify some values in the override

[2020-02-13 10:20] arfiqbal opened #6741 "jx boot for on-premise kubernetes"
How do i use jx boot for on-premise kubernetes

Below is my jx-requirements.yml
`autoUpdate:
  enabled: false
  schedule: ""
bootConfigURL: https://mygithub-enterprise.com/githubadmin/jenkins-x-boot-config
cluster:
  gitKind: github
  gitName: github
  gitServer: https://mygithub-enterprise.com
  namespace: jenkinsx
  project: jenkinsx
  provider: kubernetes
environments:
- ingress:
    domain: k8

[2020-02-13 11:13] mrageh commented on #5537
I've been bitten by this for so long, very frustrating that it tries to install by default!

[2020-02-13 12:56] arfiqbal opened #6743 "Getting crashloopback error on hook and tide"
### Summary
I have install the Jenkins X on kubernetes on-premise with github enterprise

```jx install --namespace='jxs' --provider='kubernetes' --on-premise --domain="k8sapp.xxx.com" --git-provider-kind="github" --git-provider-url="https://mygithubenterprise.com" --git-username="githubadmin" --skip-ingress=true  --default-admin-password=admin --exposecontroller-urltemplate='{{.Service}}-{{.Names

[2020-02-13 12:59] garethjevans commented on #6743
Hi @arfiqbal, Prow does not currently work with GitHub enterprise, only github.com.  To use GitHub enterprise with Tekton, you'll need to switch to Lighthouse

[2020-02-13 13:09] abayer commented on #6737
Hi - looks like you're not in the `jx` namespace. Could you make sure you're using the `jx` namespace and try again?

[2020-02-13 13:09] abayer commented on #6743
Which isn't supported with `jx install`.

[2020-02-13 13:14] abayer commented on #6743
I'm closing this - we're not going to be supporting Lighthouse with `jx install`. I know you've got issues with boot and on-prem, but that'll have to be dealt with in order to use GitHub Enterprise with jx. Sorry.

[2020-02-13 13:14] #6743 closed

[2020-02-13 13:16] abayer commented on #6384
Hi @bbhuston - I think we do now have better velero support - have you tried recently?

[2020-02-13 13:17] daveconde commented on #6318
We believe this is a duplicate of #6167

[2020-02-13 13:17] #6318 closed

[2020-02-13 13:23] #6185 closed

[2020-02-13 13:26] abayer commented on #6070
I fixed this a few weeks ago and didn't even realize this issue existed. =)

[2020-02-13 13:26] #6070 closed

[2020-02-13 13:29] arfiqbal commented on #6743
@abayer  can we install jx with jx boot on on-prem kubernetes ? if yes then how ?
Wanted to use serverless jenkins X on my kubernetes cluster..  i needed some help here

[2020-02-13 13:39] jstrachan commented on #6726
@abayer sounds good to me.

Incidentally whenever the helmfile stuff merges, to do the same kinda thing with helmfile/helm 3 we won't need to do custom builds of `jenkins-x-platform` (as its no longer used) and don't need a custom fork/PR of `jenkins-x-boot-config` as there's nothing version specific in there any more. So we could just use a custom version stream + custom builder images (which we

[2020-02-13 13:42] srehmanproov commented on #4393
would be great as we are blocked on GKE adding custom domain..

[2020-02-13 14:06] alexvolsh commented on #6737
@abayer yes, I checked it twice
[code]

[2020-02-13 14:12] abayer commented on #6737
Do you see the `jenkins` secret if you run `kubectl get secrets` in the `jx-razomer` namespace? I feel like this is likely to either be that the secret isn't there, or something in the code path being executed is hardcoding a namespace.

[2020-02-13 15:14] alexvolsh commented on #6737
No, it doesn’t exist. And also I’ve checked previous installations for Serverless Jenkins X by `jx install` and there is no `jenkins` secret in any of them.
[code]

[2020-02-13 15:42] srehmanproov commented on #5593
I have same issue which is only blocker to move to Jenkins x CI/CD. Most of the companies cannot afford to run CI/CD with nip.io only due to security concerns. Can this be prioritised, maybe just needs how to enable exteranlDNS with GKE/EKS and still get promotions work!

[2020-02-13 16:22] keshavprasadms commented on #5675
Same issue. How can this be done in a manager cluster where we don't have access to api server?

[2020-02-13 16:27] tdcox commented on #6729
Hmmm, the plot thickens. I have an installed application in staging that is listed in both the gitops environment and in the prow config but which `jx delete application` is unable to see in its survey list.

[2020-02-13 16:37] tdcox commented on #6729
Deleting it by name successfully removed it AND removed the prow config as well. Something odd going on here. Only change at this end is that I am now on 2.0.1192.

[2020-02-13 17:44] vfarcic opened #6744 "Cannot push images to ECR"
### Summary

After setting up Jenkins X in EKS using `jx boot`, the permissions to push images to ECR are not correct.

The user used to create the cluster has full admin rights.

### Steps to reproduce the behavior

[code]

[code]

[code]

[code]

### Expected behavior

The pipeline works

### Actual behavior

The pipeline does not work

### Jx version

The output of `jx version` is:

[code]

###

[2020-02-13 18:44] abayer opened #6745 "Rework jenkins-x-platform to have jx and builder versions in one place in values.yaml"
This will be cleaner than the current approach, with the same version string scattered in a ton of different places, and will make it easier to override jx and builder versions when doing cross-repo testing.

[2020-02-13 18:48] abayer commented on #6745
argh, I think this may not be possible. And of course I realize that after I open the issue...digging further.

[2020-02-13 18:54] mathieusama commented on #527
There appears to be no way to control access rights on new GitHub repositories created by JX. Our organisation has very strict security policies (ie: principle of least privilege) and members of the `engineering` GitHub team are only allowed access to repos specifically granted to that team. Therefore, as myself member of that team, I cannot even see the `environment-xxx-staging` repo created by J

[2020-02-13 18:56] abayer commented on #6745
Yeah, found [a workaround using YAML anchors](https://github.com/helm/helm/issues/2133#issuecomment-358385290), but given that this doesn't help with `requirements.yaml` anyway, this isn't worth pursuing.

[2020-02-13 18:56] #6745 closed

[2020-02-13 19:16] #6738 closed

[2020-02-13 19:32] abayer commented on #6736
So messing around with `jenkins-x-platform` isn't really viable. This means that basically the scope is combining `jx`, `jenkins-x-boot-config`, and probably `jenkins-x-versions`. We'll need to ensure that the builders have the PR's `jx` binary in the `PATH` before the baked-in one, and that pod templates used in BDD tests and relevant cronjobs and controllers have the right `jx` binary in them as

[2020-02-13 19:36] abayer commented on #6736
Worth mentioning re: the volume thing, if we're only thinking about scoping this for BDD tests run on GKE, we could just create a persistent disk (and a persistent volume using that persistent disk) as part of `jx step bdd` and use that, with the only configuration in `jenkins-x-boot-config` being specifying the "special `jx`-containing volume" name. In that scenario, we wouldn't mount the volume

[2020-02-13 19:57] deanesmith commented on #6167
Hi @aure-olli, have you experienced any further occurrences of the issue?  Given the effort to address the matter is quite involved, it would be good to help us understand the urgency based on the frequency that you experience the problem.

[2020-02-13 20:24] hferentschik commented on #5978
Our target version should be 1.14.0 which would at least align us with the Kubernetes version on GKE.
Upgrading to at least 1.13.0 would also allow us to upgrade Tekton to at least  0.9.2.

[2020-02-13 20:25] hferentschik commented on #5978
There is a POC for this upgrade by @abayer - https://github.com/jenkins-x/jx/pull/6413

[2020-02-13 20:51] abayer commented on #6517
Or waiting for the next release - https://github.com/kubernetes/ingress-nginx/pull/4996 apparently fixes this, and will be in the next release (0.29.0), coming sometime in the next week.

[2020-02-13 21:51] ankitm123 commented on #6741
I tried `jx boot` on Linode Kubernetes Engine, which is basically on-prem as far as jx is concerned, and it worked. You just need to continue, after you get that message
(`jx boot has only been validated on GKE and EKS, we'd love feedback and contributions for other Kubernetes providers`).
What is the error message you are seeing? @arfiqbal

[2020-02-14 01:25] q131172019 commented on #5470
Since January 17, 2020, I have experienced same issue relating to buildpack of 'go' in stage 'build release' when running 'jx create quickstart' for go-http.

Stage: build release
  Step: Check out from version control (note: it was successful to run 'checkout scm')

  Step: Shell Scripts:
        process apparently never started in /home/jenkins/go/src/github.com/q13117god/golang-http-jxboot-2020

[2020-02-14 02:43] aure-olli commented on #6167
Hi @deanesmith

We have temporarily solved our problem with a custom `jx` by changing the selector to clean the environment, as suggested in my first post: [see the diff](https://github.com/jenkins-x/jx/compare/master...olli-ai:helm-upgrade#diff-ba354582e1e1e85a1abba8de38cb84c8L502)

The problem was much amplified by a `pre-install` hook that failed and restarted over and over, so the whole proces

[2020-02-14 07:06] yelhouti opened #6746 "jx boot fails with existing resource conflict Environment dev"
### Summary
jx boot fails with:
[code]

### Steps to reproduce the behavior

[code]

### Expected behavior
it should work

### Actual behavior
it fails at step install-jenkins-x because the jx namespace is created by default and it feels like the dev anv is added by default by the jx cli or by previous step.

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [X] Serverles

[2020-02-14 08:55] hferentschik commented on #527
@mathieusama, atm there is no way to control this. The environment repos are created using the credentials of the Jenkins X bot user. Repositories created by `jx create quickstart` or `jx import` are created with the credentials of the developer executing these commands.

This works fine when everyone is in the same organisation and has access to all repositories in this organisation. In the scena

[2020-02-14 12:13] apurvabhandari opened #6748 "jx boot failed in gke with github"
### Summary
jx boot failed at helm
### Steps to reproduce the behavior
for reproduce, I have used gke github and gmail-id also cloned https://github.com/jenkins-x/jenkins-x-boot-config.git
### Expected behavior
It should run without manual apply of files which was failed due to errors in yaml.
### Actual behavior
find the below error I haven't changed anything in files manually;
[code]

### Jx ver

[2020-02-14 13:04] mrageh commented on #6431
I created a new PR and the preview environment is created, the link pointing to the preview environment also appears as expected.

![Screenshot 2020-02-14 at 13.04.10.png](https://codetreeusercontent.s3.amazonaws.com/uploads/5587f8b9-7551-4916-b6ad-edbd2e96fb5c/Screenshot+2020-02-14+at+13.04.10.png)

[2020-02-14 13:44] VGerris commented on #6237
I have the same issue trying to install to an onprem kubernetes cluster. Seems vault is not setup and I actually don't care about not using one for the sake of testing. I am using the jx boot command that shows:

error: failed to interpret pipeline file jenkins-x.yml: failed to run '/bin/sh -c jx step create values --name parameters' command in directory 'env', output: ''

parameters.yaml has some

[2020-02-14 15:01] VGerris commented on #6237
I found the cause of the issue, it was the clustername having a space in jx-requirements.yml.
The process later on stops parsing at the space and thus looks in the wrong place for the values. Not sure if it's mentioned to not have spaces somewhere, but might be good to catch it either at the beginning (for example stop install when name has space) or fix the parser for the env/paramters.yml.

The

[2020-02-14 18:57] garethjevans opened #6749 "BDD tests fail if run in debug/verbose mode"
### Summary

When running the bdd tests, there are a few areas where we take the output of a `jx` command, parse and evaluate it. If the env variable JX_LOG_LEVEL is set to debug, then this fails.  We should handle this scenario and strip all DEBUG prefix lines from evaluation

### Steps to reproduce the behavior

Run the bdd tests with JX_LOG_LEVEL set to debug

[2020-02-14 18:59] garethjevans opened #6750 "Run jx with GIT_TRACE=true"
### Summary

If I run `jx` with GIT_TRACE=true, jx hides all of the output and then fails when we try to capture gits output.  It would be nice if we could enable this feature as its really handy when debugging why commands are failing

### Steps to reproduce the behavior

export GIT_TRACE=true
any jx command

[2020-02-14 19:35] mathieusama commented on #527
I was hoping to get some insights from you guys on how to approach this, but I can definitely start with hypotheses and you tell me whether that's realistic! ;)

For us, the most important cases to cover in the short term seem to be:

- `jx create env`
  - We could pass the team name as an optional command-line argument.
  - Question: Would the team name need to be persisted in the `env` CRD? Beca

[2020-02-14 19:38] vfarcic commented on #6732
It would be very helpful to provide a script (in whichever format) that would create a sample set of resources. More often than not, exploring the requirements through a script is easier than through text.

[2020-02-14 19:52] laurent-theglue commented on #6165
I have the same issue and the workaround that works for me is to add the verb `list` for resources `secrets` in the role `gcactivities`.
[code]

[2020-02-16 00:16] bbhuston commented on #6384
Yes, the issue appears to be fixed now!  I have done two fresh installs on
GKE and velero worked out of the box.  Thanks!

On Thu, Feb 13, 2020, 8:16 AM Andrew Bayer <notifications@github.com> wrote:

[2020-02-16 16:23] srehmanproov commented on #6431
With the default domain all works ok but if you choose custom domain nothing works including like to preview environment

[2020-02-16 16:47] heyMP commented on #6388
@omerlh I'm having the same issue.  Running `jx version` results in an error.  I'm getting the following error.

[code]

Do you have Helm version 3 installed?

[2020-02-16 17:07] omerlh commented on #6388
Not at the time I had this issue

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Michael Potter <notifications@github.com>
Sent: Sunday, February 16, 2020 6:47:55 PM
To: jenkins-x/jx <jx@noreply.github.com>
Cc: Omer Levi Hevroni <omerl@soluto.com>; Mention <mention@noreply.github.com>
Subject: Re: [jenkins-x/jx] jx boot failed on eks existing cluster (#6388)

@om

[2020-02-16 21:15] ankitm123 commented on #6394
I think there should be a check in jx if the config has been specified in `jx-requirements.yml`. I will add a check with some test cases.

[2020-02-17 08:03] hferentschik commented on #6750
I looked into this once, but there was a reason why it was not trivial to achieve.
If you use the `--verbose` flag for `jx`, all git commands are logged which is already very helpful.

[2020-02-17 08:23] hferentschik commented on #6749
Generally, I think we should try to not depend output of the `jx` command in this form. This will always be fragile. There are probably some cases where we need it, but there are several where there are other ways to verify a specific state.

Another thing we should consider is the introduction of a `machine-readable` flag or similar. Several CLIs (eg `git`, `vagrant`, etc) have this concept. The

[2020-02-17 08:30] hferentschik commented on #6748
What are the values to provide to the requirements file? Looking at the output there seem to be validation errors for several things which don't allow a `@` character in their name. I see several `@gmail.com`. Did you do a cut&paste error or did you explicitly specify values containing the `@`?

[2020-02-17 08:34] hferentschik commented on #6746
Is this the first time you are running boot? Are you running against a newly created cluster? If so how did you create it?

The error seems to indicate that the _dev_ environment seems to already exist which would imply that there was a previous Jenkins X install, is that correct?

Can you paste more of the log / error message?

[2020-02-17 08:51] VGerris commented on #5570
I can't agree more.Even with the convenience of letsencrypt the user should be able to use self signed certs. I trust my own CA more than anybody else's ;). Can anyone at least document or point to directions? I'm using on prem Kubernetes and Gitlab, both are not public and have self signed certs.

[2020-02-17 08:59] rawlingsj commented on #6744
@vfarcic as a test could you try and edit the golang pod template config map (`kubectl edit cm jenkins-x-pod-template-go`), remove the `DOCKER_CONFIG` env var and trigger another pipeline to see if that is causing the problem?

I noticed a similar problem when using Googles workload identity

[2020-02-17 09:20] apurvabhandari commented on #6748
I am uploading files here. Check if is correct or not. This is auto-generated files.
[jx-requirements.txt](https://github.com/jenkins-x/jx/files/4212788/jx-requirements.txt)
[jenkins-x.txt](https://github.com/jenkins-x/jx/files/4212789/jenkins-x.txt)

[2020-02-17 10:37] daveconde commented on #6744
When `jx create quickstart` or `jx import` is run a repository is created in the ECR. See: https://github.com/jenkins-x/jx/blob/master/pkg/cmd/importcmd/import.go#L1186 Was there anything in the logs around this?

[2020-02-17 10:45] AndreasKnapp1812 commented on #6719
Same here with github:

[code]

I tried with several jx versions from `2.0.1173` up to `2.0.1194`.

[2020-02-17 11:34] AndreasKnapp1812 commented on #6719
Seems like there is a bug wheen cloning the repo with ssh: https://kubernetes.slack.com/archives/C9MBGQJRH/p1581718972084700

[2020-02-17 12:30] dgozalo commented on #6744
It appears that it's using the k8s worker node role instead of the `tekton-bot` `ServiceAccount` attached role.

How did you create the cluster? Did you boot with the `--terraform` flag?

If so, you'll need to add enough permissions to the `eksctl-jx-eks-nodegroup-ng-c9e68b-NodeInstanceRole-13I64VIH6C65T` role.

[2020-02-17 13:37] deanesmith commented on #5983
Backing off priority in favor of other activity.

[2020-02-17 13:39] deanesmith commented on #5947
Backing off priority in favor of other boot-related efforts.

[2020-02-17 13:44] deanesmith commented on #5713
@tdcox can you confirm the recent fix?  Please close the issue if you're satisfied.

[2020-02-17 13:47] deanesmith commented on #5631
Closing per original issue report.

[2020-02-17 13:47] #5631 closed

[2020-02-17 13:50] #5619 closed

[2020-02-17 13:52] cagiti commented on #5623
@hferentschik: you mentioned that this behaviour might possibly conflict with the documentation, would you be able to share the link to the docs please?

[2020-02-17 13:56] deanesmith commented on #5514
@dgozalo Have you seen this lately?

[2020-02-17 14:01] martijnburger commented on #5631
Sorry, I am not familiar with this terminology. What do you mean?

[2020-02-17 14:03] abayer commented on #5713
Yeah, I'm 99.999% sure I fixed this when I fixed #6350.

[2020-02-17 14:03] #5713 closed

[2020-02-17 14:05] deanesmith commented on #6733
@corinnekrych FYI, this is something we have been discussing to do soon.

[2020-02-17 14:23] deanesmith commented on #5631
Hi @martijnburger,  the original issue that was reported should now be addressed.  If there is a separate issue when re-running boot, it should be captured and described in a new issue.  FWIW, I am not able to duplicate that at this moment.

[2020-02-17 14:48] MarckK commented on #5632
Hi @ipv1337, `jx` needs to be installed on an existing Kubernetes cluster. [The Getting Started docs have been clarified with this information](https://jenkins-x.io/docs/getting-started/).

Beyond that, there is a git conflict between the git version necessary for `jx` and the git version  provided in the Cloud Shell environment. We have raised an issue with Cloud Shell requesting that they update

[2020-02-17 14:48] #5632 closed

[2020-02-17 14:56] sawujul opened #6752 "jx boot stuck on Creating boot config with defaults"
### Summary
While going through the getting-started documentation/tutorial, including allowing jx to create a new cluster on gke, on jx boot it gets stuck on "Creating boot config with defaults, as not in an existing boot directory with a git repository." and never progresses even after 20+ minutes.

### Steps to reproduce the behavior
Install jx (using chocolatey in my case) on win 10 Pro
run jx

[2020-02-17 15:12] MarckK commented on #5488
The git version conflict is an ongoing known issue.

We have raised an issue with Cloud Shell requesting that they update the git version provided, but until that happens the Cloud Shell tutorials won't work.

Until this is resolved, mention of the Cloud Shell tutorials should not appear in the docs.

Instead of the Cloud Shell tutorials, we suggest that users follow [the Getting Started instructi

[2020-02-17 15:12] #5488 closed

[2020-02-17 16:19] yelhouti commented on #6746
The k8s cluster is on bare metal server installed using kubespray as written in the issue.

Before running jx boot I delete the namespace jx, this should therefore not happen.
When debugging I found that when I run jx boot, at the very beginning before starting the `install-jenkins-x` step the namespace is recreated and the env is added. maybe with helm2 it is overridden without a problem, but wit

[2020-02-17 16:33] dgozalo commented on #5514
We are not generating this PR anymore as we are directly pushing any changes to Master.

We can close this issue.

[2020-02-17 16:33] #5514 closed

[2020-02-17 17:02] MarckK commented on #5488
fwiw, [this issue](https://issuetracker.google.com/issues/148284057) was raised.

[2020-02-17 19:14] abayer commented on #6567
Forked to https://github.com/jenkins-x-apps/jx-app-fossa, updated to (I think) work, PR to get it built by the prod cluster is up at https://github.com/jenkins-x/environment-tekton-weasel-dev/pull/374

[2020-02-17 20:20] abayer opened #6753 "Add all jenkins-x-platform controllers/cronjobs' images to boot values.yaml.template override in jx BDD test"
Stemming from #6736, one quick win is to add the controllers (other than the build controller, which is already there) and cronjobs to `boot-vault.platform.yaml.template` with `$VERSION` for the tag. This will guarantee that all of those controllers and cronjobs will run using the images built by the PR test context, regardless of what else we do in re: cross-repo PR testing.

[2020-02-17 21:04] tdcox commented on #6567
Looks ok, other than you might want to synchronise the builder image version in the Dockerfile with whatever is current.

[2020-02-17 21:47] abayer commented on #6567
Opened https://github.com/jenkins-x-apps/jx-app-fossa/pull/1 to simplify the `jenkins-x.yml` and switch the Dockerfile to just use `latest` (which is whatever the most recent release build is).

[2020-02-18 00:08] yelhouti opened #6756 "jx boot fails with --dir flag"
### Summary
jx boot fails with --dir flag
### Steps to reproduce the behavior
- `jx boot` to clone the repo
- switch directory
- `run jx boot --dir <used directory>`
### Expected behavior
it should work
### Actual behavior
No Jenkins X pipeline file <folder>/jenkinsx/jenkins-x-boot-config/jenkins-x.yml or no jx boot requirements file jx-requirements.yml found. You are not running this command from

[2020-02-18 07:39] hferentschik opened #6758 "Wrong implementation of util.FileExists"
The current implementation of util.FileExists is not behaving as expected/documented. The current implementation looks like:

[code]

The check should verify whether the specified path is a file (`fileInfo.IsDir()`), but it does not.
Also, the last return seems suspicious. I don't think that a return value of _true_ should be ever accompanied by an error.

Changing and testing the implementation s

[2020-02-18 07:47] #6756 closed

[2020-02-18 07:53] hferentschik opened #6759 "Retrieve logs even when PipelineActivity is garbage collected"
At the moment we rely on the log URL from the PipelineActivity to retrieve the logs. Since PipelineActivities get garbage collected you often end up trying to access logs (eg when looking at . pull request after a couple of days) which cannot be retrieved this way. In the UI you get the message "no build logs available".

The build logs are, however, available, it is just that the PipelineActivity

[2020-02-18 09:34] l0stmylife commented on #6752
Did you solve this issue? I'm having the exact same issue right now.

[2020-02-18 09:37] sawujul commented on #6752
No I didn't, and I didn't know I had closed this. Still an issue, but I'm not actively attempting to resolve it anymore on my part as a colleague was able to continue on his Linux machine.

[2020-02-18 09:53] l0stmylife commented on #6752
Issue seems to be the jx boot not cloning the https://github.com/jenkins-x/jenkins-x-boot-config repository. You can solve this by manually cloning the repository and completing the jx-requirements.yml file. Posting this for people having the same issue.

[2020-02-18 12:07] hferentschik opened #6760 "Upper limit for Helm binary to restrictive in jenkins-x-versions"
Currently, we have the following config for Helm:

[code]

There is no active development on Helm 2 anymore, but there will most likely be patch releases. The config above locked the Helm version to 2.16.1 which was until recently the latest release. Now that 2.16.2 is out we get a failure when installing the latest since the upper limit is exclusive in this configuration. Given semantic versionin

[2020-02-18 12:19] abayer commented on #6759
The UI is still dependent on `PipelineActivity` for step listings, etc, so I'm not sure if it would really benefit from this.

[2020-02-18 12:25] abayer commented on #6736
I've done a proof-of-concept of the cross-repo part with https://github.com/jenkins-x/jx/pull/6755 (which failed, but is meant to have failed - the PR it pulled from `jenkins-x-boot-config` tweaked its `jenkins-x.yml` to fail immediately to demonstrate that it was picked up), using a YAML file in https://github.com/abayer/jx-cross-repo-test-configuration to drive it. This was the simple part, of c

[2020-02-18 12:41] mrageh opened #6761 "Changing the domain from nip.io to a custom domain fails"
### Summary

Cannot change the domain from nip.io to a custom domain when running the dev master pipeline.

### Steps to reproduce the behavior
+ Boot a cluster with the nip.io domain
+ Modify jx-requirements with a custom domain

### Expected behavior
The dev environment master pipeline runs without an error and changes the ingress to a new domain.

### Actual behavior
The following error is prod

[2020-02-18 13:16] daveconde opened #6762 "Better Encapsulate cloud resource usage when running in cluster"
# Summary

Cloud resource usage is currently distributed throughout the jx codebase. This creates several issues:

- Permissions to access cloud provider resources are needed in many pods
- Adding new cloud providers is complex due to the amount of touch points (A search for cloud.GKE though the jx source code reveals that this value is used in 29 files.) inside the jx codebase

# Acceptance Crite

[2020-02-18 13:20] daveconde opened #6763 "Cloud provider on boarding improvements"
# Summary
The current cloud providers integrations are scattered across many files throughout the jx source code and boot configuration. This makes it quite difficult to integrate Jenkins X with new cloud providers and also to maintain the existing integrations.

Furthermore, various cloud resources are dynamically created by Jenkins X using the cloud providers CLI functionality.  Many users would

[2020-02-18 13:54] deanesmith commented on #6167
@aure-olli, we are handling other priority matters right now, do you want to create a PR for your proposal?  Seems reasonable.

[2020-02-18 14:18] daveconde commented on #6761
We need to document applying this change from outside the cluster, longer term it will be fixed by #6734

[2020-02-18 15:06] abayer commented on #6736
So here's my proposal for the near-term:

* Trying to deal with `jenkins-x-platform` is a pain, so I'm just going to target combining `jx`, `jenkins-x-boot-config`, and `jenkins-x-versions` for the moment. I believe the overwhelming majority of cases will be covered by those three, particularly by `jx`+`jenkins-x-boot-config`, so this will provide real value without requiring any changes to how th

[2020-02-18 16:06] deanesmith commented on #6732
Thanks @vfarcic, script samples are included.

[2020-02-18 16:22] #6760 closed

[2020-02-18 17:54] daveconde opened #6764 "jx prompts to upgrade cli to a lower version when LatestVersionStringsBucket is set"
### Summary

If config.LatestVersionStringsBucket is set during build time and a version of jx is used that does not exist in the LatestVersionStringsBucket the user is prompted to downgrade the binary version used.

### Steps to reproduce the behavior

- Build jx with  config.LatestVersionStringsBucket set
- Upload binaries to the config.LatestVersionStringsBucket location
- Run `jx boot` with a

[2020-02-18 20:16] hferentschik commented on #6759
ahh, I was not aware of this part. That might put a break into this idea. It might be a point for the re-design of the logging service thought. In a perfect world where the logs contain all the metadata, it should really the logging service which provides you with the steps.

[2020-02-18 21:00] #6753 closed

[2020-02-18 22:18] amy-bachir commented on #808
Are there any updates on this issue? I do not want to workaround this via removing the initContainer because that will prevent my plugins from ever being updated when updating the JenkinsX platform and I will have to manage my plugins updates manually.

Is there any way to update the Jenkinsx platform and the plugins versions but reserve the settings and config of the plugins? For example I want t

[2020-02-19 06:06] ejKang opened #6766 "jenkins x installation pipelinerunner error log help"
### Summary
jx boot fail
pipelinerunner pod status is CrashLoopBackOff
and pipelinrunner log is

[code]

and when I check pipelinerunner pod describe , looks like it
event message is "Readiness probe failed: Get http://10.244.1.179:8080/ready: dial tcp 10.244.1.179:8080: connect: connection refused".
is it related with this problem?

[code]
### Steps to reproduce the behavior
jx boot (on premise)

[2020-02-19 07:56] yelhouti opened #6767 "jx import could not determine organisation and repository name"
### Summary
jx import fails when using git@ urls
### Steps to reproduce the behavior
git clone a project with ssh
jx import in the project
### Expected behavior
it shoud work
### Actual behavior
if fails to create prow config
### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [X] Serverless Jenkins X Pipelines (Tekton + Prow)
- [ ] Classic Jenkins

### Kubernetes cluster

[2020-02-19 09:44] #6767 closed

[2020-02-19 14:07] ethangj opened #6770 "TEST"
Testing, ignore.

[2020-02-19 14:08] ethangj commented on #6770
Invalid

[2020-02-19 14:08] #6770 closed

[2020-02-19 14:28] alex-sainer commented on #5521
@dgozalo any updates for the dokumentation-stuff? trying to get JX working on eks with route53 but i've no idea how to get it working... -.-

[2020-02-19 17:41] #6688 closed

[2020-02-20 10:27] gregbkr commented on #2521
@ccojocar

Hello, same issue here:
[code]

How do I set jenkins-x to use a guthub USER instead of an organisation?

[code]

Thank you for any help!

[2020-02-20 13:09] #5185 closed

[2020-02-20 13:09] abayer commented on #6766
Looks like your pod can't resolve `github.com` - are your `tide`, `deck`, etc pods working?

[2020-02-20 13:18] daveconde commented on #3369
@mrageh If you had a bit of time to validate this it would be awesome

[2020-02-20 13:23] ethangj opened #6772 "TEST IGNORE"
TEST IGNORE

[2020-02-20 13:23] ethangj commented on #6772
TEST IGNORE

[2020-02-20 13:23] #6772 closed

[2020-02-20 13:56] vbehar opened #6773 "Automatic import of (new) repositories from an organization"
### Summary

This is a request for a new feature: automatic import of (new) repositories for an organization.

It would be great to be able to define a `SourceRepositories` CRD that defines multiple repositories instead of a single one, based on a few rules:
- an organization
- a naming pattern
- labels (at least on github, repositories can have labels)

This would allow new repositories to be aut

[2020-02-20 16:10] #6517 closed

[2020-02-20 20:13] q13117god commented on #6388
Did you try to run 'jx step verify preinstall' before running 'jx boot'?

[2020-02-20 21:19] hferentschik commented on #5538
I have seen this happening when the "fork" of the environment repository already existed, but the information that it is an actual fork was lost. I am not quite sure how one can get into this situation atm, but apparently it is possible. A workaround for me in this situation was deleting the fork and rerunning the pipeline/promotion. When the "fork" repository does not exist a new one is created w

[2020-02-20 23:45] ravenchilde opened #6774 "Add method to pass in sslVerify paramter with value to PipelineResource CRD, or add CA cert to metapipeline git container"
### Summary
Git servers with self-signed or self-CA signed certificates do not work in Jenkins-X (internal respository server in corp, as an example). Tekton supports turning off sslVerify, but Jenkins-X does not document a method to use this feature of TektonPipelines.

Would be good to have a way to pass key "sslVerify" with value "false" to PipelineResource CRD Objects (type: git).

### Steps t

[2020-02-20 23:49] ravenchilde commented on #6774
Related to https://github.com/tektoncd/pipeline/issues/1328 it seems. @jstrachan

[2020-02-21 07:22] yelhouti opened #6775 "fix repositoryResouce httpCloneURL when using git with ssh"
### Summary
repositoryResouce httpCloneURL was wrong
### Steps to reproduce the behavior
[code]
### Expected behavior
httpCloentURL should contain an httpURL
### Actual behavior
httpCloneURL conains a gitURL
### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [X] Serverless Jenkins X Pipelines (Tekton + Prow)
- [ ] Classic Jenkins

[2020-02-21 09:33] Mr-Reca commented on #6232
Still happening the same with `2.0.1200`

What I'm seeing is that is failing during the installation of the platform. I'll open an issue to them.

This is my actual configuration:
[code]

/etc/os-release
[code]

[2020-02-21 11:34] alexvolsh commented on #6560
@cagiti @abayer : Hi, I still have this issue and as a workaround, I manually disable `tekton-pipelines-controller` in different namespaces. Maybe you can provide a more simple solution? Or I dodn't understand something in Jenkins X work.

[2020-02-21 13:53] #6775 closed

[2020-02-21 16:05] #6567 closed

[2020-02-21 17:08] #6710 closed

[2020-02-21 19:24] bavedarnow commented on #6232
I was having issues with this and I believe got it working with k8s version 1.15. If you can go down a version, try that and let me know if it works

[2020-02-21 19:51] hferentschik opened #6777 "Allow to debug/trace GitHub API calls"
We already have a _Tracer_ struct which is used to trace Kube API calls via _TRACE_KUBE_API_. Let's do the same for GitHub API calls. Comes in handy in scenarios where there are issues/errors with GitHub.

[2020-02-21 21:04] dmpratt opened #6779 "Issue with sample terraform script"
### Summary
The sample terraform script for aws does not work because s3 names cannot have periods
### Steps to reproduce the behavior

### Expected behavior

### Actual behavior

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [ ] Serverless Jenkins X Pipelines (Tekton + Prow)
- [ ] Classic Jenkins

### Kubernetes cluster

### Operating system / Environment

[2020-02-21 21:21] dmpratt commented on #6779
NM, I had a blond moment.

[2020-02-21 21:21] #6779 closed

[2020-02-21 21:38] helayoty opened #6780 "Create vanilla AKS terraform Template"
### Summary

The ask is to create a terraform script to create a vanilla AKS cluster.

### Steps to reproduce the behavior

NA

### Expected behavior

AKS cluster is running first and has all permissions needed so JX can run

### Actual behavior

_jx boot_ cli creates the AKS cluster and we need to decouple the k8s cluster creation and jx

### Jx version Latest

The output of `jx version` is:

NA

[2020-02-22 13:46] toonsevrin commented on #5675
Wanted to try out jenkins-x and also stumbled upon this.

[2020-02-22 18:07] jaybatra26 commented on #6727
Hi! I am aspiring for GSOC and would like to contribute. Can I pick this up?
Are there any necessary links I could make use of ?

[2020-02-23 05:53] omerlh commented on #6388
Pretty sure that in my case all commands fail with the same error...

[2020-02-23 13:54] vfarcic commented on #6744
@dgozalo I created a cluster using the command that follows.

[code]

Please note the argument `--managed`. It's relatively new (e.g. 6 months) and you might not be using it in your tests. It is the preferable way to create a cluster using `eksctl`.

[2020-02-23 13:55] vfarcic commented on #6744
@dgozalo There is no `--terraform` argument in `jx boot`

[code]

I guess you're referring to the argument in `jx-requirements.yaml`. If that's the case, the answer is no. I'm not using it (didn't know that it existed).

[2020-02-23 14:12] vfarcic commented on #6744
@dgozalo That role is indeed missing the permissions. That much is obvious. However, it's unclear which permissions should be added. I haven't seen in the docs (unless it was added recently) information about the additional steps that should be executed between `eksctl create cluster` and `jx boot`. My understanding was that `jx boot` creates and attaches the policies it needs. If that's not the c

[2020-02-23 14:20] vfarcic opened #6781 "Delete resources"
### Summary

`jx boot` creates quite a few resources. Depending on the provider, they might be scattered all over. How can we delete those resources after deleting the cluster? If there is a command that creates something (e.g., `jx boot`), there must be a command that deletes those same resources.

[2020-02-23 15:19] bbhuston commented on #6737
I'm experiencing the exact same issue.  I'm probably created/destroyed about 20 jx GKE clusters (via the jx cli) over the past few weeks and have never seen a `jenkins` secret in the `jx` namespace.

Environment setup below.

[code]

@abayer   Would you happen to know whether there is any way to properly create a jenkins secret from scratch if its missing?  If you have an example yaml manifest for

[2020-02-23 15:33] alex-sainer opened #6782 "jx get apps -> could not find tiller"
### Summary
after switching the env with `jx env` to staging, a call to `jx get apps` failed with the following error:
[code]

### Steps to reproduce the behavior
executed the following steps on a frehsly installed jx-cluster:
[code]

after manually switching back to the namespace jx `kubens jx`, in can re-select all given environments:

### Expected behavior
listing of apps should be possible, al

[2020-02-23 17:08] vfarcic commented on #6744
My bad... I expected `jx boot` to add the policies it needs (it's been doing that does other cases) or to fail the validation stage. If that's not the intention, the following can be put to the docs for those using `eksctl`.

[code]

[2020-02-23 17:08] #6744 closed

[2020-02-23 17:30] vfarcic opened #6783 "Consistent naming of AWS CF resources"
### Summary

`jx boot` creates CF resources named `jenkins-x-*`, `eksctl-*`, `JenkinsX*`, and potentially others. Without a unified versioning (without it being random), it's very hard for a user to distinguish the resources created by `jx boot` from the rest.

As a side question... Why does it create `eksctl` anything? Does it use `eksctl` even though it's not creating a cluster? Can we remove th

[2020-02-23 17:38] #6783 closed

[2020-02-23 18:19] vfarcic opened #6784 "Weird dev repo setting"
### Summary

When executing `git pull` from inside a `dev` repo, the following output appears.

[code]

Is that something that was added by accident to the "original" `dev` repo or ...?

[2020-02-23 19:21] helayoty commented on #6780
/Jenkins X Azure Support

[2020-02-23 20:12] #6777 closed

[2020-02-23 21:10] supra08 commented on #6604
Hi @deanesmith, I would to work on this issue.

[2020-02-24 05:51] ejKang commented on #6766
thank you for answering my question!
deck pod's only working
when i check the uri of deck pod, I can see the ui of deck page
![bbbbbbb](https://user-images.githubusercontent.com/24582185/75131165-0c450100-5715-11ea-902f-00f79ac2c213.png)

[2020-02-24 08:16] Mr-Reca commented on #6232
I'll try it, but I will need some time.

Is there a way to use my own docker registry (from a pod/svc) and also chartmuseum? I have my own pods running and it would be great to use them. Otherwise I need to migrate the data.

[2020-02-24 08:28] fhchina opened #6786 "Does't Jx support Kubernetes v1.17.2?"
### Summary

unable to recognize "/tmp/helm-template-workdir-852893260/jenkins-x/output/namespaces/jx/env/charts/jenkins-x-platform/charts/chartmuseum/templates/part0-deployment.yaml": no matches for kind "Deployment" in version "extensions/v1beta1

### Steps to reproduce the behavior
jx boot

### Expected behavior

As far as I know, Kubernetes 1.16 has removed "extensions/v1beta1", so please use

[2020-02-24 09:33] rawlingsj opened #6787 "multicluster branch changes in jx"
### Summary
There has been some work on a branch https://github.com/jenkins-x/jx/tree/multicluster to enable multicluster features in Jenkins X.  This work was added by labs and is currently being relied upon as a longterm feature branch as a basis for other work.

This issue is to track getting the longterm branch merged.

Related pull request https://github.com/jenkins-x/jx/pull/6664

[2020-02-24 12:13] srehmanproov commented on #6735
@garethjevans @cagiti any progress on this? Its blocking us moving to Jenkins X as CI/CD solution.

[2020-02-24 12:25] #6650 closed

[2020-02-24 13:37] daveconde commented on #6774
@ccojocar it would be good to get your thoughts on this from a security point of view

[2020-02-24 13:38] deanesmith commented on #6604
@supra08, that is great.  If you could, please supply a link to this issue in the PR comment.  Thank you.

[2020-02-24 13:48] hferentschik commented on #5978
Need to make sure that as part of this we update to the docs with the supported Kubernetes version range.

[2020-02-24 14:05] #6732 closed

[2020-02-24 14:07] ccojocar commented on #6774
I am not sure if disabling the certificate verification is the best option, because this is more or less similar with tuning TLS off.

I would rather prefer to have an option to install a custom certificate in Jenkins X but still keep the TLS verification on (e.g. add the certificate to the trusted chain).  This will prevent Man in the Middle attacks.

[2020-02-24 14:08] hferentschik commented on #6781
Correct. Most likely there won't be a fix for this, however, in the current form of `jx boot`. We are working on separating the cloud resource creation from the Jenkins X install. Managing cloud resources will fall outside the direct Jenkins X responsibilities. See also https://github.com/jenkins-x/enhancements/pull/13

The idea is to provide a set of Terraform scripts for the case where one does

[2020-02-24 14:26] hferentschik commented on #6784
Are you connected to the dev cluster when you run this. The dev repo is using `jx` as a git credential helper to get to the password to `git push|pull`.

What's the output of `git config --local -l` within the dev repo?

[2020-02-24 15:02] deanesmith commented on #6608
Thank you @rowlandwatkins.  I'm not entirely sure this is easily repairable.  It would be helpful to capture this information as a caveat (NOTE) in [this document](https://jenkins-x.io/docs/getting-started/setup/boot/clouds/amazon/), though I am not sure the appropriate section.  WDYT?

[2020-02-24 16:04] deanesmith commented on #6441
@slayerjain This recent document may help you better configure your cloud resources and permissions - https://jenkins-x.io/docs/getting-started/setup/boot/clouds/amazon/

[2020-02-24 17:49] abayer opened #6791 "Lighthouse commit status reporting via build controller doesn't do anything"
We need to be specifying `TargetURL` to the GitHub API, not `URL`. That's an easy fix, but we also don't have a way to automatically determine whether the UI is installed and what its URL is, which I'll tackle in a separate issue.

[2020-02-24 17:54] abayer opened #6792 "Lighthouse commit status reporting shouldn't require specifying a full URL template"
We currently allow you to specify a target URL template (helm-style) either via the command line or an environment variable, but in 99% of cases, this is kinda superfluous - we know the template will basically be `{{ .BaseURL }}/teams/{{ .Namespace }}/projects/{{ .Owner }}/{{ .Repository }}/{{ .Branch }}/{{ .Build }}` - i.e., the JX UI URL. So let's add the ability to just specify the one bit of t

[2020-02-24 17:58] abayer opened #6793 "Lighthouse status reporting should find JX UI URL automatically"
Relates to #6791, but this is for the "real" solution. We need to be able to automatically determine whether the UI is installed, and if so, what its ingress's URL is. In practice, we can probably do something like looking through ingresses for one with either `jxui` or `sso-jenkins-x-ui` as the underlying service, and get the host and whether it's TLS from there, but I'm not 100% sure if that's r

[2020-02-24 18:01] abayer opened #6794 "Lighthouse status reporting should have a better description"
At the minimum, it should say what stage(s) are currently running rather than just "pending". Not sure yet if something more detailed makes sense for success and failure, but let's start here.

[2020-02-24 19:01] abayer opened #6796 "/retest reruns everything with Lighthouse"
Something's off in the filtering for status when it comes to `/retest` - everything gets rerun. Needs more digging to figure out exactly what's wrong, but I'm guessing it's something awry with how we're parsing status check values.

[2020-02-24 20:09] sharepointoscar commented on #5707
Why can't everyone understand that there is a **free** tier in every cloud these days?  Some software just won't work on your local machine, this is not a flaw.

[2020-02-24 21:59] deanesmith commented on #4502
Refer to https://jenkins-x.io/docs/getting-started/setup/boot/clouds/amazon/

[2020-02-24 22:06] deanesmith commented on #6687
FYI @brec, the document is now properly upstream here and as always contributions are welcome - https://jenkins-x.io/docs/getting-started/setup/boot/clouds/amazon/

[2020-02-25 01:36] #6758 closed

[2020-02-25 08:42] hferentschik opened #6798 "Unable to execute 'jx boot' from outside a boot repo"
### Summary

This is an side-effect of the changes merged for https://github.com/jenkins-x/jx/issues/6653

### Steps to reproduce the behavior

From an empty directory execute `jx boot`:

[code]

[2020-02-25 09:33] #6791 closed

[2020-02-25 09:33] #6792 closed

[2020-02-25 09:33] #6794 closed

[2020-02-25 09:34] ccojocar opened #6799 "The README of jx project is quite outdated for the current version focusing on boot"
### Summary

The README of jx project is quite outdate referencing commands and instructions from the early days of the project when the main focus was on classic Jenkins.

Probably, it is time to revamp it with more actual instructions. This is usually the place where most of the people land for the first time.

[2020-02-25 11:25] masseybradley opened #6800 "promotion builds fail using helm3"
### Summary

Updating the `helmbin` to `helm3` results in the environment promotion builds to fail.

### Steps to reproduce the behavior

Set helm3 binary: `jx edit helmbin helm3`
Start the pipeline: `jx start pipeline org/environment/master`

### Expected behavior

Promotion build is done using `helm3` binary.

### Actual behavior

Build fails in the `verify-preinstall` step:
[code]

Setting `JX_

[2020-02-25 11:54] #6796 closed

[2020-02-25 13:30] ccojocar opened #6804 "Release tagging cannot be disabled using noReleasePrepare config flag"
### Summary

According to the documentation, there is an option to disable the release tagging in the meta-pipeline before running a release pipeline. See for details: https://jenkins-x.io/docs/reference/config/config/#config.jenkins.io/v1.PipelineConfig.

On a quick look, the meta-pipeline doesn't seem to honour this flag see:
https://github.com/jenkins-x/jx/blob/cbce4a77e72d5e57eb5b309cf0eb49c9d

[2020-02-25 13:33] abayer opened #6805 "Add cross-repo PR testing context to jx"
From #6736:

* Trying to deal with `jenkins-x-platform` is a pain, so I'm just going to target combining `jx`, `jenkins-x-boot-config`, and `jenkins-x-versions` for the moment. I believe the overwhelming majority of cases will be covered by those three, particularly by `jx`+`jenkins-x-boot-config`, so this will provide real value without requiring any changes to how things actually function normal

[2020-02-25 13:37] abayer opened #6806 "Tracking issue for functionality not covered by BDD tests that should be"
Stemming from #6736, this is an issue for tracking functionality that is not currently covered by BDD tests but should be, which will then have issues created for actually implementing the needed testing.

[2020-02-25 13:38] #6736 closed

[2020-02-25 13:42] deanesmith opened #6807 "Improve JX boot GKE documentation"
### Summary
The documentation for running `jx boot` on a GKE cluster is lacking details and examples for advanced configurations - https://jenkins-x.io/docs/getting-started/setup/boot/clouds/google/.

The purpose of this issue to enhance the document by lifting CJXD content and applying upstream in sections with a TOC at the top, similar to - https://jenkins-x.io/docs/getting-started/setup/boot/cl

[2020-02-25 15:48] vbehar opened #6808 "Conditional pipelines with dependencies"
### Summary

This is a request for a new feature: have dependencies between pipelines.

### Use case

- 1 pipeline to deploy the preview environment
- 1 pipeline to run the integration tests (on the preview env)

Why 2 different pipelines?
- the preview-env can use a build-pack that's common for multiple apps
- the integration tests one can be a custom pipeline on each repository
- it's easy to re

[2020-02-25 16:07] anmiralles commented on #6262
+1

same issue here. Any updates on this to solve the problem?

Thanks ;)

[2020-02-25 16:11] yelhouti commented on #6746
@hferentschik can i help you with anything else?

[2020-02-25 16:43] salaboy opened #6809 "Environment Health Checks (Staging and Prod)"
### Summary

When deploying a new service to Staging or Production, it will be great to have some kind of service that does a health check after the service is deployed.
This will help to understand if the helm chart was installed and the service is actually running.
This can be triggered by the environment pipeline.

@abayer please expand if you think that this can be refined further.

### Steps

[2020-02-25 17:22] abayer opened #6811 "jx repo BDD tests don't use PR image in staging/production env pipelines"
The staging and production env pipelines use the `charts` build pack, which [use gcr.io for the image to run on](https://github.com/jenkins-x-buildpacks/jenkins-x-kubernetes/blob/11589715ac7002f8af9b60718456757f1b687e4f/packs/charts/pipeline.yaml#L3). This means that the magic for substituting the newly built images in the pod templates for `go`, `maven`, etc doesn't work, and the staging/prod env

[2020-02-25 17:31] abayer opened #6812 "non-boot clusters nil pointer on `jx step helm apply`"
Note that this isn't in the version stream - it's caused by #6771, and is in fact causing the version stream update to fail.

The staging (and production) env pipelines in a `jx install` cluster with Tekton (not with static masters - we caught that problem before #6771 was merged, but due to #6811 we didn't catch the Tekton case) will fail with an error like:

[code]

This is because we end up get

[2020-02-25 18:25] abayer commented on #6812
https://github.com/abayer/jx/commit/9fb29e1117ad181b9f3243970e3bf4d1b32cd787 maaaaay fix it. I did reproduce the failure in #6813, but I'm waiting for it to fully fail before I try the fix on that PR.

[2020-02-25 18:44] abayer commented on #6811
A dirty way to handle this is https://github.com/jenkins-x/jx/pull/6813/commits/b974175462d60f03d506603b746a28f6b6391620 - this works, resulting in the PR failing when I would have expected it to, but yeah, it's dirrrrrty and not what I'd want to do long term.

[2020-02-25 19:20] vfarcic opened #6814 "Upgrade jobs are failing"
### Summary

The `jx-boot-upgrade` is failing to create scheduled Pods.

### Steps to reproduce the behavior

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

The output is empty

[2020-02-25 19:36] abayer commented on #6812
https://github.com/jenkins-x/jx/pull/6813/commits/0e77134aa7075055a2887330335015d3377cc0a5 fixes at least the `tekton` context - waiting for both the `tekton` and `bdd` context to pass to be sure.

[2020-02-25 20:07] #6798 closed

[2020-02-25 22:01] cdbkr opened #6816 "Tekton controller is not respecting namespace's scope"
### Summary
At the moment Tekton Controller deployed in the Jenkins-x namespace is not scoped to the related namespace but it is watching over other Tekton resources in other namespaces too.

### Steps to reproduce the behavior
Install Jenkins-x in 2 different namespaces

### Expected behavior
Tekton controller is watching and reacting to Tekton CRDs in the same namespace only

### Actual behavior

[2020-02-25 22:57] #6812 closed

[2020-02-26 05:43] apurvabhandari commented on #6748
Any update or new commits that I can try?

[2020-02-26 09:10] yelhouti opened #6818 "jx boot fails when using helm3 due to jx trying to run helm init"
### Summary
jx boot fails when using helm3 due to jx trying to run helm init. To fix this we just need to check the helm version and if it's < v3 not run helm init.
this is the main reason helm3 is not working (there are other small quirks and than can be worked around without touching the code).

workaround: edit jenkins-x.yml and add `--disable-verify-helm` in step verify-preinstall
### Steps to

[2020-02-26 09:30] AntoineFr opened #6819 "Wrong token generation URL for Bitbucket Server"
### Summary

When I use the command `jx create quickstart` after the installation, it asks me my git username, then provides an URL to generate a git token.
The URL that is presented to generate this token works well for GitHub but not for BitBucket Server.

### Steps to reproduce the behavior

Install Jenkins X with BitBucket Server :

[code]

Then try to create a repository with `jx create quick

[2020-02-26 09:31] restalion commented on #6262
We are also stuck at this point 😞

[2020-02-26 09:33] ccojocar opened #6820 "jx start pipeline seems to ignore the context option"
### Summary

The `jx start pipeline` command seems to ignore the context option.

### Steps to reproduce the behavior

Run the command:
[code]
It will start the pipeline without any context, effectively the context is set to "", which is the default context.

### Expected behavior

The command should start the `jenkins-x-somecontext.yml` pipeline instead.

### Actual behavior

The command starts t

[2020-02-26 09:38] ccojocar opened #6821 "jx start pipeline command doesn't print the context of the pipelines in the list"
### Summary

The jx start pipeline command doesn't print the context of the pipelines in the list.

### Steps to reproduce the behavior

Execute the `jx start pipeline` command without any arguments and wait until the list of pipelines is displayed. Where there is a pipeline with other context than the default one, that pipeline is displayed without any context. See bellow:

jx start pipeline
? Wh

[2020-02-26 10:39] #5322 closed

[2020-02-26 11:26] yelhouti opened #6822 "proposal: agent builder"
### Summary
To speed up the ci we could have a step before build, that creates an image for the agent with all the required dependencies, it would have a base image (ex: gcr.io/cloud-builders/gradle) calculate a hash of (build.gardle + gradle.properties + and any other specified files that detect a dependency change), and install them (to prebuild de cache) a docker image is then created with all

[2020-02-26 12:11] #6804 closed

[2020-02-26 15:19] metonymic-smokey commented on #6334
@deanesmith is this issue still up for grabs?
New to Jenkins X and was looking for an easy issue to start with.

Thanks!

[2020-02-26 15:21] metonymic-smokey commented on #6334
@deanesmith is this issue still up for grabs?
New to Jenkins X and was looking for an easy issue.

Thanks!

[2020-02-26 15:47] mrageh commented on #6431
@marlovil is this still an issue with the latest version of JX? I've been unable to reproduce it, could you perhaps try to reproduce it and then share the reproduction steps with me.

[2020-02-26 15:50] mrageh commented on #5322
@marlovil we've fixed this issue and it should no longer be a problem for you on the latest version of JX

[2020-02-26 16:23] abayer commented on #6816
So this is https://github.com/tektoncd/pipeline/issues/2111 - gonna see if I can fix it (and backport it to our Tekton 0.8.0 fork) later this week.

[2020-02-26 16:44] hervelemeur opened #6824 "Add a CLI option for jx import to disable triggering the first build, and another to specify the initial branch"
### Summary
As discussed [here](https://kubernetes.slack.com/archives/C9MBGQJRH/p1580384474436500), it would be nice to have an option to disable the initial build triggered when executing `jx import`.

Currently the import isn't possible if the build fails, and it's easier to fix the build once the project is imported.

Another great option would be one to specify the branch we want to observe fo

[2020-02-26 17:17] hervelemeur commented on #6737
I think you can use this YAML to manually create the secret:
[code]

[2020-02-26 17:41] hervelemeur commented on #6808
How about adding a final step into the preview pipeline to start the integration pipeline?
In that case, the integration pipeline would be launched only if the previous steps in the preview pipeline are successful.

[2020-02-26 18:27] hervelemeur opened #6825 ""Unable to get the Jenkins X Version" error when executing "jx diagnose" command on Windows"
### Summary
When executing `jx diagnose` on Windows, I've got the following error:
[code]

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [X] Serverless Jenkins X Pipelines (Tekton + Prow)
- [ ] Classic Jenkins

### Kubernetes cluster

AKS, manually created
### Operating system / Environment

Windows 10 Enterprise 1709 build 16299

[2020-02-26 19:37] shaharl-ia commented on #6334
Hi Aditi,
I am not sure since i am not using it yet.

On Wed, Feb 26, 2020 at 5:21 PM Aditi Ahuja <notifications@github.com>
wrote:

[2020-02-26 21:41] brec opened #6827 "jx fails to import a project because of a 63 character limitation of metadata.labels."
### Summary
While importing a *Gitlab* project, `jx import` will fail to import the project with this error:

[code]

This looks like its related to this issue : https://github.com/jenkins-x/jx/issues/4370

Is there a way to truncate this label ? This prevents us from importing our projects.

### Steps to reproduce the behavior

Run `jx import` on a project that hits the 63 character limit. The pr

[2020-02-26 21:45] brec commented on #4370
hi @abayer @dcanadillas I am running into the same error while importing gitlab projects - details here. https://github.com/jenkins-x/jx/issues/6827

Was there a workaround discovered for this ?

[2020-02-26 21:48] deanesmith commented on #6334
@metonymic-smokey, yes, it would be great to have the `jx boot` validate this nuance as part of the verification process and raise an informative message accordingly.  We are catching this far too late at the moment.

[2020-02-26 22:10] abayer commented on #6806
* `/retest` - see #6796. More chatops to test, basically.
* Lighthouse context on jx repo to catch things like #6817

[2020-02-27 00:54] michaeljohnbennett commented on #6703
can you show me exactly where to do this? I set the values for bitbucketcloud in the requirements file but it still says I need 40 chars value...

[2020-02-27 07:03] michaeljohnbennett commented on #4884
so how do you solve the problem? I have the same thing happening to me using AKS and bitbucketcloud for git. When I try to install an app or even upgrade them I get the same error.

Is there some part of the documentation that outlines how to fix this that I have missed otherwise I don't think this issue is closed?

[2020-02-27 08:16] marlovil commented on #5322
Great! Thanks @mrageh. :)

[2020-02-27 08:19] marlovil commented on #6431
Hi @mrageh. To test it should I run a `jx upgrade platform`?

The last time I did it, our jx installation was broken: https://github.com/jenkins-x/jx/issues/6528

[2020-02-27 08:49] hferentschik commented on #6818
What are these? Maybe we could address them as well?

[2020-02-27 10:35] michaeljohnbennett commented on #5057
is anyone working on this?

[2020-02-27 10:48] michaeljohnbennett commented on #6395
I see something similar but I can get this to install with bitbucketcloud for a quickstart but when it runs it fails:

[code]

and then when I run the logs to see whats going on I see this:

[code]

I'm not using github so why is it thinking my logs should be there?

I can raise this a separate Issue if you think this is another problem.

[2020-02-27 12:04] mrageh commented on #6431
@marlovil Did you use `jx boot` to create your cluster or `install`?

If it's a cluster created with `jx boot`, then we recommend users run `jx boot upgrade`?

Another thing that may help us is if you could post the `yaml` of the service that has the problem, as well as the Github repository name. That would make it easier for us to workout how to reproduce this issue.

[2020-02-27 12:26] marlovil commented on #6431
We used (several months ago) `jx install` to install JX in an existing k8s cluster. We have this version:

[code]
@mrageh Do you think it's safe to perform a `jx upgarde platform`?  :)

The repo name is design.mycompany.com and the service is:
[code]

[2020-02-27 13:58] daveconde commented on #6431
@marlovil We currently don't do much in the way of automated testing regarding `jx upgrade platform` Our recommendation would be to migrate to a cluster that has been installed via the `jx boot` command and then manage upgrades via `jx upgrade boot` Depending on your use case it might make sense for you to consider the [CloudBees Jenkins X Distribution](https://www.cloudbees.com/products/cloudbees

[2020-02-27 14:57] AntoineFr opened #6828 "Error when parsing Git URL on Bitbucket Server"
### Summary

Some commands like `jx import` or `jx create devpod` need to clone a Git repo in order to work.
If you use Bitbucket Server, this repo URL isn't parsed correctly in this step.

In the Bitbucket web interface, the clone URL is something like `https://git.***.fr/scm/<PROJECT>/<REPO>.git`.
These commands are failing because they don't have the right clone URL (it is missing the `/scm` pa

[2020-02-27 15:07] metonymic-smokey commented on #6334
@deanesmith could creating a condition check in `naming.go` in `pkg/cloud/gke` fix this?
The service account name for a given cluster will be created only if the cluster name and the service account name  are greater than 6 characters.

Would love your inputs on the same.
Thanks!

[2020-02-27 15:22] shyamshinde008 commented on #5633
@vamsilella I am also facing same issue and i am also in company network. But i am not sure how can i get public IP for a machine in private network. I tried ngrok but that is not working. i found smee and smee-client topic but i am not sure how to configure smee-client on my windows machine. will you please help me in triggering jenkins using webhook.
Thanks in advance!!!

[2020-02-27 16:32] hervelemeur commented on #6394
@ankitm123
I also had the same issue, resolved by adding the `registry` value in the `cluster` section:
[code]

[2020-02-27 16:39] daveconde opened #6830 "Create a migration guide for moving from an install to a boot based cluster"
### Summary

We recommend users install Jenkins X using `jx boot`. We require clear documentation / guidance for users on how to move from a cluster that was setup using `jx install` to a cluster that uses `jx boot`

### Acceptance Criteria

- Documentation on https://jenkins-x.io that walks through the options on moving an install based cluster to a boot based cluster

[2020-02-27 17:18] ram4444 opened #6831 "jx create quickstart fail to push image when step-build-container-build"
### Summary
Fail to push docker registry to docker hub, after setting up according to
https://jenkins-x.io/docs/reference/components/docker-registry/#using-docker-hub
adding base64 string to kubectl edit secret jenkins-docker-cfg

docker hub repo with same name has already created
docker hub token has been generated

### Steps to reproduce the behavior
jx create quickstart
selecting spring-boot-gr

[2020-02-27 17:32] ram4444 commented on #6786
As a work around:
open /etc/kubernetes/manifests/kube-apiserver.yaml

add the following line to somewhere like it
- --runtime-config=apps/v1beta1=true,extensions/v1beta1/deployments=true

[2020-02-27 18:03] abayer opened #6832 "Lighthouse status reporting never changes its description of a running pipeline"
This is entirely on me - I made it report the running stages, but it currently only updates the commit status if the pipeline status has changed, so the descriptions just say they're running metapipeline forever. Oops.

[2020-02-27 18:58] yelhouti opened #6834 "jx tries to retrieve the logs from raw.githubusercontent no matter the provider"
### Summary
jx tries to retrieve the logs from raw.githubusercontent no matter the git provider

### Steps to reproduce the behaviour
clone a project from gitlab or bitbucket
[code]

### Expected behavior
logs should be retieved from https://gitlab.com/<org>/<project>/-/raw/gh-pages/jenkins-x/logs/

### Actual behavior
jx fails to retrieved logs since it 's checking in the wrong location

### Jx v

[2020-02-27 18:58] abayer commented on #6806
Here's a big one - we're not testing tide handling merging PRs.

[2020-02-27 21:21] garethjevans commented on #6806
* UI Links from status updates on the PR
* Preview comments on a PR

[2020-02-27 21:21] abayer commented on #6806
It probably would make sense to have BDD coverage for some of the more complicated scenarios we have in jx-related repos (like https://github.com/jenkins-x/lighthouse/issues/542), particularly for Lighthouse stuff.

[2020-02-27 23:50] michaeljohnbennett opened #6837 "AKZ AZBLOB Issues in jx-requirements.yml EnsureBucketIsCreated not implemented for LegacyBucketProvider"
@chrismellard BTW we're in the process of moving to [jx boot](https://jenkins-x.io/getting-started/boot/) as our strategic way to install/configure/upgrade/edit Jenkins X installation, storage, networking, ingress/TLS/DNS and whatnot so if you're interested in getting storage/vault working for AKS I'd maybe start there.

with boot you can specify the URLs of the storage locations for logs in your

[2020-02-27 23:52] michaeljohnbennett commented on #6837
We have disable devops in the requirements and the storage part looks like this:

[code]

[2020-02-28 05:24] vamsilella commented on #5633
@shyamshinde008 its the IT job to assign a static IP to the server where your Jenkins master is running and hostname should be set in that server (get a sub domain from IT) and they have to whitelist either bitbucket/github for ingress. thats it.

[2020-02-28 07:37] vbehar commented on #6808
yes, that would work too

[2020-02-28 07:54] vbehar opened #6838 "PipelineActivity reports wrong status for a tekton taskrun"
### Summary

In the JX UI I can see all my builds as successful, and then when I come back a few hours later, some of them are marked as "failed". On the last 12 builds, it happened to 5 of them.
I tracked it down to the matching PipelineActivity having a wrong status for a tekton taskrun.

### Steps to reproduce the behavior

run a few successful build, ensure they are marked as successful (eithe

[2020-02-28 08:47] hferentschik commented on #6834
@yelhouti, thanks for the bug report. Are the logs stored properly? Is it just the retrieval which fails? Is anything published to Gitlab gh-pages branch? Is there an error printed as well?

Also, how to you install Jenkins X? `jx install` or `jx boot`?

[2020-02-28 09:00] #6832 closed

[2020-02-28 09:46] yelhouti commented on #6834
@hferentschik yes the branch is created and contains all the logs, I installed using jx boot.

[2020-02-28 11:26] #6818 closed

[2020-02-28 11:56] vbehar commented on #6838
update with the debug logs from the controllerbuild:

pipelineactivity:
- name: dailymotion-leo-jx-env-master-32
- startedTimestamp: "2020-02-28T09:34:22Z"
- completedTimestamp: "2020-02-28T09:39:51Z"

controllerbuild logs:

[code]

and then a little later

[code]

I'm wondering if it's related to the activities GC, because one was run at "2020-02-28T11:00:06Z" but its logs are empty

[2020-02-28 12:33] abayer commented on #6834
Yup, it’s hardcoded - https://github.com/jenkins-x/jx/blob/c2b03cc144068f448953a4a6ce7fe8b934223fd7/pkg/collector/git_collector.go#L161. We should definitely fix this.

[2020-02-28 12:58] yelhouti commented on #6834
oups!

[2020-02-28 12:59] yelhouti commented on #6834
Unless it's an urgent matter for someone, I will try to fix it in few days

[2020-02-28 13:06] deanesmith commented on #6431
@marlovil I believe as part of CJXD we could create some upgrade guides.  It would be very challenging  to maintain the document relevant to every JX release, but since CJXD is a specific monthly JX release, it allows us to focus on specific upgrade scenarios.

[2020-02-28 13:11] deanesmith commented on #6838
@vbehar Thank you for the issue and the detail.  I have not seen this issue in any of our environments at this time so you may find we'll have additional questions.

[2020-02-28 13:34] abayer commented on #6838
Interesting. I'll try to take a look - probably not until next week, though.

[2020-02-28 14:38] mrageh commented on #6431
We have a work in process guide on how to migrate http://jx-docs.jx-jenkins-x-jx-docs-pr-2460.jenkins-x.live/docs/labs/boot/getting-started/repository/#upgrading-an-existing-cluster

https://github.com/jenkins-x/jx-docs/pull/2460

I think @jstrachan could elaborate more on this.

[2020-02-28 15:55] srehmanproov opened #6841 "Jenkins X promotion to staging with custom domains does not create ingress"
### Summary
Jenkins X promotion step finishes at merging PR to staging repo, no ingress created
### Steps to reproduce the behavior
Create GKE cluster
jx boot to install Jenkins but with custom domain
Create a PR on quick-start node repo,, all steps will work until PR is merged to master, jx build log shows:
[code]

### Expected behavior
App is deployed to staging

### Actual behavior
No activity

[2020-02-28 18:21] axsaucedo commented on #6291
@marlovil this worked like a charm - you saved us yet another tedious re-install! Thanks!

[2020-02-28 20:04] abayer commented on #6806
`/override` isn't tested, nor is batch build/reconciliation.

[2020-02-28 20:29] jstrachan commented on #6431
it’s Alpha and not been integrated into the stable version of Jenkins X yet but this upgrade process can be used to generate a new helm 3 based boot & GitOps cluster from a `jx install` or boot cluster with helm 2 - with or without GitOps
https://jenkins-x.io/docs/labs/boot/getting-started/repository/#upgrading-an-existing-cluster

[2020-02-29 05:08] michaeljohnbennett commented on #6174
I have the exact same issues on AKS. The prompts for a RFC url. I had to add something in, then delete it and add it on command line but it still doesn't work.

Does anyone know the correct config for AKS otherwise this thing is a total bag of spanners... The documentation is outdated on the site, no mention of how to fix it now that `jx console` doesn't work and the UI is very immature.

I tried

[2020-02-29 06:39] michaeljohnbennett commented on #6831
I'm getting the same issues

[2020-02-29 06:43] jstrachan commented on #5985
we have a solution now for helm 3 https://jenkins-x.io/docs/labs/boot/

though note it’s currently alpha

[2020-02-29 06:43] #5985 closed

[2020-02-29 06:45] jstrachan commented on #5754
we have a solution now for this issue usung helm 3
https://jenkins-x.io/docs/labs/boot/

though note it’s currently alpha

[2020-02-29 06:48] jstrachan commented on #5711
we have a solution for this if using helm 3
https://jenkins-x.io/docs/labs/boot/

though note it’s currently alpha.

You can run `jxl boot secrets edit -a` to modify the secrets at any time then run boot
https://jenkins-x.io/docs/labs/boot/getting-started/run/

[2020-02-29 06:51] jstrachan commented on #4902
here is the current helm 3 implementation
https://jenkins-x.io/docs/labs/boot/

Note that it’s currently alpha though

[2020-02-29 06:57] jstrachan commented on #3355
we should deprecate the `—helm3` flag.

Here is our recommendation for helm 3
https://jenkins-x.io/docs/labs/boot/

though it’s currently alpha

[2020-02-29 07:00] jstrachan commented on #3127
we have a solution now
https://jenkins-x.io/docs/labs/boot/

In particular https://jenkins-x.io/docs/labs/boot/getting-started/repository/#upgrading-an-existing-cluster

though note this is currently alpha - feedback highly appreciated

[2020-02-29 07:00] #3127 closed

[2020-02-29 08:40] Lohann commented on #4085
+1

[2020-02-29 13:22] srehmanproov commented on #3682
same issue here without any local helm repo
`stable                  	https://kubernetes-charts.storage.googleapis.com
jenkins-x               	https://storage.googleapis.com/chartmuseum.jenkins-x.io
charts.bitnami.com      	https://charts.bitnami.com/bitnami
charts.jetstack.io      	https://charts.jetstack.io
chartmuseum.jenkins-x.io	http://chartmuseum.jenkins-x.io`

[2020-02-29 15:08] ram4444 commented on #6831
What have mentioned in the documentation is wrong.
https://jenkins-x.io/docs/reference/components/docker-registry/#using-docker-hub
Instead of:
{
    "auths": {
        "https://index.docker.io/v1/": {
            "auth": "MyDockerHubToken",
            "email": "myemail@acme.com"
        }
    }
}

Please use docker login to generate a config.json in your /home/directory/.docker
You will know the

[2020-02-29 15:08] #6831 closed

[2020-02-29 18:22] abayer opened #6842 "PipelineActivity has wrong/insufficient data for batch builds"
For a batch build, the `PipelineActivity` has a few problems:
* `lastCommitSha` ends up pointing to the target branch SHA, not the "first" PR SHA as we'd expect.
* There is no SHA at all for the other PRs in the batch.

This is part of what causes https://github.com/jenkins-x/lighthouse/issues/564 (along with another problem in Lighthouse). We need to update our batch conciliation logic to have `l

[2020-02-29 20:52] michaeljohnbennett commented on #314
it looks like its most likely your using coloured json output in your cloud provider CLI tool. This was the problem in my AZ one. I turned it to pure JSON rather than JSONC and it worked.

[2020-03-02 06:01] yelhouti opened #6845 "env variables in overridden step are ignored"
### Summary
I 'm trying to add env variables in a specific step:

### Steps to reproduce the behavior
[code]

### Expected behavior
env variables should be added to the step's container

### Actual behavior
env variables missing

### Jx version

The output of `jx version` is:

[code]

### Jenkins type

- [X] Serverless Jenkins X Pipelines (Tekton + Prow)
- [ ] Classic Jenkins

### Kubernetes clust

[2020-03-02 08:48] marlovil commented on #6431
Great! Thanks @deanesmith @mrageh and @jstrachan. :)

Based on our currently JX installed version on Production:
[code]
You guys think it's 'safe' to perform the upgrade with jxl, or maybe it's better to wait until this new feature becomes stable? And the final question: do you have an estimation when will become stable? :)

Many thanks!

[2020-03-02 09:08] hervelemeur opened #6846 ""containerOptions" to increase the memory of the builder pods is ignored"
### Summary
I've added a `containerOptions` section to my pipeline to increase the memory available for the builder pods to be able to build an Angular app, but it wasn't taken in account, I had to duplicate it in each pipelines.

### Steps to reproduce the behavior
I have an Angular frontend build requiring more memory (if not I've got a "JavaScript heap out of memory" error), so I'm increasing t

[2020-03-02 10:12] jstrachan commented on #6676
fixed - see https://jenkins-x.io/docs/labs/boot/getting-started/run/

[2020-03-02 10:12] #6676 closed

[2020-03-02 10:19] jstrachan commented on #6673
relates to https://github.com/jenkins-x-labs/issues/issues/1

[2020-03-02 10:58] tdcox opened #6847 "App configuration can take out multiple cluster components"
### Summary
Whilst testing the deployment of a new App, the pods for Crier, Deck, Hook, Horologium, Pipeline and Tide all ended up in CrashLoopBackOff.

The error in the logs of all of the pods is:
[code]

### Steps to reproduce the behavior
I suspect the problem to have been triggered by an incorrect substitution. During installation with `jx add app`, I left out one of the optional configuration

[2020-03-02 14:59] #6394 closed

[2020-03-02 15:43] deanesmith commented on #6805
Removed from sprint in favor of Lighthouse concerns.

[2020-03-02 16:34] jstrachan commented on #6431
we're running BDD tests on it using GCP and its working well; we've yet to get BDD tests going on AWS or AKS yet though.

I'm afraid I can't give any estimates when it will be included into the `jx` release; but I'm using it every day and its working great for me

[2020-03-02 16:39] jstrachan commented on #6442
am gonna mark this as fixed as we now have: https://jenkins-x.io/docs/labs/boot/

[2020-03-02 16:39] #6442 closed

[2020-03-02 16:39] jstrachan commented on #6437
BTW we recommend you try using the new helm 3 based boot for multi cluster:
https://jenkins-x.io/docs/labs/boot/multi-cluster/

[2020-03-02 16:40] jstrachan commented on #6310
if you want to setup multi cluster you might want to try: https://jenkins-x.io/docs/labs/boot/multi-cluster/

[2020-03-02 16:51] marlovil commented on #6431
We are on EKS. I think we can wait a little bit more, maybe until you get BDD tests on it. But always depending on the next issue we found in the future. ;)

Thanks @jstrachan.

[2020-03-02 16:56] jstrachan commented on #6299
fwiw if using the helm 3 based boot: https://jenkins-x.io/docs/labs/boot/

you can install gloo via a custom `jx-apps.yml` file something like this:

[code]

[2020-03-02 17:00] #6842 closed

[2020-03-02 17:01] jstrachan commented on #6541
ok -[documentation](https://jenkins-x.io/docs/reference/multi-cluster/) updated to reference the new helm 3 boot: https://jenkins-x.io/docs/labs/boot/ e.g. https://jenkins-x.io/docs/labs/boot/multi-cluster/

[2020-03-02 17:01] #6541 closed

[2020-03-02 17:02] jstrachan commented on #6305
for multi cluster we recommend you use the new helm 3 based boot https://jenkins-x.io/docs/labs/boot/ which uses boot for `dev`, `staging` and `production` whether sharing a local cluster or using multiple cluster.

see https://jenkins-x.io/docs/labs/boot/multi-cluster/

[2020-03-02 17:06] jstrachan commented on #6127
for multi cluster we recommend you use the new helm 3 based boot https://jenkins-x.io/docs/labs/boot/ which uses boot for `dev`, `staging` and `production` whether sharing a local cluster or using multiple cluster.

see https://jenkins-x.io/docs/labs/boot/multi-cluster/

this is a replacement for the `jx edit env` command; the environments are then configured via GitOps via the `jx-requirements.ym

[2020-03-02 17:08] jstrachan commented on #6124
here's the way you can use helm 3 with boot:
https://jenkins-x.io/docs/labs/boot/

[2020-03-02 17:08] #6124 closed

[2020-03-02 17:10] jstrachan commented on #4784
here's the [updated documentation for using multiple clusters](https://jenkins-x.io/docs/labs/boot/multi-cluster/) with [boot with helm3](https://jenkins-x.io/docs/labs/boot/)

[2020-03-02 17:10] #4784 closed

[2020-03-02 17:17] tdcox commented on #6847
OK, looks like this is something else.

The error was deriving from the fact that the prow configmap was full of references to `/jx-app-sonar` when it should have been `Bootstrap-Jersey/jx-app-sonar`. Since this is an illegal form without the organisation, it crashes multiple pods.

I deleted these and ran the `jx add app jx-app-sonar` install again, but without leaving out any optional values. Ch

[2020-03-02 17:58] abayer opened #6850 "BDD tests that merge test PRs manually should let Tide do the merging instead"
Stemming from #6806 and Lighthouse work in general - we should be relying on Tide to merge PRs created by our tests, not manually merging them. We only open and merge PRs in the boot upgrade, UI, and apps-when-on-boot tests, so we don't have to worry about Tide not being around to do the merging when those tests are run.

[2020-03-02 18:22] jstrachan commented on #5723
for multi cluster we recommend you use the new helm 3 based boot https://jenkins-x.io/docs/labs/boot/ which uses boot for `dev`, `staging` and `production` whether sharing a local cluster or using multiple cluster.

see https://jenkins-x.io/docs/labs/boot/multi-cluster/

for configuring ingress on a per environment or app basis see: https://jenkins-x.io/docs/labs/boot/faq/#how-do-i-configure-the-i

[2020-03-02 18:40] sladyn98 commented on #6096
@jstrachan anchore and gitea already have helm charts.
https://github.com/jenkins-x-apps/jx-app-ambassador
https://github.com/jenkins-x-apps/jx-app-anchore
https://github.com/jenkins-x-apps/jx-app-istio

[2020-03-02 19:57] hferentschik commented on #6834
Ok, thanks. So then there is somehow a bug in the retrieval logic. Most likely hard coding some GitHub base URL.

[2020-03-02 20:06] abayer commented on #6834
@hferentschik Yup, see the contents of the function I linked above. =)

[2020-03-02 21:31] ankitm123 opened #6851 "Run errcheck as part of the checks when merging a PR"
### Summary
There are some places in the code base which lack error handling. For instance: https://github.com/jenkins-x/jx/blob/master/pkg/helm/tiller.go#L51

It would be a good idea to run errcheck (https://github.com/kisielk/errcheck) as part of the checks when merging a PR, this will make the code base more consistent and improve the code quality.

Sample when running
`CGO_ENABLED=0 GO111MODUL

[2020-03-02 22:37] ankitm123 commented on #6262
I will take a look and report back.

[2020-03-03 09:59] marlovil commented on #6305
OK, thanks @jstrachan.

[2020-03-03 10:19] srehmanproov commented on #5310
After jx boot with tls enabled in jx-requirements.txt, I am seeing since days, certificate is not even ready on dev
`Status:
  Conditions:
    Last Transition Time:  2020-03-02T15:53:00Z
    Message:               Waiting for CertificateRequest "tls-jenkinsx-dev-xxx-xxx-xx-p-2276452093" to complete
    Reason:                InProgress
    Status:                False
    Type:                  Re

[2020-03-03 12:37] fraenkel commented on #6816
@abayer I have a potential fix which I haven't tested. You might want to give it a go and see if it does in fact fix this issue.
https://github.com/fraenkel/pipeline/commit/064045d996a9a79d40d8b2d426720ce7a547a5b0

[2020-03-03 12:44] abayer commented on #6816
That feels right to me - mind opening a PR against Tekton? =)

[2020-03-03 13:07] hferentschik commented on #6850
+1

[2020-03-03 13:32] hferentschik opened #6855 "Cloud resource creation via Terraform for EKS and GKE"
At the moment, cloud resources needed by Jenkins X, e.g. service accounts, buckets, cryptographic keys, are generated on the fly. This creation happens either as part of a `jx create cluster`, `jx install` or via `jx boot`. This epic aggregates the issues to separate cloud resource creation from the Jenkins X install.

See https://github.com/jenkins-x/enhancements/tree/master/proposals/3

[2020-03-03 13:41] hferentschik opened #6857 "Identify code changes for removing cloud resource creation within `jx boot`"
See also https://github.com/jenkins-x/enhancements/tree/master/proposals/3

[2020-03-03 13:46] hferentschik opened #6858 "Disallow cloud resource creation in `jx boot`"
Related to #6857 and https://github.com/jenkins-x/enhancements/tree/master/proposals/3.

It would be nice if we initially could disable cloud resource creation via an environment variable or similar. Alternatively, we could try to make sure that all resource creation is clearly logged.

The ability to do so will allow verifying that the  Terraform scripts for cluster and resource creation do what

[2020-03-03 14:10] #6850 closed

[2020-03-03 14:12] sheerun commented on #6702
Same but for kapsule of scaleway. Any workaround?

[2020-03-03 14:53] abayer commented on #6828
So I believe that the problem is not that we're trimming `/scm` in `parsePath`, it's that we're not putting it back when getting the clone URL from the `SourceRepository` (and possibly other places).

[2020-03-03 15:13] hervelemeur commented on #6702
By removing the `project` and `zone` parts of the `cluster` section I resolved it with AKS.

Could you show us your jx-requirements.yaml?

[2020-03-03 16:40] hferentschik opened #6859 "Add build context for bootstrapping and testing via Terraform script"
As part of implementing the cloud resource creation enhancement for `jx boot` (https://github.com/jenkins-x/enhancements/tree/master/proposals/3) we need to make sure that cluster creation, Jenkins X install and basic workflows are working with clusters created by the Terraform scripts.

We probably need a similar context to _boot_vault_ with the difference that we create the cluster via Terraform

[2020-03-03 17:37] ram4444 commented on #6153
similar error when using jx create quickstart when it comes to promotion to staging
Could not find the service URL in namespace jx-staging for names testspring2, jx-testspring2, jx-staging-testspring2

I am a bit confused since the only namespace created is jx but no jx-staging jx-production

is modifying env/jxboot-resources/values.tmpl.yaml will make it work?
or I should do something else before

[2020-03-03 18:41] hferentschik commented on #527
My concern around adding a new GitHub specific flag to `jx create env` and `jx create quickstart` is that it might end up to be too GitHub specific. In the end, the aim for Jenkins X is to support multiple git provider. Will all have the same concept of a team id? There might be an additional level of abstraction needed.

I think it would be better to somehow model dev teams and users (either via

[2020-03-03 19:34] abayer opened #6861 "BDD tests with merged PRs should use /approve when configured"
With https://github.com/jenkins-x/bdd-jx/pull/134, we're using the `--auto-merge` flag to merge PRs to the dev env created in the UI and apps tests, which is definitely better than merging by hand. But it turns out we were actually already getting that automerge behavior covered by the PR created when you import/quickstart/create a project, so y'know what, we need to be able to test things with an

[2020-03-03 19:48] abayer commented on #6806
We don't have any tests of multiple pipeline contexts (and as a result, we don't have coverage for `/test (name of context)`).

[2020-03-03 19:54] abayer opened #6862 "BDD test coverage for /retest, /override, /test this"
Here's another one stemming from #6806 and the painful discoveries during our first attempts at dogfooding Lighthouse on the prod cluster: We don't have any BDD test coverage for the `/retest`, `/override`, or `/test this`. (We also don't have any coverage for multiple contexts and, therefore, named `/test (context)`, but I'm going to deal with that later)

We should have a test that, say, opens a

[2020-03-03 20:52] sharepointoscar commented on #6375
This happened to me yesterday and today.  Same issue.  However, I got past it after (erroneously recreating my SSH keys), then executing `jx import` on the quickstart local directory, which succeded but ONLY after the creation of QuickStart and not at the time of creation, which should work as expected.

[2020-03-03 22:45] ravenchilde commented on #6741
@daveconde  - I'm using it on an on-prem install on VMs using RHEL7.5, and it works fine except it won't accept or add CA for self-signed certs for Bitbucket Server.

[2020-03-03 22:49] ravenchilde commented on #6774
@ccojocar - Installing a cert is fine, although I'm not sure you need to hold folks hands with enforcing security (Tekton has already opted not to). You aren't wrong, of course you are right about the security danger, and your proposed method is better, but I'm not sure you need to enforce certs and security.

Either way, I'll be watching the project to see when you enable injecting the CA chain w

[2020-03-04 08:41] Touseefyousuf opened #6863 "Jx Boot fails to get ingress-controller"
### Summary
Jx Boot fails to get ingress-controller

[code]

### Actual behavior

Fails to get the ingress service

### Jx version

The output of `jx version` is:
[code]

[code]

### Jenkins type

- Serverless Jenkins X Pipelines (Tekton + Prow)

### Kubernetes cluster

### Operating system / Environment
ubuntu

[2020-03-04 09:34] ccojocar opened #6864 "meta-pipeline generates a default pipeline even for non-exiting pipeline file"
### Summary

Define a `postsubmit` job next to the default one with the context `notexit` in a `Scheduler` as follows:

[code]

In the source repository which reference this scheduler do not define any `jenkins-x-notexist.yml` pipeline file, just the default `jenkins-x.yml` pipeline file.

Trigger a build by merging a pull request to master or push directly to master. Jenkins X will trigger the `n

[2020-03-04 09:57] hervelemeur opened #6865 ""jx boot" should check the correlation between "cluster.clusterName" and the current context before starting"
### Summary
When inadvertently launching `jx boot` on the wrong context, the current jx server installation is overwriten, even if the current context is different than the `cluster.clusterName` of jx-requirements.yaml

I realize the cluster name isn't necessarily the same as the context name, I'm not sure it's feasible, but a check/warning would be nice.

### Steps to reproduce the behavior
Launc

[2020-03-04 10:59] turbokernel opened #7102 "can't boot new cluster"
I have downloaded jx binary file,and run jx boot command .After then, jx print out some error: failed to run '/bin/sh -c jx step verify preinstall --provider-values-dir="kubeProviders"'
May be the provider setting is wrong, i think. But when i enter the directory jenkins-x-boot-config and modify the jx-requirements.yml file and run the jx boot command again, jx tell me that unable to load jx-requi

[2020-03-04 11:17] #6734 closed

[2020-03-04 11:22] johnamac7 opened #6866 "Gitlab instance on same cluster as JX does not use provided url when creating environments"
### Summary
I've installed a Gitlab instance on a local 3-node cluster and installed JX.
- Static Jenkins Server and Jenkinsfiles
- Kubernetes Workloads: Automated CI+CD with GitOps Promotion
- without environments.

However, when I try to create a first stage environment, I get the following error:

[code]
The resolved host 'gitlab-5874c7f8b8-vgxnr' is actually the container name for the running

[2020-03-04 12:57] abayer commented on #6864
There's a legitimate discussion to be had as to whether this _is_ a bug. The absence of a `jenkins-x-foo.yml` currently does result in the auto-detected build pack being used for the pipeline. Is that the right call? I'm not sure.

[2020-03-04 13:59] ccojocar commented on #6864
I think the issue is more that there is already a release pipeline in `jenkins-x.yml` and the build pack generates another release pipeline from the buildpack.  IMO it shouldn't generate any pipeline if the files is absent.

[2020-03-04 14:39] dgozalo commented on #4315
It would be ideal to move to `jx boot` instead of `jx install` for EKS as it's where all our efforts have gone to.

I'm not sure what the state of `jx install` is for eks but I wouldn't expect it to work.

I'm closing this issue, if you find any error with Jenkins X boot and EKS, please report it again.

[2020-03-04 14:39] #4315 closed

[2020-03-04 14:42] dgozalo commented on #2584
EKS is now supported for Jenkins X Boot instead of Jenkins X Install.

Upgrade ingress will not work with Boot as the way to make this work is to run the dev environment master pipeline again to apply new configuration.

I'm closing this issue as it won't apply to the current state of EKS support.

[2020-03-04 14:42] #2584 closed

[2020-03-04 14:44] dgozalo commented on #5161
Not that I can think of, this is up to the users to define which roles they want to use for their worker nodes pool and add the necessary permissions to it.

We are working on providing support for EKS using Terraform and we'll include the use of IAM Roles for Service Accounts.

[2020-03-04 14:46] #5161 closed

[2020-03-04 14:50] dgozalo commented on #5425
I opened this issue back then when I started working on EKS support but I don't think this actually makes sense anymore.

Jenkins X should not be expecting user input in places where it interacts withs AWS as it breaks the whole unified flow of Jenkins X Boot.

Users will have to sort out their permissions and sessions before calling Jenkins X so any execution of the AWS CLI is already authenticat

[2020-03-04 14:50] #5425 closed

[2020-03-04 15:02] dgozalo commented on #6780
Hello @helayoty, I created an issue in the new provisioners repository as we'd like to keep all the Terraform scripts related work in there.

It's this one: https://github.com/jenkins-x/jx-cloud-provisioners/issues/21.

Do you mind closing this one and focusing on the new one please?

[2020-03-04 15:25] RoVernekar opened #6867 "Promoting the same chart multiple times does not add multiple entries in requirements.yaml"
### Summary

If a chart is promoted to an environment multiple times with different aliases, only one entry will be added to `requirements.yaml`.

Any promote command after the first, will just rename the alias of the first entry for that chart.

### Steps to reproduce the behavior

1. Promote a chart to an environment
[code]

2. Observe that the dependency was added in `env/requirements.yaml` as

[2020-03-04 17:54] helayoty commented on #6780
no problem

[2020-03-04 17:54] #6780 closed

[2020-03-04 23:14] jha-cloudbees commented on #6807
Done
* Converted CJXD GKE installation content from Asciidoc to markdown
* Stripped content of `CJXD` references and/or replaced with `Jenkins X`where appropriate

To Do
* Consolidating/editing to one page to match EKS content in OSS docs.

[2020-03-05 12:21] s50600822 commented on #2100
Are there verbose logging anywhere to help identify this?

[2020-03-05 12:49] abayer opened #6871 "KubeAuthConfigHandler.LoadConfig should never return an empty AuthConfig"
Literally none of the other config handlers do this - they return a nil `*AuthConfig` and an error in any situation where there isn't content for the `*AuthConfig`. So let's be consistent here.

[2020-03-05 12:55] valdestron commented on #822
"get real CI/CD on each microservice - its basically a monolith."

Complete nonsense, I am working with monorepos for a long time and building sophisticated pipelines for each subfolder/service and it works just fine, the fact that Jenkins X does not support monorepos is huge blocker for me and other folks with monorepos.

[2020-03-05 13:01] valdestron commented on #5042
Can we make this happen? Monorepos is very important in microservices world.

[2020-03-05 13:15] cagiti commented on #6866
@johnamac7: Are you able to share some further information on how you deployed/setup GitLab? Thanks :)

[2020-03-05 13:16] hferentschik commented on #6863
Do you have your own domain or do you want to use _nip.io_ which is the default domain?

[2020-03-05 13:19] johnamac7 commented on #6866
Hi Cagiti,

I deployed Gitlab based on the guidelines from

**https://github.com/johnamac7/kubernetes-gitlab**

using kubectl to create the deployments / services for redis/postgres and gitlab. As I have an ingress service running I only deployed the gitlab-ingress as a NodePort.

[2020-03-05 13:24] johnamac7 commented on #6866
One other thing that I've found while debugging the jx install/create env is that the repo struct has
some the container name also. I just wonder where this is picked up from.

[code]

[2020-03-05 13:26] cagiti commented on #6866
From the error output the GitLab domain seems like it's using a pod name, is that correct?

[2020-03-05 13:48] srehmanproov commented on #5310
@ccojocar is that done? We need that urgently as currently blocked because domain  and sub domain are with different providers.  Jenkins X without security is not viable option for many companies.

[2020-03-05 13:49] johnamac7 commented on #6866
Yes, I have gitlab running in its own 'gitlab' namespace, even though I've set the flags
--git-provider-url=http://gitlab.bel.org --git-provider-kind=gitlab during the jx install

[2020-03-05 13:53] ccojocar commented on #5310
@srehmanproov You can check with @daveconde or @deanesmith on slack. I don't think is done.

[2020-03-05 14:00] mrageh opened #6873 "Recreating vault buckets in GCP"
### Summary

Since this [commit](https://github.com/jenkins-x/jx/commit/d3d6b495827d8119a8cc4aafcaba7c64b6ee406a) we've been recreating the vault GCP bucket, if one with the same name exists. We did this in order to make it easier to write BDD tests, because reusing the same buckets caused failures in our tests.

### Steps to reproduce the behavior

Create a cluster on GCP, destroy the cluster and

[2020-03-05 14:05] fai555 commented on #2572
Any update on this? Facing the same issue.

[2020-03-05 14:06] mrageh commented on #6873
Looks like we made disabled recreating the vault bucket by default in this [commit](https://github.com/jenkins-x/jx/blame/d9510c3f3cd2141e05aa80bd588694a8e1fbdc2f/pkg/cmd/edit/requirements/requirements.go#L82).

[2020-03-05 14:44] mrageh commented on #6873
/assign @abayer

[2020-03-05 14:44] mrageh commented on #6873
/assign @jstrachan

[2020-03-05 14:46] abayer commented on #6871
Turns out this had more ramifications than I expected, so punting. =)

[2020-03-05 15:04] simisoz commented on #6707
Hi is there a workaround to fix this error?

[2020-03-05 15:21] johnamac7 commented on #6866
Ok, so I finally think I managed to get to the bottom of this.

There is a cloneURL parameter which needs to be set in GitLab. After setting this to the correct value, I'm now able to create the relevant environments.

So I'll close this. Thanks for your help.

[2020-03-05 15:21] #6866 closed

[2020-03-05 15:32] mrageh commented on #6431
@marlovil A colleague just showed me this commit, and I think it may have fixed your issue. Unfortunately you'll have to upgrade before you'll see this fix. Hopefully we will get our BDD tests passing soon, so you can upgrade and no longer experience this.

I'll leave this issue open for now and we can circle back to it in a couple of weeks.

[2020-03-05 15:52] #6861 closed

[2020-03-05 16:37] marlovil commented on #6431
Great! Many thanks @mrageh. :)

[2020-03-05 16:42] srehmanproov commented on #5310
thanks @ccojocar

[2020-03-05 17:01] abayer commented on #6862
dang it, I force-pushed to my fork's master branch and that closed this. Reopening.

[2020-03-05 17:40] tdcox commented on #6847
I have managed to replicate this. I create a local App project by duplicating an existing example (and manually sanitising it) and then import it using `jx import --no-draft`.

When the dev environment updates, two entries are made in each area of the prow config that expects project data, such that one entry correctly states the organisation prior to the repo name and the other is a duplicate but

[2020-03-05 18:24] survivant opened #7101 "Unable to delete git server"
I'm trying to delete github server that was created my : jx create cluster ...  because I want to use another git provider

[code]

[code]
the server was not remove.

[code]

[2020-03-05 18:42] survivant opened #7100 "Quickstart generate a panic: runtime error: invalid memory address or nil pointer dereference"
I try to generate a hello world using this command line :

In Bitbucket server I generated a Personnel API Token and I put that token in the command line.

`PS C:\temp> jx create quickstart --git-provider-url=https://10.1.3.23:7990 --git-api-token=ODE1NzI2NTQ2MTQ3OgHa6/tUF5x2Qp70ON8VigJe2j3u --git-host=https://10.1.3.23:7990 --git-provider-kind=bitbucketserver --git-username=admin
`
but I obtain t

[2020-03-05 19:42] shrutisheoran commented on #6226
Hey @hferentschik I would like to work on this issue. Is it available?

[2020-03-05 19:47] mb-lyrical commented on #3587
This is still a problem on AKS, I'm getting a similar error when running a simple PHP quickstart.

My system is set to use the `acr-linux` credentials but I get the error:

[code]

I have forced docker credentials into the JX namespace as well by running:

[code]

And now I can get remote docker images but not push.

[2020-03-05 19:48] survivant opened #7099 "gitbash: Unable to handle input for jx boot"
The command quit before asking for the answer Y/N when using gitbash on Windows

[code]